/* @import url(reset.css); */
@import 'base/var';

.discuss{
    font-family: Noto Sans CJK;
    background-color: $sun_color;
    margin: 0 auto; 

    
    .wrapper{
        margin: 0 auto;
        width:1280px;
        padding: 0;
    }
    
    h1{
        /* border:1px solid red; */
        text-align: center;
        font-size: 32px;
        color:$moon_color;
    }
    
    
    /* 麵包屑區塊的css */
    .breadcrumb{
        /* border:1px solid red; */
        // background-color: #D9D9D9;
        padding:5px 10px;
    }
    
    .breadcrumb-list{
        /* border:1px solid red; */
        list-style: none;
    }
    
    .breadcrumb-list > li{
        /* border:1px solid red; */
        display:inline-block;
        margin-right: 10px;
        color:#000000;
    }
    
    .breadcrumb-list > li::before{
        /* border:1px solid red; */
        content:"/";
        color:black;
        margin-right: 12px;
        font-size: 16px;
    }
    
    .breadcrumb-list > li:first-child::before{
        content:"";
        margin-right: 0;
    }
    
    .breadcrumb-list > li a{
        text-decoration: none;
        display:inline-block;
        color:#000000;
    }
    
    .breadcrumb-list > li a:hover{
        color:#000000;
    }
    
    /* 官方文章區塊 */
    /* banner_1圖片部分 */
    .official_article{
        /* border:1px solid red; */
        display: flex;
        width:100%;
        
    }
    .official_article .banner_1{
        /* border:1px solid red; */
        width:520px;
        margin: 0px 40px 0px 100px;
    }
    
    .official_article .banner_1 img{
        /* border:1px solid red; */
        width: 100%;
        height:519px;
    }
    
    .official_article .banner_1 a{
        text-decoration: none;
    }
    
    .official_article .banner_1 .text_1{
        position: relative;
        bottom: 260px;
        left: 100px;
        color:white;
        font-size:32px;
        height:0px;
    }
    
    /* banner_2圖片區域 */
    .official_article .banner_2{
        /* border:1px solid red; */
        width:525px;
    }
    
    /* photo_1區域 */
    .official_article .banner_2 .photo_1{
        /* border:1px solid red; */
        width: 520px;
    }
    
    .official_article .banner_2 .photo_1 img{
        /* border:1px solid red; */
        width:100%;
        height:240px;
    }
    
    .official_article .banner_2 .photo_1 a{
        text-decoration: none;
    }
    
    .official_article .banner_2 .photo_1 .text_2{
        /* border:1px solid red; */
        width: 300px;
        position: relative;
        bottom: 135px;
        left: 110px;
        font-size: 32px;
        color:white;
    }
    
    /* photo_2區域 */
    .official_article .banner_2 .photo_2{
        /* border:1px solid red; */
        width:520px;
    }
    
    .official_article .banner_2 .photo_2 img{
        /* border:1px solid red; */
        width:100%;
        height:240px;
    }
    
    .official_article .banner_2 .photo_2 a{
        text-decoration: none;
    }
    
    .official_article .banner_2 .photo_2 .text_3{
        /* border:1px solid red; */
        width:300px;
        font-size: 32px;
        color:white;
        position:relative;
        bottom: 140px;
        left:165px
    }
    
    .official_article .banner_2 .more{
        border: 1px solid $moon_color;
        width: 140px;
        height: 40px;
        text-align: center;
        padding-top: 20px;
        margin-left: 378px;
        margin-bottom:50px;
    }
    
    .official_article .banner_2 .more a{
        text-decoration: none;
        padding:20px 30px 20px 30px;
    }
    
    .official_article .banner_2 .more .text_4{
        color:$moon_color;
        font-size: 16px;
    }
    
    /* 文章列表區域 */
    hr{
        width: 1080px;
    }
    
    h2{
        /* border:1px solid red; */
        width:105px;
        font-size: 24px;
        color:$moon_color;
        margin-left: 100px;
        margin-top: 25px;
        margin-bottom: 50px;
    }
    
    /* 文章列表上半部 */
    
    .article .article_type{
        /* border:1px solid red; */
        width:1080px;
        margin-left:100px;
    }
    
    .article .article_type ul{
        /* border:1px solid red; */
        display: flex;
    }
    
    .article .article_type ul li{
        border:1px solid $moon_color;
        width:180px;
        height:100px;
        text-align: center;
        font-size: 24px;
        border-radius: 15px 15px 0px 0px;
        cursor: pointer;
    }
    
    .article .article_type ul li a{
        color:$moon_color;
        text-decoration: none;
        padding:36px;
        position: relative;
        top: 40px;
    }
    
    .article .article_type ul .li-5{
    margin-left: 170px;
    }
    
    /* 文章列表下半部 */
    
    /* 以下是第一項的css */
    /* .solid{ */
        /* border:1px solid red; */
        /* display: none; */
    /* } */
    
    .article_list{
        border:1px solid $moon_color;
        width:1080px;
        margin-left: 100px;
        /* display: block; */
    }
    
    .article_text{
        /* border: 1px solid $moon_color; */
        /* border-bottom: 1px solid $moon_color; */
        height:164px;
        /* display:none; */
    }
    
    .article_text a{
        /* border: 1px solid red; */
        display: flex;
        height:164px;
        text-decoration: none;
        /* display:none; */
    }
    
    .article_list .img_1{
        /* border:1px solid red; */
        width:161px;
        height:97px;
        margin-left:36px;
        margin-top: 30px;
        /* display:none; */
    }
    
    .article_list .img_1 img{
        width:100%;
        height:97px;
        /* display:none; */
    }
    
    .article_list .content{
        /* border:1px solid red; */
        width:800px;
    }
    
    .article_list .content .title{
        /* border:1px solid red; */
        margin-top: 40px;
        margin-left: 25px;
        font-size:20px;
        color:$moon_color;
    }
    
    .article_list .content .comment{
        /* border: 1px solid red; */
        margin-top: 10px;
        margin-left: 25px;
        font-size: 16px;
        color:$moon_color;
    }
    
    .article_list .content .icons{
        /* border:1px solid red; */
        display: flex;
        margin-top: 10px;
        margin-left: 25px;
    }
    
    .article_list .content .icons .icon-1{
        /* border:1px solid red; */
        display: flex;
        margin-right: 445px;
    }
    
    .article_list .content .icons .icon-1 img{
        width:18px;
        height:17;
        margin-right:5px;
    }
    
    .article_list .content .icons .icon-1 .span1{
        margin-top: 3px;
        font-size: 16px;
        color:$moon_color;
    }
    
    .article_list .content .icons .icon-2{
        /* border:1px solid red; */
        display: flex;
        margin-right: 20px;
    }
    
    .article_list .content .icons .icon-2 img{
        width:18px;
        height:18;
        margin-right:5px;
    }
    
    .article_list .content .icons .icon-2 .span2{
        margin-top: 3px;
        font-size: 16px;
        color:$moon_color;
    }
    
    .article_list .content .icons .icon-3{
        /* border:1px solid red; */
        display: flex;
    }
    
    .article_list .content .icons .icon-3 img{
        width:18px;
        height:18;
        margin-right:5px;
    }
    
    .article_list .content .icons .icon-3 .span3{
        margin-top: 3px;
        font-size: 16px;
        color: $moon_color;
    }
    
    /* 彈窗部分的CSS */
    
    .pop-up-out{
        /* border:1px solid red; */
        position: relative;
        bottom: 1420px;
    }
    
    .pop-up{
        border:1px solid rgb(170, 170, 170);
        padding-top: 20px;
        padding-bottom: 80px;
        position: absolute;
        margin-top: 0px;
        margin-left: 200px;
        width:880px;
        z-index: 3;
        background-color: $sun_color;
        display: none;
        /* display:block */
    }
    
    .pop-up .disappear{
        /* border: 1px solid red; */
        margin-left: 835px;
    }
    
    .pop-up .icons{
        /* border:1px solid red; */
        display: flex;
        width: 802px;
        margin-left: 37px;
    }
    
    .pop-up .icons .icon-1{
        display: flex;
        margin-right: 20px;
    }
    
    .pop-up .icons .icon-1 .span1{
        margin-left: 5px;
        padding-top: 5px;
    }
    
    .pop-up .icons .icon-2{
        display: flex;
    }
    
    .pop-up .icons .icon-2 .span2{
        margin-left: 5px;
        padding-top: 5px;
    }
    
    .hr1{
        width:802px;
    }
    
    .pop-up .icons2{
        /* border:1px solid red; */
        display: flex;
        width: 802px;
        margin-left: 37px;
        margin-bottom: 10px;
    }
    
    .pop-up .icons2 .span3{
        /* border:1px solid red; */
        margin-left: 5px;
        font-size: 20px;
    }
    
    .pop-up .discuss-region{
        /* border:1px solid red; */
        // display: flex;
        width:802px;
        margin-left: 37px;
        margin-bottom: 40px;
    }
    
    .pop-up .discuss-region .comment-region{
        border:1px solid $moon_color;
        margin-left: 30px;
        border-radius: 10px;
        padding: 10px;
    }

    .pop-up .discuss-region img{
        width: 220px;
        height:100%;
    }
    
    .hr2{
        width:878px;
    }
    
    /* 評論區的css */
    .task_container{
        /* border:1px solid red; */
    }
    
    .task_container .title1{
        font-size: 24px;
        margin-top: 25px;
        margin-left: 35px;
    }
    
    .task_container .task_add_block{
        /* border:1px solid red; */
        margin-left: 35px;
        margin-top: 10px;
        font-size: 0;
        transition: transform .5s, box-shadow .5s;
    }
    
    .task_container .task_add_block .-on{
        box-shadow: 0 0 5px gray;
        transform: scale(1.01);
        transform-origin: center center;
    }
    
    .task_container .task_add_block .task_name{
        /* border:1px solid red; */
        width: calc(100% - 60px);
        border: 1px solid lightgray;
        border-radius: 3px 0 0 3px;
        height: 120px;
        font-size: 20px;
        padding: 5px 10px;
        outline: none;
        display: inline-block;
        vertical-align: top;
    }
    
    .task_container .task_add_block .task_name::placeholder{
        color: lightgray;
    }
    
    .task_container .task_add_block .task_add{
        /* border: 1px solid red; */
        display: inline-block;
        width: 141px;
        height: 52px;
        margin-left: 666px;
        margin-top: 20px;
        vertical-align: top;
        border: 1px solid lightgray;
        border-left: 0;
        background-color: white;
        box-shadow: none;
        font-size: 16px;
        cursor: pointer;
        outline: none;
        border-radius: 0 3px 3px 0;
    }
    
    .task_container .task_add_block .task_add:active{
        box-shadow: 1px 1px 3px lightgray inset, -1px -1px 3px lightgray inset;
        background-color: #fcfcfc;
        /* font-size: 1.5rem; */
    }
    
      /* ===== 討論列表 ===== */
    
    .task_container .task_list_parent{
        /* border:1px solid red; */
        margin-top: 30px;
        margin-left: 35px;
    }
    
    .task_container .task_list_parent .task_list{
        /* border:1px solid red; */
        margin: 0;
        margin-right: 42px;
        padding: 0;
        list-style: none;
    }
    
    .task_container .task_list_parent .task_list > li{
        /* border:1px solid red; */
        margin-bottom: 20px;
        border-bottom: 1px solid gray;
        padding-bottom: 20px;
        opacity: 1;
        transition: opacity 1s;
    }
    
    .task_container .task_list_parent .task_list > li.fade_out {
        opacity: 0;
    }
    
    .task_container .task_list_parent .task_list > li:first-child{
        border-top: 1px solid black;
        padding-top: 20px;
    }
    
    .task_container .task_list_parent .task_list > li:first-child button.btn_up{
        /* border:1px solid red; */
        background-color: lightgray !important;
        cursor: not-allowed !important;
        color: gray;
    }
    
    .task_container .task_list_parent .task_list > li:last-child{
        margin-bottom: 0;
        border-bottom: 0;
    }
    
    .task_container .task_list_parent .task_list > li:last-child button.btn_down {
        /* border:1px solid red; */
        background-color: lightgray !important;
        cursor: not-allowed !important;
        color: gray;
    }
    
    .task_container .task_list_parent .task_list > li >.item_flex{
        /* border:1px solid red; */
        display: flex;
    }
    
    .task_container .task_list_parent .task_list > li >.item_flex > div{
          /* border: 1px solid blue; */
    }
    
    .task_container .task_list_parent .task_list > li >.item_flex > .left_block{
        /* border:1px solid red; */
        width: 0px;
        flex-shrink: 0;
    }
    
    .task_container .task_list_parent .task_list > li >.item_flex > .left_block .btn_flex {
        display: flex;
    }
    
    .task_container .task_list_parent .task_list > li >.item_flex > .left_block .btn_flex > button{
        flex-grow: 1;
        outline: none;
        height: 40px;
        font-size: 16px;
        padding: 0;
        margin: 0;
      
        background: none;
        background-color: white;
        border: 0;
        cursor: pointer;
        border: 1px solid #eee;
    }
    
    .task_container .task_list_parent .task_list > li >.item_flex > .middle_block{
        font-size: 1.8rem;
        flex-grow: 1;
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .task_container .task_list_parent .task_list > li >.item_flex > .middle_block .para {
        margin: 0;
        font-size: 16px;
    }
    
    .task_container .task_list_parent .task_list > li >.item_flex > .right_block{
        width: 100px;
        flex-shrink: 0;
    }
    
    .task_container .task_list_parent .task_list > li >.item_flex > .right_block .btn_flex{
        display: flex;
    }
    
    .task_container .task_list_parent .task_list > li >.item_flex > .right_block .btn_flex > button{
        flex-grow: 1;
        outline: none;
        height: 40px;
        font-size: 16px;
        padding: 0;
        margin: 0;
      
        background: none;
        background-color:#faeab1;
        border: 0;
        cursor: pointer;
        border: 1px solid #eee;
    }
    
    .task_container .task_list_parent .task_list > li >.item_flex > .middle_block .task_name_update{
        /* border:1px solid red; */
        width: 100%;
        border: 1px solid lightgray;
        border-radius: 3px 0 0 3px;
        height: 40px;
        font-size: 16px;
        padding: 5px 10px;
        outline: none;
    }
    
    .task_container .task_list_parent .task_list > li >.item_flex > .middle_block .task_name_update::placeholder{
        color: lightgray;
    }
    
    .-none {
        display: none;
    }
    
    
    /* 討論區-彈窗-發表新文章 */
    /* 表單部分 */
    .form_region{
        /* border:1px solid $moon_color; */
        background-color:$sun_color;
        z-index: 3;
        padding-top: 20px;
        padding-bottom: 80px;
        margin-top: 0px;
        margin-left: 200px;
        width:880px;
        display: none;
        position: relative;
        bottom: 820px;
    }
    
    .form_region .title2{
        /* border: 1px solid red; */
        font-size: 32px;
        color: $moon_color;
        margin-left: 20px;
    }
    
    .form_region .absolute{
        border:1px solid $moon_color;
        background-color: $sun_color;
        position: absolute;
        height: 950px;
        width: 879px;
        left: 0px;
    }
    
    .form_region .form_region1{
        /* border: 1px solid red; */
        margin-left: 30px;
        margin-top: 25px;
        margin-bottom: 15px;
        font-size: 24px;
    }
    
    .form_region .form_region1 .name1{
        margin-right: 25px;
    }
    
    .form_region .form_region1 .write1{
        height:50px;
        width:662px;
        font-size: 24px;
    }
    
    .form_region .form_region2{
        /* border: 1px solid red; */
        margin-left: 30px;
        margin-top: 25px;
        margin-bottom: 15px;
        font-size: 24px;
    }
    
    .form_region .form_region2 .name2{
        /* border:1px solid red; */
        margin-right: 25px;
    }
    
    .form_region .form_region2 .choose{
        height:50px;
        width:251px;
        font-size: 24px;
    }
    
    .form_region .form_region3{
        /* border: 1px solid red; */
        margin-left: 30px;
        margin-top: 25px;
        margin-bottom: 15px;
        font-size: 24px;
    }
    
    .form_region .form_region3 .name3{
        /* border:1px solid red; */
        margin-right: 25px;
    }
    
    .form_region .form_region4{
        /* border: 1px solid red; */
        margin-left: 30px;
        margin-top: 25px;
        margin-bottom: 15px;
    }
    
    .form_region .form_region4 .name4{
        /* border:1px solid red; */
        margin-right: 25px;
        margin-bottom: 10px;
        font-size: 24px;
    }
    
    .form_region .form_region4 .write2{
        /* border:1px solid red; */
        height:470px;
        width:801px;
        max-height:470px;
        max-width:801px;
        resize: none;
        font-size: 20px;
    }
    
    .form_region .form_region5{
        /* border:1px solid red; */
        margin-left: 697px;
    }
    
    .form_region .form_region5 .button{
        width:140px;
        height:50px;
        font-size: 20px;
    }
    
    .form_region .disappear2{
        /* border:1px solid red; */
        margin-top: 20px;
        margin-left: 832px;
    }
    
    .form_region .form_region6{
        margin-left: 30px;
        margin-top: 25px;
        margin-bottom: 15px;
        font-size: 24px;
    }
    
    .form_region .form_region6 .name6{
        margin-right: 25px;
    }
    
    .form_region .form_region6 .fa-star{
        /* border:1px solid red; */
        color:#FFBF44;
    }
    
    .form_region .form_region6 .fa-star-half-stroke{
        /* border:1px solid red; */
        color:#FFBF44;
    }
}

.discuss_moon{
    @import 'base/moonColorSwitch';
    font-family: Noto Sans CJK;
    background-color: $sun_color;
    margin: 0 auto; 

    
    .wrapper{
        margin: 0 auto;
        width:1280px;
        padding: 0;
    }
    
    h1{
        /* border:1px solid red; */
        text-align: center;
        font-size: 32px;
        color:$moon_color;
    }
    
    
    /* 麵包屑區塊的css */
    .breadcrumb{
        /* border:1px solid red; */
        background-color: #D9D9D9;
        padding:5px 10px;
    }
    
    .breadcrumb-list{
        /* border:1px solid red; */
        list-style: none;
    }
    
    .breadcrumb-list > li{
        /* border:1px solid red; */
        display:inline-block;
        margin-right: 10px;
        color:#000000;
    }
    
    .breadcrumb-list > li::before{
        /* border:1px solid red; */
        content:"/";
        color:black;
        margin-right: 12px;
        font-size: 16px;
    }
    
    .breadcrumb-list > li:first-child::before{
        content:"";
        margin-right: 0;
    }
    
    .breadcrumb-list > li a{
        text-decoration: none;
        display:inline-block;
        color:#000000;
    }
    
    .breadcrumb-list > li a:hover{
        color:#000000;
    }
    
    /* 官方文章區塊 */
    /* banner_1圖片部分 */
    .official_article{
        /* border:1px solid red; */
        display: flex;
        width:100%;
        
    }
    .official_article .banner_1{
        /* border:1px solid red; */
        width:520px;
        margin: 0px 40px 0px 100px;
    }
    
    .official_article .banner_1 img{
        /* border:1px solid red; */
        width: 100%;
        height:519px;
    }
    
    .official_article .banner_1 a{
        text-decoration: none;
    }
    
    .official_article .banner_1 .text_1{
        position: relative;
        bottom: 260px;
        left: 100px;
        color:white;
        font-size:32px;
        height:0px;
    }
    
    /* banner_2圖片區域 */
    .official_article .banner_2{
        /* border:1px solid red; */
        width:525px;
    }
    
    /* photo_1區域 */
    .official_article .banner_2 .photo_1{
        /* border:1px solid red; */
        width: 520px;
    }
    
    .official_article .banner_2 .photo_1 img{
        /* border:1px solid red; */
        width:100%;
        height:240px;
    }
    
    .official_article .banner_2 .photo_1 a{
        text-decoration: none;
    }
    
    .official_article .banner_2 .photo_1 .text_2{
        /* border:1px solid red; */
        width: 300px;
        position: relative;
        bottom: 135px;
        left: 110px;
        font-size: 32px;
        color:white;
    }
    
    /* photo_2區域 */
    .official_article .banner_2 .photo_2{
        /* border:1px solid red; */
        width:520px;
    }
    
    .official_article .banner_2 .photo_2 img{
        /* border:1px solid red; */
        width:100%;
        height:240px;
    }
    
    .official_article .banner_2 .photo_2 a{
        text-decoration: none;
    }
    
    .official_article .banner_2 .photo_2 .text_3{
        /* border:1px solid red; */
        width:300px;
        font-size: 32px;
        color:white;
        position:relative;
        bottom: 140px;
        left:165px
    }
    
    .official_article .banner_2 .more{
        border: 1px solid $moon_color;
        width: 140px;
        height: 40px;
        text-align: center;
        padding-top: 20px;
        margin-left: 378px;
        margin-bottom:50px;
    }
    
    .official_article .banner_2 .more a{
        text-decoration: none;
        padding:20px 30px 20px 30px;
    }
    
    .official_article .banner_2 .more .text_4{
        color:$moon_color;
        font-size: 16px;
    }
    
    /* 文章列表區域 */
    hr{
        width: 1080px;
    }
    
    h2{
        /* border:1px solid red; */
        width:105px;
        font-size: 24px;
        color:$moon_color;
        margin-left: 100px;
        margin-top: 25px;
        margin-bottom: 50px;
    }
    
    /* 文章列表上半部 */
    
    .article .article_type{
        /* border:1px solid red; */
        width:1080px;
        margin-left:100px;
    }
    
    .article .article_type ul{
        /* border:1px solid red; */
        display: flex;
    }
    
    .article .article_type ul li{
        border:1px solid $moon_color;
        width:180px;
        height:100px;
        text-align: center;
        font-size: 24px;
        border-radius: 15px 15px 0px 0px;
        cursor: pointer;
    }
    
    .article .article_type ul li a{
        color:$moon_color;
        text-decoration: none;
        padding:36px;
        position: relative;
        top: 40px;
    }
    
    .article .article_type ul .li-5{
    margin-left: 170px;
    }
    
    /* 文章列表下半部 */
    
    /* 以下是第一項的css */
    /* .solid{ */
        /* border:1px solid red; */
        /* display: none; */
    /* } */
    
    .article_list{
        border:1px solid $moon_color;
        width:1080px;
        margin-left: 100px;
        /* display: block; */
    }
    
    .article_text{
        /* border: 1px solid $moon_color; */
        /* border-bottom: 1px solid $moon_color; */
        height:164px;
        /* display:none; */
    }
    
    .article_text a{
        /* border: 1px solid red; */
        display: flex;
        height:164px;
        text-decoration: none;
        /* display:none; */
    }
    
    .article_list .img_1{
        /* border:1px solid red; */
        width:161px;
        height:97px;
        margin-left:36px;
        margin-top: 30px;
        /* display:none; */
    }
    
    .article_list .img_1 img{
        width:100%;
        height:97px;
        /* display:none; */
    }
    
    .article_list .content{
        /* border:1px solid red; */
        width:800px;
    }
    
    .article_list .content .title{
        /* border:1px solid red; */
        margin-top: 40px;
        margin-left: 25px;
        font-size:20px;
        color:$moon_color;
    }
    
    .article_list .content .comment{
        /* border: 1px solid red; */
        margin-top: 10px;
        margin-left: 25px;
        font-size: 16px;
        color:$moon_color;
    }
    
    .article_list .content .icons{
        /* border:1px solid red; */
        display: flex;
        margin-top: 10px;
        margin-left: 25px;
    }
    
    .article_list .content .icons .icon-1{
        /* border:1px solid red; */
        display: flex;
        margin-right: 445px;
    }
    
    .article_list .content .icons .icon-1 img{
        width:18px;
        height:17;
        margin-right:5px;
    }
    
    .article_list .content .icons .icon-1 .span1{
        margin-top: 3px;
        font-size: 16px;
        color:$moon_color;
    }
    
    .article_list .content .icons .icon-2{
        /* border:1px solid red; */
        display: flex;
        margin-right: 20px;
    }
    
    .article_list .content .icons .icon-2 img{
        width:18px;
        height:18;
        margin-right:5px;
    }
    
    .article_list .content .icons .icon-2 .span2{
        margin-top: 3px;
        font-size: 16px;
        color:$moon_color;
    }
    
    .article_list .content .icons .icon-3{
        /* border:1px solid red; */
        display: flex;
    }
    
    .article_list .content .icons .icon-3 img{
        width:18px;
        height:18;
        margin-right:5px;
    }
    
    .article_list .content .icons .icon-3 .span3{
        margin-top: 3px;
        font-size: 16px;
        color: $moon_color;
    }
    
    /* 彈窗部分的CSS */
    
    .pop-up-out{
        /* border:1px solid red; */
        position: relative;
        bottom: 1420px;
    }
    
    .pop-up{
        border:1px solid rgb(170, 170, 170);
        padding-top: 20px;
        padding-bottom: 80px;
        position: absolute;
        margin-top: 0px;
        margin-left: 200px;
        width:880px;
        z-index: 3;
        background-color: $sun_color;
        display: none;
        /* display:block */
    }
    
    .pop-up .disappear{
        /* border: 1px solid red; */
        margin-left: 835px;
    }
    
    .pop-up .icons{
        /* border:1px solid red; */
        display: flex;
        width: 802px;
        margin-left: 37px;
    }
    
    .pop-up .icons .icon-1{
        display: flex;
        margin-right: 20px;
    }
    
    .pop-up .icons .icon-1 .span1{
        margin-left: 5px;
        padding-top: 5px;
    }
    
    .pop-up .icons .icon-2{
        display: flex;
    }
    
    .pop-up .icons .icon-2 .span2{
        margin-left: 5px;
        padding-top: 5px;
    }
    
    .hr1{
        width:802px;
    }
    
    .pop-up .icons2{
        /* border:1px solid red; */
        display: flex;
        width: 802px;
        margin-left: 37px;
        margin-bottom: 10px;
    }
    
    .pop-up .icons2 .span3{
        /* border:1px solid red; */
        margin-left: 5px;
        font-size: 20px;
    }
    
    .pop-up .discuss-region{
        /* border:1px solid red; */
        // display: flex;
        width:802px;
        margin-left: 37px;
        margin-bottom: 40px;
    }
    
    .pop-up .discuss-region .comment-region{
        border:1px solid $moon_color;
        margin-left: 30px;
        border-radius: 10px;
        padding:10px;
    }
    
    .hr2{
        width:878px;
    }
    
    /* 評論區的css */
    .task_container{
        /* border:1px solid red; */
    }
    
    .task_container .title1{
        font-size: 24px;
        margin-top: 25px;
        margin-left: 35px;
    }
    
    .task_container .task_add_block{
        /* border:1px solid red; */
        margin-left: 35px;
        margin-top: 10px;
        font-size: 0;
        transition: transform .5s, box-shadow .5s;
    }
    
    .task_container .task_add_block .-on{
        box-shadow: 0 0 5px gray;
        transform: scale(1.01);
        transform-origin: center center;
    }
    
    .task_container .task_add_block .task_name{
        /* border:1px solid red; */
        width: calc(100% - 60px);
        border: 1px solid lightgray;
        border-radius: 3px 0 0 3px;
        height: 120px;
        font-size: 20px;
        padding: 5px 10px;
        outline: none;
        display: inline-block;
        vertical-align: top;
    }
    
    .task_container .task_add_block .task_name::placeholder{
        color: lightgray;
    }
    
    .task_container .task_add_block .task_add{
        /* border: 1px solid red; */
        display: inline-block;
        width: 141px;
        height: 52px;
        margin-left: 666px;
        margin-top: 20px;
        vertical-align: top;
        border: 1px solid lightgray;
        border-left: 0;
        background-color: white;
        box-shadow: none;
        font-size: 16px;
        cursor: pointer;
        outline: none;
        border-radius: 0 3px 3px 0;
    }
    
    .task_container .task_add_block .task_add:active{
        box-shadow: 1px 1px 3px lightgray inset, -1px -1px 3px lightgray inset;
        background-color: #fcfcfc;
        /* font-size: 1.5rem; */
    }
    
      /* ===== 討論列表 ===== */
    
    .task_container .task_list_parent{
        /* border:1px solid red; */
        margin-top: 30px;
        margin-left: 35px;
    }
    
    .task_container .task_list_parent .task_list{
        /* border:1px solid red; */
        margin: 0;
        margin-right: 42px;
        padding: 0;
        list-style: none;
    }
    
    .task_container .task_list_parent .task_list > li{
        /* border:1px solid red; */
        margin-bottom: 20px;
        border-bottom: 1px solid gray;
        padding-bottom: 20px;
        opacity: 1;
        transition: opacity 1s;
    }
    
    .task_container .task_list_parent .task_list > li.fade_out {
        opacity: 0;
    }
    
    .task_container .task_list_parent .task_list > li:first-child{
        border-top: 1px solid black;
        padding-top: 20px;
    }
    
    .task_container .task_list_parent .task_list > li:first-child button.btn_up{
        /* border:1px solid red; */
        background-color: lightgray !important;
        cursor: not-allowed !important;
        color: gray;
    }
    
    .task_container .task_list_parent .task_list > li:last-child{
        margin-bottom: 0;
        border-bottom: 0;
    }
    
    .task_container .task_list_parent .task_list > li:last-child button.btn_down {
        /* border:1px solid red; */
        background-color: lightgray !important;
        cursor: not-allowed !important;
        color: gray;
    }
    
    .task_container .task_list_parent .task_list > li >.item_flex{
        /* border:1px solid red; */
        display: flex;
    }
    
    .task_container .task_list_parent .task_list > li >.item_flex > div{
          /* border: 1px solid blue; */
    }
    
    .task_container .task_list_parent .task_list > li >.item_flex > .left_block{
        /* border:1px solid red; */
        width: 0px;
        flex-shrink: 0;
    }
    
    .task_container .task_list_parent .task_list > li >.item_flex > .left_block .btn_flex {
        display: flex;
    }
    
    .task_container .task_list_parent .task_list > li >.item_flex > .left_block .btn_flex > button{
        flex-grow: 1;
        outline: none;
        height: 40px;
        font-size: 16px;
        padding: 0;
        margin: 0;
      
        background: none;
        background-color: white;
        border: 0;
        cursor: pointer;
        border: 1px solid #eee;
    }
    
    .task_container .task_list_parent .task_list > li >.item_flex > .middle_block{
        font-size: 1.8rem;
        flex-grow: 1;
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .task_container .task_list_parent .task_list > li >.item_flex > .middle_block .para {
        margin: 0;
        font-size: 16px;
    }
    
    .task_container .task_list_parent .task_list > li >.item_flex > .right_block{
        width: 100px;
        flex-shrink: 0;
    }
    
    .task_container .task_list_parent .task_list > li >.item_flex > .right_block .btn_flex{
        display: flex;
    }
    
    .task_container .task_list_parent .task_list > li >.item_flex > .right_block .btn_flex > button{
        flex-grow: 1;
        outline: none;
        height: 40px;
        font-size: 16px;
        padding: 0;
        margin: 0;
      
        background: none;
        background-color:#faeab1;
        border: 0;
        cursor: pointer;
        border: 1px solid #eee;
    }
    
    .task_container .task_list_parent .task_list > li >.item_flex > .middle_block .task_name_update{
        /* border:1px solid red; */
        width: 100%;
        border: 1px solid lightgray;
        border-radius: 3px 0 0 3px;
        height: 40px;
        font-size: 16px;
        padding: 5px 10px;
        outline: none;
    }
    
    .task_container .task_list_parent .task_list > li >.item_flex > .middle_block .task_name_update::placeholder{
        color: lightgray;
    }
    
    .-none {
        display: none;
    }
    
    
    /* 討論區-彈窗-發表新文章 */
    /* 表單部分 */
    .form_region{
        /* border:1px solid $moon_color; */
        background-color:$sun_color;
        z-index: 3;
        padding-top: 20px;
        padding-bottom: 80px;
        margin-top: 0px;
        margin-left: 200px;
        width:880px;
        display: none;
        position: relative;
        bottom: 820px;
    }
    
    .form_region .title2{
        /* border: 1px solid red; */
        font-size: 32px;
        color: $moon_color;
        margin-left: 20px;
    }
    
    .form_region .absolute{
        border:1px solid $moon_color;
        background-color: $sun_color;
        position: absolute;
        height: 950px;
        width: 879px;
        left: 0px;
    }
    
    .form_region .form_region1{
        /* border: 1px solid red; */
        margin-left: 30px;
        margin-top: 25px;
        margin-bottom: 15px;
        font-size: 24px;
    }
    
    .form_region .form_region1 .name1{
        margin-right: 25px;
    }
    
    .form_region .form_region1 .write1{
        height:50px;
        width:662px;
        font-size: 24px;
    }
    
    .form_region .form_region2{
        /* border: 1px solid red; */
        margin-left: 30px;
        margin-top: 25px;
        margin-bottom: 15px;
        font-size: 24px;
    }
    
    .form_region .form_region2 .name2{
        /* border:1px solid red; */
        margin-right: 25px;
    }
    
    .form_region .form_region2 .choose{
        height:50px;
        width:251px;
        font-size: 24px;
    }
    
    .form_region .form_region3{
        /* border: 1px solid red; */
        margin-left: 30px;
        margin-top: 25px;
        margin-bottom: 15px;
        font-size: 24px;
    }
    
    .form_region .form_region3 .name3{
        /* border:1px solid red; */
        margin-right: 25px;
    }
    
    .form_region .form_region4{
        /* border: 1px solid red; */
        margin-left: 30px;
        margin-top: 25px;
        margin-bottom: 15px;
    }
    
    .form_region .form_region4 .name4{
        /* border:1px solid red; */
        margin-right: 25px;
        margin-bottom: 10px;
        font-size: 24px;
    }
    
    .form_region .form_region4 .write2{
        /* border:1px solid red; */
        height:470px;
        width:801px;
        max-height:470px;
        max-width:801px;
        resize: none;
        font-size: 20px;
    }
    
    .form_region .form_region5{
        /* border:1px solid red; */
        margin-left: 697px;
    }
    
    .form_region .form_region5 .button{
        width:140px;
        height:50px;
        font-size: 20px;
    }
    
    .form_region .disappear2{
        /* border:1px solid red; */
        margin-top: 20px;
        margin-left: 832px;
    }
    
    .form_region .form_region6{
        margin-left: 30px;
        margin-top: 25px;
        margin-bottom: 15px;
        font-size: 24px;
    }
    
    .form_region .form_region6 .name6{
        margin-right: 25px;
    }
    
    .form_region .form_region6 .fa-star{
        /* border:1px solid red; */
        color:#FFBF44;
    }
    
    .form_region .form_region6 .fa-star-half-stroke{
        /* border:1px solid red; */
        color:#FFBF44;
    }
}


/* RWD 576px以下字型大小 */
@media screen and (max-width: 575.98px){
// 麵包屑區塊
// 麵包屑區塊
.discuss{
    font-family: Noto Sans CJK;
    background-color: $sun_color;
    margin: 0 auto; 
}

.wrapper{
    margin: 0 auto;
    width:575.98px;
    padding: 0;
}

/* 討論區大標題 */
.big-title {
  /* border:1px solid red; */
  display: block;
  width:570px;
}

    /* 麵包屑區塊的css */
    .breadcrumb{
        /* border:1px solid red;  */
        padding:5px 10px;
    }
    
    .breadcrumb-list{
        /* border:1px solid red; */
        list-style: none;
    }
    
    .breadcrumb-list > li{
        /* border:1px solid red; */
        display:inline-block;
        margin-right: 10px;
        color:#000000;
    }
    
    .breadcrumb-list > li::before{
        /* border:1px solid red; */
        content:"/";
        color:black;
        margin-right: 12px;
        font-size: 16px;
    }
    
    .breadcrumb-list > li:first-child::before{
        content:"";
        margin-right: 0;
    }
    
    .breadcrumb-list > li a{
        /* border:1px solid red; */
        background-image: url("../img/Union.png");
        background-repeat: no-repeat;
        width: 185px;
        height: 50px;
        text-align: center;
        font-size: 24px;
        line-height: 50px;
        display:inline-block;
        color:#000000;
    }

    .breadcrumb-list .text{
      /* border:1px solid red; */
      background-image: url("../img/Union\ \(1\).png");
      background-repeat: no-repeat;
      width: 185px;
      height: 50px;
      text-align: center;
      font-size: 24px;
      line-height: 50px;
      display:inline-block;
      color:#F5F0DD;
    }

    .discuss .breadcrumb-list > li::before {
      /* border: 1px solid red; */
      display: none;
  }

  /* 官方文章區域 */
  .discuss .official_article {
    /* border:1px solid red; */
    display: block;
    width: 100%;
  }
  .discuss .official_article .banner_1 {
    /* border:1px solid red; */
    width: 476px;
    margin: 0px 40px 0px 45px;
  }

  .discuss .official_article .banner_1 .line1{
  border: 2px solid white;
  height: 40px;
  width: 1px;
  margin-left: 3px;
  background-color: white;
  position: relative;
  bottom: 222px;
  left: 227px;
  z-index: 3;

  }
  
  .discuss .official_article .banner_1 img {
    /* border:1px solid red; */
    width: 100%;
    height: 370.52px;
  }

  .discuss .official_article .banner_1 a {
    border:1px solid red;
    text-decoration: none;
    height:0px;
  }

  .discuss .official_article .banner_1 .text_1 {
    position: relative;
    bottom: 260px;
    left: 100px;
    color: white;
    font-size: 32px;
    height: 0px;
  }

  .discuss .official_article .banner_2 {
    /* border:1px solid red; */
    width: 525px;
  }

  .discuss .official_article .banner_2 .line2{
    border: 1px solid white;
    height: 25px;
    width: 1px;
    background-color: white;
    position: relative;
    bottom: 127px;
    left: 114px;
  }

  .discuss .official_article .banner_2 .photo_1 {
    /* border:1px solid red; */
    width: 238px;
    margin-left: 45px;
  }
  .discuss .official_article .banner_2 .photo_1 img {
    /* border:1px solid red; */
    width: 100%;
    height: 109.85px;
    position: relative;
    bottom: 58px;
  }
  .discuss .official_article .banner_2 .photo_1 a {
    text-decoration: none;
  }
  .discuss .official_article .banner_2 .photo_1 .text_2 {
    /* border:1px solid red; */
    width: 300px;
    position: relative;
    bottom: 148px;
    left: 50px;
    font-size: 16px;
    color: white;
  }

  .discuss .official_article .banner_2 .photo_2 {
    /* border:1px solid red; */
    width: 238px;
    margin-left: 283px;
    position: relative;
    bottom: 213px;
  }

  .discuss .official_article .banner_2 .photo_2 .line3{
    border: 1px solid white;
    height: 25px;
    width: 1px;
    background-color: white;
    position: relative;
    bottom: 70px;
    left: 136px;
  }

  .discuss .official_article .banner_2 .photo_2 img {
    /* border:1px solid red; */
    width: 100%;
    height: 110px;
  }
  .discuss .official_article .banner_2 .photo_2 a {
    text-decoration: none;
  }
  .discuss .official_article .banner_2 .photo_2 .text_3 {
    /* border:1px solid red; */
    width: 390px;
    font-size: 16px;
    color: white;
    position: relative;
    bottom: 92px;
    left: 45px;
  }

  .discuss .official_article .banner_2 .more {
    border: 1px solid #0C1244;
    width: 140px;
    height: 40px;
    text-align: center;
    padding-top: 20px;
    margin-left: 378px;
    margin-bottom: 50px;
    display: none;
  }

  .discuss .official_article .banner_2 .more a {
    text-decoration: none;
    padding: 20px 30px 20px 30px;
    display:none;
  }

  .discuss .official_article .banner_2 .more .text_4 {
    color: #0C1244;
    font-size: 16px;
    display: none;
  }

  .discuss hr {
  width: 536px;
  position: relative;
  bottom: 208px;
  right: 363px;
  }

  .discuss h2 {
    /* border:1px solid red; */
    width: 105px;
    font-size: 24px;
    color: #0C1244;
    margin-left: 100px;
    margin-top: 25px;
    margin-bottom: 50px;
    position: relative;
    bottom: 180px;
    right: 55px;
  }

  .discuss .article .article_type {
    /* border:1px solid red; */
    width: 1080px;
    margin-left: 100px;
  }
  .discuss .article .article_type ul {
    /* border:1px solid red; */
    display: flex;
    display: flex;
    position: relative;
    bottom: 180px;
    right: 93px
  }
  .discuss .article .article_type ul li {
    border: 1px solid #0C1244;
    width: 134px;
    height: 74px;
    text-align: center;
    font-size: 20px;
    border-radius: 15px 15px 0px 0px;
    cursor: pointer;
  }
  .discuss .article .article_type ul li a {
    color: #0C1244;
    text-decoration: none;
    padding: 0px;
    position: relative;
    top: 30px;
  }
  .discuss .article .article_type ul .li-5 {
    border:1px solid #0C1244;
    border-radius: 50%;
    margin-left: 170px;
    position: relative;
    bottom: 100px;
    right: 270px;
    width: 60px;
    height: 60px;
  }

  .discuss .article .article_type ul .li-5 .word{
    display: none;
  }

  .discuss .article .article_type ul .li-5 img{
    /* border:1px solid red; */
    position:relative;
    bottom: 11px;
  }

  .discuss .article_list {
    border: 1px solid #0C1244;
    width: 542px;
    height: 860px;
    margin-left: 100px;
    position: relative;
    bottom: 180px;
    right: 93px;
  }
  
  .discuss .article_list .img_1{ 
    /* border:1px solid red; */
    width: 305px;
    height: 97px;
    margin-left: 36px;
    margin-top: 30px;
    /* display:none; */
  }

  .discuss .article_list .img_1 img {
    width: 100%;
    height: 93.39px;
    margin-top: 38px;
    /* display:none; */
  }

  .discuss .article_list .content {
    /* border:1px solid red; */
    width: 800px;
  }
  .discuss .article_list .content .title {
    /* border:1px solid red; */
    width: 368px;
    margin-top: 40px;
    margin-left: 0px;
    font-size: 20px;
    color: #0C1244;
    position: relative;
    bottom: 12px;
    right: 139px;
  }
  .discuss .article_list .content .comment {
    /* border: 1px solid red; */
    margin-top: 10px;
    margin-left: 25px;
    width: 305px;
    font-size: 16px;
    color: #0C1244;
  }
  .discuss .article_list .content .icons {
    /* border:1px solid red; */
    display: flex;
    margin-top: 10px;
    margin-left: 25px;
  }
  .discuss .article_list .content .icons .icon-1 {
    /* border:1px solid red; */
    display: flex;
    margin-right: 20px
  }
  .discuss .article_list .content .icons .icon-1 img {
    width: 18px;
    height: 17;
    margin-right: 5px;
  }
  .discuss .article_list .content .icons .icon-1 .span1 {
    margin-top: 3px;
    font-size: 16px;
    color: #0C1244;
  }
  .discuss .article_list .content .icons .icon-2 {
    /* border:1px solid red; */
    display: flex;
    margin-right: 20px;
  }
  .discuss .article_list .content .icons .icon-2 img {
    width: 18px;
    height: 18;
    margin-right: 5px;
  }
  .discuss .article_list .content .icons .icon-2 .span2 {
    margin-top: 3px;
    font-size: 16px;
    color: #0C1244;
  }
  .discuss .article_list .content .icons .icon-3 {
    /* border:1px solid red; */
    display: flex;
  }
  .discuss .article_list .content .icons .icon-3 img {
    width: 18px;
    height: 18;
    margin-right: 5px;
  }
  .discuss .article_list .content .icons .icon-3 .span3 {
    margin-top: 3px;
    font-size: 16px;
    color: #0C1244;
  }


  .discuss .hr1 {
    display:none;
}

  .discuss .hr2 {
    width: 878px;
    display:none;
  }


  .discuss .pop-up-out {
    /* border:1px solid red; */
    position: relative;
    bottom: 1420px;
  }
  .discuss .pop-up {
    border: 1px solid rgb(170, 170, 170);
    padding-top: 20px;
    padding-bottom: 80px;
    position: absolute;
    margin-top: 0px;
    margin-left: 5px;
    width: 536px;
    z-index: 3;
    background-color: #F5F0DD;
    display: none;
    /* display:block */
  }
  .discuss .pop-up .disappear {
    /* border: 1px solid red; */
    margin-left: 485px;
  }
  .discuss .pop-up .icons {
    /* border:1px solid red; */
    display: flex;
    width: 802px;
    margin-left: 37px;
  }
  .discuss .pop-up .icons .icon-1 {
    display: flex;
    margin-right: 20px;
  }
  .discuss .pop-up .icons .icon-1 .span1 {
    margin-left: 5px;
    padding-top: 5px;
  }
  .discuss .pop-up .icons .icon-2 {
    display: flex;
  }
  .discuss .pop-up .icons .icon-2 .span2 {
    margin-left: 5px;
    padding-top: 5px;
  }
  .discuss .hr1 {
    width: 802px;
  }
  .discuss .pop-up .icons2 {
    /* border:1px solid red; */
    display: flex;
    width: 802px;
    margin-left: 37px;
    margin-bottom: 10px;
  }
  .discuss .pop-up .icons2 .span3 {
    /* border:1px solid red; */
    margin-left: 5px;
    font-size: 20px;
  }
  .discuss .pop-up .discuss-region {
    // border:1px solid red;
    width: 802px;
    margin-left: 37px;
    margin-bottom: 40px;
  }
  .discuss .pop-up .discuss-region .comment-region {
    border: 1px solid #0C1244;
    margin-left: 30px;
    border-radius: 10px;
    padding: 10px;
  }
  .discuss .pop-up .discuss-region img {
    width: 448px;
    height: 100%;
  }
}