/* @import url(reset.css); */
@import 'base/var';

.discuss{
    font-family: Noto Sans CJK;
    background-color: $sun_color;
    margin: 0 auto; 
    
    // add by jay
    footer section .wrapper{
        width: 400px;
    }

    
    .wrapper{
        margin: 0 auto;
        width:1080px;
        padding: 0;
        // border: 1px solid #000;

        main{
            &>h3{
                text-align: center;
                // border: 1px solid #000;
                margin-top: 100px;
            }
            /* 麵包屑區塊的css */
            .breadcrumb{
                /* border:1px solid red; */
                // background-color: #D9D9D9;
                padding:20px 0px;
                width: 1080px;
                margin: 0 auto;
                
            }
            .breadcrumb-list{
                /* border:1px solid red; */
                list-style: none;
            }
            
            .breadcrumb-list > li{
                /* border:1px solid red; */
                display:inline-block;
                margin-right: 10px;
                color:$moon_color;
            }
            
            .breadcrumb-list > li::before{
                /* border:1px solid red; */
                content:"/";
                color:$moon_color;
                margin-right: 12px;
                font-size: 16px;
            }
            
            .breadcrumb-list > li:first-child::before{
                content:"";
                margin-right: 0;
            }
            
            .breadcrumb-list > li a{
                text-decoration: none;
                display:inline-block;
                color:$moon_color;
            }
            
            .breadcrumb-list > li a:hover{
                color:$moon_color;
            }






            /* 官方文章區塊 */
            /* banner_1圖片部分 */
            .official_article{
                /* border:1px solid red; */
                display: flex;
                width:100%;
                height: 520px;
                justify-content: space-between;
                // border: 1px solid #000;

                
            }
            .official_article .banner_1{
                /* border:1px solid red; */
                width:calc(50% - 20px);
                // margin: 0px 40px 0px 100px;
                position: relative;
            }
            
            .official_article .banner_1 a{
                text-decoration: none;
                display: block;
                width: 100%;
                height: 100%;
                overflow: hidden;
                // border: 1px solid #000;
            }

            .official_article .banner_1 img{
                height: 100%;
                object-fit: fill;
            }

            .official_article .banner_1 .text_1{
                
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: #F5F0DD;
                // font-size:32px;
                width: 70%;
                text-align: center;
                // border: 1px solid #000;
                // vertical-align: middle;
                &>div{
                    display: flex;
                    align-items: center;
                    justify-content: end;

                    svg{
                        margin-right: 5px;
                    }

                    p:nth-child(2){
                        margin-right: 25px;
                    }

                }
  
            }




            
            /* banner_2圖片區域 */
            .official_article .banner_2{
                /* border:1px solid red; */
                width: calc(50% - 20px);

            }
            
            .official_article .banner_2 a{
                text-decoration: none;
                display: block;
                width: 100%;
                height: 100%;
                overflow: hidden;
            }

            .official_article .banner_2 img{
                // height: 100%;
                width: 100%;
                object-fit: fill;
            }

            /* photo_1區域 */
            .official_article .banner_2 .photo_1{
                /* border:1px solid red; */
                width: 100%;
                height: calc(50% - 20px);
                margin-bottom: 40px;
                position: relative;
            }
            
            
            
            .official_article .banner_2 .photo_1 .text_2{
                /* border:1px solid red; */
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: #F5F0DD;
                // font-size:32px;
                width: 70%;
                text-align: center;
                &>div{
                    display: flex;
                    align-items: center;
                    justify-content: end;

                    svg{
                        margin-right: 5px;
                    }

                    p:nth-child(2){
                        margin-right: 25px;
                    }

                }
            }
            
            /* photo_2區域 */
            .official_article .banner_2 .photo_2{
                /* border:1px solid red; */
                width:100%;
                height: calc(50% - 20px);
                position: relative;
            }
            
            
            .official_article .banner_2 .photo_2 .text_3{
                /* border:1px solid red; */
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: #F5F0DD;
                // font-size:32px;
                width: 70%;
                text-align: center;
                &>div{
                    display: flex;
                    align-items: center;
                    justify-content: end;

                    svg{
                        margin-right: 5px;
                    }

                    p:nth-child(2){
                        margin-right: 25px;
                    }

                }
            }


            
            .more{
                margin-top: 40px;
                margin-left: auto;
                margin-bottom:50px;
                width: 140px;
                a{
                    border: 1px solid $moon_color;
                    text-decoration: none;
                    // padding:20px 30px 20px 30px;
                    color:$moon_color;
                    font-size: 16px;
                    display: block;
                    box-sizing: border-box;
                    
                    p{
                        width: 140px;
                        text-align: center;
                        line-height: 50px;
                        // border: 1px solid $moon_color;
                    }

                    &:hover{
                        background-color: $moon_color;
                        color: $sun_color;
                    }
                    


                }
            }
            
            



            /* --------------------------文章列表區域-------------------------- */
            hr{
                width: 1080px;
            }

            /* 文章列表上半部 */
            .article{
                margin-bottom: 50px;
                &>h4{
                    line-height: 63px;
                    margin-bottom: 90px;
                }
            }
            
            .article .article_type{
                
                width:1080px;
                display: flex;
            }
            
            .article .article_type ul{
                /* border:1px solid red; */
                display: flex;
            }
            
            .article .article_type ul li{
                border:1px solid $moon_color;
                width:180px;
                height:100px;
                border-radius: 15px 15px 0px 0px;
                font-size: 24px;
                cursor: pointer;
            }
            
            .article .article_type ul li a{
                text-align: center;
                line-height: 100px;
                color:$moon_color;
                display: block;
                text-decoration: none;
            }
            
            .article .article_type .li-5{
                margin-left: auto;
                .discussion{
                    border:1px solid $moon_color;
                    width:180px;
                    height:100px;
                    border-radius: 15px 15px 0px 0px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    h4{
                        margin-left: 10px;
                    }

                    &:hover{
                        cursor: pointer;
                    }
                }
            }









            /* --------------------------文章列表下半部-------------------------- */
            
            /* 以下是第一項的css */
            /* .solid{ */
                /* border:1px solid red; */
                /* display: none; */
            /* } */
            
            .article_list{
                border:1px solid $moon_color;
                width:1080px;
                box-sizing: border-box;
                ul{
                    li{
                        border-bottom: 1px solid $moon_color;
                    }

                    li:last-child{
                        border-bottom: 0px;
                    }
                }

                .more{
                    margin-top: 10px;
                    margin-left: auto;
                    margin-right: 40px;
                    margin-bottom:25px;
                    width: 140px;
                    a{
                        border: 1px solid $moon_color;
                        text-decoration: none;
                        // padding:20px 30px 20px 30px;
                        color:$moon_color;
                        font-size: 16px;
                        display: block;
                        box-sizing: border-box;
                        
                        p{
                            width: 140px;
                            text-align: center;
                            line-height: 50px;
                            // border: 1px solid $moon_color;
                        }
    
                        &:hover{
                            background-color: $moon_color;
                            color: $sun_color;
                        }
                        
    
    
                    }
                }
            }
            
            .article_text{

                .rwd_title{
                  display: none;
                }

            }
            
            .article_text a{

                display: flex;
                // height:164px;
                text-decoration: none;
                // border: 1px solid #000;
                padding: 15px 0;
                padding-left: 25px;
                padding-right: 40px;

                align-items: center;

                
 
            }
            
            .article_list .img_1{
                /* border:1px solid red; */
                width:161px;
                height:97px;
                display: flex;
                align-items: center;

                // margin-left:36px;
                // margin-top: 30px;
                /* display:none; */
            }
            
            .article_list .img_1 img{
                width:100%;
                // height:97px;
                /* display:none; */
            }
            
            .article_list .content{
                /* border:1px solid red; */
                width:800px;
                margin-left: 45px;
                // flex-grow: 1;
            }
            
            .article_list .content .title{

                color:$moon_color;
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 5px;


                .star{
                    color:#FFBF44
                  }
            }
        
            
            .article_list .content .comment{

                font-size: 16px;
                color:$moon_color;
                margin-bottom: 5px;
            }
            
            .article_list .content .icons{

                display: flex;
                justify-content: space-between;
            }
            
            .article_list .content .icons .icon-1{

                display: flex;
                margin-right: 630px;
            }
            
            .article_list .content .icons .icon-1 img{
                width:18px;
                height:17;
                margin-right:5px;
            }
            
            .article_list .content .icons .icon-1 .span1{
                margin-top: 3px;
                font-size: 16px;
                color:$moon_color;
            }
            
            .article_list .content .icons .icon-2{
                /* border:1px solid red; */
                display: flex;
                margin-right: 20px;
            }
            
            .article_list .content .icons .icon-2 img{
                width:18px;
                height:18;
                margin-right:5px;
            }
            
            .article_list .content .icons .icon-2 .span2{
                margin-top: 3px;
                font-size: 16px;
                color:$moon_color;
            }
            
            .article_list .content .icons .icon-3{
                /* border:1px solid red; */
                display: flex;
            }
            
            .article_list .content .icons .icon-3 img{
                width:18px;
                height:18;
                margin-right:5px;
            }
            
            .article_list .content .icons .icon-3 .span3{
                margin-top: 3px;
                font-size: 16px;
                color: $moon_color;
            }










        }
    }

    

    /* 彈窗部分的CSS */
    
    .pop-up-out{
        padding-top: 10px;
        box-sizing: border-box;
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0;
        background-color: rgba(0, 0, 0, .5);
        display: none;
        .pop-up{
            border:1px solid rgb(170, 170, 170);
            box-sizing: border-box;
            padding-top: 20px;
            padding-bottom: 80px;
            height: calc(100vh - 20px);
            width: 880px;
            margin: 0 auto;
            background-color: $sun_color;
            overflow: auto;
    
            h3{
                text-align: center;
            }
    
            .hr2{
                width:calc(100% - 2px);
            }
    
        }
        
        .pop-up .disappear{
            /* border: 1px solid red; */
            margin-left: 835px;
        }
        
        .pop-up .icons{
            /* border:1px solid red; */
            display: flex;
            width: 802px;
            // margin-left: 37px;
            margin: 0 auto;
            margin-bottom: 10px;
        }
        
        .pop-up .icons .icon-1{
            display: flex;
            margin-right: 20px;
        }
        
        .pop-up .icons .icon-1 .span1{
            margin-left: 5px;
            padding-top: 5px;
            font-size: 16rem;
            letter-spacing: 3rem;
        }
        
        .pop-up .icons .icon-2{
            display: flex;
        }
        
        .pop-up .icons .icon-2 .span2{
            margin-left: 5px;
            padding-top: 5px;
            font-size: 16rem;
            letter-spacing: 3rem;
        }
        
        .hr1{
            width:802px;
        }
        
        .pop-up .icons2{
            /* border:1px solid red; */
            display: flex;
            width: 802px;
            margin: 0 auto;
            margin-top: 10px;
            margin-bottom: 10px;
        }
        
        .pop-up .icons2 .span3{
            /* border:1px solid red; */
            margin-left: 5px;
            font-size: 20px;
        }
        
        .pop-up .discuss-region{
            /* border:1px solid red; */
            // display: flex;
            width:802px;
            margin-left: 37px;
            margin-bottom: 40px;
            display: flex;
        }
        
        .pop-up .discuss-region .comment-region{
            border:1px solid $moon_color;
            margin-left: 30px;
            border-radius: 10px;
            flex-grow: 1;
            // width: 70%;
            
            p{
                padding: 10px;
                width: 100%;
    
            }
        }
    
        .pop-up .discuss-region img{
            width: 220px;
            height:100%;
        }
        
        /* 評論區的css */
        .task_container{
            /* border:1px solid red; */
        }
        
        .task_container .title1{
            font-size: 24px;
            margin-top: 25px;
            margin-left: 35px;
        }
        
        .task_container .task_add_block{
            /* border:1px solid red; */
            width: 802px;
            margin: 0 auto;
            margin-top: 10px;
            font-size: 0;
            transition: transform .5s, box-shadow .5s;
        }
        
        .task_container .task_add_block .-on{
            box-shadow: 0 0 5px gray;
            transform: scale(1.01);
            transform-origin: center center;
        }
        
        .task_container .task_add_block .task_name{
            /* border:1px solid red; */
            width: 100%;
            border: 1px solid lightgray;
            border-radius: 3px 0 0 3px;
            height: 120px;
            font-size: 20px;
            padding: 5px 10px;
            box-sizing: border-box;
            outline: none;
            display: inline-block;
            vertical-align: top;
        }
        
        .task_container .task_add_block .task_name::placeholder{
            color: lightgray;
        }
        
        .task_container .task_add_block .task_add{
            /* border: 1px solid red; */
            display: block;
            width: 141px;
            height: 52px;
            margin-left: auto;
            margin-top: 20px;
            vertical-align: top;
            border: 1px solid lightgray;
            border-left: 0;
            background-color: white;
            box-shadow: none;
            font-size: 16px;
            cursor: pointer;
            outline: none;
            border-radius: 0 3px 3px 0;
        }
        
        .task_container .task_add_block .task_add:active{
            box-shadow: 1px 1px 3px lightgray inset, -1px -1px 3px lightgray inset;
            background-color: #fcfcfc;
            /* font-size: 1.5rem; */
        }
        
          /* ===== 討論列表 ===== */
        
        .task_container .task_list_parent{
            /* border:1px solid red; */
            margin-top: 30px;
            margin-left: 35px;
        }
        
        .task_container .task_list_parent .task_list{
            /* border:1px solid red; */
            margin: 0;
            margin-right: 42px;
            padding: 0;
            list-style: none;
        }
        
        .task_container .task_list_parent .task_list > li{
            /* border:1px solid red; */
            margin-bottom: 20px;
            border-bottom: 1px solid gray;
            padding-bottom: 20px;
            opacity: 1;
            transition: opacity 1s;
        }
        
        .task_container .task_list_parent .task_list > li.fade_out {
            opacity: 0;
        }
        
        .task_container .task_list_parent .task_list > li:first-child{
            border-top: 1px solid black;
            padding-top: 20px;
        }
        
        .task_container .task_list_parent .task_list > li:first-child button.btn_up{
            /* border:1px solid red; */
            background-color: lightgray !important;
            cursor: not-allowed !important;
            color: gray;
        }
        
        .task_container .task_list_parent .task_list > li:last-child{
            margin-bottom: 0;
            border-bottom: 0;
        }
        
        .task_container .task_list_parent .task_list > li:last-child button.btn_down {
            /* border:1px solid red; */
            background-color: lightgray !important;
            cursor: not-allowed !important;
            color: gray;
        }
        
        .task_container .task_list_parent .task_list > li >.item_flex{
            /* border:1px solid red; */
            display: flex;
        }
        
        .task_container .task_list_parent .task_list > li >.item_flex > div{
              /* border: 1px solid blue; */
        }
        
        .task_container .task_list_parent .task_list > li >.item_flex > .left_block{
            /* border:1px solid red; */
            width: 0px;
            flex-shrink: 0;
        }
        
        .task_container .task_list_parent .task_list > li >.item_flex > .left_block .btn_flex {
            display: flex;
        }
        
        .task_container .task_list_parent .task_list > li >.item_flex > .left_block .btn_flex > button{
            flex-grow: 1;
            outline: none;
            height: 40px;
            font-size: 16px;
            padding: 0;
            margin: 0;
          
            background: none;
            background-color: white;
            border: 0;
            cursor: pointer;
            border: 1px solid #eee;
        }
        
        .task_container .task_list_parent .task_list > li >.item_flex > .middle_block{
            font-size: 1.8rem;
            flex-grow: 1;
            padding-left: 10px;
            padding-right: 10px;
        }
        
        .task_container .task_list_parent .task_list > li >.item_flex > .middle_block .para {
            margin: 0;
            font-size: 16px;
        }
        
        .task_container .task_list_parent .task_list > li >.item_flex > .right_block{
            width: 100px;
            flex-shrink: 0;
        }
        
        .task_container .task_list_parent .task_list > li >.item_flex > .right_block .btn_flex{
            display: flex;
        }
        
        .task_container .task_list_parent .task_list > li >.item_flex > .right_block .btn_flex > button{
            flex-grow: 1;
            outline: none;
            height: 40px;
            font-size: 16px;
            padding: 0;
            margin: 0;
          
            background: none;
            background-color:#faeab1;
            border: 0;
            cursor: pointer;
            border: 1px solid #eee;
        }
        
        .task_container .task_list_parent .task_list > li >.item_flex > .middle_block .task_name_update{
            /* border:1px solid red; */
            width: 100%;
            border: 1px solid lightgray;
            border-radius: 3px 0 0 3px;
            height: 40px;
            font-size: 16px;
            padding: 5px 10px;
            outline: none;
        }
        
        .task_container .task_list_parent .task_list > li >.item_flex > .middle_block .task_name_update::placeholder{
            color: lightgray;
        }
        
        .-none {
            display: none;
        }
    }

    
    
    /* 討論區-彈窗-發表新文章 */
    /* 表單部分 */
    .form_region{
        padding-top: 10px;
        box-sizing: border-box;
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0;
        background-color: rgba(0, 0, 0, .5);
        display: none;

        .absolute{
            border:1px solid rgb(170, 170, 170);
            box-sizing: border-box;
            // padding: 0 35px;
            padding-top: 20px;
            padding-bottom: 80px;
            height: calc(100vh - 20px);
            width: 880px;
            margin: 0 auto;
            background-color: $sun_color;
            overflow: auto;
            color: $moon_color;


            .title2{
                // border: 1px solid red;
                // font-size: 32px;
                margin-left: 30px;
                margin-right: 30px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .author_data{
                  // border: 1px solid #000;
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                  img{
                    height: 21px;
                    margin-right: 10px;
                  }
                  h4{
                    line-height: 1;
                    // vertical-align: bottom;
                    height: 21px;
                  }


                }
            }
            
            
            .form_region1{
                // border: 1px solid red;
                margin-left: 30px;
                margin-top: 25px;
                margin-bottom: 15px;
                font-size: 24px;
            }
            
            .form_region1 .name1{
                margin-right: 25px;
            }
            
            .form_region1 .write1{
                height:50px;
                width:662px;
                font-size: 24px;
            }
            
            .form_region2{
                /* border: 1px solid red; */
                margin-left: 30px;
                margin-top: 25px;
                margin-bottom: 15px;
                font-size: 24px;
            }
            
            .form_region2 .name2{
                /* border:1px solid red; */
                margin-right: 25px;
            }
            
            .form_region2 .choose{
                height:50px;
                width:251px;
                font-size: 24px;
            }
            
            .form_region3{
                /* border: 1px solid red; */
                margin-left: 30px;
                margin-top: 25px;
                margin-bottom: 15px;
                font-size: 24px;
                display: flex;
        
        
                .name3{
                    /* border:1px solid red; */
                    margin-right: 25px;
                }
        
                .upload_img{
                    display: flex;
                    align-items: flex-end;
                    &>div{
                        width: 250px;
                        height: 250px;
                        border: 1px solid $moon_color;
                        margin-right: 15px;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        img{
                          max-width: 90%;
                          max-height: 90%;
                        }
                    }
                }
            }
            
            
            .form_region4{
                /* border: 1px solid red; */
                margin-left: 30px;
                margin-top: 25px;
                margin-bottom: 15px;
            }
            
            .form_region4 .name4{
                /* border:1px solid red; */
                margin-right: 25px;
                margin-bottom: 10px;
                font-size: 24px;
            }
            
            .form_region4 .write2{
                /* border:1px solid red; */
                height:470px;
                width:801px;
                max-height:470px;
                max-width:801px;
                resize: none;
                font-size: 20px;
            }
            
            .form_region5{
                /* border:1px solid red; */
                margin-left: 697px;

                #new_article_btn{
                  margin-top: 30px;
                  color: $moon_color;
                  text-align: center;
                  line-height: 50px;
                  width: 140px;
                  border: 1px solid $moon_color;
                  box-sizing: border-box;

                  &:hover{
                    background-color: $moon_color;
                    color:$sun_color;
                    cursor: pointer;
                  }
                }

                #new_article_submit_btn, #authorID{
                  display: none;
                }
            }
            
            // .form_region5 .button{
            //     width:140px;
            //     height:50px;
            //     font-size: 20px;
            // }
            
            .disappear2{
                /* border:1px solid red; */
                margin-top: 20px;
                margin-left: 832px;
            }
            
            .form_region6{
                margin-left: 30px;
                margin-top: 25px;
                margin-bottom: 15px;
                font-size: 24px;
            }
            
            .form_region6 .name6{
                margin-right: 25px;
            }
            
            .form_region6 .fa-star{
                /* border:1px solid red; */
                color:#FFBF44;
            }
            
            .form_region6 .fa-star-half-stroke{
                /* border:1px solid red; */
                color:#FFBF44;
            }

        }
    }
    
}









// ----------------------------------------------------------------------------------



/* RWD 576px以下字型大小 */
@media screen and (max-width: 575.98px){

  .discuss{
    .wrapper{
      width: 100%;

      main{
        hr{
          width: 90%;
        }

        &>h3{
          // display: none;
        }

        .breadcrumb{
          width: 90%;
          margin: 0 auto;
        }

        
        .official_article{
          display: block;
          width: 82%;
          margin: 0 auto;

          .banner_1{
            width: 100%;
            

            img{
              width: 100%;
            }

            h3{
              font-size: 24px;
            }
          }

          .banner_2{
            width: 100%;
            display: flex;
            margin-bottom: 0px;
            h3{
              font-size: 16px;
            }

            .photo_1{
              width: 50%;
              height: 110px;
            }
            .photo_2{
              width: 50%;
              height: 110px;
            }


            img{
              width: 130%;
              // height: 100%;
            };
          }
        }

        .more{
          width: 82%;
          margin: 0;
          margin: 0 auto;
          display: none;
        }

        .article{
          h4{
            width: 90%;
            margin: 0 auto;
            margin-bottom: 40px;
            line-height: 1;
            margin-top: 40px;
          }
          .article_type{
            width: 100%;
            position: relative;
            ul{
              width: 90%;
              margin: 0 auto;
              li{
                flex-grow: 1;
              }
            }

            .li-5{
              position: absolute;
              top: -80px;
              right: 55px;
              .discussion{
                width: 60px;
                height: 60px;
                border-radius: 50%;
                h4{
                  display: none;
                }
              }
            }
          }
        }

        .article_list{
          width: 90%;
          margin: 0 auto;

          .content .title h5{
            display: none;
            
          }

          .content{
            width: 63%;
            display: inline-block;
            margin: 0;
            position: relative;

            .icons{
              width: 60%;
              margin-left: 15px;
              .icon-1{
                margin-right: 0;
              }
              .icon-2{
                margin-right: 0;
              }
            }

            .title{
              position: absolute;
              bottom: 0px;
              right: 0px;
            }

            .comment{
              margin-left: 15px;
            }

          }

          .img_1{
            display: inline-block;
            width: 35%;
            height: 100%;
          }
        }

        .article_text{
          a{
            // flex-wrap: nowrap;
            // flex-shrink: 0;
            // width: 100%;
            display: block;
            padding: 10px;

          }
          .rwd_title{
            display: block;
            width: 100%;
            text-align: center;
            color: $moon_color;
            line-height: 1;
            margin-top: 20px;
            margin-bottom: 20px;
          }
        }
      }

      
    }
    .pop-up-out{
      .hr1{
        width: calc(100% - 2px);
      }
      .pop-up{
        width: 90%;
        .icons, .icons2{
          width: 90%;
        }
        .icons{
          justify-content: flex-end;
        }
        .disappear{
          margin-left: 93%;
        }

        .discuss-region{
          display: block;
          width: 88%;
          margin: 0 auto;
          img{
            height: auto;
            width: 100%;
            
          }

          .comment-region{
            margin-left: 0;
            
          }
          div{
            margin-bottom: 20px;
          }
        }
      }

      .task_container{
        .task_add_block{
          width: 90%;
        }
      }

    }

    .form_region{
      .absolute{
        width: 90%;

        .disappear2{
          margin-left: 90%;
          margin-bottom: 20px;
        }

        .form_region1{
          .write1{
            width: 68%;
          }
        }

        .form_region3{
          .upload_img{
            width: 70%;
            position: relative;

            &>div{
              margin-right: 0;
              margin-top: 30px;
              width: 100%;
            }

            input{
              position: absolute;
              top: 0px;
              left: 0px;
              width: 190px;
            }
          }

        }

        .form_region4{
          .write2{
            width: 95%;
          }
        }

        .form_region5{
          width: 140px;
          margin: 0 auto;
          
        }
      }
    }

  }
      
}