@import 'base/var';

@mixin mobile {
    @media(max-width:579px){
        @content
    }
}

.forgotPwd{
    background-color: $sun_color;
    color: $moon_color;

    //星空
    #bgCanvas {
        // width: 0%;
        // height: 0%;
        opacity: 0;
        position:absolute;
        top: 0;
        left: 0;
        z-index: -100;
    }

    header{
        border-top: 0.1px solid $sun_color;
    }

    main{
        // border: 1px solid firebrick;
        // width: 1280px;
        margin: 0 auto;
        box-sizing: border-box;
        line-height: 1.6;
        letter-spacing: 3px;
    
        .wrapper{
            // border: 1px solid black;
            width: 1080px;
            margin: 0 auto;

            @include mobile{
                width: 479px;
                
            }

            .crumbs{
                @include mobile{
                    display: none;
                }
            }
        
            a{
                display: inline-block;
                text-decoration: none;
                color: $moon_color;
            }
        }
        
        p{
            margin-top: 17px;
            // margin-left: 100px;
        }
        
        h3{
            margin-top: 62px;
            text-align: center;
            margin-bottom: 48px;

            @include mobile{
                font-size: 28rem;
                margin: 50px 0 20px 0;
                
            }
        }
        
        .forgotMain{
            width: 625px;
            margin: 0 auto;

            @include mobile{
                width: 459px;
                margin: 0 auto;
                
            }
        
            h4{
                text-align: center;

                @include mobile{
                    display: none;
                    
                }
            }

            .phoneText{
                display: none;

                @include mobile{
                    display: block;
                    font-size: 20rem;
                }
            }
        
            .forgotForm{
                // border: 1px solid red;
                text-align: center;
                margin-top: 50px;
        
                label{
                    font-size: 24rem;
                    
                    @include mobile{
                        position: relative;
                        left: -138px;
                    }
                }
        
                .forgotFormInput{
                    width: 400px;
                    height: 50px;
                    background-color: $sun_color;
                    border: 1px solid $moon_color;
                    margin: 15px 0;
                    padding-left: 10px;
                    font-size: 24rem;
                    box-sizing: border-box;

                    @include mobile{
                        width: 380px;
                        height: 60px;
                        margin: 10px 0 50px 0;
                        
                    }
                }
        
                .forgotFormBtn{
                    background-color: $sun_color;
                    display: block;
                    width: 140px;
                    height: 50px;
                    text-align: center;
                    margin: 0 auto;
                    border: 1px solid $moon_color;
                    margin-bottom: 10px;
                    font-size: 16rem;
                    color: $moon_color;

                    @include mobile{
                        margin-bottom: 50px;
                        width: 300px;
                        height: 60px;
                        border-radius: 30px;
                        cursor: pointer;
                        color: $sun_color;
                        border: 1.5px solid $sun_color;
                        background-color: $moon_color;
                        font-size: 25rem;

                    }
        
                    &:hover{
                        cursor: pointer;
                        color: $sun_color;
                        border: 1.5px solid $sun_color;
                        background-color: $moon_color;
                    }
                }
        
                .resend{
                    font-size: 20rem;
                    border: 0;
                    background-color: $sun_color;
                    color: $moon_color;
                    cursor: pointer;

                    @include mobile{
                        text-decoration: underline;
                        margin-bottom: 50px;
                    }
                }
        
                .reminder{
                    margin-top: 150px;

                    @include mobile{
                        display: none;
                    }
                }
        
                .reminderText{
                    margin-top: 20px;
                    margin-bottom: 100px;

                    @include mobile{
                        display: none;
                    }
                }
            }
        }
        
    }
}

.forgotPwd_moon{
    @import 'base/moonColorSwitch';
    background-color: $sun_color;
    color: $moon_color;

    // 星空
    #bgCanvas {
        width: 100%;
        // height: 100%;
        opacity: 1;
        position:absolute;
        top: 0;
        left: 0;
        z-index: -100;
        transition: height 1s;
    }

    header{
        border-top: 0.1px solid $sun_color;
    }

    main{
        // border: 1px solid firebrick;
        // width: 1280px;
        margin: 0 auto;
        box-sizing: border-box;
        line-height: 1.6;
        letter-spacing: 3px;
    
        .wrapper{
            // border: 1px solid black;
            width: 1080px;
            margin: 0 auto;

            @include mobile{
                width: 479px;
                
            }
        
            a{
                display: inline-block;
                text-decoration: none;
                color: $moon_color;
            }
        }
        
        p{
            margin-top: 17px;
            // margin-left: 100px;
        }
        
        h3{
            margin-top: 62px;
            text-align: center;
            margin-bottom: 48px;

            @include mobile{
                font-size: 28rem;
                margin: 50px 0 20px 0;
                
            }
        }
        
        .forgotMain{
            width: 625px;
            margin: 0 auto;

            @include mobile{
                width: 459px;
                margin: 0 auto;
                
            }
        
            h4{
                text-align: center;

                @include mobile{
                    display: none;
                    
                }
            }

            .phoneText{
                display: none;

                @include mobile{
                    display: block;
                    font-size: 20rem;
                }
            }
        
            .forgotForm{
                // border: 1px solid red;
                text-align: center;
                margin-top: 50px;
        
                label{
                    font-size: 24rem;
                    
                    @include mobile{
                        position: relative;
                        left: -138px;
                    }
                }
        
                .forgotFormInput{
                    width: 400px;
                    height: 50px;
                    background-color: $sun_color;
                    border: 1px solid $moon_color;
                    margin: 15px 0;
                    padding-left: 10px;
                    font-size: 24rem;
                    box-sizing: border-box;

                    @include mobile{
                        width: 380px;
                        height: 60px;
                        margin: 10px 0 50px 0;
                        
                    }
                }
        
                .forgotFormBtn{
                    background-color: $sun_color;
                    display: block;
                    width: 140px;
                    height: 50px;
                    text-align: center;
                    margin: 0 auto;
                    border: 1px solid $moon_color;
                    margin-bottom: 10px;
                    font-size: 16rem;
                    color: $moon_color;

                    @include mobile{
                        margin-bottom: 50px;
                        width: 300px;
                        height: 60px;
                        border-radius: 30px;
                        cursor: pointer;
                        color: $sun_color;
                        border: 1.5px solid $sun_color;
                        background-color: $moon_color;
                        font-size: 25rem;

                    }
        
                    &:hover{
                        cursor: pointer;
                        color: $sun_color;
                        border: 1.5px solid $sun_color;
                        background-color: $moon_color;
                    }
                }
        
                .resend{
                    font-size: 20rem;
                    border: 0;
                    background-color: $sun_color;
                    color: $moon_color;
                    cursor: pointer;

                    @include mobile{
                        text-decoration: underline;
                        margin-bottom: 50px;
                    }
                }
        
                .reminder{
                    margin-top: 150px;

                    @include mobile{
                        display: none;
                    }
                }
        
                .reminderText{
                    margin-top: 20px;
                    margin-bottom: 100px;

                    @include mobile{
                        display: none;
                    }
                }
            }
        }
        
    }
}

