// @import '../css/common.css';

@mixin mobile {
  @media(max-width:576px){
      @content
  }
}

// 禁止滾動
.overFlow{
  position: fixed;
  width: 100%;
}

// 切換背景
.moon{
  background-color: #0C1244;
  // color: #F5F0DD;
}
  
  
// ========漢堡==========

/* 基本按鈕樣式 */

// 按鈕1
button.hamburger_icon{
  border: 2px solid grey;
  width: 44px;
  height: 44px;
  position: fixed;
  left: 50px;
  top: 50px;
  z-index: 1;
  cursor: pointer;
  outline: none;
  background: none;

  z-index: 100;

  @include mobile{
    left: 20px;
    top: 20px;
  
  }

  

  /* 每一條橫線的樣式 */
  span.-hr{
    height: 2px;
    width: 80%;
    background-color: grey;
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  /* 最上面那條線的樣式 */
  span.-hr.-top{
    top: 25%;
  }

  /* 最下面那條線的樣式 */
  span.-hr.-bottom{
    top: 75%;
  }
}

/* -on 的狀態 */
/* 上方的線 */
button.hamburger_icon.-on{

  span.-hr.-top{
    transform-origin: top left;
    top: 5px;
    left: 6px;
    width: 102%;
    transform: rotate(45deg);
  }

  /* 中間的線 */
  span.-hr.-middle{
    opacity: 0;
  }
  
  /* 下方的線 */
  span.-hr.-bottom{
    transform-origin: top left;
    bottom: 5px;
    left: 6px;
    width: 102%;
    transform: rotate(-45deg);
    top: auto;
  }
  
}

    
// 按鈕2
button.btn2{
  border: 2px solid #fff;
  width: 44px;
  height: 44px;
  position: relative;
  left: 50px;
  top: 50px;
  cursor: pointer;
  outline: none;
  background: none;

  @include mobile{
    left: 20px;
    top: 20px;
  
  }

  /* 每一條橫線的樣式 */
  span.-hr{
    height: 2px;
    width: 80%;
    background-color: #fff;
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  /* 最上面那條線的樣式 */
  span.-hr.-top{
    top: 25%;
  }

  /* 最下面那條線的樣式 */
  span.-hr.-bottom{
    top: 75%;
  }

}

/* -on 的狀態 */
/* 上方的線 */
button.btn2.-on{

  span.-hr.-top{
    transform-origin: top left;
    top: 5px;
    left: 6px;
    width: 102%;
    transform: rotate(45deg);
  }

  /* 中間的線 */
  span.-hr.-middle{
    opacity: 0;
  }
  
  /* 下方的線 */
  span.-hr.-bottom{
    transform-origin: top left;
    bottom: 5px;
    left: 6px;
    width: 102%;
    transform: rotate(-45deg);
    top: auto;
  }

}
  
// =========漢堡結束========

header{
    // width: 100%;
    // margin: 0 auto;
    // border: 1px solid red;
    font-size: 20rem;

    a{
      display: block;
      text-decoration: none;
      color: #fff;
      font-weight: bold;
      
  } 
  
  nav{
      // position: relative;
      position: fixed;
      width: 100%;
      display: none;
      // border: 1px solid rgb(255, 207, 207);
      z-index: 100;
      top: 0;
  
  }
  
  video{
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      // height: calc(100vh - 46px);
      height: 100vh;
      object-fit:cover;  

  }
  
    /* 共同 ul*/
  ul{
  
  }
  
  /* 共同 li*/
  li{
      line-height: 40px;
      // border-bottom: 1px solid rgb(60, 107, 202);
  }
  
  .one{
      width: 120px;
      mix-blend-mode:screen;
      // border: 1px solid #fff;
      margin-left: 411px;
      padding-top: 133px;

      @include mobile{
        margin: 0 auto;
      }
  
  }
  
  .one > li{
  
  }
  
  .two{
      // border: 1px solid purple;
      margin-left: 30px;
  }
  
  .two > li{
  
  }
  
  .ham_logo{
    // border: 1px solid rgb(127, 217, 242);
    position: absolute;
    left: 190px;
    top: 180px;

    @include mobile{
      left: 10px;
      top: 100px;
  
    }
  }
  
  .ham_pay{
    // border: 1px solid teal;
    position: absolute;
    right: 50px;
    top: 120px;
    @include mobile{
      right: 20px;
      top: 70px;
    }
  }
  
  .ham_member{
    // border: 1px solid teal;
    position: absolute;
    right: 100px;
    top: 50px;
    @include mobile{
      right: 70px;
      top: 20px;
    }
  
  }

  .hamLoginOut{
    // border: 1px solid red;
    color: #fff;
    position: absolute;
    right: 50px;
    top: 60px;

    @include mobile{
      right: 20px;
      top: 30px;
    }



    #hamL{
      // position: absolute;
      // right: 50px;
      // top: 0;
      display: block;
  
    }

    #hamO{
      background: none;
      color: #fff;
      border: 0;
      padding: 0;
      font-size: 20rem;
      font-weight: bold;
      cursor: pointer;
      // position: absolute;
      // right: 0;
      // top: 0;
      display: none;
  
    }
  }
  
  .ham_social{
    // border: 1px solid rgb(245, 255, 99);
    display: flex;
    margin-left: 210px;
    margin-top: 45px;
    z-index: 1;
    // z-index 需要position預設以外才可用
    position: relative;

    @include mobile{
      left: -188px;
      top: 0;
    }
  }
  
  .ham_ig{
    // border: 1px solid red;
    margin-right: 50px;

    @include mobile{
      margin-right: 25px;
    }
  }
  
  .ham_ytb{
    // border: 1px solid brown;
    margin-right: 50px;

    @include mobile{
      margin-right: 25px;
    }
  }
  
  .ham_fb{
    // border: 1px solid brown;
    margin-right: 50px;

    @include mobile{
      margin-right: 25px;
    }
  }
  
  .ham_twi{
    // border: 1px solid brown;
  
  }

  .headerCenter{
    padding-top: 77px;
    text-align: center;

    a{
      // display: inline-block;
    }

    img{
    }

    .headerSunLogo{
      
    }

    .headerMoonLogo{
      display: none;
    }
  }

  // header 右側區塊
  .headerRight{
    text-align: right;

    position: fixed;
    right: 50px;
    top: 50px;

    z-index: 100;

    @include mobile{
      right: -10px;
      top: 40px;
    
    }
  

    .sunPay{
      @include mobile{
        display: none !important;
      }
    }

    .moonPay{
      display: none;

      @include mobile{
        display: none !important;
      }
    }

    .switch{
      #sunSwitch{
        cursor: pointer;
        
          @include mobile{
            transform: rotate(-90deg);
          }
      }

      #moonSwitch{
        cursor: pointer;
        display: none;

        @include mobile{
          transform: rotate(-90deg);
        }
      }
    }
  }


  #go_top{
    position: fixed;
    z-index: 99;

    // display: block;
    display: none;
    width: 70px;

    right: 20px;
    bottom: 50px;

    &:hover{
      cursor: pointer;
    }
  }


}

