@import 'base/var';

@mixin mobile {
    @media(max-width:579px){
        @content
    }
}

.login{
    background-color: $sun_color;
    color: $moon_color;

    main{

        // border: 1px solid firebrick;
        // width: 1280px;
        margin: 0 auto;
        box-sizing: border-box;
        line-height: 1.6;
        letter-spacing: 3px;
    
        .wrapper{
            // border: 1px solid black;
            width: 1080px;
            margin: 0 auto;
            display: flex;

            @include mobile{
                width: 479px;
                
            }
        
            a{
                display: inline-block;
                text-decoration: none;
                color: $moon_color;
            }
        }
        
        p{
            margin-top: 17px;
            margin-left: -40px;
        
        }
        
        
        h3{
            margin-top: 62px;
            text-align: center;
            margin-bottom: 48px;

            @include mobile{
                font-size: 28rem;
                margin: 50px 0;
                
            }
        }
        
        .member_left{
            width: 1000px;
            margin: 0 auto;

            @include mobile{
                width: 459px;
                margin: 0 auto;
                
            }
        
            .loginMain{
                // border: 1px solid red;
                width: 1000px;
                margin: 0 auto;
                display: flex;
                justify-content: space-between;

                @include mobile{
                    display: block;
                    width: 459px;
                    margin: 0 auto;
                    text-align: center;
                }
            }
            
            .loginText{
                // border: 1px solid blue;
            
                .loginTextBottom{
                    // border: 1px solid firebrick;
                    text-align: center;
                }
            
                a{
                    // display: inline-block;
                    // text-decoration: none;
                    font-size: 24rem;
                    // border: 1px solid firebrick;
                }
            
                span{
                    font-size: 24rem;
                    margin: 0 45px;
                }
            
            }
            
            .loginForm{
                // border: 1px solid green;
            
                label{
                    font-size: 24rem;
                    display: inline-block;
                    margin-right: 40px;

                    @include mobile{
                        margin-bottom: 10px;
                        position: relative;
                        left: -145px;
                    }
                }
                
                input{
                    width: 300px;
                    height: 50px;
                    margin-bottom: 75px;
                    background-color: $sun_color;
                    border: 1px solid $moon_color;
                    padding-left: 10px;
                    font-size: 24rem;
                    box-sizing: border-box;

                    @include mobile{
                        width: 380px;
                        height: 60px;
                        margin-bottom: 50px;
                    }
                }
            
                .pwd{
                    margin-bottom: 0;
                }
            
                input:last-child{
                    margin-top: 60px;
                    font-size: 16rem;

                    @include mobile{
                       margin-top: 50px;
                       font-size: 25rem;
                    }
                }
                
                .btn{
                    background-color: $sun_color;
                    display: block;
                    width: 140px;
                    height: 50px;
                    text-align: center;
                    margin: 0 auto;
                    border: 1px solid $moon_color;
                    margin-bottom: 30px;
                    color: $moon_color;

                    @include mobile{
                        margin-bottom: 50px;
                        width: 300px;
                        height: 60px;
                        border-radius: 30px;
                        cursor: pointer;
                        color: $sun_color;
                        border: 1.5px solid $sun_color;
                        background-color: $moon_color;

                    }
        
                    &:hover{
                        cursor: pointer;
                        color: $sun_color;
                        border: 1.5px solid $sun_color;
                        background-color: $moon_color;
                    }
                }
            }
            
            .loginPic{
                // border: 1px solid #ccc;
                margin-bottom: 100px;
                text-align: center;

                @include mobile{
                    margin: 50px 0;
                }

                img{
                    @include mobile{
                        width: 380px;
                        
                    }
                }
            }
            
        }
        
        // 註冊區塊
        
        .member_right{
            // border: 1px solid forestgreen;
            display: none;
            width: 1000px;
            margin: 0 auto;

            @include mobile{
                width: 459px;
                margin: 0 auto;
                
            }
        
            .registerMain{
                // border: 1px solid red;
                width: 1000px;
                margin: 0 auto;
                display: flex;
                justify-content: space-between;

                @include mobile{
                    display: block;
                    width: 459px;
                    margin: 0 auto;
                    text-align: center;
                }

                // 手機版圖
                .registerPhonePic{
                    display: none;

                    @include mobile{
                        display: block;
                        margin-bottom: 50px;
                    }

                    img{
                        width: 380px;
                    }
                }

            }
            
            .registerPic{
                // border: 1px solid #ccc;
                margin-bottom: 100px;
                text-align: center;

                @include mobile{
                    margin: 50px 0;
                }

                img{
                    @include mobile{
                        width: 380px;
                        display: none;
                    }
                }
            }
            
            
            .registerText{
                // border: 1px solid blue;
            
                a{
                    font-size: 24rem;
                    // border: 1px solid firebrick;
                }
            }
            
            .registerForm{
                // border: 1px solid green;
                margin-left: 46px;

                @include mobile{
                    margin-left: 0;                    
                }
            
                label{
                    font-size: 24rem;
                    display: inline-block;
                    margin-right: 40px;

                    @include mobile{
                        margin-bottom: 10px;
                        position: relative;
                        left: -145px;
                    }
                }
                
                input{
                    width: 300px;
                    height: 50px;
                    margin-bottom: 42px;
                    background-color: $sun_color;
                    border: 1px solid $moon_color;
                    padding-left: 10px;
                    font-size: 24rem;
                    box-sizing: border-box;

                    @include mobile{
                        width: 380px;
                        height: 60px;
                        margin-bottom: 50px;
                    }
                }
            
                .name{
            
                }
            
                .phone{
            
                }
            
                .email{
            
                }
            
                .pwd{
            
                }
            
                .pwdSureText{
                    // margin-right: 21px;
                    margin-left: -47px;
        
                    @include mobile{
                        margin-left: 0;   
                        position: relative;
                        left: -118px;                 
                    }
                }
            
                .pwdSure{
                    margin-left: -7px;

                    @include mobile{
                        margin-left: 0;                    
                    }
                }
            
                .whantEmail{
                    width: 30px;
                    height: 30px;
                    text-align: center;
                    position: relative;
                    top: 7px;
                    color: $sun_color;
                }
            
                .whantEmailText{
                    font-size: 20rem;

                    @include mobile{
                        margin-left: 0;    
                        margin-bottom: 0;
                        position: static;                
                    }
                }
                .registerTextBottom{
                    text-align: center;
            
                    .btn{
                        background-color: $sun_color;
                        display: inline-block;
                        width: 140px;
                        height: 50px;
                        font-size: 16rem;
                        text-align: center;
                        border: 1px solid $moon_color;
                        margin-bottom: 100px;
                        color: $moon_color;

                        @include mobile{
                            margin-bottom: 50px;  
                            width: 300px;
                            height: 60px;
                            border-radius: 30px;
                            cursor: pointer;
                            color: $sun_color;
                            border: 1.5px solid $sun_color;
                            background-color: $moon_color;
                            font-size: 25rem;
                        }
        
                        &:hover{
                            cursor: pointer;
                            color: $sun_color;
                            border: 1.5px solid $sun_color;
                            background-color: $moon_color;
                        }
                    }
            
                    span{
                        display: inline-block;
                        width: 30px;

                        @include mobile{
                            display: block;
                        }
                    }
            
                    a{
                        font-size: 20rem;

                        @include mobile{
                            margin-bottom: 50px;
                            text-decoration: underline;
                        }
                    }
                }
            }
        }    
    }
    
}

.login_moon{
    @import 'base/moonColorSwitch';
    background-color: $sun_color;
    color: $moon_color;

    main{

        // border: 1px solid firebrick;
        // width: 1280px;
        margin: 0 auto;
        box-sizing: border-box;
        line-height: 1.6;
        letter-spacing: 3px;
    
        .wrapper{
            // border: 1px solid black;
            width: 1080px;
            margin: 0 auto;
            display: flex;

            @include mobile{
                width: 479px;
                
            }
        
            a{
                display: inline-block;
                text-decoration: none;
                color: $moon_color;
            }
        }
        
        p{
            margin-top: 17px;
            margin-left: -40px;
        
        }
        
        
        h3{
            margin-top: 62px;
            text-align: center;
            margin-bottom: 48px;

            @include mobile{
                font-size: 28rem;
                margin: 50px 0;
                
            }
        }
        
        .member_left{
            width: 1000px;
            margin: 0 auto;

            @include mobile{
                width: 459px;
                margin: 0 auto;
                
            }
        
            .loginMain{
                // border: 1px solid red;
                width: 1000px;
                margin: 0 auto;
                display: flex;
                justify-content: space-between;

                @include mobile{
                    display: block;
                    width: 459px;
                    margin: 0 auto;
                    text-align: center;
                }
            }
            
            .loginText{
                // border: 1px solid blue;
            
                .loginTextBottom{
                    // border: 1px solid firebrick;
                    text-align: center;
                }
            
                a{
                    // display: inline-block;
                    // text-decoration: none;
                    font-size: 24rem;
                    // border: 1px solid firebrick;
                }
            
                span{
                    font-size: 24rem;
                    margin: 0 45px;
                }
            
            }
            
            .loginForm{
                // border: 1px solid green;
            
                label{
                    font-size: 24rem;
                    display: inline-block;
                    margin-right: 40px;

                    @include mobile{
                        margin-bottom: 10px;
                        position: relative;
                        left: -145px;
                    }
                }
                
                input{
                    width: 300px;
                    height: 50px;
                    margin-bottom: 75px;
                    background-color: $sun_color;
                    border: 1px solid $moon_color;
                    padding-left: 10px;
                    font-size: 24rem;
                    box-sizing: border-box;

                    @include mobile{
                        width: 380px;
                        height: 60px;
                        margin-bottom: 50px;
                    }
                }
            
                .pwd{
                    margin-bottom: 0;
                }
            
                input:last-child{
                    margin-top: 60px;
                    font-size: 16rem;

                    @include mobile{
                       margin-top: 50px;
                       font-size: 25rem;
                    }
                }
                
                .btn{
                    background-color: $sun_color;
                    display: block;
                    width: 140px;
                    height: 50px;
                    text-align: center;
                    margin: 0 auto;
                    border: 1px solid $moon_color;
                    margin-bottom: 30px;
                    color: $moon_color;

                    @include mobile{
                        margin-bottom: 50px;
                        width: 300px;
                        height: 60px;
                        border-radius: 30px;
                        cursor: pointer;
                        color: $sun_color;
                        border: 1.5px solid $sun_color;
                        background-color: $moon_color;

                    }
        
                    &:hover{
                        cursor: pointer;
                        color: $sun_color;
                        border: 1.5px solid $sun_color;
                        background-color: $moon_color;
                    }
                }
            }
            
            .loginPic{
                // border: 1px solid #ccc;
                margin-bottom: 100px;
                text-align: center;

                @include mobile{
                    margin: 50px 0;
                }

                img{
                    @include mobile{
                        width: 380px;
                        
                    }
                }
            }
            
        }
        
        // 註冊區塊
        
        .member_right{
            // border: 1px solid forestgreen;
            display: none;
            width: 1000px;
            margin: 0 auto;

            @include mobile{
                width: 459px;
                margin: 0 auto;
                
            }
        
            .registerMain{
                // border: 1px solid red;
                width: 1000px;
                margin: 0 auto;
                display: flex;
                justify-content: space-between;

                @include mobile{
                    display: block;
                    width: 459px;
                    margin: 0 auto;
                    text-align: center;
                }

                // 手機版圖
                .registerPhonePic{
                    display: none;

                    @include mobile{
                        display: block;
                        margin-bottom: 50px;
                    }

                    img{
                        width: 380px;
                    }
                }

            }
            
            .registerPic{
                // border: 1px solid #ccc;
                margin-bottom: 100px;
                text-align: center;

                @include mobile{
                    margin: 50px 0;
                }

                img{
                    @include mobile{
                        width: 380px;
                        display: none;
                    }
                }
            }
            
            
            .registerText{
                // border: 1px solid blue;
            
                a{
                    font-size: 24rem;
                    // border: 1px solid firebrick;
                }
            }
            
            .registerForm{
                // border: 1px solid green;
                margin-left: 46px;

                @include mobile{
                    margin-left: 0;                    
                }
            
                label{
                    font-size: 24rem;
                    display: inline-block;
                    margin-right: 40px;

                    @include mobile{
                        margin-bottom: 10px;
                        position: relative;
                        left: -145px;
                    }
                }
                
                input{
                    width: 300px;
                    height: 50px;
                    margin-bottom: 42px;
                    background-color: $sun_color;
                    border: 1px solid $moon_color;
                    padding-left: 10px;
                    font-size: 24rem;
                    box-sizing: border-box;

                    @include mobile{
                        width: 380px;
                        height: 60px;
                        margin-bottom: 50px;
                    }
                }
            
                .name{
            
                }
            
                .phone{
            
                }
            
                .email{
            
                }
            
                .pwd{
            
                }
            
                .pwdSureText{
                    // margin-right: 21px;
                    margin-left: -47px;
        
                    @include mobile{
                        margin-left: 0;   
                        position: relative;
                        left: -118px;                 
                    }
                }
            
                .pwdSure{
                    margin-left: -7px;

                    @include mobile{
                        margin-left: 0;                    
                    }
                }
            
                .whantEmail{
                    width: 30px;
                    height: 30px;
                    text-align: center;
                    position: relative;
                    top: 7px;
                    color: $sun_color;
                }
            
                .whantEmailText{
                    font-size: 20rem;

                    @include mobile{
                        margin-left: 0;    
                        margin-bottom: 0;
                        position: static;                
                    }
                }
                .registerTextBottom{
                    text-align: center;
            
                    .btn{
                        background-color: $sun_color;
                        display: inline-block;
                        width: 140px;
                        height: 50px;
                        font-size: 16rem;
                        text-align: center;
                        border: 1px solid $moon_color;
                        margin-bottom: 100px;
                        color: $moon_color;

                        @include mobile{
                            margin-bottom: 50px;  
                            width: 300px;
                            height: 60px;
                            border-radius: 30px;
                            cursor: pointer;
                            color: $sun_color;
                            border: 1.5px solid $sun_color;
                            background-color: $moon_color;
                            font-size: 25rem;
                        }
        
                        &:hover{
                            cursor: pointer;
                            color: $sun_color;
                            border: 1.5px solid $sun_color;
                            background-color: $moon_color;
                        }
                    }
            
                    span{
                        display: inline-block;
                        width: 30px;

                        @include mobile{
                            display: block;
                        }
                    }
            
                    a{
                        font-size: 20rem;

                        @include mobile{
                            margin-bottom: 50px;
                            text-decoration: underline;
                        }
                    }
                }
            }
        }    
    }
    
}


