@import 'base/var';

@mixin mobile {
    @media(max-width:579px){
        @content
    }
}

.member{
    background-color: $sun_color;
    color: $moon_color;

    main{
        // border: 1px solid firebrick;
        // width: 1280px;
        margin: 0 auto;
        box-sizing: border-box;
        line-height: 1.6;
        letter-spacing: 3px;

        @include mobile{
            line-height: 24rem;
            
        }
    
        .wrapper{
            // border: 1px solid black;
            width: 1080px;
            margin: 0 auto;
            // display: flex;

            @include mobile{
                width: 479px;
                
            }
        
            a{
                display: inline-block;
                text-decoration: none;
                color: $moon_color;
            }
        }
        
        p{
            margin-top: 17px;
            // margin-left: 100px;
        
        }
        
        
        h3{
            margin-top: 62px;
            text-align: center;
            // margin-bottom: 48px;

            @include mobile{
                font-size: 28rem;
                
            }
        }
        
        .signOut{
            background-color: $sun_color;
            display: inline-block;
            width: 140px;
            height: 50px;
            font-size: 20rem;
            text-align: center;
            border: 1px solid $moon_color;
            float: right;
            margin-bottom: 62px;
            color: $moon_color;
        
            &:hover{
                cursor: pointer;
                color: $sun_color;
                border: 1.5px solid $sun_color;
                background-color: $moon_color;
            }
        
        }
        
        // 主區塊
        .memberPage{
            // border: 1px solid #0C1244;
            width: 1063px;
            margin: 0 auto;
        
            clear: both;
            display: flex;
            // height: 900px;
            border-radius: 0px 0px 46px 46px;

            @include mobile{
                width: 479px;
                
            }

        
            li{
                font-size: 24rem;
                width: 355px;
                height: 100px;
                border-radius: 29px 29px 0 0;
                border: 1px solid $moon_color;
                text-align: center;
                line-height: 100px;
                justify-items: center;
                color: $moon_color;

                @include mobile{
                    width: 160px; 
                    height: 54px;
                    font-size: 20rem;
                }
    
        
                a{
                    display: block;
                    text-align: center;
            
                }
        
                :hover{
                    color: $sun_color;
                    background-color: $moon_color;
                    border-radius: 29px 29px 0 0;
                }
        
            }
        }
        
        .memberPage > li.active a{
            color: $sun_color;
            background-color: $moon_color;
            border-radius: 29px 29px 0 0;
        
        }
        
        // 第1分頁
        .basicData{
            // clear: both;
            width: 1061px;
            margin: 0 auto;
            height: 850px;
            text-align: center;
            border-radius: 0px 0px 46px 46px;
            border-left: 1px solid $moon_color;
            border-right: 1px solid $moon_color;
            border-bottom: 1px solid $moon_color;
            padding-top: 100px;
            margin-bottom: 100px;

            @include mobile{
                width: 476px;
                
            }

        
            //先消失
            // display: none;
        
            .memberPic{

               @include mobile{
                width: 150px;
                
            }
            }
            
            .memberForm{
                
            }
            
            label{
                font-size: 24rem;
                margin-right: 27px;

                @include mobile{
                    font-size: 25rem;
                    margin-right: 10px;
                }

            }
            
            input{
                margin-bottom: 23px;
                width: 400px;
                height: 50px;
                background-color: $sun_color;
                border: 1px solid $moon_color;
                padding-left: 10px;
                font-size: 24rem;

                @include mobile{
                    width: 330px;
                    
                }
    
                
            }
        
            input[type="file"] {
                position: fixed;
                right: 100%;
                bottom: 100%;
            }

            .custom-file-upload {
                // border: 1px solid #ccc;
                display: inline-block;
                // padding: 6px 12px;
                cursor: pointer;
                margin-right: 0;
                position: relative;
                top: -7px;
                width: 292px;
                background-color: $moon_color;
                color: $sun_color;
                margin-bottom: 50px;

                @include mobile{
                    width: 150px;
                    margin-bottom: 20px;
                    font-size: 20rem;
                }
            }
            
            .memberFile{
                border: 0;
            }
        
            .memberPhone{
                margin-bottom: 0;
            }
        
            .sure{
                margin-top: 51px;
                margin-bottom: 10px;
            }
        
            .btn{
                background-color: $sun_color;
                display: inline-block;
                width: 140px;
                height: 50px;
                font-size: 16rem;
                text-align: center;
                border: 1px solid $moon_color;
                color: $moon_color;
            
                &:hover{
                    cursor: pointer;
                    color: $sun_color;
                    border: 1.5px solid $sun_color;
                    background-color: $moon_color;
                }
            }
        }
        
        // 第2分頁
        .changePwd{
            display: none;
            text-align: center;
            width: 1061px;
            margin: 0 auto;
            height: 850px;
            border-radius: 0px 0px 46px 46px;
            border-left: 1px solid $moon_color;
            border-right: 1px solid $moon_color;
            border-bottom: 1px solid $moon_color;
            padding-top: 100px;
            margin-bottom: 100px;

            @include mobile{
                width: 476px;
                
            }

        
            .pwdForm{
        
        
                label{
                    font-size: 24rem;
                    margin-right: 47px;
        
                }
        
                .pfSureText{
                    margin-left: -24px;
                }
        
                input{
                    width: 400px;
                    height: 50px;
                    margin-bottom: 23px;
                    background-color: $sun_color;
                    border: 1px solid $moon_color;
                    padding-left: 10px;
                    font-size: 24rem;
                }
        
                .btn{
                    background-color: $sun_color;
                    display: inline-block;
                    width: 140px;
                    height: 50px;
                    font-size: 16rem;
                    text-align: center;
                    border: 1px solid $moon_color;
                    color: $moon_color;
        
                    &:hover{
                        cursor: pointer;
                        color: $sun_color;
                        border: 1.5px solid $sun_color;
                        background-color: $moon_color;
                    }
                }
        
                .pfSure{
                    // margin-bottom: 0;
                    margin-bottom: 51px;
                }
        
                .pfYes{
                    margin-bottom: 10px;
                }
            }
        
        
        
        }
        
        // 第3分頁
        .orderCheck{
            display: none;
            width: 1061px;
            margin: 0 auto;
            height: 850px;
            border-radius: 0px 0px 46px 46px;
            border-left: 1px solid $moon_color;
            border-right: 1px solid $moon_color;
            border-bottom: 1px solid $moon_color;
            padding-top: 100px;
            margin-bottom: 100px;

            @include mobile{
                width: 476px;
                
            }

        
            table{
                border: 1px solid $moon_color;
                width: 960px;
                margin: 0 auto;
                font-size: 20rem;

                @include mobile{
                    width: 476px;
                    
                }
    
        
                thead{
                    tr{
                        th{
                            // border: 1px solid #0C1244;
                            border-bottom: 1px solid $moon_color;
                            line-height: 50px;

                            @include mobile{
                                line-height: 48px;                                
                            }
                        }

                        @include mobile{
                            .none{
                                display: none;
                            }

                            
                        }
        
                    }
                }
        
                tbody{
        
                    tr{
                        text-align: center;
        
                        td{
                            // border: 1px solid #0C1244;
                            line-height: 50px;
                            @include mobile{
                                line-height: 48px;                                
                            }

        
                            input{
                                width: 80px;
                                height: 30px;
                                font-size: 12rem;
                                background-color: $sun_color;
                                border: 1px solid $moon_color;
                                color: $moon_color;
                                
                                &:hover{
                                    cursor: pointer;
                                    color: $sun_color;
                                    border: 1.5px solid $sun_color;
                                    background-color: $moon_color;
                                }
                                
                            }
                        }
                    }
                }
                
            }
            
            // 訂單明細彈窗 
            .orderDetail{
                // border-collapse:collapse;
                border-spacing:0;
                display: none;
                margin-top: 20px;

                h6{
                    display: inline-block;
                }

                span{
                    color: #FFAC0C;
                }
                
                // thead
                .odTitle{
                    border-color:inherit;
                    text-align:center;
                    vertical-align:top;
                    font-size: 0;

                    position: relative;

                    h5{
                        background-color: $moon_color;
                        color: $sun_color;
                        width: 980px;
                        height: 50px;

                    }

                    i{
                        // border: 1px solid red;
                        display: inline-block;
                        position: absolute;
                        right: 30px;
                        top: 25px;
                        font-size: 20rem;
                        color: $sun_color;
                        cursor: pointer;
                    }

                    p{
                        display: inline-block;
                        font-weight: bold;
                        
                    }

                    h6{
                        display: inline-block;
                    }
                    
                }

                td{
                    border:1px solid $moon_color;
                    padding:10px 5px;
                    vertical-align: middle;
                }

                th{
                    border:1px solid $moon_color;
                    padding:10px 5px;
                }

                .odTitle2{
                    text-align:center;
                }

                // tfoot
                .odFoot{
                    text-align:right;
                    vertical-align:top;
 
                    .odFootLittle{
                        // border: 1px solid teal;
                        width: 270px;
                        margin-left: auto;
                        text-align: left;

                        p{
                            margin-left: 0;
                        }
                    }

                    .footTitle{
                        display: inline-block

                    }

                    span{
                        letter-spacing: normal;
                        
                    }

                    .discountCode{
                        border: 1px solid $moon_color;
                        color: $moon_color;
                    }

                    .discount{
                        color: #FF4444;
                    }
                }
            }
        }
    }
    
}

.member_moon{
    @import 'base/moonColorSwitch';
    background-color: $sun_color;
    color: $moon_color;

    main{
        // border: 1px solid firebrick;
        // width: 1280px;
        margin: 0 auto;
        box-sizing: border-box;
        line-height: 1.6;
        letter-spacing: 3px;
    
        .wrapper{
            // border: 1px solid black;
            width: 1080px;
            margin: 0 auto;
            // display: flex;
        
            a{
                display: inline-block;
                text-decoration: none;
                color: $moon_color;
            }
        }
        
        p{
            margin-top: 17px;
            // margin-left: 100px;
        
        }
        
        
        h3{
            margin-top: 62px;
            text-align: center;
            // margin-bottom: 48px;
        }
        
        .signOut{
            background-color: $sun_color;
            display: inline-block;
            width: 140px;
            height: 50px;
            font-size: 20rem;
            text-align: center;
            border: 1px solid $moon_color;
            float: right;
            margin-bottom: 62px;
            color: $moon_color;
        
            &:hover{
                cursor: pointer;
                color: $sun_color;
                border: 1.5px solid $sun_color;
                background-color: $moon_color;
            }
        
        }
        
        // 主區塊
        .memberPage{
            // border: 1px solid #0C1244;
            width: 1063px;
            margin: 0 auto;
        
            clear: both;
            display: flex;
            // height: 900px;
            border-radius: 0px 0px 46px 46px;
        
            li{
                font-size: 24rem;
                width: 355px;
                height: 100px;
                border-radius: 29px 29px 0 0;
                border: 1px solid $moon_color;
                text-align: center;
                line-height: 100px;
                justify-items: center;
                color: $moon_color;
        
                a{
                    display: block;
                    text-align: center;
            
                }
        
                :hover{
                    color: $sun_color;
                    background-color: $moon_color;
                    border-radius: 29px 29px 0 0;
                }
        
            }
        }
        
        .memberPage > li.active a{
            color: $sun_color;
            background-color: $moon_color;
            border-radius: 29px 29px 0 0;
        
        }
        
        // 第1分頁
        .basicData{
            // clear: both;
            width: 1061px;
            margin: 0 auto;
            height: 850px;
            text-align: center;
            border-radius: 0px 0px 46px 46px;
            border-left: 1px solid $moon_color;
            border-right: 1px solid $moon_color;
            border-bottom: 1px solid $moon_color;
            padding-top: 100px;
            margin-bottom: 100px;
        
            //先消失
            // display: none;
        
            .memberPic{
               
            }
            
            .memberForm{
                
            }
            
            label{
                font-size: 24rem;
                margin-right: 27px;
                
            }
            
            input{
                margin-bottom: 23px;
                width: 400px;
                height: 50px;
                background-color: $sun_color;
                border: 1px solid $moon_color;
                padding-left: 10px;
                font-size: 24rem;
                
            }
        
            input[type="file"] {
                position: fixed;
                right: 100%;
                bottom: 100%;
            }

            .custom-file-upload {
                border: 1px solid #ccc;
                display: inline-block;
                // padding: 6px 12px;
                cursor: pointer;
                margin-right: 0;
                position: relative;
                top: -7px;
                width: 290px;
                background-color: $moon_color;
                color: $sun_color;
                margin-bottom: 50px;
            }
            
            .memberFile{
                border: 0;
            }
        
            .memberPhone{
                margin-bottom: 0;
            }
        
            .sure{
                margin-top: 51px;
                margin-bottom: 10px;
            }
        
            .btn{
                background-color: $sun_color;
                display: inline-block;
                width: 140px;
                height: 50px;
                font-size: 16rem;
                text-align: center;
                border: 1px solid $moon_color;
                color: $moon_color;
            
                &:hover{
                    cursor: pointer;
                    color: $sun_color;
                    border: 1.5px solid $sun_color;
                    background-color: $moon_color;
                }
            }
        }
        
        // 第2分頁
        .changePwd{
            display: none;
            text-align: center;
            width: 1061px;
            margin: 0 auto;
            height: 850px;
            border-radius: 0px 0px 46px 46px;
            border-left: 1px solid $moon_color;
            border-right: 1px solid $moon_color;
            border-bottom: 1px solid $moon_color;
            padding-top: 100px;
            margin-bottom: 100px;
        
            .pwdForm{
        
        
                label{
                    font-size: 24rem;
                    margin-right: 47px;
        
                }
        
                .pfSureText{
                    margin-left: -24px;
                }
        
                input{
                    width: 400px;
                    height: 50px;
                    margin-bottom: 23px;
                    background-color: $sun_color;
                    border: 1px solid $moon_color;
                    padding-left: 10px;
                    font-size: 24rem;
                }
        
                .btn{
                    background-color: $sun_color;
                    display: inline-block;
                    width: 140px;
                    height: 50px;
                    font-size: 16rem;
                    text-align: center;
                    border: 1px solid $moon_color;
                    color: $moon_color;
        
                    &:hover{
                        cursor: pointer;
                        color: $sun_color;
                        border: 1.5px solid $sun_color;
                        background-color: $moon_color;
                    }
                }
        
                .pfSure{
                    // margin-bottom: 0;
                    margin-bottom: 51px;
                }
        
                .pfYes{
                    margin-bottom: 10px;
                }
            }
        
        
        
        }
        
        // 第3分頁
        .orderCheck{
            display: none;
            width: 1061px;
            margin: 0 auto;
            height: 850px;
            border-radius: 0px 0px 46px 46px;
            border-left: 1px solid $moon_color;
            border-right: 1px solid $moon_color;
            border-bottom: 1px solid $moon_color;
            padding-top: 100px;
            margin-bottom: 100px;
        
            table{
                border: 1px solid $moon_color;
                width: 960px;
                margin: 0 auto;
                font-size: 20rem;
        
                thead{
                    tr{
                        th{
                            // border: 1px solid #0C1244;
                            border-bottom: 1px solid $moon_color;
                            line-height: 50px;
                        }
                    }
                }
        
                tbody{
        
                    tr{
                        text-align: center;
        
                        td{
                            // border: 1px solid #0C1244;
                            line-height: 50px;
        
                            input{
                                width: 80px;
                                height: 30px;
                                font-size: 12rem;
                                background-color: $sun_color;
                                border: 1px solid $moon_color;
                                color: $moon_color;
                                
                                &:hover{
                                    cursor: pointer;
                                    color: $sun_color;
                                    border: 1.5px solid $sun_color;
                                    background-color: $moon_color;
                                }
                                
                            }
                        }
                    }
                }
                
            }
            
            // 訂單明細彈窗 
            .orderDetail{
                // border-collapse:collapse;
                border-spacing:0;
                

                h6{
                    display: inline-block;
                }

                span{
                    color: #FFAC0C;
                }
                
                // thead
                .odTitle{
                    border-color:inherit;
                    text-align:center;
                    vertical-align:top;
                    font-size: 0;

                    h5{
                        background-color: $moon_color;
                        color: $sun_color;
                        width: 980px;
                        height: 50px;

                    }

                    p{
                        display: inline-block;
                        font-weight: bold;
                        
                    }

                    h6{
                        display: inline-block;
                    }
                    
                }

                td{
                    border:1px solid $moon_color;
                    padding:10px 5px;
                    vertical-align: middle;
                }

                th{
                    border:1px solid $moon_color;
                    padding:10px 5px;
                }

                .odTitle2{
                    text-align:center;
                }

                // tfoot
                .odFoot{
                    text-align:right;
                    vertical-align:top;
 
                    .odFootLittle{
                        // border: 1px solid teal;
                        width: 270px;
                        margin-left: auto;
                        text-align: left;

                        p{
                            margin-left: 0;
                        }
                    }

                    .footTitle{
                        display: inline-block

                    }

                    span{
                        letter-spacing: normal;
                        
                    }

                    .discountCode{
                        border: 1px solid $moon_color;
                        color: $moon_color;
                    }

                    .discount{
                        color: #FF4444;
                    }
                }
            }
        }
    }
    
}

