// 引入其他檔案 
// @import 'base/var';


body{
    background-color: #F5F0DD;
    border: 1px solid black;
    color: #0C1244;
    // box-sizing: border-box;
}

main{
    border: 1px solid firebrick;
    // width: 1280px;
    margin: 0 auto;
    // background-color: #F5F0DD;
    color: #0C1244;
}

.wrapper{
    border: 1px solid black;
    width: 1080px;
    margin: 0 auto;
    // display: flex;

    a{
        display: inline-block;
        text-decoration: none;
        color: #0C1244;
    }
}

p{
    margin-top: 17px;
    // margin-left: 100px;

}


h3{
    margin-top: 62px;
    text-align: center;
    // margin-bottom: 48px;
}

.signOut{
    background-color: #F5F0DD;
    display: inline-block;
    width: 140px;
    height: 50px;
    font-size: 20rem;
    text-align: center;
    border: 1px solid #0C1244;
    float: right;
    margin-bottom: 62px;

}

// 主區塊
.memberPage{
    // border: 1px solid #0C1244;
    width: 1063px;
    margin: 0 auto;

    clear: both;
    display: flex;
    // height: 900px;
    border-radius: 0px 0px 46px 46px;

    li{
        font-size: 24rem;
        width: 355px;
        height: 100px;
        border-radius: 29px 29px 0 0;
        border: 1px solid #0C1244;
        text-align: center;
        line-height: 100px;
        justify-items: center;
        color: #0C1244;


        a{
            display: block;
            text-align: center;
    
        }

        :hover{
            color: #F5F0DD;
            background-color: #0C1244;
            border-radius: 29px 29px 0 0;
        }

    }
}

.memberPage > li.active a{
    color: #F5F0DD;
    background-color: #0C1244;
    border-radius: 29px 29px 0 0;

}

// 第1分頁
.basicData{
    // clear: both;
    width: 1063px;
    margin: 0 auto;
    height: 500px;
    text-align: center;

    border-left: 1px solid #0C1244;
    border-right: 1px solid #0C1244;
    border-bottom: 1px solid #0C1244;
    padding-top: 100px;

    //先消失
    // display: none;

    .memberForm{

    }

    label{
        font-size: 24rem;
        margin-right: 27px;

    }

    input{
        margin-bottom: 23px;
        width: 400px;
        height: 50px;
    }

    .memberPhone{
        margin-bottom: 0;
    }

    .sure{
        margin-top: 51px;
        margin-bottom: 10px;
    }

    .btn{
        background-color: #F5F0DD;
        display: inline-block;
        width: 140px;
        height: 50px;
        font-size: 16rem;
        text-align: center;
        border: 1px solid #0C1244;
    
    }
}


// 第2分頁
.changePwd{
    display: none;
    text-align: center;
    width: 1063px;
    margin: 0 auto;
    height: 500px;

    border-left: 1px solid #0C1244;
    border-right: 1px solid #0C1244;
    border-bottom: 1px solid #0C1244;
    padding-top: 100px;

    .pwdForm{


        label{
            font-size: 24rem;
            margin-right: 47px;

        }

        .pfSureText{
            margin-left: -24px;
        }

        input{
            width: 400px;
            height: 50px;
            margin-bottom: 23px;

        }

        .btn{
            background-color: #F5F0DD;
            display: inline-block;
            width: 140px;
            height: 50px;
            font-size: 16rem;
            text-align: center;
            border: 1px solid #0C1244;

        }

        .pfSure{
            // margin-bottom: 0;
            margin-bottom: 51px;
        }

        .pfYes{
            margin-bottom: 10px;
        }
    }



}


// 第3分頁
.orderCheck{
    display: none;
    width: 1063px;
    margin: 0 auto;
    height: 500px;

    border-left: 1px solid #0C1244;
    border-right: 1px solid #0C1244;
    border-bottom: 1px solid #0C1244;
    padding-top: 100px;

    table{
        border: 1px solid #0C1244;
        width: 960px;
        margin: 0 auto;
        font-size: 20rem;

        thead{
            tr{
                th{
                    // border: 1px solid #0C1244;
                    border-bottom: 1px solid #0C1244;
                    
                    line-height: 50px;
                }
            }
        }

        tbody{

            tr{
                text-align: center;

                td{
                    // border: 1px solid #0C1244;
                    line-height: 50px;

                    input{
                        width: 80px;
                        height: 30px;
                        font-size: 12rem;
                        background-color: #F5F0DD;
                        border: 1px solid #0C1244;


                    }
                }
            }
        }

    }
}