

@mixin mobile{
    @media(max-width:576px){
        @content
    }
};

@mixin circle{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 1px solid #0C1244;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    h4:last-Child{
        margin-bottom: 20px;
    }
    @include mobile{
        width: 75px;
        height: 75px;
        h4{
            font-size: 16px;
        }
    }
};

body{
    background-color: #F5F0DD;
    section{
        h2{
            text-align: center;
            @include mobile{
                margin-top: 50px;
                margin-bottom: 20px;
            }
        }
        h3{
            text-align: center;
            margin: 50px 0;
        }
    }
    .shoppingProcess{
        width: 1180px;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin:  0 auto;
        @include mobile{
            width: 100%;
            height: 110px;
        }
        img{
            width: 80px;
            height: 24px;
            margin: 0 40px;
            @include mobile{
                width: 25px;
                height: 15px;
                margin: 0;
            }
        }
        .chooseAdate{
            @include circle;
        }
        .chooseAtrip{
            @include circle;
        }
        .tallyOrder{
            @include circle;
            background-color: #0C1244;
            color:#F5F0DD
        }
        .orderComplete{
            @include circle;
        }
        //步驟區塊結束
    }


    .bigList{
        width: 1000px;
        height: auto;
        border:2px solid #0C1244;
        margin: 50px auto;
        @include mobile{
            width: 98%;
            height: 100%
        }
        .ListTitle{
            margin: 0px auto;
            width: 980px;
            height: 50px;
            line-height: 50px;
            text-align: center;
            background-color: #0C1244;
            color: #F5F0DD;
            font-size: 20px;
            @include mobile{
                width: 98%;
                height: 100%;

            }
        }
        .ListDate{
            display: flex;
            list-style: none;
            justify-content: center;
            margin: 20px;
            @include mobile{
                margin: 10px;
            }

            li{
                margin-right: 20px;
                font-size: 16px;
                font-weight: bolder;
                display: flex;
                align-items: center;
                @include mobile{
                    margin-right: 7px;
    
                }
            }
            li:first-Child{
                font-weight: bolder;
                font-size: 16px;
            }
            
        }
        table{
            width: 99%;
            height: auto;
            margin: 0 auto;
            align-content: center;
            border: 1px solid #0C1244;
            th{
                height: 50px;
                line-height: 50px;
                font-weight: bolder;
                border: 1px solid #0C1244;
            }
            td{
                border: 1px solid #0C1244;
                height: 100px; 
                vertical-align:middle;
            }
            td:first-child{
                text-align: center;
                vertical-align:middle;
            }
            ul{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                // grid-auto-rows: 33px;
                // display: flex;
                // text-align: center;
                // justify-content: space-between;
                @include mobile{
                    display: block;
                }
                li{
                    margin: 7px;
                    text-align: center;
                }
                li:last-child{
                    color: #FFBF44;
                    border-left: none;
                }
            }
        }
        .totalBlock{
            margin:  40px 20px;
            display: flex;
            justify-content:flex-end;
            align-content: center;
            height: 150px;
            .totalTitle{
                font-weight: bolder;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                font-size: 19.5px;
            }
            .totalPrice{
                font-weight: bolder;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                line-height: 12px;
                text-align: center;
                span{
                    color: #FFBF44;
                    font-size: 20px;
                }
                #couponPrice{
                    color: #FF4444;
                }
            }
        
        }
    }
    .payBlock{
        width: 750px;
        margin: 0 auto;
        @include mobile{
            width: 98%;
            height: 100%
        }
        
        h5{
            margin-top: 15px;
        }
        #payEmail{
            width: 450px;
            height: 50px;
            background-color: #F5F0DD;
            font-size: 24px;
            @include mobile{
                width: 90%;
            }
            
        }
        .mailAndPhone{
            display: flex;
            @include mobile{
                display: block;
            }
            .email{
                margin-right: 50px;
                @include mobile{
                    margin-right: 0;
                }
            }
        }
        #payPhoneNumber{
            width: 200px;
            height: 50px;
            background-color: #F5F0DD;
            font-size: 24px;
        }
        .nameBlock{
            display: flex;
            align-items: center;
            padding-bottom: 40px;
            @include mobile{
                padding-bottom: 0px;
            }
            .firstName{
                margin-right: 50px;
                @include mobile{
                    margin-right: 10px;
                }
            }
            #firstName{
                width: 200px;
                height: 50px;
                background-color: #F5F0DD;
                font-size: 20px;
                @include mobile{
                    width: 150px;
                }
            }
            .lastName{
                margin-right: 50px;
                @include mobile{
                    margin-right: 0px;
                }
                
            }
            #lastName{
                width: 200px;
                height: 50px;
                background-color: #F5F0DD;
                font-size: 20px;
                @include mobile{
                    margin-right: 0px;
                    width: 180px;
                }
            }
            .payWay{
                @include mobile{
                    display: none;
                }
            }
            #payWay{
                width: 200px;
                height: 50px;
                background-color: #F5F0DD;
                font-size: 20px;
                text-align: center;
                text-align-last:center
            }

        }
        .payWayMobile{
            display: none;
            margin-bottom: 20px;
            @include mobile{
                display: block;
                #payWayMobileUse{
                    width: 200px;
                    height: 50px;
                    background-color: #F5F0DD;
                    font-size: 20px;
                    text-align: center;
                }
            }
        }
        .creditCardBlock{
            margin-top: 50px;
            border-top: 1px solid #0C1244;
            input{
                width: 150px;
                height: 50px;
                background-color: #F5F0DD;
                @include mobile{
                    width: 70px;
                    height: 40px;
                }
            }
            h4{
                width: 150px;
                height: 50px;
                background-color: #0C1244;
                color: #F5F0DD;
                text-align: center;
                line-height: 50px;
                margin-top: 30px;
                margin-bottom: 10px;
            }
            .creditCardNums{
                
                input{
                    margin-right: 10px;
                    text-align: center;
                }
            }
            .expAndScode{
                display: flex;
                margin-bottom: 20px;
                .exp{
                    margin-right: 16px;
                }
            }

        }
        .directions{
            .agreeListOne{
                display: flex;
                margin-top: 20px;
            }
            .agreeListTwo{
                display: flex;
                margin: 20px 0;
            }
        }
    }
    #FinishPage{
        display: block;
        width: 140px;
        height: 50px;
        text-align: center;
        line-height: 50px;
        background-color:#F5F0DD;
        border:1px solid #0C1244;
        margin: 50px auto;
        @include mobile{
            margin-top: 20px;
            width: 300px;
            height: 60px;
            border-radius: 30px;
        }
        &:hover{
            color:#F5F0DD;
            background-color:#0C1244;
            border:1px solid #F5F0DD;
        }
    }

}