@import 'base/var';

@mixin mobile{
    @media(max-width:576px){
        @content
    }
};

@mixin circle{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 1px solid $moon_color;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    h4:last-Child{
        margin-bottom: 20px;
    }
};


.bodyCover{
    height: 100vh;
    width: 100vw;
    background-color: rgba($color: #000000, $alpha: 0.5);
    color: rgba($color: #000000, $alpha:.5);
    position: fixed;
    display: none;
    top: 0;
}

.tripChoose{
    background-color:$sun_color;
    color: $moon_color;
    select{
        background-color: $sun_color;
        border: 1px solid $moon_color;
        color: $moon_color;
    }
    input{
        border: 1px solid $moon_color;
        color: $moon_color;
    }
    button{
        color: $moon_color;
    }
    .addfadein{
        width: 12vw;
        height: 10vh;
        position:fixed;
        background-color: $moon_color;
        color: $sun_color ;
        border: 1px solid $moon_color;
        top: 50%;
        left:50%;
        transform: translate(-50%,-50%);
        text-align: center;
        line-height: 10vh;
        font-size: 16px;
        border-radius: 22px;
        opacity: 0;
        .fa-regular{
            margin-left: 10px;
        }
        
    }
    @mixin circle{
        width: 150px;
        height: 150px;
        border-radius: 50%;
        border: 1px solid $moon_color;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        h4:last-Child{
            margin-bottom: 20px;
        }
    };
    span{
        font-size: 16px;
    }
    section{
        h2{
            text-align: center;
        }
        h3{
            text-align: center;
            margin: 50px 0;
        }
    }
    .shoppingProcess{
        width: 1180px;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin:  0 auto;
        img{
            width: 80px;
            height: 24px;
            margin: 0 40px;
        }
        .chooseAdate{
            @include circle;
        }
        .chooseAtrip{
            @include circle;
            background-color: $moon_color;
            color:$sun_color
        }
        .tallyOrder{
            @include circle;
        }
        .orderComplete{
            @include circle;
        }
        //步驟區塊結束

    }
    //日期區塊
    .datePickerBox{
        width:980px;
        height: auto;
        margin: 50px auto;
        // border: 1px solid $moon_color;
        position: relative;

        .dateTitle{
            p{
                margin: 20px;
                
            }
            i{
                position: absolute;
                width: 30px;
                height: 30px;
                right: 20px;
                top: 20px;
                
            }
        }
        .pickerBox{
            text-align: center;
            width: 100%;
            // border-top: 1px solid $moon_color;
            display: flex;
            flex-wrap: wrap;
            .daysbutton{
                width: 130px;
                margin: 5px;
                font-size: 16px;
                img{
                    width: 90px;
                }
                select{
                    width: 115px;
                }
                
            }
        }

    }
    .ListSmall{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $moon_color;
        color: $sun_color;
        writing-mode: vertical-lr;
        width: 50px;
        height: 170px;
        position: fixed;
        right: 0;
        top: 10%;
        font-size: 20px;
        text-align: center;
        cursor: pointer;
        .circle{
            width: 20px;
            height: 20px;
            border-radius: 50%;
            border:1px solid $sun_color;
            color: $sun_color;
            line-height: 20px;
            margin-top: 10px;
            transition: all 1s;
            margin-left: 4px;
        }
    }
    .BigList{
        width:0px;
        height: 100vh;
        background-color:$sun_color;
        border:2px solid $moon_color;
        transition: all 2s;
        right: 3%;
        top: 0%;
        position: fixed;
        display: none;
        z-index: 1;
        overflow-y: auto;
        span{
            font-weight: bolder;
        }
        h6{
            font-weight: bolder;
            margin-left: 10px;
        }

        .leftButton{
            width: 8px;
            height: 8px;
            margin-right: 0px;
            cursor: pointer;
        }
        .rightButton{
            width: 8px;
            height: 8px;
            margin-left: 6px;
            cursor: pointer;
        }
        .deleteButton{
            width: 16px;
            cursor: pointer;
        }
        p{
            font-weight: bolder;
            margin: 10px;
        }
        .ListTitle{
            width: 260px;
            height: 50px;
            margin: 0 auto;
            background-color: $moon_color;
            color: $sun_color;
            text-align: center;
            line-height: 50px;
        }
        .tripAndDate{
            border-bottom: 1px solid $moon_color;
            padding: 10px;

            input{
                width: 200px;
                background-color: $sun_color;
            }
        }
        ul{
            display: flex;
            justify-content: safe;
            align-items: center;
            flex-grow: 1;
            margin: 10px 0;
            li{
               align-content: center;
            }
            li:first-Child{
                text-align: center;
                width: 150px;
                overflow: auto;
            }
            li:nth-Child(2){
                width: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
            }
            li:nth-Child(3){
                width: 60px;
                text-align: center;
            }
            li:nth-Child(4){
                width: 50px;
                text-align: center;
                img{
                    width: 20px;
                    cursor: pointer;
                }
            }
        }
        .tripList{
            border-bottom: 1px solid $moon_color;
        }
        .FoodList{
            border-bottom: 1px solid $moon_color;
        }
        .StayList{
            border-bottom: 1px solid $moon_color;
        }
        .totalBlock{
            margin:  20px 20px;
            display: flex;
            justify-content: space-between;
            align-content: center;
            .totalTitle{
                font-weight: bolder;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                span{
                    font-size: 16px;
                }
            }
            .totalPrice{
                font-weight: bolder;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                line-height: 20.5px;
                text-align: center;
                span{
                    font-size: 20px;
                    color: #FFBF44;
                }
                #couponPrice{
                    color: #FF4444;
                }
            }
        }
    }
    
    .tripChooseBlock{
        width: 1000px;
        height: 676px;
        border:2px solid $moon_color;
        margin: 50px auto;
        border-top-left-radius: 22px;
        border-top-right-radius: 22px;

        .itineraryTitle{
            display: flex;
            justify-content: center;
            position: relative;
            height: 66px;
            align-items: center;
            .chooseDate{
                position: absolute;
                right: 10%;
                top: 25%;
            }
            select{
                position: absolute;
                left: 10%;
                top: 25%;
                height: 35px;
                border-radius: 22px;
                text-align: center;
            }
        }
        .morningItineraryA{
            display: flex;
            justify-content: space-around;
            align-items: center;
            border-top: 2px solid $moon_color;
            padding: 15px;
            .morningTime{
                width: 120px;

            }
            .morningBlockA{
                border:1px solid $moon_color;
                display: flex;
                width: 700px;
                height: 170px;
                border-radius: 22px;

                #morningImg{
                    margin:22px 15px;
                    width: 170px;
                    height: 120px;
                    line-height: 120px;
                    border-radius: 21px;
                }
                .morningBlockB{
                    margin: 5px auto;

                    .optionBlockA{
                        display: flex;
                        width: 400px;
                        justify-content: center;
                        margin: 10px;
                        select{
                            width: 180px;
                            height: 38px;
                            border-radius: 22px;
                            background-color: $sun_color;
                            margin-right: 20px;
                            text-align: center;
                        }
                        #tripPriceA{
                            border: 1px solid $moon_color;
                            width: 170px;
                            height: 35px;
                            border-radius: 22px;
                            text-align: center;
                            line-height: 35px;
                        }
                    }
                    #itineraryText{
                        width: 440px;
                    }
                }

            }
            #addItineraryM{
                width: 35px;
                height: 35px;
                opacity: 0.1;
                cursor: not-allowed;
                transition: all 1s;
            }
        }
        .noonItinerary{
            display: flex;
            justify-content: space-around;
            align-items: center;
            border-top: 1px solid $moon_color;
            padding: 15px;
            img{
                width: 120px;
            }
            .noonBlockA{
                border:1px solid $moon_color;
                display: flex;
                width: 700px;
                height: 170px;
                border-radius: 22px;
                
                #noonImg{
                    margin:22px 15px;
                    width: 170px;
                    height: 120px;
                    line-height: 120px;
                    border-radius: 21px;
                }
                .noonBlockB{
                    margin: 5px auto;
                    .optionBlockB{
                        display: flex;
                        width: 400px;
                        justify-content: center;
                        margin: 10px;
                        select{
                            width: 180px;
                            height: 38px;
                            border-radius: 22px;
                            background-color: $sun_color;
                            margin-right: 20px;
                            text-align: center;
                        }
                        #tripPriceB{
                            border: 1px solid $moon_color;
                            width: 170px;
                            height: 35px;
                            border-radius: 22px;
                            text-align: center;
                            line-height: 35px;
                        }
                    }
                    #itineraryTextB{
                        width: 440px;
                    }
                }

            }
            #addItineraryN{
                width: 35px;
                height: 35px;
                opacity: 0.1;
                cursor: not-allowed;
                transition: all 1s;
            }
        }
        .eveningItinerary{
            display: flex;
            justify-content: space-around;
            align-items: center;
            border-top: 1px solid $moon_color;
            padding: 16px;
            img{
                width: 120px;
            }
            .eveningBlockA{
                border:1px solid $moon_color;
                display: flex;
                width: 700px;
                height: 170px;
                border-radius: 22px;
                
                #eveningImg{
                    margin: 22px 15px;
                    width: 170px;
                    height: 120px;
                    line-height: 120px;  
                    border-radius: 21px;
                }
                .eveningBlockB{
                    margin: 5px auto;
                    .optionBlockC{
                        display: flex;
                        width: 400px;
                        justify-content: center;
                        margin: 10px;
                        select{
                            width: 180px;
                            height: 38px;
                            border-radius: 22px;
                            background-color: $sun_color;
                            margin-right: 20px;
                            text-align: center;
                        }
                        #tripPriceC{
                            border: 1px solid $moon_color;
                            width: 170px;
                            height: 35px;
                            border-radius: 22px;
                            text-align: center;
                            line-height: 35px;
                        }
                    }
                    #itineraryTextC{
                        width: 440px;
                    }
                }
            }   

        }
        #addItineraryE{
            width: 35px;
            height: 35px;
            opacity: 0.1;
            cursor: not-allowed;
            transition: all 1s;
        }
    }

    .foodChooseBlock{
        width: 1000px;
        height: 676px;
        border:2px solid $moon_color;
        margin: 0 auto;
        border-top-left-radius: 22px;
        border-top-right-radius: 22px;
        .foodTitle{
            display: flex;
            justify-content: center;
            position: relative;
            height: 66px;
            align-items: center;
            .chooseDate{
                position: absolute;
                right: 10%;
                top: 30%;
            }
        }
        .morningFood{
            display: flex;
            justify-content: space-around;
            align-items: center;
            border-top: 2px solid $moon_color;
            padding: 15px;
            img{
                width: 120px;
            }
            .morningFoodTitle{
                text-align: center;
            }
            .morningFoodA{
                border:1px solid $moon_color;
                display: flex;
                width: 700px;
                height: 170px;
                border-radius: 22px;
                
                #morningFoodImg{
                    margin: 22px 15px;
                    width: 170px;
                    height: 120px;
                    line-height: 120px;
                    border-radius: 21px;
                }
                .morningFoodB{
                    margin: 5px auto;
                    .foodOptionBlockA{
                        display: flex;
                        width: 300px;
                        justify-items: center;
                        justify-content: center;
                        margin: 10px;
                        select{
                            width: 180px;
                            height: 38px;
                            border-radius: 22px;
                            background-color: $sun_color;
                            margin-right: 20px;
                            text-align: center;
                        }
                        #foodPriceA{
                            border: 1px solid $moon_color;
                            width: 170px;
                            height: 35px;
                            border-radius: 22px;
                            text-align: center;
                            line-height: 35px;
                        }
                    }
                    #foodTextA{
                        width: 440px;
                    }
                }

            }
            #addFoodM{
                width: 35px;
                height: 35px;
                opacity: 0.1;
                cursor: not-allowed;
                transition: all 1s;
            }
        }
        .noonFood{
            display: flex;
            justify-content: space-around;
            align-items: center;
            border-top: 1px solid $moon_color;
            padding: 15px;
            img{
                width: 120px;
            }
            .noonFoodA{
                border:1px solid $moon_color;
                display: flex;
                width: 700px;
                height: 170px;
                border-radius: 22px;
                #noonFoodImg{
                    margin:22px 15px;
                    width: 170px;
                    height: 120px;
                    line-height: 120px;
                    border-radius: 21px;
                }
                .noonFoodB{
                    margin: 5px auto;
                    .foodoptionBlockB{
                        display: flex;
                        width: 300px;
                        justify-content: center;
                        margin: 10px;
                        select{
                            width: 180px;
                            height: 38px;
                            border-radius: 22px;
                            background-color: $sun_color;
                            margin-right: 20px;
                            text-align: center;
                        }
                        #foodPriceB{
                            border: 1px solid $moon_color;
                            width: 170px;
                            height: 35px;
                            border-radius: 22px;
                            text-align: center;
                            line-height: 35px;
                        }
                    }
                    #foodTextB{
                        width: 440px;
                    }
                }

            }
            #addFoodN{
                width: 35px;
                height: 35px;
                opacity: 0.1;
                cursor: not-allowed;
                transition: all 1s;
            }
        }
        .eveningFood{
            display: flex;
            justify-content: space-around;
            align-items: center;
            border-top: 1px solid $moon_color;
            padding: 16px;
            img{
                width: 120px;
            }
            .eveningFoodA{
                border:1px solid $moon_color;
                display: flex;
                width: 700px;
                height: 170px;
                border-radius: 22px;
;
                #eveningFoodImg{
                    margin: 15px;
                    width: 170px;
                    height: 120px;
                    line-height: 120px;
                    border-radius: 21px;
                }
                .eveningFoodB{
                    margin: 5px auto;
                    .foodoptionBlockC{
                        display: flex;
                        width: 300px;
                        justify-content: center;
                        margin: 10px;
                        select{
                            width: 180px;
                            height: 38px;
                            border-radius: 22px;
                            background-color: $sun_color;
                            margin-right: 20px;
                            text-align: center;
                        }
                        #foodPriceC{
                            border: 1px solid $moon_color;
                            width: 170px;
                            height: 35px;
                            border-radius: 22px;
                            text-align: center;
                            line-height: 35px;
                        }
                    }
                    #foodTextC{
                        width: 440px;
                    }
                }
            }   

        }
        #addFoodE{
            width: 35px;
            height: 35px;
            opacity: 0.1;
            cursor: not-allowed;
            transition: all 1s;
        }
    }

    .stayChooseBlock{
        width: 1000px;
        height: 676px;
        border:2px solid $moon_color;
        margin: 50px auto;
        border-top-left-radius: 22px;
        border-top-right-radius: 22px;
        .stayTitle{
            display: flex;
            justify-content: center;
            position: relative;
            height: 66px;
            align-items: center;
            .chooseDate{
                position: absolute;
                right: 10%;
                top: 30%;
            }
        }
        .cabin{
            display: flex;
            justify-content: space-around;
            align-items: center;
            border-top: 2px solid $moon_color;
            padding: 15px;
            .cabinTitle{
                text-align: center;
            }
            #cabinButton{
                width: 20px;
                height: 20px;
            }
            .cabinBlockA{
                border:1px solid $moon_color;
                display: flex;
                width: 700px;
                height: 170px;
                border-radius: 22px;
                align-items: center;
                #cabinImg{
                    margin: 24px 15px;
                    width: 170px;
                    height: 120px;
                    line-height: 120px;
                    border-radius: 21px;
                }
                .cabinBlockB{
                    margin: 0 auto;
                    .cabinOption{
                        display: flex;
                        width: 300px;
                        justify-content: center;
                        margin: 10px;
                        select{
                            width: 180px;
                            height: 38px;
                            border-radius: 22px;
                            background-color: $sun_color;
                            margin-right: 20px;
                            text-align: center;
                        }
                        #cabinPrice{
                            border: 1px solid $moon_color;
                            width: 170px;
                            height: 35px;
                            border-radius: 22px;
                            text-align: center;
                            line-height: 35px;
                        }
                    }
                    #cabinText{
                        width: 440px;
                    }
                }

            }
            #addcabin{
                width: 35px;
                height: 35px;
                opacity: 0.1;
                cursor: not-allowed;
                transition: all 1s;
            }
        }
        .camping{
            display: flex;
            justify-content: space-around;
            align-items: center;
            border-top: 1px solid $moon_color;
            padding: 15px;
            .campingTitle{
                text-align: center;
            }
            #campingButton{
                width: 20px;
                height: 20px;
            }
            .campingBlockA{
                border:1px solid $moon_color;
                display: flex;
                width: 700px;
                height: 170px;
                border-radius: 22px;
                align-items: center;
                #campingImg{
                    margin: 15px;
                    width: 170px;
                    height: 120px;
                    line-height: 120px;
                    border-radius: 21px;
                }
                .campingBlockB{
                    margin: 0 auto;
                    .campingOption{
                        display: flex;
                        width: 300px;
                        justify-content: center;
                        margin: 10px;
                        select{
                            width: 180px;
                            height: 38px;
                            border-radius: 22px;
                            background-color: $sun_color;
                            margin-right: 20px;
                            text-align: center;
                        }
                        #campingPrice{
                            border: 1px solid $moon_color;
                            width: 170px;
                            height: 35px;
                            border-radius: 22px;
                            text-align: center;
                            line-height: 35px;
                        }
                    }
                    #campingText{
                        width: 440px;
                    }
                }

            }
            #addCamping{
                width: 35px;
                height: 35px;
                opacity: 0.1;
                cursor: not-allowed;
                transition: all 1s;
            }
        }
        .villa{
            display: flex;
            justify-content: space-around;
            align-items: center;
            border-top: 1px solid $moon_color;
            padding: 16px;
            
            .villaTitle{
                text-align: center;
            }
            #villaButton{
                width: 20px;
                height: 20px;
            }
            .villaBlockA{
                border:1px solid $moon_color;
                display: flex;
                width: 700px;
                height: 170px;
                border-radius: 22px;
                align-items: center;
                #villaImg{
                    margin: 15px;
                    width: 170px;
                    height: 120px;
                    line-height: 120px;
                    border-radius: 21px;
                }
                .villaBlockB{
                    margin: 0 auto;
                    .villaOption{
                        display: flex;
                        width: 300px;
                        justify-content: center;
                        margin: 10px;
                        select{
                            width: 180px;
                            height: 38px;
                            border-radius: 22px;
                            background-color: $sun_color;
                            margin-right: 20px;
                            text-align: center;
                        }
                        #villaPrice{
                            border: 1px solid $moon_color;
                            width: 170px;
                            height: 35px;
                            border-radius: 22px;
                            text-align: center;
                            line-height: 35px;
                        }
                    }
                    #villaText{
                        width: 440px;
                    }
                }
            }   

        }
        #addVilla{
            width: 35px;
            height: 35px;
            opacity: 0.1;
            cursor: not-allowed;
            transition: all 1s;
        }
    }
    #NextPage{
        display: block;
        width: 140px;
        height: 50px;
        text-align: center;
        line-height: 50px;
        background-color:$sun_color;
        border:1px solid $moon_color;
        margin: 50px auto;
        @include mobile{
            width: 300px;
            border-radius: 30px;
            margin-top: 20px;
            margin-bottom: 50px;
        }
        &:hover{
            color:$sun_color;
            background-color:$moon_color;
            border:1px solid $sun_color;
        }
    }


}

.tripChoose_moon{
    @import 'base/moonColorSwitch';
    background-color:$sun_color;
    color: $moon_color;
    select{
        background-color: $sun_color;
        border: 1px solid $moon_color;
        color: $moon_color;
    }
    input{
        border: 1px solid $moon_color;
        color: $moon_color;
    }
    button{
        color: $moon_color;
    }
    .addfadein{
        width: 12vw;
        height: 10vh;
        position:fixed;
        background-color: $moon_color;
        color: $sun_color ;
        border: 1px solid $moon_color;
        top: 50%;
        left:50%;
        transform: translate(-50%,-50%);
        text-align: center;
        line-height: 10vh;
        font-size: 16px;
        border-radius: 22px;
        opacity: 0;
        .fa-regular{
            margin-left: 10px;
        }
        
    }
    @mixin circle{
        width: 150px;
        height: 150px;
        border-radius: 50%;
        border: 1px solid $moon_color;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        h4:last-Child{
            margin-bottom: 20px;
        }
    };
    span{
        font-size: 16px;
    }
    section{
        h2{
            text-align: center;
        }
        h3{
            text-align: center;
            margin: 50px 0;
        }
    }
    .shoppingProcess{
        width: 1180px;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin:  0 auto;
        img{
            width: 80px;
            height: 24px;
            margin: 0 40px;
        }
        .chooseAdate{
            @include circle;
        }
        .chooseAtrip{
            @include circle;
            background-color: $moon_color;
            color:$sun_color
        }
        .tallyOrder{
            @include circle;
        }
        .orderComplete{
            @include circle;
        }
        //步驟區塊結束

    }
    //日期區塊
    .datePickerBox{
        width:980px;
        height: auto;
        margin: 50px auto;
        // border: 1px solid $moon_color;
        position: relative;

        .dateTitle{
            p{
                margin: 20px;
                
            }
            i{
                position: absolute;
                width: 30px;
                height: 30px;
                right: 20px;
                top: 20px;
                
            }
        }
        .pickerBox{
            text-align: center;
            width: 100%;
            // border-top: 1px solid $moon_color;
            display: flex;
            flex-wrap: wrap;
            .daysbutton{
                width: 130px;
                margin: 5px;
                font-size: 16px;
                img{
                    width: 90px;
                }
                select{
                    width: 115px;
                }
                
            }
        }

    }
    .ListSmall{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $moon_color;
        color: $sun_color;
        writing-mode: vertical-lr;
        width: 50px;
        height: 170px;
        position: fixed;
        right: 0;
        top: 10%;
        font-size: 20px;
        text-align: center;
        cursor: pointer;
        .circle{
            width: 20px;
            height: 20px;
            border-radius: 50%;
            border:1px solid $sun_color;
            color: $sun_color;
            line-height: 20px;
            margin-top: 10px;
            transition: all 1s;
            margin-left: 4px;
        }
    }
    .BigList{
        width:0px;
        height: 100vh;
        background-color:$sun_color;
        border:2px solid $moon_color;
        transition: all 2s;
        right: 3%;
        top: 0%;
        position: fixed;
        display: none;
        z-index: 1;
        overflow-y: auto;
        span{
            font-weight: bolder;
        }
        h6{
            font-weight: bolder;
            margin-left: 10px;
        }

        .leftButton{
            width: 8px;
            height: 8px;
            margin-right: 0px;
            cursor: pointer;
        }
        .rightButton{
            width: 8px;
            height: 8px;
            margin-left: 6px;
            cursor: pointer;
        }
        .deleteButton{
            width: 16px;
            cursor: pointer;
        }
        p{
            font-weight: bolder;
            margin: 10px;
        }
        .ListTitle{
            width: 260px;
            height: 50px;
            margin: 0 auto;
            background-color: $moon_color;
            color: $sun_color;
            text-align: center;
            line-height: 50px;
        }
        .tripAndDate{
            border-bottom: 1px solid $moon_color;
            padding: 10px;

            input{
                width: 200px;
                background-color: $sun_color;
            }
        }
        ul{
            display: flex;
            justify-content: safe;
            align-items: center;
            flex-grow: 1;
            margin: 10px 0;
            li{
               align-content: center;
            }
            li:first-Child{
                text-align: center;
                width: 150px;
                overflow: auto;
            }
            li:nth-Child(2){
                width: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
            }
            li:nth-Child(3){
                width: 60px;
                text-align: center;
            }
            li:nth-Child(4){
                width: 50px;
                text-align: center;
                img{
                    width: 20px;
                    cursor: pointer;
                }
            }
        }
        .tripList{
            border-bottom: 1px solid $moon_color;
        }
        .FoodList{
            border-bottom: 1px solid $moon_color;
        }
        .StayList{
            border-bottom: 1px solid $moon_color;
        }
        .totalBlock{
            margin:  20px 20px;
            display: flex;
            justify-content: space-between;
            align-content: center;
            .totalTitle{
                font-weight: bolder;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                span{
                    font-size: 16px;
                }
            }
            .totalPrice{
                font-weight: bolder;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                line-height: 20.5px;
                text-align: center;
                span{
                    font-size: 20px;
                    color: #FFBF44;
                }
                #couponPrice{
                    color: #FF4444;
                }
            }
        }
    }
    
    .tripChooseBlock{
        width: 1000px;
        height: 676px;
        border:2px solid $moon_color;
        margin: 50px auto;
        border-top-left-radius: 22px;
        border-top-right-radius: 22px;

        .itineraryTitle{
            display: flex;
            justify-content: center;
            position: relative;
            height: 66px;
            align-items: center;
            .chooseDate{
                position: absolute;
                right: 10%;
                top: 25%;
            }
            select{
                position: absolute;
                left: 10%;
                top: 25%;
                height: 35px;
                border-radius: 22px;
                text-align: center;
            }
        }
        .morningItineraryA{
            display: flex;
            justify-content: space-around;
            align-items: center;
            border-top: 2px solid $moon_color;
            padding: 15px;
            .morningTime{
                width: 120px;

            }
            .morningBlockA{
                border:1px solid $moon_color;
                display: flex;
                width: 700px;
                height: 170px;
                border-radius: 22px;

                #morningImg{
                    margin:22px 15px;
                    width: 170px;
                    height: 120px;
                    line-height: 120px;
                    border-radius: 21px;
                }
                .morningBlockB{
                    margin: 5px auto;

                    .optionBlockA{
                        display: flex;
                        width: 400px;
                        justify-content: center;
                        margin: 10px;
                        select{
                            width: 180px;
                            height: 38px;
                            border-radius: 22px;
                            background-color: $sun_color;
                            margin-right: 20px;
                            text-align: center;
                        }
                        #tripPriceA{
                            border: 1px solid $moon_color;
                            width: 170px;
                            height: 35px;
                            border-radius: 22px;
                            text-align: center;
                            line-height: 35px;
                        }
                    }
                    #itineraryText{
                        width: 440px;
                    }
                }

            }
            #addItineraryM{
                width: 35px;
                height: 35px;
                opacity: 0.1;
                cursor: not-allowed;
                transition: all 1s;
            }
        }
        .noonItinerary{
            display: flex;
            justify-content: space-around;
            align-items: center;
            border-top: 1px solid $moon_color;
            padding: 15px;
            img{
                width: 120px;
            }
            .noonBlockA{
                border:1px solid $moon_color;
                display: flex;
                width: 700px;
                height: 170px;
                border-radius: 22px;
                
                #noonImg{
                    margin:22px 15px;
                    width: 170px;
                    height: 120px;
                    line-height: 120px;
                    border-radius: 21px;
                }
                .noonBlockB{
                    margin: 5px auto;
                    .optionBlockB{
                        display: flex;
                        width: 400px;
                        justify-content: center;
                        margin: 10px;
                        select{
                            width: 180px;
                            height: 38px;
                            border-radius: 22px;
                            background-color: $sun_color;
                            margin-right: 20px;
                            text-align: center;
                        }
                        #tripPriceB{
                            border: 1px solid $moon_color;
                            width: 170px;
                            height: 35px;
                            border-radius: 22px;
                            text-align: center;
                            line-height: 35px;
                        }
                    }
                    #itineraryTextB{
                        width: 440px;
                    }
                }

            }
            #addItineraryN{
                width: 35px;
                height: 35px;
                opacity: 0.1;
                cursor: not-allowed;
                transition: all 1s;
            }
        }
        .eveningItinerary{
            display: flex;
            justify-content: space-around;
            align-items: center;
            border-top: 1px solid $moon_color;
            padding: 16px;
            img{
                width: 120px;
            }
            .eveningBlockA{
                border:1px solid $moon_color;
                display: flex;
                width: 700px;
                height: 170px;
                border-radius: 22px;
                
                #eveningImg{
                    margin: 22px 15px;
                    width: 170px;
                    height: 120px;
                    line-height: 120px;  
                    border-radius: 21px;
                }
                .eveningBlockB{
                    margin: 5px auto;
                    .optionBlockC{
                        display: flex;
                        width: 400px;
                        justify-content: center;
                        margin: 10px;
                        select{
                            width: 180px;
                            height: 38px;
                            border-radius: 22px;
                            background-color: $sun_color;
                            margin-right: 20px;
                            text-align: center;
                        }
                        #tripPriceC{
                            border: 1px solid $moon_color;
                            width: 170px;
                            height: 35px;
                            border-radius: 22px;
                            text-align: center;
                            line-height: 35px;
                        }
                    }
                    #itineraryTextC{
                        width: 440px;
                    }
                }
            }   

        }
        #addItineraryE{
            width: 35px;
            height: 35px;
            opacity: 0.1;
            cursor: not-allowed;
            transition: all 1s;
        }
    }

    .foodChooseBlock{
        width: 1000px;
        height: 676px;
        border:2px solid $moon_color;
        margin: 0 auto;
        border-top-left-radius: 22px;
        border-top-right-radius: 22px;
        .foodTitle{
            display: flex;
            justify-content: center;
            position: relative;
            height: 66px;
            align-items: center;
            .chooseDate{
                position: absolute;
                right: 10%;
                top: 30%;
            }
        }
        .morningFood{
            display: flex;
            justify-content: space-around;
            align-items: center;
            border-top: 2px solid $moon_color;
            padding: 15px;
            img{
                width: 120px;
            }
            .morningFoodTitle{
                text-align: center;
            }
            .morningFoodA{
                border:1px solid $moon_color;
                display: flex;
                width: 700px;
                height: 170px;
                border-radius: 22px;
                
                #morningFoodImg{
                    margin: 22px 15px;
                    width: 170px;
                    height: 120px;
                    line-height: 120px;
                    border-radius: 21px;
                }
                .morningFoodB{
                    margin: 5px auto;
                    .foodOptionBlockA{
                        display: flex;
                        width: 300px;
                        justify-items: center;
                        justify-content: center;
                        margin: 10px;
                        select{
                            width: 180px;
                            height: 38px;
                            border-radius: 22px;
                            background-color: $sun_color;
                            margin-right: 20px;
                            text-align: center;
                        }
                        #foodPriceA{
                            border: 1px solid $moon_color;
                            width: 170px;
                            height: 35px;
                            border-radius: 22px;
                            text-align: center;
                            line-height: 35px;
                        }
                    }
                    #foodTextA{
                        width: 440px;
                    }
                }

            }
            #addFoodM{
                width: 35px;
                height: 35px;
                opacity: 0.1;
                cursor: not-allowed;
                transition: all 1s;
            }
        }
        .noonFood{
            display: flex;
            justify-content: space-around;
            align-items: center;
            border-top: 1px solid $moon_color;
            padding: 15px;
            img{
                width: 120px;
            }
            .noonFoodA{
                border:1px solid $moon_color;
                display: flex;
                width: 700px;
                height: 170px;
                border-radius: 22px;
                #noonFoodImg{
                    margin:22px 15px;
                    width: 170px;
                    height: 120px;
                    line-height: 120px;
                    border-radius: 21px;
                }
                .noonFoodB{
                    margin: 5px auto;
                    .foodoptionBlockB{
                        display: flex;
                        width: 300px;
                        justify-content: center;
                        margin: 10px;
                        select{
                            width: 180px;
                            height: 38px;
                            border-radius: 22px;
                            background-color: $sun_color;
                            margin-right: 20px;
                            text-align: center;
                        }
                        #foodPriceB{
                            border: 1px solid $moon_color;
                            width: 170px;
                            height: 35px;
                            border-radius: 22px;
                            text-align: center;
                            line-height: 35px;
                        }
                    }
                    #foodTextB{
                        width: 440px;
                    }
                }

            }
            #addFoodN{
                width: 35px;
                height: 35px;
                opacity: 0.1;
                cursor: not-allowed;
                transition: all 1s;
            }
        }
        .eveningFood{
            display: flex;
            justify-content: space-around;
            align-items: center;
            border-top: 1px solid $moon_color;
            padding: 16px;
            img{
                width: 120px;
            }
            .eveningFoodA{
                border:1px solid $moon_color;
                display: flex;
                width: 700px;
                height: 170px;
                border-radius: 22px;
;
                #eveningFoodImg{
                    margin: 15px;
                    width: 170px;
                    height: 120px;
                    line-height: 120px;
                    border-radius: 21px;
                }
                .eveningFoodB{
                    margin: 5px auto;
                    .foodoptionBlockC{
                        display: flex;
                        width: 300px;
                        justify-content: center;
                        margin: 10px;
                        select{
                            width: 180px;
                            height: 38px;
                            border-radius: 22px;
                            background-color: $sun_color;
                            margin-right: 20px;
                            text-align: center;
                        }
                        #foodPriceC{
                            border: 1px solid $moon_color;
                            width: 170px;
                            height: 35px;
                            border-radius: 22px;
                            text-align: center;
                            line-height: 35px;
                        }
                    }
                    #foodTextC{
                        width: 440px;
                    }
                }
            }   

        }
        #addFoodE{
            width: 35px;
            height: 35px;
            opacity: 0.1;
            cursor: not-allowed;
            transition: all 1s;
        }
    }

    .stayChooseBlock{
        width: 1000px;
        height: 676px;
        border:2px solid $moon_color;
        margin: 50px auto;
        border-top-left-radius: 22px;
        border-top-right-radius: 22px;
        .stayTitle{
            display: flex;
            justify-content: center;
            position: relative;
            height: 66px;
            align-items: center;
            .chooseDate{
                position: absolute;
                right: 10%;
                top: 30%;
            }
        }
        .cabin{
            display: flex;
            justify-content: space-around;
            align-items: center;
            border-top: 2px solid $moon_color;
            padding: 15px;
            .cabinTitle{
                text-align: center;
            }
            #cabinButton{
                width: 20px;
                height: 20px;
            }
            .cabinBlockA{
                border:1px solid $moon_color;
                display: flex;
                width: 700px;
                height: 170px;
                border-radius: 22px;
                align-items: center;
                #cabinImg{
                    margin: 24px 15px;
                    width: 170px;
                    height: 120px;
                    line-height: 120px;
                    border-radius: 21px;
                }
                .cabinBlockB{
                    margin: 0 auto;
                    .cabinOption{
                        display: flex;
                        width: 300px;
                        justify-content: center;
                        margin: 10px;
                        select{
                            width: 180px;
                            height: 38px;
                            border-radius: 22px;
                            background-color: $sun_color;
                            margin-right: 20px;
                            text-align: center;
                        }
                        #cabinPrice{
                            border: 1px solid $moon_color;
                            width: 170px;
                            height: 35px;
                            border-radius: 22px;
                            text-align: center;
                            line-height: 35px;
                        }
                    }
                    #cabinText{
                        width: 440px;
                    }
                }

            }
            #addcabin{
                width: 35px;
                height: 35px;
                opacity: 0.1;
                cursor: not-allowed;
                transition: all 1s;
            }
        }
        .camping{
            display: flex;
            justify-content: space-around;
            align-items: center;
            border-top: 1px solid $moon_color;
            padding: 15px;
            .campingTitle{
                text-align: center;
            }
            #campingButton{
                width: 20px;
                height: 20px;
            }
            .campingBlockA{
                border:1px solid $moon_color;
                display: flex;
                width: 700px;
                height: 170px;
                border-radius: 22px;
                align-items: center;
                #campingImg{
                    margin: 15px;
                    width: 170px;
                    height: 120px;
                    line-height: 120px;
                    border-radius: 21px;
                }
                .campingBlockB{
                    margin: 0 auto;
                    .campingOption{
                        display: flex;
                        width: 300px;
                        justify-content: center;
                        margin: 10px;
                        select{
                            width: 180px;
                            height: 38px;
                            border-radius: 22px;
                            background-color: $sun_color;
                            margin-right: 20px;
                            text-align: center;
                        }
                        #campingPrice{
                            border: 1px solid $moon_color;
                            width: 170px;
                            height: 35px;
                            border-radius: 22px;
                            text-align: center;
                            line-height: 35px;
                        }
                    }
                    #campingText{
                        width: 440px;
                    }
                }

            }
            #addCamping{
                width: 35px;
                height: 35px;
                opacity: 0.1;
                cursor: not-allowed;
                transition: all 1s;
            }
        }
        .villa{
            display: flex;
            justify-content: space-around;
            align-items: center;
            border-top: 1px solid $moon_color;
            padding: 16px;
            
            .villaTitle{
                text-align: center;
            }
            #villaButton{
                width: 20px;
                height: 20px;
            }
            .villaBlockA{
                border:1px solid $moon_color;
                display: flex;
                width: 700px;
                height: 170px;
                border-radius: 22px;
                align-items: center;
                #villaImg{
                    margin: 15px;
                    width: 170px;
                    height: 120px;
                    line-height: 120px;
                    border-radius: 21px;
                }
                .villaBlockB{
                    margin: 0 auto;
                    .villaOption{
                        display: flex;
                        width: 300px;
                        justify-content: center;
                        margin: 10px;
                        select{
                            width: 180px;
                            height: 38px;
                            border-radius: 22px;
                            background-color: $sun_color;
                            margin-right: 20px;
                            text-align: center;
                        }
                        #villaPrice{
                            border: 1px solid $moon_color;
                            width: 170px;
                            height: 35px;
                            border-radius: 22px;
                            text-align: center;
                            line-height: 35px;
                        }
                    }
                    #villaText{
                        width: 440px;
                    }
                }
            }   

        }
        #addVilla{
            width: 35px;
            height: 35px;
            opacity: 0.1;
            cursor: not-allowed;
            transition: all 1s;
        }
    }
    #NextPage{
        display: block;
        width: 140px;
        height: 50px;
        text-align: center;
        line-height: 50px;
        background-color:$sun_color;
        border:1px solid $moon_color;
        margin: 50px auto;
        @include mobile{
            width: 300px;
            border-radius: 30px;
            margin-top: 20px;
            margin-bottom: 50px;
        }
        &:hover{
            color:$sun_color;
            background-color:$moon_color;
            border:1px solid $sun_color;
        }
    }


}