.backgroundSystem {
  color: #0C1244;
}
.backgroundSystem input {
  border: 1px solid #0C1244;
  box-sizing: border-box;
}
.backgroundSystem textarea {
  border: 1px solid #0C1244;
  box-sizing: border-box;
}
.backgroundSystem button {
  border: 1px solid #0C1244;
  box-sizing: border-box;
}

header {
  background-color: #F5F0DD;
  height: 100px;
}
header .out {
  line-height: 30px;
  width: 60px;
  text-align: center;
  align-self: center;
}
header .document {
  font-size: 30px;
  align-self: center;
  color: #0C1244;
  cursor: pointer;
}
header .mail {
  font-size: 30px;
  align-self: center;
  cursor: pointer;
}
header button {
  background-color: #F5F0DD;
  border-radius: 10%;
  cursor: pointer;
}
header button:hover {
  background-color: #0C1244;
  color: #F5F0DD;
}
header .logo {
  background-color: #0C1244;
  height: 100px;
  text-align: center;
  line-height: 100px;
}
header .logo img {
  margin: 10px 0;
}

main .backwrapper {
  display: flex;
  padding: 0;
  height: 100%;
  color: #0C1244;
}
main .backwrapper nav {
  height: 85vh;
}
main .backwrapper nav .leftNav {
  display: flex;
  flex-direction: column;
  background-color: #0C1244;
  height: 100vh;
}
main .backwrapper nav .leftNav .admin {
  height: 100px;
  background-color: #0C1244;
  text-align: center;
  display: flex;
  justify-content: center;
}
main .backwrapper nav .leftNav .admin img {
  height: 50px;
  align-self: center;
  border-radius: 50%;
}
main .backwrapper nav .leftNav .admin .user {
  align-self: center;
}
main .backwrapper nav .leftNav .admin h5 {
  margin-left: 5px;
  color: #F5F0DD;
  font-size: 20px;
}
main .backwrapper nav .leftNav .admin h6 {
  font-size: 16px;
  color: #F5F0DD;
}
main .backwrapper nav .leftNav a {
  display: inline-block;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  background-color: #0C1244;
  border-top: 1px solid #F5F0DD;
  border-bottom: 1px solid #F5F0DD;
  color: #F5F0DD;
  box-sizing: border-box;
  font-size: 16rem;
  cursor: pointer;
}
main .backwrapper nav .leftNav a:hover {
  background-color: #F5F0DD;
  color: #0C1244;
}
main .backwrapper nav .leftNav a.on {
  background-color: #F5F0DD;
  color: #0C1244;
}
main .backwrapper .overview {
  padding: 30px;
}
main .backwrapper .overview .number {
  display: flex;
}
main .backwrapper .overview .number .analysis {
  box-sizing: border-box;
}
main .backwrapper .overview .number .analysis > h3 {
  text-decoration: underline;
}
main .backwrapper .overview .number .analysis > h1 {
  text-align: center;
  color: red;
  font-size: 64rem;
  margin: 40rem 0;
}
main .backwrapper .overview .number .analysis .wrapper {
  width: 65%;
  margin: 0 auto;
}
main .backwrapper .overview .number .analysis .wrapper .week {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main .backwrapper .overview .number .analysis .wrapper .week .count {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
main .backwrapper .overview .number .analysis .wrapper .week .count h5:last-child {
  margin-left: 10px;
}
main .backwrapper .overview .number .bar-chart {
  border-left: 2px solid #0C1244;
  box-sizing: border-box;
  padding-left: 30px;
}
main .backwrapper .overview .number .bar-chart > h3 {
  text-decoration: underline;
}
main .backwrapper .overview .number .bar-chart .card-body {
  padding: 20px;
  margin-top: 10px;
}
main .backwrapper .overview .border-hr {
  width: 100%;
  height: 1px;
  background-color: #0C1244;
  margin: 30px 0;
}
main .backwrapper .overview .pie-chart-container {
  display: flex;
  justify-content: space-between;
  margin: 0;
  flex-grow: 1;
}
main .backwrapper .overview .pie-chart-container h3 {
  text-decoration: underline;
}
main .backwrapper .overview .pie-chart-container .pieChart {
  border: 1px solid #000;
  box-sizing: border-box;
}
main .listTitle {
  padding: 30px 50px;
  box-sizing: border-box;
}
main .listTitle .Title {
  display: flex;
  align-items: flex-end;
}
main .listTitle .Title h3 {
  line-height: 1;
  margin-right: 20px;
  align-self: center;
  color: 0C1244;
  text-decoration: underline;
}
main .listTitle .Title input {
  height: 25px;
}
main .listTitle .Title button {
  height: 25px;
  background-color: #F5F0DD;
  color: #0C1244;
}
main .listTitle .Title button:hover {
  background-color: #0C1244;
  color: #F5F0DD;
}
main .listTitle .checkList {
  margin: 30px 0 20px;
  display: flex;
}
main .listTitle .checkList .select_button {
  display: flex;
}
main .listTitle .checkList .select_button h5 {
  width: 100px;
  background-color: #F5F0DD;
  align-self: center;
  text-align: center;
  color: #0C1244;
  margin-right: 30px;
}
main .listTitle .checkList .select_button h5:hover {
  background-color: #0C1244;
  color: #F5F0DD;
  cursor: pointer;
}
main .listTitle .checkList .select_button h5.on {
  background-color: #0C1244;
  color: #F5F0DD;
}
main .listTitle .checkList .addNew {
  display: flex;
  align-items: center;
  justify-content: end;
}
main .listTitle .checkList .addNew i {
  font-size: 20px;
  align-self: center;
}
main .listTitle .checkList .addNew i:hover {
  background-color: #0C1244;
  color: #F5F0DD;
}
main .listTitle .checkList .addNew span {
  text-align: center;
  line-height: 30px;
  width: 60px;
  height: 30px;
  background-color: #F5F0DD;
  border-radius: 10%;
  margin-left: 10px;
}
main .listTitle .checkList .addNew span:hover {
  background-color: #0C1244;
  color: #F5F0DD;
}
main .listTitle .table {
  height: 100%;
}
main .listTitle .tableBox {
  border: 1px solid #0C1244;
}
main .listTitle ul {
  display: flex;
  border-bottom: 1px solid #0C1244;
}
main .listTitle ul:last-child {
  border: 0px;
}
main .listTitle .tableTitle {
  background-color: #F5F0DD;
  color: #0C1244;
}
main .listTitle li {
  text-align: center;
}
main .listTitle li button {
  size: 16rem;
  text-align: center;
  line-height: 25px;
  background-color: #F5F0DD;
}
main .listTitle li button:hover {
  background-color: #0C1244;
  color: #F5F0DD;
}
main .listTitle li p {
  line-height: 40px;
}
main .listTitle li.button {
  display: flex;
  align-items: center;
  justify-content: center;
}
main .listTitle .pages {
  margin-top: 50px;
  justify-content: end;
}
main .listTitle .pages .pageList {
  border: 0px;
  justify-content: end;
  display: flex;
}
main .listTitle .pages .pageList li {
  width: 20px;
  height: 20px;
  text-align: center;
  border: 1px solid #0C1244;
  line-height: 20px;
  background-color: #F5F0DD;
  color: #0C1244;
}
main .listTitle .pages .pageList li:hover {
  background-color: #0C1244;
  color: #F5F0DD;
  cursor: pointer;
}
main .listTitle .pages .pageList li.on {
  background-color: #0C1244;
  color: #F5F0DD;
}
main .listTitle .pop_up {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}
main .listTitle .pop_up .formBody_06 {
  width: 1000px;
  padding: 20px;
  padding-bottom: 30px;
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #F5F0DD;
  border-radius: 20px;
  border: 1px solid #0C1244;
}
main .listTitle .pop_up .formBody_06 h3 {
  text-align: center;
  margin: 20px 0;
}
main .listTitle .pop_up .formBody_06 .Form_06 {
  display: flex;
  justify-content: center;
}
main .listTitle .pop_up .formBody_06 .Form_06 ul {
  display: block;
}
main .listTitle .pop_up .formBody_06 .Form_06 ul li {
  display: flex;
  margin-bottom: 20px;
}
main .listTitle .pop_up .formBody_06 .Form_06 ul li h4:first-child {
  box-sizing: border-box;
  width: 120px;
}
main .listTitle .pop_up .formBody_06 .Form_06 ul li h4:last-child {
  width: 260px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  background-color: #fff;
  font-size: 16rem;
  line-height: 38px;
}
main .listTitle .pop_up .formBody_06 .Form_06 span {
  display: inline-block;
  margin: 15px 0;
  text-align: center;
  width: 70px;
}
main .listTitle .pop_up .formBody_06 .Form_06 .leftForm_06, main .listTitle .pop_up .formBody_06 .Form_06 .rightForm_06 {
  text-align: center;
}
main .listTitle .pop_up .formBody_06 .Form_06 .leftForm_06 ul li {
  justify-content: end;
  margin-right: 10px;
}
main .listTitle .pop_up .formBody_06 .Form_06 .centerForm_06 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
main .listTitle .pop_up .formBody_06 .Form_06 .centerForm_06 > div {
  background-color: #0C1244;
  width: 2px;
  height: 225px;
}
main .listTitle .pop_up .formBody_06 .Form_06 .rightForm_06 h4:first-child {
  margin-right: 20px;
}
main .listTitle .pop_up .formBody_06 .Form_06 .rightForm_06 ul li {
  justify-content: start;
}
main .listTitle .pop_up .formBody_06 .buttonBlock_06 {
  margin-top: 30px;
}
main .listTitle .pop_up .formBody_06 .buttonBlock_06 button {
  font-size: 16rem;
  line-height: 40px;
  background-color: #F5F0DD;
  color: #0C1244;
}
main .listTitle .pop_up .formBody_06 .buttonBlock_06 button:hover {
  background-color: #0C1244;
  color: #F5F0DD;
}
main .table > :not(:first-child) {
  border-top: 0px solid currentColor;
}

.formBody_00 {
  width: 800px;
  height: 700px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #F5F0DD;
  display: none;
  border-radius: 5%;
  border: 1px solid #0C1244;
}
.formBody_00 h2 {
  text-align: center;
  margin: 20px 0;
}
.formBody_00 .Form {
  display: flex;
  justify-content: center;
}
.formBody_00 .Form span {
  display: inline-block;
  margin: 15px 0;
  text-align: center;
  width: 70px;
}
.formBody_00 .Form .leftForm {
  text-align: center;
}
.formBody_00 .Form .rightForm {
  text-align: center;
}
.formBody_00 .Form .rightForm::before {
  content: "";
  background-color: #0C1244;
  width: 2px;
  height: 350px;
  display: block;
  position: absolute;
  left: 400px;
}
.formBody_00 .buttonBlock {
  margin: 60px 0;
}
.formBody_00 .buttonBlock button {
  height: 50px;
  background-color: #F5F0DD;
  color: #0C1244;
}
.formBody_00 .buttonBlock button:hover {
  background-color: #0C1244;
  color: #F5F0DD;
}

.formBody_01 {
  width: 800px;
  height: 500px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #F5F0DD;
  display: none;
  border-radius: 5%;
  border: 1px solid #0C1244;
}
.formBody_01 h2 {
  text-align: center;
  margin: 20px 0;
}
.formBody_01 .Form_01 {
  display: flex;
  justify-content: center;
}
.formBody_01 .Form_01 span {
  display: inline-block;
  margin: 15px 0;
  width: 70px;
}
.formBody_01 .Form_01 .leftForm_01 {
  text-align: center;
}
.formBody_01 .Form_01 .rightForm_01 {
  text-align: center;
}
.formBody_01 .Form_01 .rightForm_01::before {
  content: "";
  background-color: #0C1244;
  width: 2px;
  height: 300px;
  display: block;
  position: absolute;
  left: 400px;
}
.formBody_01 .Form_01 .rightForm_01 button {
  background-color: #F5F0DD;
  color: #0C1244;
}
.formBody_01 .Form_01 .rightForm_01 button:hover {
  background-color: #0C1244;
  color: #F5F0DD;
}
.formBody_01 .buttonBlock_01 {
  margin: 60px 0;
}
.formBody_01 .buttonBlock_01 button {
  height: 50px;
  background-color: #F5F0DD;
  color: #0C1244;
}
.formBody_01 .buttonBlock_01 button:hover {
  background-color: #0C1244;
  color: #F5F0DD;
}

.formBody_02 {
  width: 400px;
  height: 350px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #F5F0DD;
  display: none;
  border-radius: 5%;
  border: 1px solid #0C1244;
}
.formBody_02 h2 {
  text-align: center;
  margin: 20px 0;
}
.formBody_02 .Form_02 span {
  display: inline-block;
  width: 70px;
  margin-bottom: 15px;
}
.formBody_02 .buttonBlock_02 {
  margin: 30px 0;
}
.formBody_02 .buttonBlock_02 button {
  height: 30px;
  background-color: #F5F0DD;
  color: #0C1244;
}
.formBody_02 .buttonBlock_02 button:hover {
  background-color: #0C1244;
  color: #F5F0DD;
}

.formBody_03 {
  width: 800px;
  height: 500px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #F5F0DD;
  display: none;
  border-radius: 5%;
  border: 1px solid #0C1244;
}
.formBody_03 h2 {
  text-align: center;
  margin: 20px 0;
}
.formBody_03 .Form_03 {
  display: flex;
  justify-content: center;
}
.formBody_03 .Form_03 span {
  display: inline-block;
  margin: 15px 0;
  width: 70px;
}
.formBody_03 .Form_03 .leftForm_03 {
  text-align: center;
}
.formBody_03 .Form_03 .rightForm_03 {
  text-align: center;
}
.formBody_03 .Form_03 .rightForm_03::before {
  content: "";
  background-color: #0C1244;
  width: 2px;
  height: 300px;
  display: block;
  position: absolute;
  left: 400px;
}
.formBody_03 .buttonBlock_03 {
  margin: 60px 0;
}
.formBody_03 .buttonBlock_03 button {
  height: 50px;
  background-color: #F5F0DD;
  color: #0C1244;
}
.formBody_03 .buttonBlock_03 button:hover {
  background-color: #0C1244;
  color: #F5F0DD;
}

.formBody_04 {
  width: 800px;
  height: 500px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #F5F0DD;
  display: none;
  border-radius: 5%;
  border: 1px solid #0C1244;
}
.formBody_04 h2 {
  text-align: center;
  margin: 20px;
}
.formBody_04 .Form_04 {
  display: flex;
  justify-content: center;
  margin-left: 30px;
}
.formBody_04 .Form_04 span {
  display: inline-block;
  margin: 15px 0;
  width: 70px;
}
.formBody_04 .Form_04 textarea {
  height: 100px;
}
.formBody_04 .buttonBlock_04 {
  margin: 40px 0;
}
.formBody_04 .buttonBlock_04 button {
  height: 50px;
  background-color: #F5F0DD;
  color: #0C1244;
}
.formBody_04 .buttonBlock_04 button:hover {
  background-color: #0C1244;
  color: #F5F0DD;
}

.formBody_05 {
  width: 400px;
  height: 300px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #F5F0DD;
  display: none;
  border-radius: 5%;
  border: 1px solid #0C1244;
}
.formBody_05 h2 {
  text-align: center;
  margin: 20px 0;
}
.formBody_05 .Form_05 span {
  display: inline-block;
  width: 70px;
  margin-bottom: 15px;
}
.formBody_05 .buttonBlock_05 {
  margin: 40px 0;
}
.formBody_05 .buttonBlock_05 button {
  height: 30px;
  background-color: #F5F0DD;
  color: #0C1244;
}
.formBody_05 .buttonBlock_05 button:hover {
  background-color: #0C1244;
  color: #F5F0DD;
}

/*# sourceMappingURL=backgroundSystem.css.map */
