.FinishPay {
  background-color: #F5F0DD;
  color: #0C1244;
}
.FinishPay #bgCanvas {
  width: 0%;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100;
}
.FinishPay select {
  background-color: #F5F0DD;
  border: 1px solid #0C1244;
  color: #0C1244;
}
.FinishPay input {
  border: 1px solid #0C1244;
  color: #0C1244;
}
.FinishPay button {
  color: #0C1244;
}
.FinishPay section h2 {
  text-align: center;
}
@media (max-width: 576px) {
  .FinishPay section h2 {
    margin-top: 50px;
    margin-bottom: 20px;
  }
}
.FinishPay .shoppingProcess {
  width: 1180px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
@media (max-width: 576px) {
  .FinishPay .shoppingProcess {
    width: 90%;
    height: 75px;
    justify-content: space-between;
  }
}
.FinishPay .shoppingProcess img {
  width: 80px;
  height: 24px;
  margin: 0 40px;
}
@media (max-width: 576px) {
  .FinishPay .shoppingProcess img {
    display: none;
  }
}
.FinishPay .shoppingProcess .chooseAdate {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 1px solid #0C1244;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.FinishPay .shoppingProcess .chooseAdate h4:last-Child {
  margin-bottom: 20px;
}
@media (max-width: 576px) {
  .FinishPay .shoppingProcess .chooseAdate h4:last-Child {
    margin-bottom: 10px;
  }
}
@media (max-width: 576px) {
  .FinishPay .shoppingProcess .chooseAdate {
    width: 75px;
    height: 75px;
  }
  .FinishPay .shoppingProcess .chooseAdate h4 {
    font-size: 16px;
  }
}
.FinishPay .shoppingProcess .chooseAtrip {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 1px solid #0C1244;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.FinishPay .shoppingProcess .chooseAtrip h4:last-Child {
  margin-bottom: 20px;
}
@media (max-width: 576px) {
  .FinishPay .shoppingProcess .chooseAtrip h4:last-Child {
    margin-bottom: 10px;
  }
}
@media (max-width: 576px) {
  .FinishPay .shoppingProcess .chooseAtrip {
    width: 75px;
    height: 75px;
  }
  .FinishPay .shoppingProcess .chooseAtrip h4 {
    font-size: 16px;
  }
}
.FinishPay .shoppingProcess .tallyOrder {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 1px solid #0C1244;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.FinishPay .shoppingProcess .tallyOrder h4:last-Child {
  margin-bottom: 20px;
}
@media (max-width: 576px) {
  .FinishPay .shoppingProcess .tallyOrder h4:last-Child {
    margin-bottom: 10px;
  }
}
@media (max-width: 576px) {
  .FinishPay .shoppingProcess .tallyOrder {
    width: 75px;
    height: 75px;
  }
  .FinishPay .shoppingProcess .tallyOrder h4 {
    font-size: 16px;
  }
}
.FinishPay .shoppingProcess .orderComplete {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 1px solid #0C1244;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #0C1244;
  color: #F5F0DD;
}
.FinishPay .shoppingProcess .orderComplete h4:last-Child {
  margin-bottom: 20px;
}
@media (max-width: 576px) {
  .FinishPay .shoppingProcess .orderComplete h4:last-Child {
    margin-bottom: 10px;
  }
}
@media (max-width: 576px) {
  .FinishPay .shoppingProcess .orderComplete {
    width: 75px;
    height: 75px;
  }
  .FinishPay .shoppingProcess .orderComplete h4 {
    font-size: 16px;
  }
}
.FinishPay .FinishTextBlock h3 {
  text-align: center;
  margin: 50px 0;
}
@media (max-width: 576px) {
  .FinishPay .FinishTextBlock h3 {
    margin-top: 50px;
    margin-bottom: 20px;
  }
}
.FinishPay .FinishTextBlock h5 {
  text-align: center;
  margin-bottom: 40px;
}
@media (max-width: 576px) {
  .FinishPay .FinishTextBlock h5 {
    margin-bottom: 20px;
  }
}
.FinishPay .backToIndexAndCheck {
  width: 330px;
  height: 50px;
  margin: 0 auto;
  display: flex;
  margin-bottom: 50px;
}
.FinishPay .backToIndexAndCheck .backToIndex {
  width: 140px;
  height: 50px;
  background-color: #F5F0DD;
  border: none;
  margin-right: 50px;
  position: relative;
  background: #0C1244;
  color: #0C1244;
  text-decoration: none;
  font-size: 16px;
  letter-spacing: 3px;
  font-weight: 400;
  transition: 0.5s;
  padding: 10px 30px;
  box-sizing: border-box;
  text-align: center;
}
.FinishPay .backToIndexAndCheck .backToIndex:hover {
  letter-spacing: 3px;
  background: var(--clr);
  color: var(--clr);
  box-shadow: 0 0 35px var(--clr);
}
.FinishPay .backToIndexAndCheck .backToIndex:hover i::before {
  width: 20px;
  left: 20%;
}
.FinishPay .backToIndexAndCheck .backToIndex:hover i::after {
  width: 20px;
  left: 80%;
}
.FinishPay .backToIndexAndCheck .backToIndex::before {
  content: "";
  position: absolute;
  inset: 2px;
  background: #F5F0DD;
}
.FinishPay .backToIndexAndCheck .backToIndex span {
  position: relative;
  z-index: 1;
}
.FinishPay .backToIndexAndCheck .backToIndex i {
  position: absolute;
  inset: 0;
  display: block;
}
.FinishPay .backToIndexAndCheck .backToIndex i:before {
  content: "";
  position: absolute;
  top: 0;
  left: 80%;
  width: 10px;
  height: 4px;
  background: #F5F0DD;
  transform: translateX(-50%) skew(325deg);
  transition: 0.5s;
}
.FinishPay .backToIndexAndCheck .backToIndex i:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 20%;
  width: 10px;
  height: 4px;
  background: #F5F0DD;
  transform: translateX(-50%) skew(325deg);
  transition: 0.5s;
}
.FinishPay .backToIndexAndCheck .backToMember {
  width: 140px;
  height: 50px;
  background-color: #F5F0DD;
  border: none;
  position: relative;
  background: #0C1244;
  color: #0C1244;
  text-decoration: none;
  font-size: 16px;
  letter-spacing: 3px;
  font-weight: 400;
  transition: 0.5s;
  padding: 10px 30px;
  box-sizing: border-box;
  text-align: center;
}
.FinishPay .backToIndexAndCheck .backToMember:hover {
  letter-spacing: 3px;
  background: var(--clr);
  color: var(--clr);
  box-shadow: 0 0 35px var(--clr);
}
.FinishPay .backToIndexAndCheck .backToMember:hover i::before {
  width: 20px;
  left: 20%;
}
.FinishPay .backToIndexAndCheck .backToMember:hover i::after {
  width: 20px;
  left: 80%;
}
.FinishPay .backToIndexAndCheck .backToMember::before {
  content: "";
  position: absolute;
  inset: 2px;
  background: #F5F0DD;
}
.FinishPay .backToIndexAndCheck .backToMember span {
  position: relative;
  z-index: 1;
}
.FinishPay .backToIndexAndCheck .backToMember i {
  position: absolute;
  inset: 0;
  display: block;
}
.FinishPay .backToIndexAndCheck .backToMember i:before {
  content: "";
  position: absolute;
  top: 0;
  left: 80%;
  width: 10px;
  height: 4px;
  background: #F5F0DD;
  transform: translateX(-50%) skew(325deg);
  transition: 0.5s;
}
.FinishPay .backToIndexAndCheck .backToMember i:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 20%;
  width: 10px;
  height: 4px;
  background: #F5F0DD;
  transform: translateX(-50%) skew(325deg);
  transition: 0.5s;
}

.FinishPay_moon {
  background-color: #0C1244;
  color: #F5F0DD;
}
.FinishPay_moon #bgCanvas {
  width: 0%;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100;
}
.FinishPay_moon select {
  background-color: #0C1244;
  border: 1px solid #F5F0DD;
  color: #F5F0DD;
}
.FinishPay_moon input {
  border: 1px solid #F5F0DD;
  color: #F5F0DD;
}
.FinishPay_moon button {
  color: #F5F0DD;
}
.FinishPay_moon section h2 {
  text-align: center;
}
@media (max-width: 576px) {
  .FinishPay_moon section h2 {
    margin-top: 50px;
    margin-bottom: 20px;
  }
}
.FinishPay_moon .shoppingProcess {
  width: 1180px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
@media (max-width: 576px) {
  .FinishPay_moon .shoppingProcess {
    width: 90%;
    height: 75px;
    justify-content: space-between;
  }
}
.FinishPay_moon .shoppingProcess img {
  width: 80px;
  height: 24px;
  margin: 0 40px;
}
@media (max-width: 576px) {
  .FinishPay_moon .shoppingProcess img {
    display: none;
  }
}
.FinishPay_moon .shoppingProcess .chooseAdate {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 1px solid #F5F0DD;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.FinishPay_moon .shoppingProcess .chooseAdate h4:last-Child {
  margin-bottom: 20px;
}
@media (max-width: 576px) {
  .FinishPay_moon .shoppingProcess .chooseAdate h4:last-Child {
    margin-bottom: 10px;
  }
}
@media (max-width: 576px) {
  .FinishPay_moon .shoppingProcess .chooseAdate {
    width: 75px;
    height: 75px;
  }
  .FinishPay_moon .shoppingProcess .chooseAdate h4 {
    font-size: 16px;
  }
}
.FinishPay_moon .shoppingProcess .chooseAtrip {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 1px solid #F5F0DD;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.FinishPay_moon .shoppingProcess .chooseAtrip h4:last-Child {
  margin-bottom: 20px;
}
@media (max-width: 576px) {
  .FinishPay_moon .shoppingProcess .chooseAtrip h4:last-Child {
    margin-bottom: 10px;
  }
}
@media (max-width: 576px) {
  .FinishPay_moon .shoppingProcess .chooseAtrip {
    width: 75px;
    height: 75px;
  }
  .FinishPay_moon .shoppingProcess .chooseAtrip h4 {
    font-size: 16px;
  }
}
.FinishPay_moon .shoppingProcess .tallyOrder {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 1px solid #F5F0DD;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.FinishPay_moon .shoppingProcess .tallyOrder h4:last-Child {
  margin-bottom: 20px;
}
@media (max-width: 576px) {
  .FinishPay_moon .shoppingProcess .tallyOrder h4:last-Child {
    margin-bottom: 10px;
  }
}
@media (max-width: 576px) {
  .FinishPay_moon .shoppingProcess .tallyOrder {
    width: 75px;
    height: 75px;
  }
  .FinishPay_moon .shoppingProcess .tallyOrder h4 {
    font-size: 16px;
  }
}
.FinishPay_moon .shoppingProcess .orderComplete {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 1px solid #F5F0DD;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #F5F0DD;
  color: #0C1244;
}
.FinishPay_moon .shoppingProcess .orderComplete h4:last-Child {
  margin-bottom: 20px;
}
@media (max-width: 576px) {
  .FinishPay_moon .shoppingProcess .orderComplete h4:last-Child {
    margin-bottom: 10px;
  }
}
@media (max-width: 576px) {
  .FinishPay_moon .shoppingProcess .orderComplete {
    width: 75px;
    height: 75px;
  }
  .FinishPay_moon .shoppingProcess .orderComplete h4 {
    font-size: 16px;
  }
}
.FinishPay_moon .FinishTextBlock h3 {
  text-align: center;
  margin: 50px 0;
}
@media (max-width: 576px) {
  .FinishPay_moon .FinishTextBlock h3 {
    margin-top: 50px;
    margin-bottom: 20px;
  }
}
.FinishPay_moon .FinishTextBlock h5 {
  text-align: center;
  margin-bottom: 40px;
}
@media (max-width: 576px) {
  .FinishPay_moon .FinishTextBlock h5 {
    margin-bottom: 20px;
  }
}
.FinishPay_moon .backToIndexAndCheck {
  width: 330px;
  height: 50px;
  margin: 0 auto;
  display: flex;
  margin-bottom: 50px;
}
.FinishPay_moon .backToIndexAndCheck .backToIndex {
  width: 140px;
  height: 50px;
  background-color: #0C1244;
  border: none;
  margin-right: 50px;
  position: relative;
  background: #F5F0DD;
  color: #F5F0DD;
  text-decoration: none;
  font-size: 16px;
  letter-spacing: 3px;
  font-weight: 400;
  transition: 0.5s;
  padding: 10px 30px;
  box-sizing: border-box;
  text-align: center;
}
.FinishPay_moon .backToIndexAndCheck .backToIndex:hover {
  letter-spacing: 3px;
  background: var(--clr);
  color: var(--clr);
  box-shadow: 0 0 35px var(--clr);
}
.FinishPay_moon .backToIndexAndCheck .backToIndex:hover i::before {
  width: 20px;
  left: 20%;
}
.FinishPay_moon .backToIndexAndCheck .backToIndex:hover i::after {
  width: 20px;
  left: 80%;
}
.FinishPay_moon .backToIndexAndCheck .backToIndex::before {
  content: "";
  position: absolute;
  inset: 2px;
  background: #0C1244;
}
.FinishPay_moon .backToIndexAndCheck .backToIndex span {
  position: relative;
  z-index: 1;
}
.FinishPay_moon .backToIndexAndCheck .backToIndex i {
  position: absolute;
  inset: 0;
  display: block;
}
.FinishPay_moon .backToIndexAndCheck .backToIndex i:before {
  content: "";
  position: absolute;
  top: 0;
  left: 80%;
  width: 10px;
  height: 4px;
  background: #0C1244;
  transform: translateX(-50%) skew(325deg);
  transition: 0.5s;
}
.FinishPay_moon .backToIndexAndCheck .backToIndex i:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 20%;
  width: 10px;
  height: 4px;
  background: #0C1244;
  transform: translateX(-50%) skew(325deg);
  transition: 0.5s;
}
.FinishPay_moon .backToIndexAndCheck .backToMember {
  width: 140px;
  height: 50px;
  background-color: #0C1244;
  border: none;
  position: relative;
  background: #F5F0DD;
  color: #F5F0DD;
  text-decoration: none;
  font-size: 16px;
  letter-spacing: 3px;
  font-weight: 400;
  transition: 0.5s;
  padding: 10px 30px;
  box-sizing: border-box;
  text-align: center;
}
.FinishPay_moon .backToIndexAndCheck .backToMember:hover {
  letter-spacing: 3px;
  background: var(--clr);
  color: var(--clr);
  box-shadow: 0 0 35px var(--clr);
}
.FinishPay_moon .backToIndexAndCheck .backToMember:hover i::before {
  width: 20px;
  left: 20%;
}
.FinishPay_moon .backToIndexAndCheck .backToMember:hover i::after {
  width: 20px;
  left: 80%;
}
.FinishPay_moon .backToIndexAndCheck .backToMember::before {
  content: "";
  position: absolute;
  inset: 2px;
  background: #0C1244;
}
.FinishPay_moon .backToIndexAndCheck .backToMember span {
  position: relative;
  z-index: 1;
}
.FinishPay_moon .backToIndexAndCheck .backToMember i {
  position: absolute;
  inset: 0;
  display: block;
}
.FinishPay_moon .backToIndexAndCheck .backToMember i:before {
  content: "";
  position: absolute;
  top: 0;
  left: 80%;
  width: 10px;
  height: 4px;
  background: #0C1244;
  transform: translateX(-50%) skew(325deg);
  transition: 0.5s;
}
.FinishPay_moon .backToIndexAndCheck .backToMember i:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 20%;
  width: 10px;
  height: 4px;
  background: #0C1244;
  transform: translateX(-50%) skew(325deg);
  transition: 0.5s;
}

/*# sourceMappingURL=FinishPay.css.map */
