@charset "UTF-8";
.food {
  background-color: #F5F0DD;
}
.food #bgCanvas {
  width: 0%;
  height: 0%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100;
}
.food header .headerCenter {
  position: absolute;
  z-index: 100;
  left: 50%;
  transform: translateX(-50%);
}
.food .banner {
  position: relative;
  height: 100vh;
  width: 100%;
  background-image: url("../img/food/banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.food .banner h1 {
  color: white;
  font-size: 48px;
}
.food main {
  width: 1280px;
  margin: 0 auto;
}
.food main .wrapper_top .bread {
  color: #0C1244;
  font-size: 16px;
  margin-top: 25px;
  margin-bottom: 100px;
  margin-left: 100px;
  letter-spacing: 3px;
}
.food main .wrapper_top .bread a {
  text-decoration: none;
  color: #0C1244;
  margin-right: 10px;
}
.food main .wrapper_top .circle1 {
  margin-left: 100px;
  border-radius: 50%;
  border: 1px solid #0C1244;
}
.food main .wrapper_top .circle {
  margin-left: 75px;
  border-radius: 50%;
  border: 1px solid #0C1244;
}
.food main .wrapper_top h4 {
  color: #0C1244;
  font-size: 24px;
  letter-spacing: 3px;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 50px;
}
.food main .wrapper_top .food1 {
  overflow: hidden;
}
.food main .wrapper_top .food1 .food_right_top_rwd {
  display: none;
}
.food main .wrapper_top .food1 .food_right_top_rwd h3 {
  color: #F5F0DD;
  -webkit-text-stroke: 1px #0C1244;
  font-size: 32px;
  text-align: center;
  margin-top: 28px;
  margin-bottom: 7px;
  letter-spacing: 3px;
}
.food main .wrapper_top .food1 .food_right_top_rwd .slogan1 {
  color: #0C1244;
  font-size: 16px;
  text-align: center;
  margin-bottom: 7px;
  letter-spacing: 3px;
}
.food main .wrapper_top .food1 .food_right_top_rwd .underline {
  width: 40%;
  margin: 0 auto;
  height: 1px;
  border-top: 1px solid #0C1244;
  display: block;
  text-align: center;
  margin-bottom: 40px;
}
.food main .wrapper_top .food1 .food1_left {
  float: left;
  width: 50%;
}
.food main .wrapper_top .food1 .food1_left .food1_img {
  margin-left: 100px;
  border: 1px solid #0C1244;
}
.food main .wrapper_top .food1 .food1_right {
  float: right;
  width: 50%;
}
.food main .wrapper_top .food1 .food1_right h3 {
  color: #F5F0DD;
  -webkit-text-stroke: 1px #0C1244;
  font-size: 32px;
  text-align: center;
  margin-top: 28px;
  margin-bottom: 7px;
  letter-spacing: 3px;
}
.food main .wrapper_top .food1 .food1_right .slogan1 {
  color: #0C1244;
  font-size: 16px;
  text-align: center;
  margin-bottom: 7px;
  letter-spacing: 3px;
}
.food main .wrapper_top .food1 .food1_right .underline {
  width: 40%;
  margin: 0 auto;
  height: 1px;
  border-top: 1px solid #0C1244;
  display: block;
  text-align: center;
  margin-bottom: 40px;
}
.food main .wrapper_top .food1 .food1_right .meals {
  margin-bottom: 27px;
  text-align: center;
  color: #0C1244;
  font-size: 16px;
}
.food main .wrapper_top .food1 .food1_right .forklist {
  width: 120px;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 auto;
}
.food main .wrapper_top .food1 .food1_right .forklist .forkset {
  text-align: center;
}
.food main .wrapper_top .food1 .food1_right .forklist .forkset .fa-solid {
  color: #0C1244;
  display: inline-block;
}
.food main .wrapper_top .food1 .food1_right .forklist .forkset .ingredients {
  margin-bottom: 20px;
  margin-left: 3px;
  color: #0C1244;
  font-size: 16px;
  display: inline-block;
}
.food main .wrapper_top .midline {
  width: 70%;
  height: 1px;
  border-top: 1px solid #0C1244;
  margin: 65px auto;
}
.food main .wrapper_top .food2 {
  overflow: hidden;
  margin-bottom: 50px;
}
.food main .wrapper_top .food2 .food2_left_top_rwd {
  display: none;
}
.food main .wrapper_top .food2 .food2_right {
  float: right;
  width: 50%;
}
.food main .wrapper_top .food2 .food2_right .food2_img {
  border: 1px solid #0C1244;
}
.food main .wrapper_top .food2 .food2_left {
  float: left;
  width: 50%;
}
.food main .wrapper_top .food2 .food2_left h3 {
  color: #F5F0DD;
  font-size: 32px;
  text-align: center;
  margin-top: 28px;
  margin-bottom: 7px;
  letter-spacing: 3px;
  -webkit-text-stroke: 1px #0C1244;
}
.food main .wrapper_top .food2 .food2_left .slogan1 {
  color: #0C1244;
  font-size: 16px;
  text-align: center;
  margin-bottom: 7px;
  letter-spacing: 3px;
}
.food main .wrapper_top .food2 .food2_left .underline {
  width: 40%;
  margin: 0 auto;
  height: 1px;
  border-top: 1px solid #0C1244;
  display: block;
  text-align: center;
  margin-bottom: 40px;
}
.food main .wrapper_top .food2 .food2_left .meals {
  margin-bottom: 27px;
  text-align: center;
  color: #0C1244;
  font-size: 16px;
}
.food main .wrapper_top .food2 .food2_left .forklist {
  width: 120px;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 auto;
}
.food main .wrapper_top .food2 .food2_left .forklist .forkset {
  text-align: center;
}
.food main .wrapper_top .food2 .food2_left .forklist .forkset .fa-solid {
  color: #0C1244;
  display: inline-block;
}
.food main .wrapper_top .food2 .food2_left .forklist .forkset .ingredients {
  margin-bottom: 20px;
  margin-left: 3px;
  color: #0C1244;
  font-size: 16px;
  display: inline-block;
}
.food main .wrapper_mid h2 {
  color: #0C1244;
  font-size: 40px;
  letter-spacing: 3px;
  text-align: center;
  margin-top: 180px;
  margin-bottom: 20px;
  font-weight: bold;
}
.food main .wrapper_mid .underline2 {
  width: 40%;
  height: 1px;
  border-top: 1px solid #0C1244;
  margin: 0 auto;
  margin-bottom: 180px;
}
.food main .wrapper_mid .restaurant1 {
  display: flex;
  margin-bottom: 120px;
  align-items: center;
  justify-content: center;
  width: calc(100% - 280px);
  margin-left: auto;
  margin-right: auto;
}
.food main .wrapper_mid .restaurant1 .restaurant1_left .restaurant1_pic1 {
  border: 1px solid #0C1244;
}
.food main .wrapper_mid .restaurant1 .restaurant1_right {
  border-top: 1px solid #0C1244;
}
.food main .wrapper_mid .restaurant1 .restaurant1_right h3 {
  color: #0C1244;
  font-size: 32px;
  text-align: center;
  margin-top: -50px;
  letter-spacing: 3px;
}
.food main .wrapper_mid .restaurant1 .restaurant1_right .restaurant1_right_top {
  padding-top: 50px;
  padding-left: 40px;
  box-sizing: border-box;
}
.food main .wrapper_mid .restaurant1 .restaurant1_right .restaurant1_right_top p {
  color: #0C1244;
  font-size: 16px;
  letter-spacing: 3px;
}
.food main .wrapper_mid .restaurant1 .restaurant1_right .restaurant1_right_top .time {
  margin-bottom: 35px;
}
.food main .wrapper_mid .restaurant1 .restaurant1_right .restaurant1_right_bottom {
  padding-top: 70px;
  padding-left: 40px;
  box-sizing: border-box;
}
.food main .wrapper_mid .restaurant1 .restaurant1_right .restaurant1_right_bottom p {
  color: #0C1244;
  font-size: 16px;
  letter-spacing: 3px;
  margin-bottom: 15px;
}
.food main .wrapper_mid .restaurant1 .restaurant1_right .restaurant1_right_bottom a {
  color: #0C1244;
  text-decoration: none;
  letter-spacing: 3px;
}
.food main .wrapper_mid .restaurant1 .restaurant1_right .restaurant1_right_bottom .booknow {
  float: right;
  display: block;
  width: 140px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  border: 1px solid #0C1244;
  margin-top: -50px;
}
.food main .wrapper_mid .restaurant1 .restaurant1_right .restaurant1_right_bottom .booknow:hover {
  background-color: #0C1244;
  color: #F5F0DD;
}
.food main .wrapper_mid .fa-star {
  color: #FFBF44;
  letter-spacing: -5px;
  display: inline-block;
}
.food main .wrapper_mid .fa-star-half-stroke {
  color: #FFBF44;
  letter-spacing: -5px;
  display: inline-block;
}
.food main .wrapper_mid .fa-circle-plus {
  color: #0C1244;
}
.food main .box1 .bookingBoxDrop {
  position: relative;
  z-index: 1;
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
}
.food main .box1 .bookingBoxDrop #bookingBox1 {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 350px;
  box-shadow: 1px 10px 30px #cccccc;
  background-color: #F5F0DD;
}
.food main .box1 .bookingBoxDrop #bookingBox1 .boxInner {
  position: relative;
  z-index: 3;
  width: 300px;
  margin: 0 auto;
  padding: 20px 0;
  text-align: center;
  box-sizing: border-box;
}
.food main .box1 .bookingBoxDrop #bookingBox1 .boxInner .bookingBoxClose {
  font-size: 24px;
  color: #0C1244;
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}
.food main .box1 .bookingBoxDrop #bookingBox1 .boxInner .restaurant_picture img {
  width: 55%;
  box-shadow: 0 2px 10px grey;
  background-color: #fff;
}
.food main .box1 .bookingBoxDrop #bookingBox1 .boxInner .restaurant_name h4 {
  font-size: 24px;
}
.food main .box1 .bookingBoxDrop #bookingBox1 .boxInner .table_for {
  margin: 0px 0px;
}
.food main .box1 .bookingBoxDrop #bookingBox1 .boxInner .table_for p {
  font-size: 16px;
}
.food main .box1 .bookingBoxDrop #bookingBox1 .boxInner .table_choice {
  display: flex;
  justify-content: space-around;
}
.food main .box1 .bookingBoxDrop #bookingBox1 .boxInner .table_choice .minus {
  line-height: 60px;
}
.food main .box1 .bookingBoxDrop #bookingBox1 .boxInner .table_choice .minus button {
  color: black;
  background: transparent;
  border: 0px solid black;
  border-radius: 2px;
  font-size: 20px;
  width: 30px;
  height: 30px;
}
.food main .box1 .bookingBoxDrop #bookingBox1 .boxInner .table_choice .minus button:active {
  transform: translate(0px, 2px);
  -webkit-transform: translate(0px, 2px);
  -moz-transform: translate(0px, 2px);
  -ms-transform: translate(0px, 2px);
  box-shadow: 0px 1px 0px 0px;
}
.food main .box1 .bookingBoxDrop #bookingBox1 .boxInner .table_choice .minus button:disabled {
  opacity: 0.65;
}
.food main .box1 .bookingBoxDrop #bookingBox1 .boxInner .table_choice .plus {
  line-height: 60px;
}
.food main .box1 .bookingBoxDrop #bookingBox1 .boxInner .table_choice .plus button {
  color: black;
  background: transparent;
  border: 0px solid black;
  border-radius: 2px;
  font-size: 20px;
  width: 30px;
  height: 30px;
}
.food main .box1 .bookingBoxDrop #bookingBox1 .boxInner .table_choice .plus button:active {
  transform: translate(0px, 2px);
  -webkit-transform: translate(0px, 2px);
  -moz-transform: translate(0px, 2px);
  -ms-transform: translate(0px, 2px);
  box-shadow: 0px 1px 0px 0px;
}
.food main .box1 .bookingBoxDrop #bookingBox1 .boxInner .table_choice .plus button:disabled {
  opacity: 0.65;
}
.food main .box1 .bookingBoxDrop #bookingBox1 .boxInner .table_choice .table_number {
  font-size: 50px;
}
.food main .box1 .bookingBoxDrop #bookingBox1 .boxInner .date_picker {
  width: 100%;
  margin-bottom: 15px;
}
.food main .box1 .bookingBoxDrop #bookingBox1 .boxInner .date_picker input {
  color: #0C1244;
  padding: 7px;
  border: 1.5px solid #0C1244;
  background-color: #F5F0DD;
  box-sizing: border-box;
  width: 80%;
  font-size: 20px;
  font-family: "Raleway", sans-serif;
}
.food main .box1 .bookingBoxDrop #bookingBox1 .boxInner .time_picker {
  width: 100%;
  margin-bottom: 15px;
}
.food main .box1 .bookingBoxDrop #bookingBox1 .boxInner .time_picker input {
  color: #0C1244;
  padding: 7px;
  border: 1.5px solid #0C1244;
  background-color: #F5F0DD;
  box-sizing: border-box;
  width: 80%;
  font-size: 20px;
  font-family: "Raleway", sans-serif;
}
.food main .box1 .bookingBoxDrop #bookingBox1 .boxInner .name {
  width: 100%;
  margin-bottom: 15px;
}
.food main .box1 .bookingBoxDrop #bookingBox1 .boxInner .name input {
  color: #0C1244;
  padding: 7px;
  border: 1.5px solid #0C1244;
  background-color: #F5F0DD;
  box-sizing: border-box;
  width: 80%;
  font-size: 20px;
  font-family: "Raleway", sans-serif;
}
.food main .box1 .bookingBoxDrop #bookingBox1 .boxInner .phone {
  width: 100%;
  margin-bottom: 15px;
}
.food main .box1 .bookingBoxDrop #bookingBox1 .boxInner .phone input {
  color: #0C1244;
  padding: 7px;
  border: 1.5px solid #0C1244;
  background-color: #F5F0DD;
  box-sizing: border-box;
  width: 80%;
  font-size: 20px;
  font-family: "Raleway", sans-serif;
}
.food main .box1 .bookingBoxDrop #bookingBox1 .boxInner .submit_btn {
  margin: 15px 0px 10px 0px;
}
.food main .box1 .bookingBoxDrop #bookingBox1 .boxInner .submit_btn button {
  width: 80%;
  height: 50px;
  color: #F5F0DD;
  background-color: #0C1244;
  border: 1.5px solid #F5F0DD;
  font-size: 24px;
  font-family: "Raleway", sans-serif;
  cursor: pointer;
}
.food main .box1 .bookingBoxDrop #bookingBox1 .boxInner .submit_btn button:active {
  transform: translate(0px, 2px);
  -webkit-transform: translate(0px, 2px);
  box-shadow: 0px 1px 0px 0px;
}
.food main .box1 .bookingBoxDrop #bookingBox1 .boxInner .submit_btn button:hover {
  color: #0C1244;
  background-color: #F5F0DD;
  border: 1.5px solid #0C1244;
}
.food main .box1 .bookingBoxDrop #completeBox1 {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  width: 350px;
  box-shadow: 1px 10px 30px #cccccc;
  background-color: #F5F0DD;
}
.food main .box1 .bookingBoxDrop #completeBox1 .boxInner {
  position: relative;
  width: 300px;
  margin: 0 auto;
  padding: 20px 0;
  text-align: center;
  box-sizing: border-box;
}
.food main .box1 .bookingBoxDrop #completeBox1 .boxInner .bookingBoxClose {
  font-size: 24px;
  color: #0C1244;
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}
.food main .wrapper_bottom {
  margin-bottom: 150px;
}
.food main .wrapper_bottom h3 {
  color: #0C1244;
  font-size: 32px;
  letter-spacing: 3px;
  text-align: center;
  margin-bottom: 50px;
}
.food main .wrapper_bottom .map {
  width: 900px;
  height: 700px;
  margin: 0 auto;
  background-image: url("../img/food/sun/sunmap.png");
  background-size: cover;
  position: relative;
  border: 1px solid #0C1244;
}
.food main .wrapper_bottom .map .foodicon {
  animation-name: scale1;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
.food main .wrapper_bottom .map .juice {
  z-index: 1;
  top: 180px;
  left: 120px;
  position: absolute;
  cursor: pointer;
}
.food main .wrapper_bottom .map .bbq {
  z-index: 1;
  top: 540px;
  left: 255px;
  position: absolute;
  cursor: pointer;
}
.food main .wrapper_bottom .map .hamberger {
  z-index: 1;
  top: 380px;
  left: 410px;
  position: absolute;
  cursor: pointer;
}
.food main .wrapper_bottom .map .lobster {
  z-index: 1;
  top: 260px;
  left: 520px;
  position: absolute;
  cursor: pointer;
}
.food main .wrapper_bottom .map .backdrop {
  z-index: 1;
  opacity: 0;
  filter: alpha(opacity=0);
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: #000;
}
.food main .wrapper_bottom .map .iconBox {
  display: none;
  z-index: 2;
  width: 250px;
  height: 350px;
  border: 1px solid #0C1244;
  padding: 10px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  background-color: rgba(245, 240, 221, 0.8);
  -moz-box-shadow: 0px 0px 5px #444444;
  -webkit-box-shadow: 0px 0px 5px #444444;
  box-shadow: 0px 0px 5px #444444;
}
.food main .wrapper_bottom .map .iconBox .close {
  font-size: 24px;
  color: #0C1244;
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}
.food main .wrapper_bottom .map .iconBox img {
  margin-top: 20px;
  margin-bottom: 20px;
}
.food main .wrapper_bottom .map .iconBox p {
  color: #0C1244;
  font-size: 16px;
  letter-spacing: 3px;
  line-height: 1.6;
}
.food main .wrapper_bottom .map .iconBox .iconBoxtime {
  margin-top: 10px;
  margin-bottom: 40px;
}

.food_moon {
  background-color: #0C1244;
  position: relative;
}
.food_moon #bgCanvas {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100;
  transition: height 1s;
}
.food_moon .banner {
  position: relative;
  height: 100vh;
  width: 100%;
  background-image: url("../img/food/banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.food_moon .banner h1 {
  color: white;
  font-size: 48px;
}
.food_moon main {
  width: 1280px;
  margin: 0 auto;
}
.food_moon main .wrapper_top .bread {
  color: #F5F0DD;
  font-size: 16px;
  margin-top: 25px;
  margin-bottom: 100px;
  margin-left: 100px;
  letter-spacing: 3px;
}
.food_moon main .wrapper_top .bread a {
  text-decoration: none;
  color: #F5F0DD;
  margin-right: 10px;
}
.food_moon main .wrapper_top .circle1 {
  margin-left: 100px;
  border-radius: 50%;
  border: 1px solid #F5F0DD;
}
.food_moon main .wrapper_top .circle {
  margin-left: 75px;
  border-radius: 50%;
  border: 1px solid #F5F0DD;
}
.food_moon main .wrapper_top h4 {
  color: #F5F0DD;
  font-size: 24px;
  letter-spacing: 3px;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 50px;
}
.food_moon main .wrapper_top .food1 {
  overflow: hidden;
}
.food_moon main .wrapper_top .food1 .food_right_top_rwd {
  display: none;
}
.food_moon main .wrapper_top .food1 .food_right_top_rwd h3 {
  color: #0C1244;
  -webkit-text-stroke: 1px #F5F0DD;
  font-size: 32px;
  text-align: center;
  margin-top: 28px;
  margin-bottom: 7px;
  letter-spacing: 3px;
}
.food_moon main .wrapper_top .food1 .food_right_top_rwd .slogan1 {
  color: #F5F0DD;
  font-size: 16px;
  text-align: center;
  margin-bottom: 7px;
  letter-spacing: 3px;
}
.food_moon main .wrapper_top .food1 .food_right_top_rwd .underline {
  width: 40%;
  margin: 0 auto;
  height: 1px;
  border-top: 1px solid #F5F0DD;
  display: block;
  text-align: center;
  margin-bottom: 40px;
}
.food_moon main .wrapper_top .food1 .food1_left {
  float: left;
  width: 50%;
}
.food_moon main .wrapper_top .food1 .food1_left .food1_img {
  margin-left: 100px;
  border: 1px solid #F5F0DD;
}
.food_moon main .wrapper_top .food1 .food1_right {
  float: right;
  width: 50%;
}
.food_moon main .wrapper_top .food1 .food1_right h3 {
  color: #0C1244;
  -webkit-text-stroke: 1px #F5F0DD;
  font-size: 32px;
  text-align: center;
  margin-top: 28px;
  margin-bottom: 7px;
  letter-spacing: 3px;
}
.food_moon main .wrapper_top .food1 .food1_right .slogan1 {
  color: #F5F0DD;
  font-size: 16px;
  text-align: center;
  margin-bottom: 7px;
  letter-spacing: 3px;
}
.food_moon main .wrapper_top .food1 .food1_right .underline {
  width: 40%;
  margin: 0 auto;
  height: 1px;
  border-top: 1px solid #F5F0DD;
  display: block;
  text-align: center;
  margin-bottom: 40px;
}
.food_moon main .wrapper_top .food1 .food1_right .meals {
  margin-bottom: 27px;
  text-align: center;
  color: #F5F0DD;
  font-size: 16px;
}
.food_moon main .wrapper_top .food1 .food1_right .forklist {
  width: 120px;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 auto;
}
.food_moon main .wrapper_top .food1 .food1_right .forklist .forkset {
  text-align: center;
}
.food_moon main .wrapper_top .food1 .food1_right .forklist .forkset .fa-solid {
  color: #F5F0DD;
  display: inline-block;
}
.food_moon main .wrapper_top .food1 .food1_right .forklist .forkset .ingredients {
  margin-bottom: 20px;
  margin-left: 3px;
  color: #F5F0DD;
  font-size: 16px;
  display: inline-block;
}
.food_moon main .wrapper_top .midline {
  width: 70%;
  height: 1px;
  border-top: 1px solid #F5F0DD;
  margin: 65px auto;
}
.food_moon main .wrapper_top .food2 {
  overflow: hidden;
  margin-bottom: 50px;
}
.food_moon main .wrapper_top .food2 .food2_left_top_rwd {
  display: none;
}
.food_moon main .wrapper_top .food2 .food2_right {
  float: right;
  width: 50%;
}
.food_moon main .wrapper_top .food2 .food2_right .food2_img {
  border: 1px solid #F5F0DD;
}
.food_moon main .wrapper_top .food2 .food2_left {
  float: left;
  width: 50%;
}
.food_moon main .wrapper_top .food2 .food2_left h3 {
  color: #0C1244;
  font-size: 32px;
  text-align: center;
  margin-top: 28px;
  margin-bottom: 7px;
  letter-spacing: 3px;
  -webkit-text-stroke: 1px #F5F0DD;
}
.food_moon main .wrapper_top .food2 .food2_left .slogan1 {
  color: #F5F0DD;
  font-size: 16px;
  text-align: center;
  margin-bottom: 7px;
  letter-spacing: 3px;
}
.food_moon main .wrapper_top .food2 .food2_left .underline {
  width: 40%;
  margin: 0 auto;
  height: 1px;
  border-top: 1px solid #F5F0DD;
  display: block;
  text-align: center;
  margin-bottom: 40px;
}
.food_moon main .wrapper_top .food2 .food2_left .meals {
  margin-bottom: 27px;
  text-align: center;
  color: #F5F0DD;
  font-size: 16px;
}
.food_moon main .wrapper_top .food2 .food2_left .forklist {
  width: 120px;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 auto;
}
.food_moon main .wrapper_top .food2 .food2_left .forklist .forkset {
  text-align: center;
}
.food_moon main .wrapper_top .food2 .food2_left .forklist .forkset .fa-solid {
  color: #F5F0DD;
  display: inline-block;
}
.food_moon main .wrapper_top .food2 .food2_left .forklist .forkset .ingredients {
  margin-bottom: 20px;
  margin-left: 3px;
  color: #F5F0DD;
  font-size: 16px;
  display: inline-block;
}
.food_moon main .wrapper_mid {
  margin: 0 auto;
}
.food_moon main .wrapper_mid h2 {
  color: #F5F0DD;
  font-size: 40px;
  letter-spacing: 3px;
  text-align: center;
  margin-top: 180px;
  margin-bottom: 20px;
  font-weight: bold;
}
.food_moon main .wrapper_mid .underline2 {
  width: 40%;
  height: 1px;
  border-top: 1px solid #F5F0DD;
  margin: 0 auto;
  margin-bottom: 180px;
}
.food_moon main .wrapper_mid .restaurant1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 120px;
  width: calc(100% - 280px);
  margin-left: auto;
  margin-right: auto;
}
.food_moon main .wrapper_mid .restaurant1 .restaurant1_left .restaurant1_pic1 {
  border: 1px solid #F5F0DD;
}
.food_moon main .wrapper_mid .restaurant1 .restaurant1_right {
  border-top: 1px solid #F5F0DD;
}
.food_moon main .wrapper_mid .restaurant1 .restaurant1_right h3 {
  color: #F5F0DD;
  font-size: 32px;
  text-align: center;
  margin-top: -50px;
  letter-spacing: 3px;
}
.food_moon main .wrapper_mid .restaurant1 .restaurant1_right .restaurant1_right_top {
  padding-top: 50px;
  padding-left: 40px;
  box-sizing: border-box;
}
.food_moon main .wrapper_mid .restaurant1 .restaurant1_right .restaurant1_right_top p {
  color: #F5F0DD;
  font-size: 16px;
  letter-spacing: 3px;
}
.food_moon main .wrapper_mid .restaurant1 .restaurant1_right .restaurant1_right_top .time {
  margin-bottom: 35px;
}
.food_moon main .wrapper_mid .restaurant1 .restaurant1_right .restaurant1_right_bottom {
  padding-top: 70px;
  padding-left: 40px;
  box-sizing: border-box;
}
.food_moon main .wrapper_mid .restaurant1 .restaurant1_right .restaurant1_right_bottom p {
  color: #F5F0DD;
  font-size: 16px;
  letter-spacing: 3px;
  margin-bottom: 15px;
}
.food_moon main .wrapper_mid .restaurant1 .restaurant1_right .restaurant1_right_bottom a {
  color: #F5F0DD;
  text-decoration: none;
  letter-spacing: 3px;
}
.food_moon main .wrapper_mid .restaurant1 .restaurant1_right .restaurant1_right_bottom .booknow {
  float: right;
  display: block;
  width: 140px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  border: 1px solid #F5F0DD;
  margin-top: -50px;
}
.food_moon main .wrapper_mid .restaurant1 .restaurant1_right .restaurant1_right_bottom .booknow:hover {
  background-color: #F5F0DD;
  color: #0C1244;
}
.food_moon main .wrapper_mid .fa-star {
  color: #FFBF44;
  letter-spacing: -5px;
  display: inline-block;
}
.food_moon main .wrapper_mid .fa-star-half-stroke {
  color: #FFBF44;
  letter-spacing: -5px;
  display: inline-block;
}
.food_moon main .wrapper_mid .fa-circle-plus {
  color: #F5F0DD;
}
.food_moon main .wrapper_bottom {
  margin-bottom: 150px;
}
.food_moon main .wrapper_bottom h3 {
  color: #F5F0DD;
  font-size: 32px;
  letter-spacing: 3px;
  text-align: center;
  margin-bottom: 50px;
}
.food_moon main .wrapper_bottom .map {
  width: 900px;
  height: 700px;
  margin: 0 auto;
  background-image: url("../img/food/moon/moonmap.png");
  background-size: cover;
  position: relative;
  border: 1px solid #F5F0DD;
}
.food_moon main .wrapper_bottom .map .foodicon {
  animation-name: scale1;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
.food_moon main .wrapper_bottom .map .juice {
  top: 425px;
  left: 730px;
  position: absolute;
  cursor: pointer;
}
.food_moon main .wrapper_bottom .map .bbq {
  top: 210px;
  left: 275px;
  position: absolute;
  cursor: pointer;
}
.food_moon main .wrapper_bottom .map .hamberger {
  top: 130px;
  left: 575px;
  position: absolute;
  cursor: pointer;
}
.food_moon main .wrapper_bottom .map .lobster {
  top: 275px;
  left: 415px;
  position: absolute;
  cursor: pointer;
}
.food_moon main .wrapper_bottom .map .backdrop {
  z-index: 1;
  opacity: 0;
  filter: alpha(opacity=0);
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: #000;
}
.food_moon main .wrapper_bottom .map .iconBox {
  display: none;
  z-index: 2;
  width: 250px;
  height: 350px;
  border: 1px solid #0C1244;
  padding: 10px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  background-color: rgba(245, 240, 221, 0.8);
  -moz-box-shadow: 0px 0px 5px #444444;
  -webkit-box-shadow: 0px 0px 5px #444444;
  box-shadow: 0px 0px 5px #444444;
}
.food_moon main .wrapper_bottom .map .iconBox .fa-circle-xmark {
  color: #0C1244;
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}
.food_moon main .wrapper_bottom .map .iconBox img {
  margin-top: 20px;
  margin-bottom: 20px;
}
.food_moon main .wrapper_bottom .map .iconBox p {
  color: #0C1244;
  font-size: 16px;
  letter-spacing: 3px;
  line-height: 1.6;
}
.food_moon main .wrapper_bottom .map .iconBox .iconBoxtime {
  margin-top: 10px;
  margin-bottom: 40px;
}
.food_moon main .wrapper_bottom .bubbly-button {
  display: inline-block;
  width: 140px;
  line-height: 50px;
  text-align: center;
  -webkit-appearance: none;
  appearance: none;
  background-color: #F5F0DD;
  color: #0C1244;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  position: relative;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
  box-shadow: 0 2px 25px rgba(245, 240, 221, 0.5);
}
.food_moon main .wrapper_bottom .bubbly-button:focus {
  outline: 0;
}
.food_moon main .wrapper_bottom .bubbly-button:before, .food_moon main .wrapper_bottom .bubbly-button:after {
  position: absolute;
  content: "";
  display: block;
  width: 140%;
  height: 100%;
  left: -20%;
  z-index: -1000;
  transition: all ease-in-out 0.5s;
  background-repeat: no-repeat;
}
.food_moon main .wrapper_bottom .bubbly-button:before {
  display: none;
  top: -75%;
  background-image: radial-gradient(circle, #F5F0DD 20%, transparent 20%), radial-gradient(circle, transparent 20%, #F5F0DD 20%, transparent 30%), radial-gradient(circle, #F5F0DD 20%, transparent 20%), radial-gradient(circle, #F5F0DD 20%, transparent 20%), radial-gradient(circle, transparent 10%, #F5F0DD 15%, transparent 20%), radial-gradient(circle, #F5F0DD 20%, transparent 20%), radial-gradient(circle, #F5F0DD 20%, transparent 20%), radial-gradient(circle, #F5F0DD 20%, transparent 20%), radial-gradient(circle, #F5F0DD 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
}
.food_moon main .wrapper_bottom .bubbly-button:after {
  display: none;
  bottom: -75%;
  background-image: radial-gradient(circle, #F5F0DD 20%, transparent 20%), radial-gradient(circle, #F5F0DD 20%, transparent 20%), radial-gradient(circle, transparent 10%, #F5F0DD 15%, transparent 20%), radial-gradient(circle, #F5F0DD 20%, transparent 20%), radial-gradient(circle, #F5F0DD 20%, transparent 20%), radial-gradient(circle, #F5F0DD 20%, transparent 20%), radial-gradient(circle, #F5F0DD 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
}
.food_moon main .wrapper_bottom .bubbly-button:active {
  transform: scale(0.9);
  background-color: #efe7c9;
  box-shadow: 0 2px 25px rgba(245, 240, 221, 0.5);
}
.food_moon main .wrapper_bottom .bubbly-button.animate:before {
  display: block;
  animation: topBubbles ease-in-out 0.75s forwards;
}
.food_moon main .wrapper_bottom .bubbly-button.animate:after {
  display: block;
  animation: bottomBubbles ease-in-out 0.75s forwards;
}

@media screen and (max-width: 575.98px) {
  .food {
    background-color: #F5F0DD;
  }
  .food .banner {
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: url("../img/food/banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .food .banner h1 {
    color: white;
    font-size: 28px;
    text-align: center;
  }
  .food main {
    width: calc(100% - 40px);
    margin: 0 auto;
  }
  .food main .wrapper_top .bread {
    color: #0C1244;
    font-size: 16px;
    margin-top: 25px;
    margin-bottom: 50px;
    margin-left: 30px;
    letter-spacing: 3px;
  }
  .food main .wrapper_top .bread a {
    text-decoration: none;
    color: #0C1244;
    margin-right: 10px;
  }
  .food main .wrapper_top .circle1 {
    margin-left: 100px;
    display: none;
  }
  .food main .wrapper_top .circle {
    margin-left: 75px;
    display: none;
  }
  .food main .wrapper_top h4 {
    color: #0C1244;
    font-size: 24px;
    letter-spacing: 3px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 50px;
    padding: 0 30px;
  }
  .food main .wrapper_top .food1 .food_right_top_rwd {
    display: block;
  }
  .food main .wrapper_top .food1 .food_right_top_rwd h3 {
    color: #0C1244;
    -webkit-text-stroke: 1px #0C1244;
    font-size: 28px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 7px;
    letter-spacing: 3px;
  }
  .food main .wrapper_top .food1 .food_right_top_rwd .slogan1 {
    color: #0C1244;
    font-size: 16px;
    text-align: center;
    margin-bottom: 7px;
    letter-spacing: 3px;
  }
  .food main .wrapper_top .food1 .food_right_top_rwd .underline {
    width: 50%;
    margin: 0 auto;
    height: 1px;
    border-top: 1px solid #0C1244;
    display: block;
    text-align: center;
    margin-bottom: 20px;
  }
  .food main .wrapper_top .food1 .food1_rwd {
    display: flex;
  }
  .food main .wrapper_top .food1 .food1_rwd .food1_left {
    float: initial;
    width: 70%;
    border: 1px solid #0C1244;
    background-image: url("../img/food/square1-1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .food main .wrapper_top .food1 .food1_rwd .food1_left .food1_img {
    display: none;
    width: 100%;
    height: 100%;
    margin-left: 0px;
  }
  .food main .wrapper_top .food1 .food1_rwd .food1_right {
    float: initial;
    width: 30%;
    margin-top: 10px;
  }
  .food main .wrapper_top .food1 .food1_rwd .food1_right .food_right_top {
    display: none;
  }
  .food main .wrapper_top .food1 .food1_rwd .food1_right .food_right_top h3 {
    color: #F5F0DD;
    -webkit-text-stroke: 1px #0C1244;
    font-size: 28px;
    text-align: center;
    margin-top: 28px;
    margin-bottom: 7px;
    letter-spacing: 3px;
  }
  .food main .wrapper_top .food1 .food1_rwd .food1_right .food_right_top .slogan1 {
    color: #0C1244;
    font-size: 16px;
    text-align: center;
    margin-bottom: 7px;
    letter-spacing: 3px;
  }
  .food main .wrapper_top .food1 .food1_rwd .food1_right .food_right_top .underline {
    width: 50%;
    margin: 0 auto;
    height: 1px;
    border-top: 1px solid #0C1244;
    display: block;
    text-align: center;
    margin-bottom: 40px;
  }
  .food main .wrapper_top .food1 .food1_rwd .food1_right .meals {
    margin-bottom: 27px;
    text-align: center;
    color: #0C1244;
    font-size: 16px;
  }
  .food main .wrapper_top .food1 .food1_rwd .food1_right .forklist {
    width: 120px;
    padding-left: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 auto;
  }
  .food main .wrapper_top .food1 .food1_rwd .food1_right .forklist .forkset {
    text-align: center;
  }
  .food main .wrapper_top .food1 .food1_rwd .food1_right .forklist .forkset .fa-solid {
    color: #0C1244;
    display: inline-block;
  }
  .food main .wrapper_top .food1 .food1_rwd .food1_right .forklist .forkset .ingredients {
    margin-bottom: 20px;
    margin-left: 3px;
    color: #0C1244;
    font-size: 16px;
    display: inline-block;
  }
  .food main .wrapper_top .midline {
    display: none;
    width: 70%;
    height: 1px;
    border-top: 1px solid #0C1244;
    margin: 65px auto;
  }
  .food main .wrapper_top .food2 .food2_left_top_rwd {
    display: block;
  }
  .food main .wrapper_top .food2 .food2_left_top_rwd h3 {
    color: #0C1244;
    font-size: 28px;
    text-align: center;
    margin-top: 28px;
    margin-bottom: 7px;
    letter-spacing: 3px;
    -webkit-text-stroke: 1px #0C1244;
  }
  .food main .wrapper_top .food2 .food2_left_top_rwd .slogan1 {
    color: #0C1244;
    font-size: 16px;
    text-align: center;
    margin-bottom: 7px;
    letter-spacing: 3px;
  }
  .food main .wrapper_top .food2 .food2_left_top_rwd .underline {
    width: 50%;
    margin: 0 auto;
    height: 1px;
    border-top: 1px solid #0C1244;
    display: block;
    text-align: center;
    margin-bottom: 20px;
  }
  .food main .wrapper_top .food2 .food2_rwd {
    display: flex;
  }
  .food main .wrapper_top .food2 .food2_rwd .food2_right {
    float: initial;
    width: 70%;
    border: 1px solid #0C1244;
    background-image: url("../img/food/square2-1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .food main .wrapper_top .food2 .food2_rwd .food2_right .food2_img {
    display: none;
    width: 100%;
    height: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }
  .food main .wrapper_top .food2 .food2_rwd .food2_left {
    float: initial;
    width: 30%;
    margin-top: 10px;
  }
  .food main .wrapper_top .food2 .food2_rwd .food2_left .food2_left_top {
    display: none;
  }
  .food main .wrapper_top .food2 .food2_rwd .food2_left h3 {
    color: #F5F0DD;
    font-size: 28px;
    text-align: center;
    margin-top: 28px;
    margin-bottom: 7px;
    letter-spacing: 3px;
    -webkit-text-stroke: 1px #0C1244;
  }
  .food main .wrapper_top .food2 .food2_rwd .food2_left .slogan1 {
    color: #0C1244;
    font-size: 16px;
    text-align: center;
    margin-bottom: 7px;
    letter-spacing: 3px;
  }
  .food main .wrapper_top .food2 .food2_rwd .food2_left .underline {
    width: 50%;
    margin: 0 auto;
    height: 1px;
    border-top: 1px solid #0C1244;
    display: block;
    text-align: center;
    margin-bottom: 40px;
  }
  .food main .wrapper_top .food2 .food2_rwd .food2_left .meals {
    margin-bottom: 27px;
    text-align: center;
    color: #0C1244;
    font-size: 16px;
  }
  .food main .wrapper_top .food2 .food2_rwd .food2_left .forklist {
    width: 120px;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 auto;
  }
  .food main .wrapper_top .food2 .food2_rwd .food2_left .forklist .forkset {
    text-align: center;
  }
  .food main .wrapper_top .food2 .food2_rwd .food2_left .forklist .forkset .fa-solid {
    color: #0C1244;
    display: inline-block;
  }
  .food main .wrapper_top .food2 .food2_rwd .food2_left .forklist .forkset .ingredients {
    margin-bottom: 20px;
    margin-left: 3px;
    color: #0C1244;
    font-size: 16px;
    display: inline-block;
  }
  .food main .wrapper_mid h2 {
    color: #0C1244;
    font-size: 36px;
    letter-spacing: 3px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
    font-weight: bold;
  }
  .food main .wrapper_mid .underline2 {
    width: 80%;
    height: 1px;
    border-top: 1px solid #0C1244;
    margin: 0 auto;
  }
  .food main .wrapper_mid .restaurant1 {
    display: initial;
  }
  .food main .wrapper_mid .restaurant1 .restaurant1_left .restaurant1_pic1 {
    margin: 0 0;
    margin-top: 30px;
    width: 100%;
  }
  .food main .wrapper_mid .restaurant1 .restaurant1_right {
    border-top: 0px;
    margin-right: 0px;
  }
  .food main .wrapper_mid .restaurant1 .restaurant1_right h3 {
    color: #0C1244;
    font-size: 28px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    letter-spacing: 3px;
  }
  .food main .wrapper_mid .restaurant1 .restaurant1_right .restaurant1_right_top {
    padding-top: 0px;
    padding-left: 0px;
    box-sizing: border-box;
  }
  .food main .wrapper_mid .restaurant1 .restaurant1_right .restaurant1_right_top p {
    color: #0C1244;
    font-size: 16px;
    letter-spacing: 3px;
  }
  .food main .wrapper_mid .restaurant1 .restaurant1_right .restaurant1_right_top .time {
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
  }
  .food main .wrapper_mid .restaurant1 .restaurant1_right .restaurant1_right_bottom {
    padding-top: 0px;
    padding-left: 0px;
    margin-top: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
  }
  .food main .wrapper_mid .restaurant1 .restaurant1_right .restaurant1_right_bottom .commentsArea {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .food main .wrapper_mid .restaurant1 .restaurant1_right .restaurant1_right_bottom p {
    color: #0C1244;
    font-size: 16px;
    letter-spacing: 0px;
    margin-bottom: 0px;
  }
  .food main .wrapper_mid .restaurant1 .restaurant1_right .restaurant1_right_bottom a {
    color: #0C1244;
    text-decoration: none;
    letter-spacing: 0px;
    display: inline-block;
    margin-top: 0px;
  }
  .food main .wrapper_mid .restaurant1 .restaurant1_right .restaurant1_right_bottom .booknow {
    float: initial;
    display: block;
    width: 50%;
    height: 60px;
    text-align: center;
    line-height: 60px;
    border: 1px solid #0C1244;
    margin-top: 0px;
  }
  .food main .wrapper_mid .restaurant1 .restaurant1_right .restaurant1_right_bottom .booknow:hover {
    background-color: #0C1244;
    color: #F5F0DD;
  }
  .food main .wrapper_mid .fa-star {
    color: #FFBF44;
    letter-spacing: -5px;
    display: inline-block;
  }
  .food main .wrapper_mid .fa-star-half-stroke {
    color: #FFBF44;
    letter-spacing: -5px;
    display: inline-block;
  }
  .food main .wrapper_mid .fa-circle-plus {
    color: #0C1244;
  }
  .food main .wrapper_bottom {
    margin-bottom: 150px;
  }
  .food main .wrapper_bottom h3 {
    display: none;
    color: #0C1244;
    font-size: 28px;
    letter-spacing: 3px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 0px;
  }
  .food main .wrapper_bottom .map {
    display: none;
    width: 900px;
    height: 700px;
    margin: 0 auto;
    background-image: url("../img/food/sunmap.png");
    background-size: cover;
    position: relative;
  }
  .food main .wrapper_bottom .map .juice {
    z-index: 1;
    top: 180px;
    left: 120px;
    position: absolute;
    cursor: pointer;
  }
  .food main .wrapper_bottom .map .bbq {
    z-index: 1;
    top: 540px;
    left: 255px;
    position: absolute;
    cursor: pointer;
  }
  .food main .wrapper_bottom .map .hamberger {
    z-index: 1;
    top: 380px;
    left: 410px;
    position: absolute;
    cursor: pointer;
  }
  .food main .wrapper_bottom .map .lobster {
    z-index: 1;
    top: 260px;
    left: 520px;
    position: absolute;
    cursor: pointer;
  }
  .food main .wrapper_bottom .map .iconBox {
    width: 250px;
    height: 350px;
    border: 1px solid #0C1244;
    padding: 10px;
    text-align: center;
    position: absolute;
    top: 170px;
    left: 315px;
    background-color: rgba(245, 240, 221, 0.5);
  }
  .food main .wrapper_bottom .map .iconBox .fa-circle-xmark {
    color: #0C1244;
    position: absolute;
    top: 15px;
    right: 15px;
  }
  .food main .wrapper_bottom .map .iconBox img {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .food main .wrapper_bottom .map .iconBox p {
    color: #0C1244;
    font-size: 16px;
    letter-spacing: 3px;
    line-height: 1.6;
  }
  .food main .wrapper_bottom .map .iconBox .iconBoxtime {
    margin-top: 10px;
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 575.98px) {
  .food_moon {
    background-color: #0C1244;
  }
  .food_moon .banner {
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: url("../img/food/banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .food_moon .banner h1 {
    color: white;
    font-size: 28px;
    text-align: center;
  }
  .food_moon main {
    width: calc(100% - 40px);
    margin: 0 auto;
  }
  .food_moon main .wrapper_top .bread {
    color: #F5F0DD;
    font-size: 16px;
    margin-top: 25px;
    margin-bottom: 50px;
    margin-left: 30px;
    letter-spacing: 3px;
  }
  .food_moon main .wrapper_top .bread a {
    text-decoration: none;
    color: #F5F0DD;
    margin-right: 10px;
  }
  .food_moon main .wrapper_top .circle1 {
    margin-left: 100px;
    display: none;
  }
  .food_moon main .wrapper_top .circle {
    margin-left: 75px;
    display: none;
  }
  .food_moon main .wrapper_top h4 {
    color: #F5F0DD;
    font-size: 24px;
    letter-spacing: 3px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 50px;
    padding: 0 30px;
  }
  .food_moon main .wrapper_top .food1 .food_right_top_rwd {
    display: block;
  }
  .food_moon main .wrapper_top .food1 .food_right_top_rwd h3 {
    color: #F5F0DD;
    -webkit-text-stroke: 1px #F5F0DD;
    font-size: 28px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 7px;
    letter-spacing: 3px;
  }
  .food_moon main .wrapper_top .food1 .food_right_top_rwd .slogan1 {
    color: #F5F0DD;
    font-size: 16px;
    text-align: center;
    margin-bottom: 7px;
    letter-spacing: 3px;
  }
  .food_moon main .wrapper_top .food1 .food_right_top_rwd .underline {
    width: 50%;
    margin: 0 auto;
    height: 1px;
    border-top: 1px solid #F5F0DD;
    display: block;
    text-align: center;
    margin-bottom: 20px;
  }
  .food_moon main .wrapper_top .food1 .food1_rwd {
    display: flex;
  }
  .food_moon main .wrapper_top .food1 .food1_rwd .food1_left {
    float: initial;
    width: 70%;
    border: 1px solid #F5F0DD;
    background-image: url("../img/food/square1-1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .food_moon main .wrapper_top .food1 .food1_rwd .food1_left .food1_img {
    display: none;
    width: 100%;
    height: 100%;
    margin-left: 0px;
  }
  .food_moon main .wrapper_top .food1 .food1_rwd .food1_right {
    float: initial;
    width: 30%;
    margin-top: 10px;
  }
  .food_moon main .wrapper_top .food1 .food1_rwd .food1_right .food_right_top {
    display: none;
  }
  .food_moon main .wrapper_top .food1 .food1_rwd .food1_right .food_right_top h3 {
    color: #F5F0DD;
    -webkit-text-stroke: 1px #F5F0DD;
    font-size: 28px;
    text-align: center;
    margin-top: 28px;
    margin-bottom: 7px;
    letter-spacing: 3px;
  }
  .food_moon main .wrapper_top .food1 .food1_rwd .food1_right .food_right_top .slogan1 {
    color: #F5F0DD;
    font-size: 16px;
    text-align: center;
    margin-bottom: 7px;
    letter-spacing: 3px;
  }
  .food_moon main .wrapper_top .food1 .food1_rwd .food1_right .food_right_top .underline {
    width: 50%;
    margin: 0 auto;
    height: 1px;
    border-top: 1px solid #F5F0DD;
    display: block;
    text-align: center;
    margin-bottom: 40px;
  }
  .food_moon main .wrapper_top .food1 .food1_rwd .food1_right .meals {
    margin-bottom: 27px;
    text-align: center;
    color: #F5F0DD;
    font-size: 16px;
  }
  .food_moon main .wrapper_top .food1 .food1_rwd .food1_right .forklist {
    width: 120px;
    padding-left: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 auto;
  }
  .food_moon main .wrapper_top .food1 .food1_rwd .food1_right .forklist .forkset {
    text-align: center;
  }
  .food_moon main .wrapper_top .food1 .food1_rwd .food1_right .forklist .forkset .fa-solid {
    color: #F5F0DD;
    display: inline-block;
  }
  .food_moon main .wrapper_top .food1 .food1_rwd .food1_right .forklist .forkset .ingredients {
    margin-bottom: 20px;
    margin-left: 3px;
    color: #F5F0DD;
    font-size: 16px;
    display: inline-block;
  }
  .food_moon main .wrapper_top .midline {
    display: none;
    width: 70%;
    height: 1px;
    border-top: 1px solid #0C1244;
    margin: 65px auto;
  }
  .food_moon main .wrapper_top .food2 .food2_left_top_rwd {
    display: block;
  }
  .food_moon main .wrapper_top .food2 .food2_left_top_rwd h3 {
    color: #F5F0DD;
    font-size: 28px;
    text-align: center;
    margin-top: 28px;
    margin-bottom: 7px;
    letter-spacing: 3px;
    -webkit-text-stroke: 1px #F5F0DD;
  }
  .food_moon main .wrapper_top .food2 .food2_left_top_rwd .slogan1 {
    color: #F5F0DD;
    font-size: 16px;
    text-align: center;
    margin-bottom: 7px;
    letter-spacing: 3px;
  }
  .food_moon main .wrapper_top .food2 .food2_left_top_rwd .underline {
    width: 50%;
    margin: 0 auto;
    height: 1px;
    border-top: 1px solid #F5F0DD;
    display: block;
    text-align: center;
    margin-bottom: 20px;
  }
  .food_moon main .wrapper_top .food2 .food2_rwd {
    display: flex;
  }
  .food_moon main .wrapper_top .food2 .food2_rwd .food2_right {
    float: initial;
    width: 70%;
    border: 1px solid #F5F0DD;
    background-image: url("../img/food/square2-1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .food_moon main .wrapper_top .food2 .food2_rwd .food2_right .food2_img {
    display: none;
    width: 100%;
    height: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }
  .food_moon main .wrapper_top .food2 .food2_rwd .food2_left {
    float: initial;
    width: 30%;
    margin-top: 10px;
  }
  .food_moon main .wrapper_top .food2 .food2_rwd .food2_left .food2_left_top {
    display: none;
  }
  .food_moon main .wrapper_top .food2 .food2_rwd .food2_left h3 {
    color: #0C1244;
    font-size: 28px;
    text-align: center;
    margin-top: 28px;
    margin-bottom: 7px;
    letter-spacing: 3px;
    -webkit-text-stroke: 1px #0C1244;
  }
  .food_moon main .wrapper_top .food2 .food2_rwd .food2_left .slogan1 {
    color: #F5F0DD;
    font-size: 16px;
    text-align: center;
    margin-bottom: 7px;
    letter-spacing: 3px;
  }
  .food_moon main .wrapper_top .food2 .food2_rwd .food2_left .underline {
    width: 40%;
    margin: 0 auto;
    height: 1px;
    border-top: 1px solid #0C1244;
    display: block;
    text-align: center;
    margin-bottom: 40px;
  }
  .food_moon main .wrapper_top .food2 .food2_rwd .food2_left .meals {
    margin-bottom: 27px;
    text-align: center;
    color: #F5F0DD;
    font-size: 16px;
  }
  .food_moon main .wrapper_top .food2 .food2_rwd .food2_left .forklist {
    width: 120px;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 auto;
  }
  .food_moon main .wrapper_top .food2 .food2_rwd .food2_left .forklist .forkset {
    text-align: center;
  }
  .food_moon main .wrapper_top .food2 .food2_rwd .food2_left .forklist .forkset .fa-solid {
    color: #F5F0DD;
    display: inline-block;
  }
  .food_moon main .wrapper_top .food2 .food2_rwd .food2_left .forklist .forkset .ingredients {
    margin-bottom: 20px;
    margin-left: 3px;
    color: #F5F0DD;
    font-size: 16px;
    display: inline-block;
  }
  .food_moon main .wrapper_mid h2 {
    color: #F5F0DD;
    font-size: 36px;
    letter-spacing: 3px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
    font-weight: bold;
  }
  .food_moon main .wrapper_mid .underline2 {
    width: 80%;
    height: 1px;
    border-top: 1px solid #F5F0DD;
    margin: 0 auto;
  }
  .food_moon main .wrapper_mid .restaurant1 {
    display: initial;
  }
  .food_moon main .wrapper_mid .restaurant1 .restaurant1_left .restaurant1_pic1 {
    margin: 0 0;
    margin-top: 30px;
    width: 100%;
  }
  .food_moon main .wrapper_mid .restaurant1 .restaurant1_right {
    border-top: 0px;
    margin-right: 0px;
  }
  .food_moon main .wrapper_mid .restaurant1 .restaurant1_right h3 {
    color: #F5F0DD;
    font-size: 28px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    letter-spacing: 3px;
  }
  .food_moon main .wrapper_mid .restaurant1 .restaurant1_right .restaurant1_right_top {
    padding-top: 0px;
    padding-left: 0px;
    box-sizing: border-box;
  }
  .food_moon main .wrapper_mid .restaurant1 .restaurant1_right .restaurant1_right_top p {
    color: #F5F0DD;
    font-size: 16px;
    letter-spacing: 3px;
  }
  .food_moon main .wrapper_mid .restaurant1 .restaurant1_right .restaurant1_right_top .time {
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
  }
  .food_moon main .wrapper_mid .restaurant1 .restaurant1_right .restaurant1_right_bottom {
    padding-top: 0px;
    padding-left: 0px;
    margin-top: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
  }
  .food_moon main .wrapper_mid .restaurant1 .restaurant1_right .restaurant1_right_bottom .commentsArea {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .food_moon main .wrapper_mid .restaurant1 .restaurant1_right .restaurant1_right_bottom p {
    color: #F5F0DD;
    font-size: 16px;
    letter-spacing: 0px;
    margin-bottom: 0px;
  }
  .food_moon main .wrapper_mid .restaurant1 .restaurant1_right .restaurant1_right_bottom a {
    color: #F5F0DD;
    text-decoration: none;
    letter-spacing: 0px;
    display: inline-block;
    margin-top: 0px;
  }
  .food_moon main .wrapper_mid .restaurant1 .restaurant1_right .restaurant1_right_bottom .booknow {
    float: initial;
    display: block;
    width: 50%;
    height: 60px;
    text-align: center;
    line-height: 60px;
    border: 1px solid #F5F0DD;
    margin-top: 0px;
  }
  .food_moon main .wrapper_mid .restaurant1 .restaurant1_right .restaurant1_right_bottom .booknow:hover {
    background-color: #F5F0DD;
    color: #0C1244;
  }
  .food_moon main .wrapper_mid .fa-star {
    color: #FFBF44;
    letter-spacing: -5px;
    display: inline-block;
  }
  .food_moon main .wrapper_mid .fa-star-half-stroke {
    color: #FFBF44;
    letter-spacing: -5px;
    display: inline-block;
  }
  .food_moon main .wrapper_mid .fa-circle-plus {
    color: #F5F0DD;
  }
  .food_moon main .wrapper_bottom {
    margin-bottom: 150px;
  }
  .food_moon main .wrapper_bottom h3 {
    display: none;
    color: #F5F0DD;
    font-size: 28px;
    letter-spacing: 3px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 0px;
  }
  .food_moon main .wrapper_bottom .map {
    display: none;
    width: 900px;
    height: 700px;
    margin: 0 auto;
    background-image: url("../img/food/sunmap.png");
    background-size: cover;
    position: relative;
  }
  .food_moon main .wrapper_bottom .map .foodicon {
    animation-name: scale1;
    animation-duration: 5s;
    animation-iteration-count: infinite;
  }
  .food_moon main .wrapper_bottom .map .juice {
    top: 180px;
    left: 120px;
    position: absolute;
    cursor: pointer;
  }
  .food_moon main .wrapper_bottom .map .bbq {
    top: 540px;
    left: 255px;
    position: absolute;
    cursor: pointer;
  }
  .food_moon main .wrapper_bottom .map .hamberger {
    top: 380px;
    left: 410px;
    position: absolute;
    cursor: pointer;
  }
  .food_moon main .wrapper_bottom .map .lobster {
    top: 260px;
    left: 520px;
    position: absolute;
    cursor: pointer;
  }
  .food_moon main .wrapper_bottom .map .iconBox {
    width: 250px;
    height: 350px;
    border: 1px solid #F5F0DD;
    padding: 10px;
    text-align: center;
    position: absolute;
    top: 170px;
    left: 315px;
    background-color: rgba(245, 240, 221, 0.5);
  }
  .food_moon main .wrapper_bottom .map .iconBox .fa-circle-xmark {
    color: #F5F0DD;
    position: absolute;
    top: 15px;
    right: 15px;
  }
  .food_moon main .wrapper_bottom .map .iconBox img {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .food_moon main .wrapper_bottom .map .iconBox p {
    color: #F5F0DD;
    font-size: 16px;
    letter-spacing: 3px;
    line-height: 1.6;
  }
  .food_moon main .wrapper_bottom .map .iconBox .iconBoxtime {
    margin-top: 10px;
    margin-bottom: 40px;
  }
}
/* 地圖燈箱動畫 */
@keyframes scale1 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes topBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
  }
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
@keyframes bottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
  }
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
.bubbly-button {
  display: inline-block;
  width: 140px;
  line-height: 50px;
  text-align: center;
  background-color: #0C1244;
  color: #F5F0DD;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  position: relative;
  top: 50px;
  left: calc(50% - 70px);
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
  box-shadow: 0 2px 25px rgba(12, 18, 68, 0.5);
}
.bubbly-button:focus {
  outline: 0;
}
.bubbly-button:before, .bubbly-button:after {
  position: absolute;
  content: "";
  display: block;
  width: 140%;
  height: 100%;
  left: -20%;
  z-index: -1000;
  transition: all ease-in-out 0.5s;
  background-repeat: no-repeat;
}
.bubbly-button:before {
  display: none;
  top: -75%;
  background-image: radial-gradient(circle, #0C1244 20%, transparent 20%), radial-gradient(circle, transparent 20%, #0C1244 20%, transparent 30%), radial-gradient(circle, #0C1244 20%, transparent 20%), radial-gradient(circle, #0C1244 20%, transparent 20%), radial-gradient(circle, transparent 10%, #0C1244 15%, transparent 20%), radial-gradient(circle, #0C1244 20%, transparent 20%), radial-gradient(circle, #0C1244 20%, transparent 20%), radial-gradient(circle, #0C1244 20%, transparent 20%), radial-gradient(circle, #0C1244 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
}
.bubbly-button:after {
  display: none;
  bottom: -75%;
  background-image: radial-gradient(circle, #0C1244 20%, transparent 20%), radial-gradient(circle, #0C1244 20%, transparent 20%), radial-gradient(circle, transparent 10%, #0C1244 15%, transparent 20%), radial-gradient(circle, #0C1244 20%, transparent 20%), radial-gradient(circle, #0C1244 20%, transparent 20%), radial-gradient(circle, #0C1244 20%, transparent 20%), radial-gradient(circle, #0C1244 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
}
.bubbly-button:active {
  transform: scale(0.9);
  background-color: #080c2e;
  box-shadow: 0 2px 25px rgba(12, 18, 68, 0.5);
}
.bubbly-button.animate:before {
  display: block;
  animation: topBubbles ease-in-out 0.75s forwards;
}
.bubbly-button.animate:after {
  display: block;
  animation: bottomBubbles ease-in-out 0.75s forwards;
}

/*# sourceMappingURL=food.css.map */
