@charset "UTF-8";
footer {
  background-color: #F5F0DD;
  color: #0C1244;
}
footer section {
  position: sticky;
  top: 0px;
}
footer section ul {
  display: flex;
  overflow: hidden;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  z-index: -1;
  transition: all 0.3s;
}
footer section ul > li {
  height: 100%;
  flex-shrink: 0;
}
footer section ul > li:first-child {
  width: 100%;
  background-image: url("../img/footer/sun/footer_bg_01.jpg");
  background-size: cover;
  position: relative;
}
footer section ul > li:first-child .icon {
  position: absolute;
  top: 390px;
  right: 30px;
  z-index: 100;
  display: flex;
  flex-direction: column;
}
footer section ul > li:first-child .icon a {
  margin-bottom: 20px;
}
footer section ul > li:last-child {
  width: 50%;
  background-color: #F5F0DD;
  border: 3px solid #0C1244;
  box-sizing: border-box;
  padding-top: 50px;
}
footer section ul > li:last-child > p {
  line-height: 40px;
  text-align: center;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: #0C1244;
}
footer section ul > li:last-child .today_weather {
  display: flex;
  margin-top: 40px;
  padding: 0 50px;
}
footer section ul > li:last-child .today_weather div {
  flex-basis: 0;
  flex-grow: 1;
}
footer section ul > li:last-child .today_weather .today_weather_left h1 {
  margin-bottom: 30px;
}
footer section ul > li:last-child .today_weather .today_weather_left h1:first-child {
  font-size: 72px;
}
footer section ul > li:last-child .today_weather .today_weather_center h1 {
  text-align: center;
}
footer section ul > li:last-child .today_weather .today_weather_center svg {
  width: 100%;
  margin-top: 45px;
}
footer section ul > li:last-child .today_weather .today_weather_right {
  text-align: right;
}
footer section ul > li:last-child .today_weather .today_weather_right h1:first-child {
  font-size: 80px;
  margin-bottom: 65px;
}
footer section ul > li:last-child .today_weather .today_weather_right div {
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-end;
}
footer section ul > li:last-child .today_weather .today_weather_right div svg {
  height: 25px;
  width: 25px;
  margin-right: 10px;
}
footer section ul > li:last-child .wave {
  position: relative;
  margin-top: 10px;
  height: 10px;
}
footer section ul > li:last-child .wave svg {
  width: 100%;
  position: absolute;
}
footer section ul > li:last-child .wave svg:last-child {
  top: 5px;
}
footer section ul > li:last-child .week_weather {
  margin-top: 50px;
  display: flex;
  padding: 0 75px;
}
footer section ul > li:last-child .week_weather > li {
  flex-basis: 0;
  flex-grow: 1;
  text-align: center;
}
footer section ul > li:last-child .week_weather > li svg {
  width: 50%;
  height: 95px;
}
footer section .wrapper {
  width: 400px;
  height: 100vh;
  box-sizing: border-box;
  position: absolute;
  top: 0px;
  left: calc((100% - 1180px) / 2);
}
footer section .wrapper #content {
  box-sizing: border-box;
  height: 100%;
  flex-shrink: 0;
  padding-top: 90px;
  width: 100%;
}
footer section .wrapper #content .info {
  margin-top: 130px;
  width: 100%;
}
footer section .wrapper #content .info h5 {
  margin-bottom: 20px;
}
footer section .wrapper #content .info .subscribe {
  margin-top: 55px;
  margin-bottom: 10px;
}
footer section .wrapper #content .info .subscribe p {
  margin-bottom: 10px;
}
footer section .wrapper #content .info .subscribe input {
  width: 300px;
  height: 30px;
  background-color: #0C1244;
  box-sizing: border-box;
  border: 0;
  font-family: "Noto Sans TC";
  color: #F5F0DD;
  font-size: 16rem;
  font-weight: normal;
}
footer section .wrapper #content .info .subscribe button {
  width: 80px;
  height: 30px;
  box-sizing: border-box;
  background-color: transparent;
  border: 1px solid #0C1244;
  color: #0C1244;
}
footer section .wrapper #content .info .subscribe button:hover {
  cursor: pointer;
}
footer section .wrapper #content .info > p {
  line-height: 1.6;
}
footer section .wrapper #content .info .icon {
  margin-top: 60px;
}
footer section .wrapper #content .info .icon img {
  height: 40px;
  margin-right: 40px;
}

/*moon 底下有換背景圖 url("../img/footer/moon/footer_bg_01.jpg")*/
.moon footer {
  background-color: #0C1244;
  color: #F5F0DD;
}
.moon footer section {
  position: sticky;
  top: 0px;
}
.moon footer section ul {
  display: flex;
  overflow: hidden;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  z-index: -1;
  transition: all 0.3s;
}
.moon footer section ul > li {
  height: 100%;
  flex-shrink: 0;
}
.moon footer section ul > li:first-child {
  width: 100%;
  background-image: url("../img/footer/moon/footer_bg_01.jpg");
  background-size: cover;
  position: relative;
}
.moon footer section ul > li:first-child .icon {
  position: absolute;
  top: 390px;
  right: 30px;
  z-index: 100;
  display: flex;
  flex-direction: column;
}
.moon footer section ul > li:first-child .icon a {
  margin-bottom: 20px;
}
.moon footer section ul > li:last-child {
  width: 50%;
  background-color: #0C1244;
  border: 3px solid #F5F0DD;
  box-sizing: border-box;
  padding-top: 50px;
}
.moon footer section ul > li:last-child > p {
  line-height: 40px;
  text-align: center;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: #F5F0DD;
}
.moon footer section ul > li:last-child .today_weather {
  display: flex;
  margin-top: 40px;
  padding: 0 50px;
}
.moon footer section ul > li:last-child .today_weather div {
  flex-basis: 0;
  flex-grow: 1;
}
.moon footer section ul > li:last-child .today_weather .today_weather_left h1 {
  margin-bottom: 30px;
}
.moon footer section ul > li:last-child .today_weather .today_weather_left h1:first-child {
  font-size: 72px;
}
.moon footer section ul > li:last-child .today_weather .today_weather_center h1 {
  text-align: center;
}
.moon footer section ul > li:last-child .today_weather .today_weather_center svg {
  width: 100%;
  margin-top: 45px;
}
.moon footer section ul > li:last-child .today_weather .today_weather_right {
  text-align: right;
}
.moon footer section ul > li:last-child .today_weather .today_weather_right h1:first-child {
  font-size: 80px;
  margin-bottom: 65px;
}
.moon footer section ul > li:last-child .today_weather .today_weather_right div {
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-end;
}
.moon footer section ul > li:last-child .today_weather .today_weather_right div svg {
  height: 25px;
  width: 25px;
  margin-right: 10px;
}
.moon footer section ul > li:last-child .wave {
  position: relative;
  margin-top: 10px;
  height: 10px;
}
.moon footer section ul > li:last-child .wave svg {
  width: 100%;
  position: absolute;
}
.moon footer section ul > li:last-child .wave svg:last-child {
  top: 5px;
}
.moon footer section ul > li:last-child .week_weather {
  margin-top: 50px;
  display: flex;
  padding: 0 75px;
}
.moon footer section ul > li:last-child .week_weather > li {
  flex-basis: 0;
  flex-grow: 1;
  text-align: center;
}
.moon footer section ul > li:last-child .week_weather > li svg {
  width: 50%;
  height: 95px;
}
.moon footer section .wrapper {
  width: 400px;
  height: 100vh;
  box-sizing: border-box;
  position: absolute;
  top: 0px;
  left: calc((100% - 1180px) / 2);
}
.moon footer section .wrapper #content {
  box-sizing: border-box;
  height: 100%;
  flex-shrink: 0;
  padding-top: 90px;
  width: 100%;
}
.moon footer section .wrapper #content .info {
  margin-top: 130px;
  width: 100%;
}
.moon footer section .wrapper #content .info h5 {
  margin-bottom: 20px;
}
.moon footer section .wrapper #content .info .subscribe {
  margin-top: 55px;
  margin-bottom: 10px;
}
.moon footer section .wrapper #content .info .subscribe p {
  margin-bottom: 10px;
}
.moon footer section .wrapper #content .info .subscribe input {
  width: 300px;
  height: 30px;
  background-color: #F5F0DD;
  box-sizing: border-box;
  border: 0;
  font-family: "Noto Sans TC";
  color: #0C1244;
  font-size: 16rem;
  font-weight: normal;
}
.moon footer section .wrapper #content .info .subscribe button {
  width: 80px;
  height: 30px;
  box-sizing: border-box;
  background-color: transparent;
  border: 1px solid #F5F0DD;
  color: #F5F0DD;
}
.moon footer section .wrapper #content .info .subscribe button:hover {
  cursor: pointer;
}
.moon footer section .wrapper #content .info > p {
  line-height: 1.6;
}
.moon footer section .wrapper #content .info .icon {
  margin-top: 60px;
}
.moon footer section .wrapper #content .info .icon img {
  height: 40px;
  margin-right: 40px;
}

/* RWD 576px以下字型大小 */
@media screen and (max-width: 575.98px) {
  footer {
    position: static;
  }
  footer section ul {
    position: static;
  }
  footer section ul > li {
    height: auto;
  }
  footer section ul > li:first-child {
    display: none;
  }
  footer section ul > li:last-child {
    width: 100%;
  }
  footer section .wrapper {
    position: static;
    width: 100%;
    transform: translateX(0%);
    background-image: url("../img/footer/footer_bg_01_3.jpg");
    background-size: cover;
  }
  footer section .wrapper #content {
    padding-left: 0;
    width: auto;
    width: 80%;
    margin: 0 auto;
  }
  footer section .wrapper #content .info {
    width: 100%;
  }
}

/*# sourceMappingURL=footer.css.map */
