@import url(../css/reset.css);
@import url(../css/common.css);
body {
  background-color: #F5F0DD;
  color: #0C1244;
  letter-spacing: 3px;
  line-height: 1.6;
  font-family: "Times New Roman", "Noto Sans TC", sans-serif;
}

header {
  padding: 50px;
  height: 100vh;
}
header .wrapper {
  width: 1180px;
  margin: 0 auto;
}
header .wrapper .switchText {
  border: 1px white solid;
  margin: 0 auto;
  width: 260px;
  height: 40px;
  margin-top: 20px;
}
header .wrapper .switchText p {
  color: white;
  line-height: 40px;
  text-align: center;
}
header .wrapper .switchText .fa-arrow-up-right {
  color: white;
}
header h1 {
  color: white;
  text-align: center;
  margin: 60px 0;
}
header h2 {
  color: white;
  text-align: center;
}

.index_video {
  top: 0;
  left: 0;
  object-fit: fill;
  position: absolute;
  z-index: -99;
  width: 100%;
}

nav {
  height: 77px;
  display: flex;
  justify-content: space-between;
}
nav .bar {
  display: block;
  width: 50px;
  height: 5px;
  margin-bottom: 8px;
  background-color: white;
}
nav .book_button {
  display: block;
  width: 90px;
  height: 30px;
  color: #0C1244;
  background-color: #F5F0DD;
  border-radius: 15px;
  text-align: center;
  cursor: pointer;
}
nav .book_button:hover {
  background-color: #0C1244;
  color: #F5F0DD;
}
nav .book_button a {
  display: block;
  text-decoration: none;
  line-height: 30px;
}
nav .book_button a:hover {
  color: #F5F0DD;
}
nav .main_button img {
  width: 90px;
}

.parallax {
  background-image: url(../img/index/muntain_bg01.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
  position: relative;
}
.parallax h3 {
  text-align: center;
}

.news {
  display: flex;
  border: 1px solid #0C1244;
  height: 250px;
  align-items: center;
  justify-content: center;
}
.news .news_title {
  width: 120px;
  height: 70px;
}
.news .news_text {
  margin-left: 75px;
}

.category .wrapper {
  width: 1180px;
  margin: 0 auto;
  border: 1px solid purple;
}
.category .wrapper > h3 {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 80px;
}
.category .wrapper .FoodSea {
  height: 600px;
  position: relative;
  margin-bottom: 180px;
}
.category .wrapper .FoodSea .cloud01 {
  position: absolute;
  top: 0;
  right: 0;
}
.category .wrapper .FoodSea .foodSeaText {
  width: 630px;
  height: 350px;
  position: absolute;
  top: 220px;
  right: 0;
  background-color: #F5F0DD;
  padding: 80px;
  box-sizing: border-box;
}
.category .wrapper .FoodSea .foodSeaText h3 {
  width: 100px;
  border-radius: 50%;
  line-height: 100px;
  border: 4px solid #0C1244;
  text-align: center;
  position: absolute;
  top: -50px;
  right: 100px;
}
.category .wrapper .FoodSea .foodSeaText .draw01 {
  background-color: #0C1244;
  width: 65%;
  height: 5px;
  position: absolute;
  top: 0;
  left: 0;
}
.category .wrapper .FoodSea .foodSeaText .draw02 {
  background-color: #0C1244;
  width: 5px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.category .wrapper .FoodSea .foodSeaText .draw03 {
  background-color: #0C1244;
  width: 100%;
  height: 5px;
  position: absolute;
  bottom: 0;
  left: 0;
}
.category .wrapper .FoodSea .foodSeaText .draw04 {
  background-color: #0C1244;
  width: 5px;
  height: 345px;
  position: absolute;
  bottom: 0;
  right: 0;
  box-sizing: border-box;
}
.category .wrapper .FoodSea .foodSeaText .draw05 {
  background-color: #0C1244;
  width: 14%;
  height: 5px;
  position: absolute;
  top: 0;
  right: 0;
  box-sizing: border-box;
}
.category .wrapper .FoodSea .foodSeaText .comments_area {
  margin-top: 40px;
  color: #0C1244;
  display: flex;
  justify-content: space-between;
}
.category .wrapper .FoodSea .foodSeaText .comments_area .fa-star {
  color: #FFBF44;
  font-size: 12px;
  letter-spacing: -5px;
}
.category .wrapper .FoodSea .foodSeaText .comments_area .fa-star-half-stroke {
  color: #FFBF44;
  font-size: 12px;
  letter-spacing: -5px;
}
.category .wrapper .FoodSea .foodSeaText .comments_area .viewButton {
  border: 1.5px solid #0C1244;
  width: 140px;
  height: 50px;
  text-align: center;
  display: block;
  text-decoration: none;
  line-height: 50px;
  color: #0C1244;
}
.category .wrapper .FoodSea .foodSeaText .comments_area .viewButton:hover {
  background-color: #0C1244;
  color: #F5F0DD;
}
.category .wrapper .LiveLand {
  height: 600px;
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 180px;
}
.category .wrapper .LiveLand .LiveLandText {
  width: 630px;
  height: 350px;
  position: absolute;
  top: 220px;
  right: 0;
  background-color: #F5F0DD;
  padding: 80px;
  box-sizing: border-box;
}
.category .wrapper .LiveLand .LiveLandText h3 {
  width: 100px;
  border-radius: 50%;
  line-height: 100px;
  border: 4px solid #0C1244;
  text-align: center;
  position: absolute;
  top: -50px;
  left: 100px;
}
.category .wrapper .LiveLand .LiveLandText .draw01 {
  background-color: #0C1244;
  width: 14%;
  height: 5px;
  position: absolute;
  top: 0;
  right: 0;
  box-sizing: border-box;
}
.category .wrapper .LiveLand .LiveLandText .draw02 {
  background-color: #0C1244;
  width: 5px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.category .wrapper .LiveLand .LiveLandText .draw03 {
  background-color: #0C1244;
  width: 100%;
  height: 5px;
  position: absolute;
  bottom: 0;
  left: 0;
}
.category .wrapper .LiveLand .LiveLandText .draw04 {
  background-color: #0C1244;
  width: 5px;
  height: 345px;
  position: absolute;
  bottom: 0;
  right: 0;
  box-sizing: border-box;
}
.category .wrapper .LiveLand .LiveLandText .draw05 {
  background-color: #0C1244;
  width: 65%;
  height: 5px;
  position: absolute;
  top: 0;
  left: 0;
}
.category .wrapper .LiveLand .LiveLandText .comments_area {
  margin-top: 40px;
  color: #0C1244;
  display: flex;
  justify-content: space-between;
}
.category .wrapper .LiveLand .LiveLandText .comments_area .fa-star {
  color: #FFBF44;
  font-size: 12px;
  letter-spacing: -5px;
}
.category .wrapper .LiveLand .LiveLandText .comments_area .fa-star-half-stroke {
  color: #FFBF44;
  font-size: 12px;
  letter-spacing: -5px;
}
.category .wrapper .LiveLand .LiveLandText .comments_area .viewButton {
  border: 1.5px solid #0C1244;
  width: 140px;
  height: 50px;
  text-align: center;
  display: block;
  text-decoration: none;
  line-height: 50px;
  color: #0C1244;
}
.category .wrapper .LiveLand .LiveLandText .comments_area .viewButton:hover {
  background-color: #0C1244;
  color: #F5F0DD;
}

/*# sourceMappingURL=index.css.map */
