body {
  background-color: #F5F0DD;
  color: #0C1244;
  letter-spacing: 3px;
  line-height: 1.6;
  font-family: "Times New Roman", "Noto Sans TC", sans-serif;
}

header {
  padding: 50px;
  height: 100vh;
}
header .wrapper {
  width: 1180px;
  margin: 0 auto;
}
header .wrapper .switchText {
  border: 1px white solid;
  margin: 0 auto;
  width: 260px;
  height: 40px;
  margin-top: 20px;
}
header .wrapper .switchText p {
  color: white;
  line-height: 40px;
  text-align: center;
}
header .wrapper .switchText .fa-arrow-up-right {
  color: white;
}
header h1 {
  color: white;
  text-align: center;
  margin: 60px 0;
}
header h2 {
  color: white;
  text-align: center;
}

.index_video {
  top: 0;
  left: 0;
  object-fit: fill;
  position: absolute;
  z-index: -99;
  width: 100%;
}

nav {
  height: 77px;
  display: flex;
  justify-content: space-between;
}
nav .bar {
  display: block;
  width: 50px;
  height: 5px;
  margin-bottom: 8px;
  background-color: white;
}
nav .book_button {
  display: block;
  width: 90px;
  height: 30px;
  color: #0C1244;
  background-color: #F5F0DD;
  border-radius: 15px;
  text-align: center;
  cursor: pointer;
}
nav .book_button:hover {
  background-color: #0C1244;
  color: #F5F0DD;
}
nav .book_button a {
  display: block;
  text-decoration: none;
  line-height: 30px;
}
nav .book_button a:hover {
  color: #F5F0DD;
}
nav .main_button img {
  width: 90px;
}

.parallax {
  background-image: url(../img/index/muntain_bg01.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
  position: relative;
}
.parallax h3 {
  text-align: center;
}

.news {
  display: flex;
  border: 1px solid #0C1244;
  height: 250px;
  align-items: center;
  justify-content: center;
}
.news .news_title {
  width: 120px;
  height: 70px;
}
.news .news_text {
  margin-left: 75px;
}

.category .wrapper {
  width: 1180px;
  margin: 0 auto;
  border: 1px solid purple;
}
.category .wrapper > h3 {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 80px;
}
.category .wrapper .FoodSea {
  height: 600px;
  position: relative;
  margin-bottom: 180px;
}
.category .wrapper .FoodSea .cloud01 {
  position: absolute;
  top: 0;
  right: 0;
}
.category .wrapper .FoodSea .foodSeaText {
  width: 630px;
  height: 350px;
  position: absolute;
  top: 220px;
  right: 0;
  background-color: #F5F0DD;
  padding: 80px;
  box-sizing: border-box;
}
.category .wrapper .FoodSea .foodSeaText h3 {
  width: 100px;
  border-radius: 50%;
  line-height: 100px;
  border: 4px solid #0C1244;
  text-align: center;
  position: absolute;
  top: -50px;
  right: 100px;
}
.category .wrapper .FoodSea .foodSeaText .draw01 {
  background-color: #0C1244;
  width: 65%;
  height: 5px;
  position: absolute;
  top: 0;
  left: 0;
}
.category .wrapper .FoodSea .foodSeaText .draw02 {
  background-color: #0C1244;
  width: 5px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.category .wrapper .FoodSea .foodSeaText .draw03 {
  background-color: #0C1244;
  width: 100%;
  height: 5px;
  position: absolute;
  bottom: 0;
  left: 0;
}
.category .wrapper .FoodSea .foodSeaText .draw04 {
  background-color: #0C1244;
  width: 5px;
  height: 345px;
  position: absolute;
  bottom: 0;
  right: 0;
  box-sizing: border-box;
}
.category .wrapper .FoodSea .foodSeaText .draw05 {
  background-color: #0C1244;
  width: 14%;
  height: 5px;
  position: absolute;
  top: 0;
  right: 0;
  box-sizing: border-box;
}
.category .wrapper .FoodSea .foodSeaText .comments_area {
  margin-top: 40px;
  color: #0C1244;
  display: flex;
  justify-content: space-between;
}
.category .wrapper .FoodSea .foodSeaText .comments_area .fa-star {
  color: #FFBF44;
  font-size: 12px;
  letter-spacing: -5px;
}
.category .wrapper .FoodSea .foodSeaText .comments_area .fa-star-half-stroke {
  color: #FFBF44;
  font-size: 12px;
  letter-spacing: -5px;
}
.category .wrapper .FoodSea .foodSeaText .comments_area .viewButton {
  border: 1.5px solid #0C1244;
  width: 140px;
  height: 50px;
  text-align: center;
  display: block;
  text-decoration: none;
  line-height: 50px;
  color: #0C1244;
}
.category .wrapper .FoodSea .foodSeaText .comments_area .viewButton:hover {
  background-color: #0C1244;
  color: #F5F0DD;
}
.category .wrapper .LiveLand {
  height: 600px;
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 220px;
}
.category .wrapper .LiveLand .LiveLandText {
  width: 630px;
  height: 350px;
  position: absolute;
  top: 320px;
  left: 0;
  background-color: #F5F0DD;
  padding: 80px;
  box-sizing: border-box;
}
.category .wrapper .LiveLand .LiveLandText h3 {
  width: 100px;
  border-radius: 50%;
  line-height: 100px;
  border: 4px solid #0C1244;
  text-align: center;
  position: absolute;
  top: -50px;
  left: 100px;
}
.category .wrapper .LiveLand .LiveLandText .draw01 {
  background-color: #0C1244;
  width: 14%;
  height: 5px;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
}
.category .wrapper .LiveLand .LiveLandText .draw02 {
  background-color: #0C1244;
  width: 5px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.category .wrapper .LiveLand .LiveLandText .draw03 {
  background-color: #0C1244;
  width: 100%;
  height: 5px;
  position: absolute;
  bottom: 0;
  left: 0;
}
.category .wrapper .LiveLand .LiveLandText .draw04 {
  background-color: #0C1244;
  width: 5px;
  height: 345px;
  position: absolute;
  bottom: 0;
  right: 0;
  box-sizing: border-box;
}
.category .wrapper .LiveLand .LiveLandText .draw05 {
  background-color: #0C1244;
  width: 65%;
  height: 5px;
  position: absolute;
  top: 0;
  right: 0;
}
.category .wrapper .LiveLand .LiveLandText .comments_area {
  margin-top: 40px;
  color: #0C1244;
  display: flex;
  justify-content: space-between;
}
.category .wrapper .LiveLand .LiveLandText .comments_area .fa-star {
  color: #FFBF44;
  font-size: 12px;
  letter-spacing: -5px;
}
.category .wrapper .LiveLand .LiveLandText .comments_area .fa-star-half-stroke {
  color: #FFBF44;
  font-size: 12px;
  letter-spacing: -5px;
}
.category .wrapper .LiveLand .LiveLandText .comments_area .viewButton {
  border: 1.5px solid #0C1244;
  width: 140px;
  height: 50px;
  text-align: center;
  display: block;
  text-decoration: none;
  line-height: 50px;
  color: #0C1244;
}
.category .wrapper .LiveLand .LiveLandText .comments_area .viewButton:hover {
  background-color: #0C1244;
  color: #F5F0DD;
}

.instagram {
  padding-bottom: 250px;
}
.instagram .wrapper {
  border: 1px solid red;
  width: 1180px;
  margin: 0 auto;
}
.instagram .wrapper .fa-brands {
  font-size: 60px;
  width: 60px;
  text-align: center;
  border: 1px solid salmon;
}
.instagram .wrapper .igAccount {
  text-align: center;
}
.instagram .wrapper .instagramPhoto {
  border: 1px solid black;
  width: 936px;
  margin: 0 auto;
}
.instagram #ig_pop_up {
  display: none;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);
  height: 100vh;
  width: 100%;
}
.instagram #ig_pop_up #ig_pop_up_content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1200px;
  display: flex;
  justify-content: center;
}
.instagram #ig_pop_up #ig_pop_up_content #ig_pop_up_left {
  width: 800px;
  background-color: #000;
}
.instagram #ig_pop_up #ig_pop_up_content #ig_pop_up_left img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  margin-top: 100px;
}
.instagram #ig_pop_up #ig_pop_up_content #ig_pop_up_left p {
  text-align: center;
  line-height: 100px;
  color: #fff;
}
.instagram #ig_pop_up #ig_pop_up_content #ig_pop_up_right {
  width: 400px;
  background-color: #fff;
}
.instagram #ig_pop_up #ig_pop_up_content #ig_pop_up_right #ig_author {
  height: 85px;
  padding: 0 25px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 1px solid #BBB;
}
.instagram #ig_pop_up #ig_pop_up_content #ig_pop_up_right #ig_author #ig_author_img {
  width: 55px;
  border-radius: 50%;
  margin-right: 15px;
}
.instagram #ig_pop_up #ig_pop_up_content #ig_pop_up_right #ig_words {
  height: calc(100% - 85px);
  padding: 25px;
}

.traffic {
  text-align: center;
}
.traffic .wrapper {
  width: 1180px;
  margin: 0 auto;
}
.traffic .wrapper > h3 {
  margin-bottom: 70px;
}
.traffic .wrapper ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.traffic .wrapper ul > li {
  width: 565px;
  box-sizing: border-box;
  border: 1.5px solid #0C1244;
}
.traffic .wrapper ul > li .title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 35px;
  margin-bottom: 30px;
}
.traffic .wrapper ul > li .title i {
  font-size: 20rem;
  margin-right: 20px;
  height: 24px;
}
.traffic .wrapper ul > li > h4 {
  margin-bottom: 35px;
}
.traffic .wrapper ul > li ol {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.traffic .wrapper ul > li ol li {
  flex-basis: 0;
  flex-grow: 1;
}
.traffic .wrapper ul > li ol li h4 {
  line-height: 70px;
  border-top: 1px solid #0C1244;
  border-bottom: 1px solid #0C1244;
}
.traffic .wrapper ul > li ol li h5 {
  margin-top: 45px;
}
.traffic .wrapper ul > li ol li h5:last-child {
  margin-bottom: 45px;
}

/*# sourceMappingURL=index.css.map */
