.index {
  background-color: #F5F0DD;
  color: #0C1244;
  letter-spacing: 3px;
  line-height: 1.6;
  font-family: "Times New Roman", "Noto Sans TC", sans-serif;
}
.index header .headerCenter {
  position: absolute;
  z-index: 100;
  left: 50%;
  transform: translateX(-50%);
}
.index .indexHeader {
  padding: 50px;
  height: 100vh;
  position: relative;
  box-sizing: border-box;
}
.index .indexHeader .wrapper {
  width: 100%;
  margin: 0 auto;
}
.index .indexHeader .wrapper .videoWrappper .index_video {
  top: 0;
  left: 0;
  object-fit: fill;
  position: absolute;
  z-index: -99;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.index .indexHeader .wrapper .switchText {
  margin: 0 auto;
  width: 260px;
  height: 40px;
  margin-top: 120px;
}
.index .indexHeader .wrapper .switchText p {
  color: white;
  line-height: 40px;
  text-align: center;
}
.index .indexHeader .wrapper .switchText .fa-arrow-up-right {
  color: white;
}
.index .indexHeader h1 {
  color: white;
  text-align: center;
  margin: 60px 0;
}
.index .indexHeader h2 {
  color: white;
  text-align: center;
}
.index main .parallax {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.index main .parallax #text {
  position: absolute;
  font-size: 5vw;
  text-align: center;
}
.index main .parallax .muntain01 {
  width: 100%;
}
.index main .parallax img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}
.index main .news {
  display: flex;
  border: 1px solid #0C1244;
  height: 250px;
  align-items: center;
  justify-content: center;
}
.index main .news .news_title {
  width: 120px;
  height: 70px;
}
.index main .news .news_text {
  margin-left: 75px;
}
.index main .news .news_text_rwd {
  display: none;
}
.index main .category .wrapper {
  width: 1180px;
  margin: 0 auto;
}
.index main .category .wrapper > h3 {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 80px;
}
.index main .category .wrapper .FoodSea {
  height: 600px;
  position: relative;
  margin-bottom: 180px;
}
.index main .category .wrapper .FoodSea .cloud01 {
  position: absolute;
  top: 0;
  right: 0;
}
.index main .category .wrapper .FoodSea .foodSeaText {
  width: 630px;
  height: 350px;
  position: absolute;
  top: 220px;
  right: 0;
  background-color: #F5F0DD;
  padding: 80px;
  box-sizing: border-box;
}
.index main .category .wrapper .FoodSea .foodSeaText h3 {
  width: 100px;
  border-radius: 50%;
  line-height: 100px;
  border: 4px solid #0C1244;
  text-align: center;
  position: absolute;
  top: -50px;
  right: 100px;
}
.index main .category .wrapper .FoodSea .foodSeaText .draw01 {
  background-color: #0C1244;
  width: 65%;
  height: 5px;
  position: absolute;
  top: 0;
  left: 0;
}
.index main .category .wrapper .FoodSea .foodSeaText .draw02 {
  background-color: #0C1244;
  width: 5px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.index main .category .wrapper .FoodSea .foodSeaText .draw03 {
  background-color: #0C1244;
  width: 100%;
  height: 5px;
  position: absolute;
  bottom: 0;
  left: 0;
}
.index main .category .wrapper .FoodSea .foodSeaText .draw04 {
  background-color: #0C1244;
  width: 5px;
  height: 345px;
  position: absolute;
  bottom: 0;
  right: 0;
  box-sizing: border-box;
}
.index main .category .wrapper .FoodSea .foodSeaText .draw05 {
  background-color: #0C1244;
  width: 14%;
  height: 5px;
  position: absolute;
  top: 0;
  right: 0;
  box-sizing: border-box;
}
.index main .category .wrapper .FoodSea .foodSeaText .textarea_RWD {
  display: none;
}
.index main .category .wrapper .FoodSea .foodSeaText .comments_area {
  margin-top: 40px;
  color: #0C1244;
  display: flex;
  justify-content: space-between;
}
.index main .category .wrapper .FoodSea .foodSeaText .comments_area .fa-star {
  color: #FFBF44;
  font-size: 12px;
  letter-spacing: -5px;
}
.index main .category .wrapper .FoodSea .foodSeaText .comments_area .fa-star-half-stroke {
  color: #FFBF44;
  font-size: 12px;
  letter-spacing: -5px;
}
.index main .category .wrapper .FoodSea .foodSeaText .comments_area .viewButton {
  border: 1.5px solid #0C1244;
  width: 140px;
  height: 50px;
  text-align: center;
  display: block;
  text-decoration: none;
  line-height: 50px;
  color: #0C1244;
}
.index main .category .wrapper .FoodSea .foodSeaText .comments_area .viewButton:hover {
  background-color: #0C1244;
  color: #F5F0DD;
}
.index main .category .wrapper .FoodSea .foodSeaText .viewButton_RWD {
  border: 1.5px solid #0C1244;
  width: 140px;
  height: 50px;
  text-align: center;
  display: block;
  text-decoration: none;
  line-height: 50px;
  color: #0C1244;
  display: none;
}
.index main .category .wrapper .FoodSea .foodSeaText .viewButton_RWD:hover {
  background-color: #0C1244;
  color: #F5F0DD;
}
.index main .category .wrapper .LiveLand {
  height: 600px;
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 220px;
}
.index main .category .wrapper .LiveLand .LiveLandText {
  width: 630px;
  height: 350px;
  position: absolute;
  top: 320px;
  left: 0;
  background-color: #F5F0DD;
  padding: 80px;
  box-sizing: border-box;
}
.index main .category .wrapper .LiveLand .LiveLandText h3 {
  width: 100px;
  border-radius: 50%;
  line-height: 100px;
  border: 4px solid #0C1244;
  text-align: center;
  position: absolute;
  top: -50px;
  left: 100px;
}
.index main .category .wrapper .LiveLand .LiveLandText .draw01 {
  background-color: #0C1244;
  width: 14%;
  height: 5px;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
}
.index main .category .wrapper .LiveLand .LiveLandText .draw02 {
  background-color: #0C1244;
  width: 5px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.index main .category .wrapper .LiveLand .LiveLandText .draw03 {
  background-color: #0C1244;
  width: 100%;
  height: 5px;
  position: absolute;
  bottom: 0;
  left: 0;
}
.index main .category .wrapper .LiveLand .LiveLandText .draw04 {
  background-color: #0C1244;
  width: 5px;
  height: 345px;
  position: absolute;
  bottom: 0;
  right: 0;
  box-sizing: border-box;
}
.index main .category .wrapper .LiveLand .LiveLandText .draw05 {
  background-color: #0C1244;
  width: 65%;
  height: 5px;
  position: absolute;
  top: 0;
  right: 0;
}
.index main .category .wrapper .LiveLand .LiveLandText .textarea_RWD {
  display: none;
}
.index main .category .wrapper .LiveLand .LiveLandText .comments_area {
  margin-top: 40px;
  color: #0C1244;
  display: flex;
  justify-content: space-between;
}
.index main .category .wrapper .LiveLand .LiveLandText .comments_area .fa-star {
  color: #FFBF44;
  font-size: 12px;
  letter-spacing: -5px;
}
.index main .category .wrapper .LiveLand .LiveLandText .comments_area .fa-star-half-stroke {
  color: #FFBF44;
  font-size: 12px;
  letter-spacing: -5px;
}
.index main .category .wrapper .LiveLand .LiveLandText .comments_area .viewButton {
  border: 1.5px solid #0C1244;
  width: 140px;
  height: 50px;
  text-align: center;
  display: block;
  text-decoration: none;
  line-height: 50px;
  color: #0C1244;
}
.index main .category .wrapper .LiveLand .LiveLandText .comments_area .viewButton:hover {
  background-color: #0C1244;
  color: #F5F0DD;
}
.index main .category .wrapper .LiveLand .LiveLandText .viewButton_RWD {
  border: 1.5px solid #0C1244;
  width: 140px;
  height: 50px;
  text-align: center;
  display: block;
  text-decoration: none;
  line-height: 50px;
  color: #0C1244;
  display: none;
}
.index main .category .wrapper .LiveLand .LiveLandText .viewButton_RWD:hover {
  background-color: #0C1244;
  color: #F5F0DD;
}
.index main .instagram {
  padding-bottom: 30px;
}
.index main .instagram .wrapper {
  width: 1180px;
  margin: 0 auto;
}
.index main .instagram .wrapper .fa-brands {
  font-size: 60px;
  width: 60px;
  display: block;
  margin: 0 auto;
}
.index main .instagram .wrapper .igAccount {
  text-align: center;
}
.index main .instagram .wrapper .instagramPhoto {
  width: 936px;
  margin: 0 auto;
}
.index main .instagram .wrapper .instagramPhoto li img:hover {
  cursor: pointer;
}
.index main .instagram #ig_pop_up {
  display: none;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);
  height: 100vh;
  width: 100%;
}
.index main .instagram #ig_pop_up #ig_pop_up_content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1200px;
  display: flex;
  justify-content: center;
}
.index main .instagram #ig_pop_up #ig_pop_up_content #ig_pop_up_left {
  width: 800px;
  background-color: #000;
}
.index main .instagram #ig_pop_up #ig_pop_up_content #ig_pop_up_left img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  margin-top: 100px;
}
.index main .instagram #ig_pop_up #ig_pop_up_content #ig_pop_up_left p {
  text-align: center;
  line-height: 100px;
  color: #fff;
}
.index main .instagram #ig_pop_up #ig_pop_up_content #ig_pop_up_right {
  width: 400px;
  background-color: #fff;
}
.index main .instagram #ig_pop_up #ig_pop_up_content #ig_pop_up_right #ig_author {
  height: 85px;
  padding: 0 25px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 1px solid #BBB;
}
.index main .instagram #ig_pop_up #ig_pop_up_content #ig_pop_up_right #ig_author #ig_author_img {
  width: 55px;
  border-radius: 50%;
  margin-right: 15px;
}
.index main .instagram #ig_pop_up #ig_pop_up_content #ig_pop_up_right #ig_words {
  height: calc(100% - 85px);
  padding: 25px;
}
.index main .traffic {
  margin-top: 70px;
  text-align: center;
  margin-bottom: 50px;
}
.index main .traffic .wrapper {
  width: 1180px;
  margin: 0 auto;
}
.index main .traffic .wrapper > h3 {
  margin-bottom: 70px;
}
.index main .traffic .wrapper ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.index main .traffic .wrapper ul > li {
  width: 100%;
  box-sizing: border-box;
  border: 1.5px solid #0C1244;
}
.index main .traffic .wrapper ul > li .title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 35px;
  margin-bottom: 30px;
}
.index main .traffic .wrapper ul > li .title i {
  font-size: 20rem;
  margin-right: 20px;
  height: 24px;
}
.index main .traffic .wrapper ul > li > h4 {
  margin-bottom: 35px;
}
.index main .traffic .wrapper ul > li ol {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.index main .traffic .wrapper ul > li ol li {
  flex-basis: 0;
  flex-grow: 1;
}
.index main .traffic .wrapper ul > li ol li h4 {
  line-height: 70px;
  border-top: 1px solid #0C1244;
  border-bottom: 1px solid #0C1244;
}
.index main .traffic .wrapper ul > li ol li h5 {
  margin-top: 45px;
}
.index main .traffic .wrapper ul > li ol li h5:last-child {
  margin-bottom: 45px;
}

.index_moon {
  background-color: #0C1244;
  color: #F5F0DD;
  letter-spacing: 3px;
  line-height: 1.6;
  font-family: "Times New Roman", "Noto Sans TC", sans-serif;
}
.index_moon main .parallax {
  background-image: url(../img/index/muntain_bg01.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
  position: relative;
}
.index_moon main .parallax h3 {
  text-align: center;
}
.index_moon main .parallax .muntain01 {
  width: 100%;
}
.index_moon main .news {
  display: flex;
  border: 1px solid #F5F0DD;
  height: 250px;
  align-items: center;
  justify-content: center;
}
.index_moon main .news .news_title {
  width: 120px;
  height: 70px;
}
.index_moon main .news .news_text {
  margin-left: 75px;
}
.index_moon main .news .news_text_rwd {
  display: none;
}
.index_moon main .category .wrapper {
  width: 1180px;
  margin: 0 auto;
}
.index_moon main .category .wrapper > h3 {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 80px;
}
.index_moon main .category .wrapper .FoodSea {
  height: 600px;
  position: relative;
  margin-bottom: 180px;
}
.index_moon main .category .wrapper .FoodSea .cloud01 {
  position: absolute;
  top: 0;
  right: 0;
}
.index_moon main .category .wrapper .FoodSea .foodSeaText {
  width: 630px;
  height: 350px;
  position: absolute;
  top: 220px;
  right: 0;
  background-color: #0C1244;
  padding: 80px;
  box-sizing: border-box;
}
.index_moon main .category .wrapper .FoodSea .foodSeaText h3 {
  width: 100px;
  border-radius: 50%;
  line-height: 100px;
  border: 4px solid #F5F0DD;
  text-align: center;
  position: absolute;
  top: -50px;
  right: 100px;
}
.index_moon main .category .wrapper .FoodSea .foodSeaText .draw01 {
  background-color: #F5F0DD;
  width: 65%;
  height: 5px;
  position: absolute;
  top: 0;
  left: 0;
}
.index_moon main .category .wrapper .FoodSea .foodSeaText .draw02 {
  background-color: #F5F0DD;
  width: 5px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.index_moon main .category .wrapper .FoodSea .foodSeaText .draw03 {
  background-color: #F5F0DD;
  width: 100%;
  height: 5px;
  position: absolute;
  bottom: 0;
  left: 0;
}
.index_moon main .category .wrapper .FoodSea .foodSeaText .draw04 {
  background-color: #F5F0DD;
  width: 5px;
  height: 345px;
  position: absolute;
  bottom: 0;
  right: 0;
  box-sizing: border-box;
}
.index_moon main .category .wrapper .FoodSea .foodSeaText .draw05 {
  background-color: #F5F0DD;
  width: 14%;
  height: 5px;
  position: absolute;
  top: 0;
  right: 0;
  box-sizing: border-box;
}
.index_moon main .category .wrapper .FoodSea .foodSeaText .textarea_RWD {
  display: none;
}
.index_moon main .category .wrapper .FoodSea .foodSeaText .comments_area {
  margin-top: 40px;
  color: #F5F0DD;
  display: flex;
  justify-content: space-between;
}
.index_moon main .category .wrapper .FoodSea .foodSeaText .comments_area .fa-star {
  color: #FFBF44;
  font-size: 12px;
  letter-spacing: -5px;
}
.index_moon main .category .wrapper .FoodSea .foodSeaText .comments_area .fa-star-half-stroke {
  color: #FFBF44;
  font-size: 12px;
  letter-spacing: -5px;
}
.index_moon main .category .wrapper .FoodSea .foodSeaText .comments_area .viewButton {
  border: 1.5px solid #F5F0DD;
  width: 140px;
  height: 50px;
  text-align: center;
  display: block;
  text-decoration: none;
  line-height: 50px;
  color: #F5F0DD;
}
.index_moon main .category .wrapper .FoodSea .foodSeaText .comments_area .viewButton:hover {
  background-color: #F5F0DD;
  color: #0C1244;
}
.index_moon main .category .wrapper .FoodSea .foodSeaText .viewButton_RWD {
  border: 1.5px solid #F5F0DD;
  width: 140px;
  height: 50px;
  text-align: center;
  display: none;
  text-decoration: none;
  line-height: 50px;
  color: #F5F0DD;
  display: none;
}
.index_moon main .category .wrapper .FoodSea .foodSeaText .viewButton_RWD:hover {
  background-color: #F5F0DD;
  color: #0C1244;
}
.index_moon main .category .wrapper .LiveLand {
  height: 600px;
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 220px;
}
.index_moon main .category .wrapper .LiveLand .LiveLandText {
  width: 630px;
  height: 350px;
  position: absolute;
  top: 320px;
  left: 0;
  background-color: #0C1244;
  padding: 80px;
  box-sizing: border-box;
}
.index_moon main .category .wrapper .LiveLand .LiveLandText h3 {
  width: 100px;
  border-radius: 50%;
  line-height: 100px;
  border: 4px solid #F5F0DD;
  text-align: center;
  position: absolute;
  top: -50px;
  left: 100px;
}
.index_moon main .category .wrapper .LiveLand .LiveLandText .draw01 {
  background-color: #F5F0DD;
  width: 14%;
  height: 5px;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
}
.index_moon main .category .wrapper .LiveLand .LiveLandText .draw02 {
  background-color: #F5F0DD;
  width: 5px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.index_moon main .category .wrapper .LiveLand .LiveLandText .draw03 {
  background-color: #F5F0DD;
  width: 100%;
  height: 5px;
  position: absolute;
  bottom: 0;
  left: 0;
}
.index_moon main .category .wrapper .LiveLand .LiveLandText .draw04 {
  background-color: #F5F0DD;
  width: 5px;
  height: 345px;
  position: absolute;
  bottom: 0;
  right: 0;
  box-sizing: border-box;
}
.index_moon main .category .wrapper .LiveLand .LiveLandText .draw05 {
  background-color: #F5F0DD;
  width: 65%;
  height: 5px;
  position: absolute;
  top: 0;
  right: 0;
}
.index_moon main .category .wrapper .LiveLand .LiveLandText .textarea_RWD {
  display: none;
}
.index_moon main .category .wrapper .LiveLand .LiveLandText .comments_area {
  margin-top: 40px;
  color: #F5F0DD;
  display: flex;
  justify-content: space-between;
}
.index_moon main .category .wrapper .LiveLand .LiveLandText .comments_area .fa-star {
  color: #FFBF44;
  font-size: 12px;
  letter-spacing: -5px;
}
.index_moon main .category .wrapper .LiveLand .LiveLandText .comments_area .fa-star-half-stroke {
  color: #FFBF44;
  font-size: 12px;
  letter-spacing: -5px;
}
.index_moon main .category .wrapper .LiveLand .LiveLandText .comments_area .viewButton {
  border: 1.5px solid #F5F0DD;
  width: 140px;
  height: 50px;
  text-align: center;
  display: block;
  text-decoration: none;
  line-height: 50px;
  color: #F5F0DD;
}
.index_moon main .category .wrapper .LiveLand .LiveLandText .comments_area .viewButton:hover {
  background-color: #F5F0DD;
  color: #0C1244;
}
.index_moon main .category .wrapper .LiveLand .LiveLandText .viewButton_RWD {
  border: 1.5px solid #F5F0DD;
  width: 140px;
  height: 50px;
  text-align: center;
  display: none;
  text-decoration: none;
  line-height: 50px;
  color: #F5F0DD;
  display: none;
}
.index_moon main .category .wrapper .LiveLand .LiveLandText .viewButton_RWD:hover {
  background-color: #F5F0DD;
  color: #0C1244;
}
.index_moon main .instagram {
  padding-bottom: 250px;
}
.index_moon main .instagram .wrapper {
  width: 1180px;
  margin: 0 auto;
}
.index_moon main .instagram .wrapper .igicon {
  font-size: 60px;
  width: 60px;
  text-align: center;
  margin: 0 auto;
}
.index_moon main .instagram .wrapper .igAccount {
  text-align: center;
}
.index_moon main .instagram .wrapper .instagramPhoto {
  width: 936px;
  margin: 0 auto;
}
.index_moon main .instagram .wrapper .instagramPhoto li img:hover {
  cursor: pointer;
}
.index_moon main .instagram #ig_pop_up {
  display: none;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);
  height: 100vh;
  width: 100%;
}
.index_moon main .instagram #ig_pop_up #ig_pop_up_content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1200px;
  display: flex;
  justify-content: center;
}
.index_moon main .instagram #ig_pop_up #ig_pop_up_content #ig_pop_up_left {
  width: 800px;
  background-color: #000;
}
.index_moon main .instagram #ig_pop_up #ig_pop_up_content #ig_pop_up_left img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  margin-top: 100px;
}
.index_moon main .instagram #ig_pop_up #ig_pop_up_content #ig_pop_up_left p {
  text-align: center;
  line-height: 100px;
  color: #fff;
}
.index_moon main .instagram #ig_pop_up #ig_pop_up_content #ig_pop_up_right {
  width: 400px;
  background-color: #fff;
}
.index_moon main .instagram #ig_pop_up #ig_pop_up_content #ig_pop_up_right #ig_author {
  height: 85px;
  padding: 0 25px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 1px solid #BBB;
}
.index_moon main .instagram #ig_pop_up #ig_pop_up_content #ig_pop_up_right #ig_author #ig_author_img {
  width: 55px;
  border-radius: 50%;
  margin-right: 15px;
}
.index_moon main .instagram #ig_pop_up #ig_pop_up_content #ig_pop_up_right #ig_words {
  height: calc(100% - 85px);
  padding: 25px;
}
.index_moon main .traffic {
  margin-top: 70px;
  text-align: center;
}
.index_moon main .traffic .wrapper {
  width: 1180px;
  margin: 0 auto;
}
.index_moon main .traffic .wrapper > h3 {
  margin-bottom: 70px;
}
.index_moon main .traffic .wrapper ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.index_moon main .traffic .wrapper ul > li {
  width: 100%;
  box-sizing: border-box;
  border: 1.5px solid #F5F0DD;
}
.index_moon main .traffic .wrapper ul > li .title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 35px;
  margin-bottom: 30px;
}
.index_moon main .traffic .wrapper ul > li .title i {
  font-size: 20rem;
  margin-right: 20px;
  height: 24px;
}
.index_moon main .traffic .wrapper ul > li > h4 {
  margin-bottom: 35px;
}
.index_moon main .traffic .wrapper ul > li ol {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.index_moon main .traffic .wrapper ul > li ol li {
  flex-basis: 0;
  flex-grow: 1;
}
.index_moon main .traffic .wrapper ul > li ol li h4 {
  line-height: 70px;
  border-top: 1px solid #F5F0DD;
  border-bottom: 1px solid #F5F0DD;
}
.index_moon main .traffic .wrapper ul > li ol li h5 {
  margin-top: 45px;
}
.index_moon main .traffic .wrapper ul > li ol li h5:last-child {
  margin-bottom: 45px;
}

@media screen and (max-width: 575.98px) {
  .index .indexHeader .wrapper {
    width: 100%;
  }
  .index .indexHeader .videowrapper {
    height: 600px;
    overflow: hidden;
  }
  .index main .parallax {
    display: none;
  }
  .index main .news {
    display: block;
  }
  .index main .news .news_title {
    margin: 0 auto;
    height: 50px;
  }
  .index main .news .news_title h3 {
    margin-top: 20px;
    font-size: 24rem;
  }
  .index main .news .news_title .jpnews {
    display: none;
  }
  .index main .news .news_text {
    display: none;
  }
  .index main .news .news_text_rwd {
    display: flex;
    padding: 0px 20px;
    margin: 0 auto;
  }
  .index main .news .news_text_rwd .newsLeftText {
    margin-right: 18px;
  }
  .index main .news .news_text_rwd .newsLeftText p {
    padding-bottom: 25px;
  }
  .index main .category .wrapper {
    width: calc(100% - 40px);
  }
  .index main .category .wrapper .category_title {
    display: none;
  }
  .index main .category .wrapper .FoodSea {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .index main .category .wrapper .FoodSea img {
    display: block;
    width: calc(100% - 60px);
    margin: 0 auto;
  }
  .index main .category .wrapper .FoodSea .foodSeaText {
    width: calc(100% - 60px);
    height: 318px;
    top: unset;
    right: 30px;
    margin-top: 90px;
    padding-right: 45px;
    padding-left: 45px;
  }
  .index main .category .wrapper .FoodSea .foodSeaText h3 {
    width: 82px;
    line-height: 82px;
    right: 192px;
  }
  .index main .category .wrapper .FoodSea .foodSeaText .draw01 {
    width: 36%;
  }
  .index main .category .wrapper .FoodSea .foodSeaText .draw05 {
    width: 36%;
  }
  .index main .category .wrapper .FoodSea .foodSeaText .draw04 {
    height: 100%;
  }
  .index main .category .wrapper .FoodSea .foodSeaText .textarea {
    display: none;
  }
  .index main .category .wrapper .FoodSea .foodSeaText .textarea_RWD {
    display: block;
  }
  .index main .category .wrapper .FoodSea .foodSeaText .foodenglish p {
    display: none;
  }
  .index main .category .wrapper .FoodSea .foodSeaText .comments_area {
    margin-top: 20px;
  }
  .index main .category .wrapper .FoodSea .foodSeaText .comments_area .comments_text_star {
    display: flex;
    justify-content: space-between;
    width: 386px;
  }
  .index main .category .wrapper .FoodSea .foodSeaText .comments_area .viewButton {
    display: none;
  }
  .index main .category .wrapper .FoodSea .foodSeaText .viewButton_RWD {
    margin-top: 20px;
    width: 100%;
    height: 60px;
    display: block;
    font-size: 20px;
  }
  .index main .category .wrapper .LiveLand {
    margin-top: 200px;
  }
  .index main .category .wrapper .LiveLand img {
    display: block;
    width: calc(100% - 60px);
    height: 350px;
    margin: 0 auto;
  }
  .index main .category .wrapper .LiveLand .LiveLandText {
    width: calc(100% - 60px);
    height: 318px;
    top: unset;
    left: 30px;
    margin-top: 430px;
    padding-right: 45px;
    padding-left: 45px;
  }
  .index main .category .wrapper .LiveLand .LiveLandText h3 {
    width: 82px;
    line-height: 82px;
    left: 192px;
  }
  .index main .category .wrapper .LiveLand .LiveLandText .draw01 {
    width: 36%;
  }
  .index main .category .wrapper .LiveLand .LiveLandText .draw05 {
    width: 36%;
  }
  .index main .category .wrapper .LiveLand .LiveLandText .draw04 {
    height: 100%;
  }
  .index main .category .wrapper .LiveLand .LiveLandText .textarea {
    display: none;
  }
  .index main .category .wrapper .LiveLand .LiveLandText .textarea_RWD {
    display: block;
  }
  .index main .category .wrapper .LiveLand .LiveLandText .comments_area {
    margin-top: 20px;
  }
  .index main .category .wrapper .LiveLand .LiveLandText .comments_area .comments_text_star {
    display: flex;
    justify-content: space-between;
    width: 386px;
  }
  .index main .category .wrapper .LiveLand .LiveLandText .comments_area .viewButton {
    display: none;
  }
  .index main .category .wrapper .LiveLand .LiveLandText .viewButton_RWD {
    margin-top: 20px;
    width: 100%;
    height: 60px;
    display: block;
    font-size: 20px;
  }
  .index main .instagram {
    padding-bottom: 0px;
  }
  .index main .instagram .wrapper {
    width: 500px;
  }
  .index main .instagram .wrapper .instagramPhoto {
    width: 500px;
  }
  .index main .instagram .wrapper .instagramPhoto .ig_img01 {
    width: 160px;
  }
  .index main .instagram .wrapper .instagramPhoto .ig_img {
    width: 110px;
  }
  .index main .instagram .wrapper .instagramPhoto .ig_img02 {
    width: 142px;
  }
  .index main .instagram .wrapper .cloud03 {
    display: none;
  }
  .index main .traffic .wrapper {
    width: 100%;
  }
  .index main .traffic .wrapper ul {
    display: unset;
  }
}

/*# sourceMappingURL=index.css.map */
