@charset "UTF-8";
.information {
  background-color: #F5F0DD;
  color: #0C1244;
}
.information main .breadcrumbs .wrapper {
  width: 1070px;
  margin: 0 auto;
}
.information main .breadcrumbs .wrapper ul {
  height: 140px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}
.information main .breadcrumbs .wrapper ul li {
  margin-right: 10px;
}
.information main .breadcrumbs .wrapper ul li a {
  text-decoration: none;
}
.information main .breadcrumbs .wrapper ul li a:link {
  color: #0C1244;
}
.information main .breadcrumbs .wrapper ul li a:visited {
  color: #0C1244;
}
.information main .breadcrumbs .wrapper ul li a:hover {
  color: #0C1244;
}
.information main .breadcrumbs .wrapper ul li a:active {
  color: #0C1244;
}
.information main .map .wrapper {
  width: 1070px;
  margin: 0 auto;
  margin-bottom: 150px;
}
.information main .map .wrapper h3 {
  margin-bottom: 75px;
}
.information main .map .wrapper ul {
  width: 705px;
  margin: 0 auto;
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
}
.information main .map .wrapper ul li .big_btn {
  width: 140px;
  height: 50px;
  border: 1.5px solid #0C1244;
  background-color: #F5F0DD;
  color: #0C1244;
  font-size: 16px;
}
.information main .map .wrapper ul li .big_btn:hover {
  cursor: pointer;
  color: #F5F0DD;
  border: 1.5px solid #F5F0DD;
  background-color: #0C1244;
}
.information main .map .wrapper .sunMap {
  background-image: url("../img/information/sun/sunMap.jpg");
  width: 900px;
  height: 700px;
  margin: 0 auto;
  background-size: cover;
  border: 1px solid #0C1244;
  position: relative;
  display: none;
}
.information main .map .wrapper .sunMap .allmap {
  animation-name: scale1;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
.information main .map .wrapper .sunMap .bbq {
  z-index: 1;
  top: 540px;
  left: 255px;
  position: absolute;
  cursor: pointer;
}
.information main .map .wrapper .sunMap .hamberger {
  z-index: 1;
  top: 380px;
  left: 410px;
  position: absolute;
  cursor: pointer;
}
.information main .map .wrapper .sunMap .juice {
  z-index: 1;
  top: 180px;
  left: 120px;
  position: absolute;
  cursor: pointer;
}
.information main .map .wrapper .sunMap .lobster {
  z-index: 1;
  top: 260px;
  left: 520px;
  position: absolute;
  cursor: pointer;
}
.information main .map .wrapper .sunMap .chariot {
  z-index: 1;
  top: 170px;
  left: 210px;
  position: absolute;
  cursor: pointer;
}
.information main .map .wrapper .sunMap .diving {
  z-index: 1;
  top: 170px;
  left: 380px;
  position: absolute;
  cursor: pointer;
}
.information main .map .wrapper .sunMap .fishing {
  z-index: 1;
  top: 610px;
  left: 60px;
  position: absolute;
  cursor: pointer;
}
.information main .map .wrapper .sunMap .horse_back_riding {
  z-index: 1;
  top: 150px;
  right: 170px;
  position: absolute;
  cursor: pointer;
}
.information main .map .wrapper .sunMap .mountaineering {
  z-index: 1;
  top: 410px;
  left: 310px;
  position: absolute;
  cursor: pointer;
}
.information main .map .wrapper .sunMap .rafting {
  z-index: 1;
  top: 297px;
  left: 422px;
  position: absolute;
  cursor: pointer;
}
.information main .map .wrapper .sunMap .snorkeling {
  z-index: 1;
  top: 330px;
  left: 160px;
  position: absolute;
  cursor: pointer;
}
.information main .map .wrapper .sunMap .stand_up_paddle {
  z-index: 1;
  top: 500px;
  right: 320px;
  position: absolute;
  cursor: pointer;
}
.information main .map .wrapper .sunMap .stonehenge {
  z-index: 1;
  top: 100px;
  right: 110px;
  position: absolute;
  cursor: pointer;
}
.information main .map .wrapper .sunMap .yacht {
  z-index: 1;
  top: 200px;
  right: 10px;
  position: absolute;
  cursor: pointer;
}
.information main .map .wrapper .sunMap .office {
  z-index: 1;
  top: 260px;
  left: 290px;
  position: absolute;
  cursor: pointer;
}
.information main .map .wrapper .sunMap .residential {
  z-index: 1;
  top: 475px;
  left: 230px;
  position: absolute;
  cursor: pointer;
}
.information main .map .wrapper .sunMap .tent {
  z-index: 1;
  top: 335px;
  left: 280px;
  position: absolute;
  cursor: pointer;
}
.information main .map .wrapper .sunMap .stilthouse {
  z-index: 1;
  top: 210px;
  left: 540px;
  position: absolute;
  cursor: pointer;
}
.information main .map .wrapper .sunMap .agency {
  z-index: 1;
  top: 380px;
  left: 190px;
  position: absolute;
  cursor: pointer;
}
.information main .map .wrapper .sunMap .turtle {
  z-index: 1;
  top: 60px;
  left: 790px;
  position: absolute;
  cursor: pointer;
}
.information main .map .wrapper .moonMap {
  background-image: url("../img/information/moon/moonMap.jpg");
  width: 900px;
  height: 700px;
  margin: 0 auto;
  background-size: cover;
  border: 1px solid #0C1244;
  position: relative;
}
.information main .map .wrapper .moonMap .allmap {
  animation-name: scale1;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
.information main .map .wrapper .moonMap .m_juice {
  top: 425px;
  left: 730px;
  position: absolute;
  cursor: pointer;
}
.information main .map .wrapper .moonMap .m_bbq {
  top: 210px;
  left: 275px;
  position: absolute;
  cursor: pointer;
}
.information main .map .wrapper .moonMap .m_hamberger {
  top: 130px;
  left: 575px;
  position: absolute;
  cursor: pointer;
}
.information main .map .wrapper .moonMap .m_lobster {
  top: 275px;
  left: 415px;
  position: absolute;
  cursor: pointer;
}
.information main .map .wrapper .moonMap .m_residential {
  z-index: 1;
  top: 475px;
  left: 490px;
  position: absolute;
  cursor: pointer;
}
.information main .map .wrapper .moonMap .m_tent {
  z-index: 1;
  top: 325px;
  left: 640px;
  position: absolute;
  cursor: pointer;
}
.information main .map .wrapper .moonMap .m_stilthouse {
  z-index: 1;
  top: 300px;
  left: 300px;
  position: absolute;
  cursor: pointer;
}
.information main .map .wrapper .moonMap .m_campfire {
  z-index: 1;
  top: 170px;
  left: 190px;
  position: absolute;
  cursor: pointer;
}
.information main .map .wrapper .moonMap .m_bar {
  z-index: 1;
  top: 420px;
  left: 360px;
  position: absolute;
  cursor: pointer;
}
.information main .map .wrapper .moonMap .m_star {
  z-index: 1;
  top: 190px;
  left: 650px;
  position: absolute;
  cursor: pointer;
}
.information main .map .wrapper .moonMap .m_owl {
  z-index: 1;
  top: 210px;
  left: 490px;
  position: absolute;
  cursor: pointer;
}
.information main .map .wrapper .moonMap .m_cave {
  z-index: 1;
  top: 130px;
  left: 480px;
  position: absolute;
  cursor: pointer;
}
.information main .map .wrapper .moonMap .m_diving {
  z-index: 1;
  top: 580px;
  left: 130px;
  position: absolute;
  cursor: pointer;
}
.information main .map .wrapper .moonMap .m_yacht {
  z-index: 1;
  top: 90px;
  left: 750px;
  position: absolute;
  cursor: pointer;
}
.information main .map .wrapper .moonMap .m_fishing {
  z-index: 1;
  top: 600px;
  left: 720px;
  position: absolute;
  cursor: pointer;
}
.information main .map .wrapper .moonMap .m_flying_fish {
  z-index: 1;
  top: 30px;
  left: 680px;
  position: absolute;
  cursor: pointer;
}
.information main .map .wrapper .moonMap .m_stand_up_paddle {
  z-index: 1;
  top: 70px;
  left: 180px;
  position: absolute;
  cursor: pointer;
}
.information main .map .wrapper .moonMap .tear {
  z-index: 1;
  top: 370px;
  left: 180px;
  position: absolute;
  cursor: pointer;
}
.information main .map .wrapper .moonMap .intertidal {
  z-index: 1;
  top: 600px;
  left: 450px;
  position: absolute;
  cursor: pointer;
}
.information main .map .wrapper .backdrop {
  z-index: 1;
  opacity: 0;
  filter: alpha(opacity=0);
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: #000;
}
.information main .map .wrapper .iconBox {
  display: none;
  z-index: 2;
  width: 250px;
  height: 350px;
  border: 1px solid #0C1244;
  padding: 10px;
  text-align: center;
  position: absolute;
  top: 125%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  background-color: rgba(245, 240, 221, 0.8);
  -moz-box-shadow: 0px 0px 5px #444444;
  -webkit-box-shadow: 0px 0px 5px #444444;
  box-shadow: 0px 0px 5px #444444;
}
.information main .map .wrapper .iconBox .fa-circle-xmark {
  color: #0C1244;
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}
.information main .map .wrapper .iconBox img {
  margin-top: 20px;
  margin-bottom: 20px;
}
.information main .map .wrapper .iconBox p {
  color: #0C1244;
  font-size: 16rem;
  letter-spacing: 3px;
  line-height: 1.6;
}
.information main .map .wrapper .iconBox .iconBoxtime {
  margin-top: 10px;
  margin-bottom: 40px;
}
.information main .map .polaroid svg {
  display: block;
  margin: 0 auto;
  color: #0C1244;
}
.information main .map .polaroid ul {
  width: 1010px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.information main .map .polaroid ul li {
  width: 200px;
  position: relative;
  margin-top: -15px;
}
.information main .map .polaroid ul li::after {
  content: "";
  display: block;
  width: 15px;
  height: 41px;
  background-color: #0C1244;
  position: absolute;
  top: -30px;
  left: 92px;
}
.information main .map .polaroid ul li img {
  width: 100%;
  display: block;
}
.information main .map .polaroid ul li h5 {
  text-align: center;
  width: 100%;
  line-height: 90px;
  border: 1px solid #0C1244;
}
.information main .map .polaroid ul li:nth-child(2) {
  margin-top: 0px;
  width: 295px;
}
.information main .map .polaroid ul li:nth-child(2)::after {
  left: 140px;
}
.information main .map .polaroid ul li:nth-child(2) h5 {
  line-height: 132px;
}
.information main .island_intro {
  margin-top: 150px;
  text-align: center;
}
.information main .island_intro .wrapper {
  width: 1100px;
  margin: 0 auto;
}
.information main .island_intro .wrapper .origin {
  margin-bottom: 100px;
}
.information main .island_intro .wrapper .origin .triangle_img {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.information main .island_intro .wrapper .origin .triangle_img .island_intro_top, .information main .island_intro .wrapper .origin .triangle_img .island_intro_down {
  display: flex;
  position: relative;
}
.information main .island_intro .wrapper .origin .triangle_img .island_intro_top > div, .information main .island_intro .wrapper .origin .triangle_img .island_intro_down > div {
  background-color: #ccc;
  overflow: hidden;
}
.information main .island_intro .wrapper .origin .triangle_img .island_intro_top > div img, .information main .island_intro .wrapper .origin .triangle_img .island_intro_down > div img {
  height: 100%;
}
.information main .island_intro .wrapper .origin .triangle_img .triangle_center {
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
}
.information main .island_intro .wrapper .origin .triangle_img .triangle_left {
  width: 92px;
  height: 370px;
  clip-path: polygon(100% 50%, 0 0, 0 100%);
  position: absolute;
  top: 0px;
  left: 0px;
}
.information main .island_intro .wrapper .origin .triangle_img .triangle_right {
  width: 92px;
  height: 370px;
  clip-path: polygon(100% 0, 0 50%, 100% 100%);
  position: absolute;
  top: 0px;
  right: 0px;
}
.information main .island_intro .wrapper .origin .triangle_img .island_intro_top {
  margin-bottom: 9px;
}
.information main .island_intro .wrapper .origin .triangle_img .triangle_margin {
  margin: 0 10px;
}
.information main .island_intro .wrapper .origin .triangle_img .triangle_up {
  width: 180px;
  height: 180px;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}
.information main .island_intro .wrapper .origin .triangle_img .triangle_down {
  width: 180px;
  height: 180px;
  clip-path: polygon(100% 0, 0 0, 50% 100%);
}
.information main .island_intro .wrapper .origin > h5 {
  width: 70%;
  margin: 0 auto;
  margin-top: 20px;
}
.information main .island_intro .wrapper .feature > h4 {
  margin-bottom: 25px;
}
.information main .island_intro .wrapper .feature p:nth-child(3) {
  margin-bottom: 40px;
}
.information main .island_intro .wrapper .feature ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
.information main .island_intro .wrapper .feature ul li {
  height: 570px;
  flex-basis: 0;
  flex-grow: 1;
  overflow: hidden;
}
.information main .island_intro .wrapper .feature ul li img {
  height: 100%;
}
.information main .island_intro .wrapper .develope > h4 {
  margin-top: 85px;
  margin-bottom: 25px;
}
.information main .island_intro .wrapper .develope p:nth-child(3) {
  margin-bottom: 45px;
}
.information main .island_intro .wrapper .develope p:nth-child(4) {
  width: 340px;
  margin: 0 auto;
  margin-bottom: 45px;
  line-height: 1.6;
}
.information main .island_intro .wrapper .develope img {
  width: 816px;
  display: block;
  margin: 0 auto;
}
.information main .island_intro .wrapper .underline {
  margin-bottom: 24px;
  position: relative;
}
.information main .island_intro .wrapper .underline::after {
  content: "";
  display: block;
  width: 178px;
  height: 1px;
  background-color: #0C1244;
  position: absolute;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);
}
.information main .contact {
  margin-top: 160px;
}
.information main .contact .wrapper {
  width: 1100px;
  margin: 0 auto;
}
.information main .contact .wrapper h3 {
  text-align: center;
  margin-bottom: 50px;
}
.information main .contact .wrapper ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.information main .contact .wrapper ul li {
  width: 345px;
  padding: 30px;
  box-sizing: border-box;
  border: 1.5px solid #0C1244;
}
.information main .contact .wrapper ul li h4 {
  text-align: center;
  margin-bottom: 30px;
}
.information main .contact .wrapper ul li p {
  margin-bottom: 25px;
}
.information main .contact .wrapper ul li img {
  margin-top: 10px;
  width: 100%;
}
.information main .traffic {
  margin-top: 70px;
  text-align: center;
}
.information main .traffic .wrapper {
  width: 1180px;
  margin: 0 auto;
}
.information main .traffic .wrapper > h3 {
  margin-bottom: 70px;
}
.information main .traffic .wrapper ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.information main .traffic .wrapper ul > li {
  width: 565px;
  box-sizing: border-box;
  border: 1.5px solid #0C1244;
}
.information main .traffic .wrapper ul > li .title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 35px;
  margin-bottom: 30px;
}
.information main .traffic .wrapper ul > li .title i {
  font-size: 20rem;
  margin-right: 20px;
  height: 24px;
}
.information main .traffic .wrapper ul > li > h4 {
  margin-bottom: 35px;
}
.information main .traffic .wrapper ul > li ol {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.information main .traffic .wrapper ul > li ol li {
  flex-basis: 0;
  flex-grow: 1;
}
.information main .traffic .wrapper ul > li ol li h4 {
  line-height: 70px;
  border-top: 1px solid #0C1244;
  border-bottom: 1px solid #0C1244;
}
.information main .traffic .wrapper ul > li ol li h5 {
  margin-top: 45px;
}
.information main .traffic .wrapper ul > li ol li h5:last-child {
  margin-bottom: 45px;
}
.information main #faq {
  margin-top: 204px;
  margin-bottom: 100px;
}
.information main #faq .wrapper {
  width: 1180px;
  margin: 0 auto;
}
.information main #faq .wrapper h3 {
  line-height: 80px;
  box-sizing: border-box;
  border: 1.5px solid #0C1244;
  text-align: center;
  margin-bottom: 50px;
}
.information main #faq .wrapper ul li {
  height: 80px;
  overflow: hidden;
  margin-bottom: 50px;
  transition: all 0.5s;
}
.information main #faq .wrapper ul li h5 {
  line-height: 80px;
  background-color: #0C1244;
  color: #F5F0DD;
  box-sizing: border-box;
  padding: 0px 30px;
  position: relative;
}
.information main #faq .wrapper ul li h5:hover {
  cursor: pointer;
}
.information main #faq .wrapper ul li h5::before, .information main #faq .wrapper ul li h5::after {
  content: "";
  display: block;
  width: 30px;
  height: 5px;
  background-color: #F5F0DD;
  position: absolute;
  top: 37.5px;
  right: 30px;
}
.information main #faq .wrapper ul li h5::after {
  transform: rotateZ(90deg);
  transition: all 0.5s;
}
.information main #faq .wrapper ul li p {
  box-sizing: border-box;
  border: 1px solid #0C1244;
  padding: 30px;
  box-sizing: border-box;
}
.information main #faq .wrapper ul .faq_li-on h5::after {
  transform: rotateZ(180deg);
}

.information_moon {
  background-color: #0C1244;
  color: #F5F0DD;
}
.information_moon main .breadcrumbs .wrapper {
  width: 1070px;
  margin: 0 auto;
}
.information_moon main .breadcrumbs .wrapper ul {
  height: 140px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}
.information_moon main .breadcrumbs .wrapper ul li {
  margin-right: 10px;
}
.information_moon main .breadcrumbs .wrapper ul li a {
  text-decoration: none;
}
.information_moon main .breadcrumbs .wrapper ul li a:link {
  color: #F5F0DD;
}
.information_moon main .breadcrumbs .wrapper ul li a:visited {
  color: #F5F0DD;
}
.information_moon main .breadcrumbs .wrapper ul li a:hover {
  color: #F5F0DD;
}
.information_moon main .breadcrumbs .wrapper ul li a:active {
  color: #F5F0DD;
}
.information_moon main .map .wrapper {
  width: 1070px;
  margin: 0 auto;
  margin-bottom: 150px;
}
.information_moon main .map .wrapper h3 {
  margin-bottom: 75px;
}
.information_moon main .map .wrapper ul {
  width: 705px;
  margin: 0 auto;
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
}
.information_moon main .map .wrapper ul li .big_btn {
  width: 140px;
  height: 50px;
  border: 1.5px solid #F5F0DD;
  background-color: #0C1244;
  color: #F5F0DD;
  font-size: 16px;
}
.information_moon main .map .wrapper ul li .big_btn:hover {
  cursor: pointer;
  color: #0C1244;
  border: 1.5px solid #0C1244;
  background-color: #F5F0DD;
}
.information_moon main .map .wrapper .sunMap {
  background-image: url("../img/information/sun/sunMap.jpg");
  width: 900px;
  height: 700px;
  margin: 0 auto;
  background-size: cover;
  border: 1px solid #F5F0DD;
  position: relative;
  display: none;
}
.information_moon main .map .wrapper .sunMap .allmap {
  animation-name: scale1;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
.information_moon main .map .wrapper .sunMap .bbq {
  z-index: 1;
  top: 540px;
  left: 255px;
  position: absolute;
  cursor: pointer;
}
.information_moon main .map .wrapper .sunMap .hamberger {
  z-index: 1;
  top: 380px;
  left: 410px;
  position: absolute;
  cursor: pointer;
}
.information_moon main .map .wrapper .sunMap .juice {
  z-index: 1;
  top: 180px;
  left: 120px;
  position: absolute;
  cursor: pointer;
}
.information_moon main .map .wrapper .sunMap .lobster {
  z-index: 1;
  top: 260px;
  left: 520px;
  position: absolute;
  cursor: pointer;
}
.information_moon main .map .wrapper .sunMap .chariot {
  z-index: 1;
  top: 170px;
  left: 210px;
  position: absolute;
  cursor: pointer;
}
.information_moon main .map .wrapper .sunMap .diving {
  z-index: 1;
  top: 170px;
  left: 380px;
  position: absolute;
  cursor: pointer;
}
.information_moon main .map .wrapper .sunMap .fishing {
  z-index: 1;
  top: 610px;
  left: 60px;
  position: absolute;
  cursor: pointer;
}
.information_moon main .map .wrapper .sunMap .horse_back_riding {
  z-index: 1;
  top: 150px;
  right: 170px;
  position: absolute;
  cursor: pointer;
}
.information_moon main .map .wrapper .sunMap .mountaineering {
  z-index: 1;
  top: 410px;
  left: 310px;
  position: absolute;
  cursor: pointer;
}
.information_moon main .map .wrapper .sunMap .rafting {
  z-index: 1;
  top: 297px;
  left: 422px;
  position: absolute;
  cursor: pointer;
}
.information_moon main .map .wrapper .sunMap .snorkeling {
  z-index: 1;
  top: 330px;
  left: 160px;
  position: absolute;
  cursor: pointer;
}
.information_moon main .map .wrapper .sunMap .stand_up_paddle {
  z-index: 1;
  top: 500px;
  right: 320px;
  position: absolute;
  cursor: pointer;
}
.information_moon main .map .wrapper .sunMap .stonehenge {
  z-index: 1;
  top: 100px;
  right: 110px;
  position: absolute;
  cursor: pointer;
}
.information_moon main .map .wrapper .sunMap .yacht {
  z-index: 1;
  top: 200px;
  right: 10px;
  position: absolute;
  cursor: pointer;
}
.information_moon main .map .wrapper .sunMap .office {
  z-index: 1;
  top: 260px;
  left: 290px;
  position: absolute;
  cursor: pointer;
}
.information_moon main .map .wrapper .sunMap .residential {
  z-index: 1;
  top: 475px;
  left: 230px;
  position: absolute;
  cursor: pointer;
}
.information_moon main .map .wrapper .sunMap .tent {
  z-index: 1;
  top: 335px;
  left: 280px;
  position: absolute;
  cursor: pointer;
}
.information_moon main .map .wrapper .sunMap .stilthouse {
  z-index: 1;
  top: 210px;
  left: 540px;
  position: absolute;
  cursor: pointer;
}
.information_moon main .map .wrapper .sunMap .agency {
  z-index: 1;
  top: 380px;
  left: 190px;
  position: absolute;
  cursor: pointer;
}
.information_moon main .map .wrapper .sunMap .turtle {
  z-index: 1;
  top: 60px;
  left: 790px;
  position: absolute;
  cursor: pointer;
}
.information_moon main .map .wrapper .moonMap {
  background-image: url("../img/information/moon/moonMap.jpg");
  width: 900px;
  height: 700px;
  margin: 0 auto;
  background-size: cover;
  border: 1px solid #F5F0DD;
  position: relative;
}
.information_moon main .map .wrapper .moonMap .allmap {
  animation-name: scale1;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
.information_moon main .map .wrapper .moonMap .m_juice {
  top: 425px;
  left: 730px;
  position: absolute;
  cursor: pointer;
}
.information_moon main .map .wrapper .moonMap .m_bbq {
  top: 210px;
  left: 275px;
  position: absolute;
  cursor: pointer;
}
.information_moon main .map .wrapper .moonMap .m_hamberger {
  top: 130px;
  left: 575px;
  position: absolute;
  cursor: pointer;
}
.information_moon main .map .wrapper .moonMap .m_lobster {
  top: 275px;
  left: 415px;
  position: absolute;
  cursor: pointer;
}
.information_moon main .map .wrapper .moonMap .m_residential {
  z-index: 1;
  top: 475px;
  left: 490px;
  position: absolute;
  cursor: pointer;
}
.information_moon main .map .wrapper .moonMap .m_tent {
  z-index: 1;
  top: 325px;
  left: 640px;
  position: absolute;
  cursor: pointer;
}
.information_moon main .map .wrapper .moonMap .m_stilthouse {
  z-index: 1;
  top: 300px;
  left: 300px;
  position: absolute;
  cursor: pointer;
}
.information_moon main .map .wrapper .moonMap .m_campfire {
  z-index: 1;
  top: 170px;
  left: 190px;
  position: absolute;
  cursor: pointer;
}
.information_moon main .map .wrapper .moonMap .m_bar {
  z-index: 1;
  top: 420px;
  left: 360px;
  position: absolute;
  cursor: pointer;
}
.information_moon main .map .wrapper .moonMap .m_star {
  z-index: 1;
  top: 190px;
  left: 650px;
  position: absolute;
  cursor: pointer;
}
.information_moon main .map .wrapper .moonMap .m_owl {
  z-index: 1;
  top: 210px;
  left: 490px;
  position: absolute;
  cursor: pointer;
}
.information_moon main .map .wrapper .moonMap .m_cave {
  z-index: 1;
  top: 130px;
  left: 480px;
  position: absolute;
  cursor: pointer;
}
.information_moon main .map .wrapper .moonMap .m_diving {
  z-index: 1;
  top: 580px;
  left: 130px;
  position: absolute;
  cursor: pointer;
}
.information_moon main .map .wrapper .moonMap .m_yacht {
  z-index: 1;
  top: 90px;
  left: 750px;
  position: absolute;
  cursor: pointer;
}
.information_moon main .map .wrapper .moonMap .m_fishing {
  z-index: 1;
  top: 600px;
  left: 720px;
  position: absolute;
  cursor: pointer;
}
.information_moon main .map .wrapper .moonMap .m_flying_fish {
  z-index: 1;
  top: 30px;
  left: 680px;
  position: absolute;
  cursor: pointer;
}
.information_moon main .map .wrapper .moonMap .m_stand_up_paddle {
  z-index: 1;
  top: 70px;
  left: 180px;
  position: absolute;
  cursor: pointer;
}
.information_moon main .map .wrapper .moonMap .tear {
  z-index: 1;
  top: 370px;
  left: 180px;
  position: absolute;
  cursor: pointer;
}
.information_moon main .map .wrapper .moonMap .intertidal {
  z-index: 1;
  top: 600px;
  left: 450px;
  position: absolute;
  cursor: pointer;
}
.information_moon main .map .wrapper .backdrop {
  z-index: 1;
  opacity: 0;
  filter: alpha(opacity=0);
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: #000;
}
.information_moon main .map .wrapper .iconBox {
  display: none;
  z-index: 2;
  width: 250px;
  height: 350px;
  border: 1px solid #0C1244;
  padding: 10px;
  text-align: center;
  position: absolute;
  top: 125%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  background-color: rgba(245, 240, 221, 0.8);
  -moz-box-shadow: 0px 0px 5px #444444;
  -webkit-box-shadow: 0px 0px 5px #444444;
  box-shadow: 0px 0px 5px #444444;
}
.information_moon main .map .wrapper .iconBox .fa-circle-xmark {
  color: #0C1244;
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}
.information_moon main .map .wrapper .iconBox img {
  margin-top: 20px;
  margin-bottom: 20px;
}
.information_moon main .map .wrapper .iconBox p {
  color: #F5F0DD;
  font-size: 16rem;
  letter-spacing: 3px;
  line-height: 1.6;
}
.information_moon main .map .wrapper .iconBox .iconBoxtime {
  margin-top: 10px;
  margin-bottom: 40px;
}
.information_moon main .map .polaroid svg {
  display: block;
  margin: 0 auto;
  color: #F5F0DD;
}
.information_moon main .map .polaroid ul {
  width: 1010px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.information_moon main .map .polaroid ul li {
  width: 200px;
  position: relative;
  margin-top: -15px;
}
.information_moon main .map .polaroid ul li::after {
  content: "";
  display: block;
  width: 15px;
  height: 41px;
  background-color: #F5F0DD;
  position: absolute;
  top: -30px;
  left: 92px;
}
.information_moon main .map .polaroid ul li img {
  width: 100%;
  display: block;
}
.information_moon main .map .polaroid ul li h5 {
  text-align: center;
  width: 100%;
  line-height: 90px;
  border: 1px solid #F5F0DD;
}
.information_moon main .map .polaroid ul li:nth-child(2) {
  margin-top: 0px;
  width: 295px;
}
.information_moon main .map .polaroid ul li:nth-child(2)::after {
  left: 140px;
}
.information_moon main .map .polaroid ul li:nth-child(2) h5 {
  line-height: 132px;
}
.information_moon main .island_intro {
  margin-top: 150px;
  text-align: center;
}
.information_moon main .island_intro .wrapper {
  width: 1100px;
  margin: 0 auto;
}
.information_moon main .island_intro .wrapper .origin {
  margin-bottom: 100px;
}
.information_moon main .island_intro .wrapper .origin .triangle_img {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.information_moon main .island_intro .wrapper .origin .triangle_img .island_intro_top, .information_moon main .island_intro .wrapper .origin .triangle_img .island_intro_down {
  display: flex;
  position: relative;
}
.information_moon main .island_intro .wrapper .origin .triangle_img .island_intro_top > div, .information_moon main .island_intro .wrapper .origin .triangle_img .island_intro_down > div {
  background-color: #ccc;
  overflow: hidden;
}
.information_moon main .island_intro .wrapper .origin .triangle_img .island_intro_top > div img, .information_moon main .island_intro .wrapper .origin .triangle_img .island_intro_down > div img {
  height: 100%;
}
.information_moon main .island_intro .wrapper .origin .triangle_img .triangle_center {
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
}
.information_moon main .island_intro .wrapper .origin .triangle_img .triangle_left {
  width: 92px;
  height: 370px;
  clip-path: polygon(100% 50%, 0 0, 0 100%);
  position: absolute;
  top: 0px;
  left: 0px;
}
.information_moon main .island_intro .wrapper .origin .triangle_img .triangle_right {
  width: 92px;
  height: 370px;
  clip-path: polygon(100% 0, 0 50%, 100% 100%);
  position: absolute;
  top: 0px;
  right: 0px;
}
.information_moon main .island_intro .wrapper .origin .triangle_img .island_intro_top {
  margin-bottom: 9px;
}
.information_moon main .island_intro .wrapper .origin .triangle_img .triangle_margin {
  margin: 0 10px;
}
.information_moon main .island_intro .wrapper .origin .triangle_img .triangle_up {
  width: 180px;
  height: 180px;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}
.information_moon main .island_intro .wrapper .origin .triangle_img .triangle_down {
  width: 180px;
  height: 180px;
  clip-path: polygon(100% 0, 0 0, 50% 100%);
}
.information_moon main .island_intro .wrapper .origin > h5 {
  width: 70%;
  margin: 0 auto;
  margin-top: 20px;
}
.information_moon main .island_intro .wrapper .feature > h4 {
  margin-bottom: 25px;
}
.information_moon main .island_intro .wrapper .feature p:nth-child(3) {
  margin-bottom: 40px;
}
.information_moon main .island_intro .wrapper .feature ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
.information_moon main .island_intro .wrapper .feature ul li {
  height: 570px;
  flex-basis: 0;
  flex-grow: 1;
  overflow: hidden;
}
.information_moon main .island_intro .wrapper .feature ul li img {
  height: 100%;
}
.information_moon main .island_intro .wrapper .develope > h4 {
  margin-top: 85px;
  margin-bottom: 25px;
}
.information_moon main .island_intro .wrapper .develope p:nth-child(3) {
  margin-bottom: 45px;
}
.information_moon main .island_intro .wrapper .develope p:nth-child(4) {
  width: 340px;
  margin: 0 auto;
  margin-bottom: 45px;
  line-height: 1.6;
}
.information_moon main .island_intro .wrapper .develope img {
  width: 816px;
  display: block;
  margin: 0 auto;
}
.information_moon main .island_intro .wrapper .underline {
  margin-bottom: 24px;
  position: relative;
}
.information_moon main .island_intro .wrapper .underline::after {
  content: "";
  display: block;
  width: 178px;
  height: 1px;
  background-color: #F5F0DD;
  position: absolute;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);
}
.information_moon main .contact {
  margin-top: 160px;
}
.information_moon main .contact .wrapper {
  width: 1100px;
  margin: 0 auto;
}
.information_moon main .contact .wrapper h3 {
  text-align: center;
  margin-bottom: 50px;
}
.information_moon main .contact .wrapper ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.information_moon main .contact .wrapper ul li {
  width: 345px;
  padding: 30px;
  box-sizing: border-box;
  border: 1.5px solid #F5F0DD;
}
.information_moon main .contact .wrapper ul li h4 {
  text-align: center;
  margin-bottom: 30px;
}
.information_moon main .contact .wrapper ul li p {
  margin-bottom: 25px;
}
.information_moon main .contact .wrapper ul li img {
  margin-top: 10px;
  width: 100%;
}
.information_moon main .traffic {
  margin-top: 70px;
  text-align: center;
}
.information_moon main .traffic .wrapper {
  width: 1180px;
  margin: 0 auto;
}
.information_moon main .traffic .wrapper > h3 {
  margin-bottom: 70px;
}
.information_moon main .traffic .wrapper ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.information_moon main .traffic .wrapper ul > li {
  width: 565px;
  box-sizing: border-box;
  border: 1.5px solid #F5F0DD;
}
.information_moon main .traffic .wrapper ul > li .title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 35px;
  margin-bottom: 30px;
}
.information_moon main .traffic .wrapper ul > li .title i {
  font-size: 20rem;
  margin-right: 20px;
  height: 24px;
}
.information_moon main .traffic .wrapper ul > li > h4 {
  margin-bottom: 35px;
}
.information_moon main .traffic .wrapper ul > li ol {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.information_moon main .traffic .wrapper ul > li ol li {
  flex-basis: 0;
  flex-grow: 1;
}
.information_moon main .traffic .wrapper ul > li ol li h4 {
  line-height: 70px;
  border-top: 1px solid #F5F0DD;
  border-bottom: 1px solid #F5F0DD;
}
.information_moon main .traffic .wrapper ul > li ol li h5 {
  margin-top: 45px;
}
.information_moon main .traffic .wrapper ul > li ol li h5:last-child {
  margin-bottom: 45px;
}
.information_moon main #faq {
  margin-top: 204px;
  margin-bottom: 100px;
}
.information_moon main #faq .wrapper {
  width: 1180px;
  margin: 0 auto;
}
.information_moon main #faq .wrapper h3 {
  line-height: 80px;
  box-sizing: border-box;
  border: 1.5px solid #F5F0DD;
  text-align: center;
  margin-bottom: 50px;
}
.information_moon main #faq .wrapper ul li {
  height: 80px;
  overflow: hidden;
  margin-bottom: 50px;
  transition: all 0.5s;
}
.information_moon main #faq .wrapper ul li h5 {
  line-height: 80px;
  background-color: #F5F0DD;
  color: #0C1244;
  box-sizing: border-box;
  padding: 0px 30px;
  position: relative;
}
.information_moon main #faq .wrapper ul li h5:hover {
  cursor: pointer;
}
.information_moon main #faq .wrapper ul li h5::before, .information_moon main #faq .wrapper ul li h5::after {
  content: "";
  display: block;
  width: 30px;
  height: 5px;
  background-color: #0C1244;
  position: absolute;
  top: 37.5px;
  right: 30px;
}
.information_moon main #faq .wrapper ul li h5::after {
  transform: rotateZ(90deg);
  transition: all 0.5s;
}
.information_moon main #faq .wrapper ul li p {
  box-sizing: border-box;
  border: 1px solid #F5F0DD;
  padding: 30px;
  box-sizing: border-box;
}
.information_moon main #faq .wrapper ul .faq_li-on h5::after {
  transform: rotateZ(180deg);
}

@media screen and (max-width: 575.98px) {
  .information main .breadcrumbs .wrapper {
    width: 100%;
  }
  .information main .map .wrapper {
    width: calc(100% - 40px);
  }
  .information main .map .wrapper h3 {
    margin-bottom: 20px;
    text-align: center;
  }
  .information main .map .wrapper ul {
    width: calc(100% - 40px);
  }
  .information main .map .wrapper ul li:first-child {
    display: none;
  }
  .information main .map .wrapper ul li {
    flex-grow: 1;
  }
  .information main .map .wrapper ul li .big_btn {
    width: 100%;
  }
  .information main .map .wrapper ol img {
    display: none;
  }
  .information main .map .polaroid svg {
    display: none;
  }
  .information main .map .polaroid ul {
    width: calc(100% - 40px);
  }
  .information main .map .polaroid ul li {
    width: 150px;
    margin-top: 0px;
  }
  .information main .map .polaroid ul li h5 {
    line-height: 66px;
    box-sizing: border-box;
  }
  .information main .map .polaroid ul li:after {
    left: 50%;
    transform: translateX(-50%);
  }
  .information main .map .polaroid ul li:nth-child(2) {
    width: 150px;
  }
  .information main .map .polaroid ul li:nth-child(2) h5 {
    line-height: 66px;
  }
  .information main .map .polaroid ul li:nth-child(2):after {
    left: 67px;
  }
  .information main .island_intro {
    margin-top: 50px;
  }
  .information main .island_intro .wrapper {
    width: 100%;
  }
  .information main .island_intro .wrapper .underline::after {
    bottom: -6px;
  }
  .information main .island_intro .wrapper .origin {
    margin-bottom: 50px;
  }
  .information main .island_intro .wrapper .origin .triangle_center {
    display: none;
  }
  .information main .island_intro .wrapper .origin .island_intro_left .island_intro_top div:last-child, .information main .island_intro .wrapper .origin .island_intro_left .island_intro_down div:last-child {
    display: none;
  }
  .information main .island_intro .wrapper .origin .island_intro_right .island_intro_top div:first-child, .information main .island_intro .wrapper .origin .island_intro_right .island_intro_down div:first-child {
    display: none;
  }
  .information main .island_intro .wrapper .origin .triangle_img div {
    width: 100%;
  }
  .information main .island_intro .wrapper .origin .triangle_img > div {
    width: 30%;
  }
  .information main .island_intro .wrapper .origin .triangle_img .triangle_left, .information main .island_intro .wrapper .origin .triangle_img .triangle_right {
    width: 40%;
  }
  .information main .island_intro .wrapper .feature > h4 {
    margin-bottom: 20px;
  }
  .information main .island_intro .wrapper .feature p:nth-child(3) {
    margin-bottom: 24px;
  }
  .information main .island_intro .wrapper .feature ul li {
    height: 260px;
  }
  .information main .island_intro .wrapper .develope > h4 {
    margin-top: 50px;
  }
  .information main .island_intro .wrapper .develope p:nth-child(3) {
    margin-bottom: 35px;
  }
  .information main .island_intro .wrapper .develope p:nth-child(4) {
    width: 84%;
  }
  .information main .island_intro .wrapper .develope img {
    width: calc(100% - 40px);
  }
  .information main .contact {
    margin-top: 50rem;
  }
  .information main .contact .wrapper {
    width: calc(100% - 40rem);
  }
  .information main .contact .wrapper h3 {
    display: none;
  }
  .information main .contact .wrapper ul {
    flex-direction: column;
  }
  .information main .contact .wrapper ul li {
    width: 66%;
    margin-bottom: 20px;
  }
  .information main .traffic {
    margin-top: 30px;
  }
  .information main .traffic .wrapper {
    width: 100%;
  }
  .information main .traffic .wrapper > h3 {
    display: none;
  }
  .information main .traffic .wrapper ul {
    flex-direction: column;
  }
  .information main .traffic .wrapper ul > li {
    width: 100%;
  }
  .information main .traffic .wrapper ul > li .title i {
    font-size: 30rem;
    height: 33rem;
  }
  .information main .traffic .wrapper ul > li .title h3 {
    font-size: 36rem;
  }
  .information main .traffic .wrapper ul > li:first-child {
    margin-bottom: 50px;
  }
  .information main #faq {
    margin-top: 50px;
  }
  .information main #faq .wrapper {
    width: calc(100% - 40px);
  }
  .information main #faq .wrapper ul li h5 {
    padding: 0 60px 0 20px;
  }
  .information main #faq .wrapper ul li p {
    padding: 20px;
  }
}
/* 地圖燈箱動畫 */
@keyframes scale1 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

/*# sourceMappingURL=information.css.map */
