@charset "UTF-8";
#changeButton {
  position: fixed;
  z-index: 100;
  top: 200px;
  right: 200px;
  cursor: pointer;
}

.land_tour {
  background-color: #F5F0DD;
  color: #0C1244;
  letter-spacing: 3px;
  line-height: 1.6;
}
.land_tour header .headerCenter {
  position: absolute;
  z-index: 100;
  left: 50%;
  transform: translateX(-50%);
}
.land_tour main .banner {
  width: 100%;
  height: 100vh;
  background-image: url(../img/land_tour/sun/top_banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  /* 轉場黑幕 */
}
.land_tour main .banner .progress-ring-wrapper {
  position: relative;
  top: 45px;
  display: flex;
  height: 100%;
}
.land_tour main .banner .progress-ring-wrapper .progress-ring {
  z-index: 2;
  position: relative;
  width: 100%;
  height: 100vh;
  /* 外框活動文字 */
}
.land_tour main .banner .progress-ring-wrapper .progress-ring .progress-ring__background-circle {
  stroke: white;
  stroke-width: 1.5;
  fill: transparent;
}
.land_tour main .banner .progress-ring-wrapper .progress-ring .progress-ring__circle {
  stroke: #d5a655;
  stroke-width: 4;
  position: absolute;
  fill: transparent;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.land_tour main .banner .progress-ring-wrapper .progress-ring .time-label {
  fill: white;
  font-weight: bold;
  text-shadow: gray 0.5px 0.5px 0.5px;
  font-size: 16px;
}
.land_tour main .banner .schedule-wrapper {
  z-index: 2;
  position: absolute;
  top: calc(50% + 45px);
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 400px;
  height: 100%;
  max-height: 500px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
.land_tour main .banner .schedule-wrapper .event-item {
  position: relative;
  /* flex-flow:column wrap; */
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 400px;
  line-height: 1;
  opacity: 1;
  /* THE OCEAN */
  /* 中文名 */
  /* 英文名 */
  /* 探索活動 */
}
.land_tour main .banner .schedule-wrapper .event-item .ocean {
  color: white;
  position: absolute;
  /* top: -65px; */
  top: 135px;
  width: 100%;
  font-size: 32px;
  letter-spacing: 3px;
  font-weight: lighter;
  text-transform: uppercase;
  text-align: center;
  text-shadow: gray 2px 2px 2px;
  opacity: 1;
  /* visibility: inherit; */
}
.land_tour main .banner .schedule-wrapper .event-item .ocean1 {
  top: -65px;
}
.land_tour main .banner .schedule-wrapper .event-item .chName {
  position: relative;
  line-height: 1;
  font-size: 80px;
  letter-spacing: 3px;
  text-align: center;
  text-shadow: gray 5px 5px 5px;
  /* color:#d5a655; */
  color: white;
  opacity: 1;
  top: 200px;
  /* visibility: inherit; */
  animation-fill-mode: backwards;
}
.land_tour main .banner .schedule-wrapper .event-item .chName1 {
  top: 0px;
}
.land_tour main .banner .schedule-wrapper .event-item .enName {
  color: white;
  position: absolute;
  /* top: 100px; */
  top: 300px;
  width: 100%;
  font-size: 32px;
  letter-spacing: 3px;
  font-weight: lighter;
  text-transform: uppercase;
  text-align: center;
  text-shadow: gray 2px 2px 2px;
  opacity: 1;
  /* visibility: inherit; */
}
.land_tour main .banner .schedule-wrapper .event-item .enName1 {
  top: 100px;
}
.land_tour main .banner .schedule-wrapper .event-item .discover {
  position: absolute;
  /* top:150px; */
  top: 350px;
  font-size: 16px;
  text-align: center;
  text-shadow: gray 2px 2px 2px;
  width: 100%;
  color: white;
  opacity: 1;
  /* visibility: inherit; */
  text-transform: uppercase;
  letter-spacing: 1px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.land_tour main .banner .schedule-wrapper .event-item .discover1 {
  top: 150px;
}
.land_tour main .banner .schedule-wrapper .event-item .discover:hover {
  opacity: 0.5 !important;
}
.land_tour main .banner .schedule-wrapper .event-item2 {
  display: none;
}
.land_tour main .banner .schedule-wrapper .event-item3 {
  display: none;
}
.land_tour main .banner .schedule-wrapper .event-item4 {
  display: none;
}
.land_tour main .banner .schedule-wrapper .event-item5 {
  display: none;
}
.land_tour main .banner .blackCover {
  position: absolute;
  background-color: #000;
  opacity: 0.3;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.land_tour main .bg2 {
  background-image: url("../img/land_tour/sun/top_banner2.jpg");
}
.land_tour main .bg3 {
  background-image: url("../img/land_tour/sun/top_banner3.jpg");
}
.land_tour main .bg4 {
  background-image: url("../img/land_tour/sun/top_banner4.jpg");
}
.land_tour main .bg5 {
  background-image: url("../img/land_tour/sun/top_banner5.jpg");
}
.land_tour main .breadcrumbs .wrapper {
  width: 1070px;
  margin: 0 auto;
}
.land_tour main .breadcrumbs .wrapper ul {
  height: 140px;
  box-sizing: border-box;
  display: flex;
}
.land_tour main .breadcrumbs .wrapper ul li {
  margin-right: 10px;
  margin-top: 15px;
}
.land_tour main .breadcrumbs .wrapper ul li a {
  text-decoration: none;
}
.land_tour main .breadcrumbs .wrapper ul li a:link {
  color: #0C1244;
}
.land_tour main .breadcrumbs .wrapper ul li a:visited {
  color: #0C1244;
}
.land_tour main .breadcrumbs .wrapper ul li a:hover {
  color: #0C1244;
}
.land_tour main .breadcrumbs .wrapper ul li a:active {
  color: #0C1244;
}
.land_tour main .slogan_banner {
  box-sizing: border-box;
  padding-top: 310px;
  height: 585px;
  position: relative;
}
.land_tour main .slogan_banner img {
  display: block;
  position: absolute;
  z-index: -1;
}
.land_tour main .slogan_banner .leaf_left {
  top: 0px;
  left: 0px;
}
.land_tour main .slogan_banner .leaf_right {
  top: 0px;
  right: 0px;
}
.land_tour main .slogan_banner .deer {
  bottom: 0px;
  left: -300px;
}
.land_tour main .slogan_banner .slogan {
  box-sizing: border-box;
  text-align: center;
  width: 360px;
  margin-left: 60%;
}
.land_tour main .slogan_banner .slogan h3:first-child {
  font-size: 128rem;
  text-align: right;
  line-height: 0.3;
  margin-right: 50px;
}
.land_tour main .slogan_banner .slogan .slogan_h5 {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}
.land_tour main .slogan_banner .slogan .slogan_h5 h5 {
  margin-left: 10px;
}
.land_tour main .ecotourism {
  width: 1200px;
  height: 540px;
  margin: 0 auto;
  box-sizing: border-box;
  margin-top: 100px;
  position: relative;
}
.land_tour main .ecotourism ul {
  display: flex;
  width: 100%;
}
.land_tour main .ecotourism ul li {
  flex-basis: 0;
  flex-grow: 1;
  overflow: hidden;
  transition: all 0.5s;
  background-size: cover;
  background-repeat: no-repeat;
  height: 540px;
}
.land_tour main .ecotourism ul li:hover {
  flex-grow: 2;
}
.land_tour main .ecotourism ul li img {
  height: 100%;
}
.land_tour main .ecotourism .intro_word {
  width: 300px;
  height: 250px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(245, 240, 221, 0.7);
  text-align: center;
  padding: 60px 45px 0px;
  box-sizing: border-box;
}
.land_tour main .ecotourism .intro_word h3 {
  margin-bottom: 40px;
}
.land_tour main .activity_intro ul {
  padding-top: 185px;
  overflow: hidden;
}
.land_tour main .activity_intro ul li {
  text-align: center;
  margin-bottom: 130px;
  position: relative;
}
.land_tour main .activity_intro ul li .wrapper {
  width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
}
.land_tour main .activity_intro ul li .wrapper > div {
  width: 600px;
}
.land_tour main .activity_intro ul li .wrapper > div h3 {
  margin-top: 20px;
}
.land_tour main .activity_intro ul li .wrapper > div > p {
  width: 430px;
  margin: 0 auto;
  margin-top: 20px;
  box-sizing: border-box;
}
.land_tour main .activity_intro ul li .wrapper > div .comment {
  width: 430px;
  margin: 0 auto;
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.land_tour main .activity_intro ul li .wrapper > div .comment div.star_block {
  display: inline-block;
  margin-right: 13px;
}
.land_tour main .activity_intro ul li .wrapper > div .comment div.star_block i {
  color: #FFBF44;
}
.land_tour main .activity_intro ul li .wrapper > div .comment p:nth-child(2) {
  margin-right: 25px;
}
.land_tour main .activity_intro ul li .wrapper > div .comment > i {
  margin-right: 7px;
}
.land_tour main .activity_intro ul li:nth-child(1) .wrapper #bird_01 {
  position: absolute;
  top: 0px;
  right: -480px;
}
.land_tour main .activity_intro ul li:nth-child(1) .wrapper #cloud_01 {
  position: absolute;
  top: -210px;
  left: 0px;
  z-index: -1;
}
.land_tour main .activity_intro ul li:nth-child(1) .wrapper #cloud_02 {
  position: absolute;
  top: 230px;
  right: 0px;
  z-index: -1;
}
.land_tour main .activity_intro ul li:nth-child(2) .wrapper > div {
  margin-left: 600px;
}
.land_tour main .activity_intro ul li:nth-child(2) #butterfly_01 {
  position: absolute;
  top: 0px;
  left: -80px;
}
.land_tour main .activity_intro ul li:nth-child(2) #branch_01 {
  position: absolute;
  top: 0px;
  left: -140px;
}
.land_tour main .activity_intro ul li:nth-child(3) {
  margin-bottom: 260px;
}
.land_tour main .activity_intro ul li:nth-child(3) .wrapper > div {
  margin-left: 100px;
}
.land_tour main .activity_intro ul li:nth-child(3) #branch_02 {
  position: absolute;
  top: -90px;
  right: 0px;
}
.land_tour main .activity_intro ul li:nth-child(4) {
  margin-bottom: 290px;
}
.land_tour main .activity_intro ul li:nth-child(4) .wrapper > div {
  margin-left: 500px;
}
.land_tour main .activity_intro ul li:nth-child(4) #branch_03 {
  position: absolute;
  top: 0px;
  left: 0px;
}
.land_tour main .activity_intro ul li:nth-child(5) {
  margin-bottom: 250px;
}
.land_tour main .activity_intro ul li:nth-child(5) #branch_04 {
  position: absolute;
  top: -60px;
  right: -100px;
}
.land_tour main .activity_intro ul li:nth-child(5) #branch_05 {
  position: absolute;
  top: 160px;
  right: 0px;
}
.land_tour main .activity_intro ul li:nth-child(5) .wrapper > div {
  position: relative;
}
.land_tour main .activity_intro ul li:nth-child(5) .wrapper > div #flower_01 {
  position: absolute;
  top: -60px;
  right: -100px;
}
.land_tour main .activity_intro ul li:nth-child(5) .wrapper > div #butter_02 {
  position: absolute;
  top: -93px;
  right: -81px;
}
.land_tour main .activity_intro ul li:nth-child(6) {
  margin-bottom: 50px;
}
.land_tour main .activity_intro ul li:nth-child(6) #branch_06 {
  position: absolute;
  top: 0px;
  left: 0px;
}
.land_tour main .activity_intro ul li:nth-child(6) #branch_07,
.land_tour main .activity_intro ul li:nth-child(6) #branch_08 {
  display: none;
}
.land_tour main .instagram {
  margin-bottom: 80px;
}
.land_tour main .instagram .wrapper {
  width: 900px;
  margin: 0 auto;
}
.land_tour main .instagram .wrapper .title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}
.land_tour main .instagram .wrapper .title img {
  margin-right: 35px;
}
.land_tour main .instagram .wrapper ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;
  flex-wrap: wrap;
}
.land_tour main .instagram .wrapper ul li {
  width: 438px;
  display: flex;
  flex-shrink: 0;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.land_tour main .instagram .wrapper ul li img {
  margin-bottom: 20px;
  opacity: 0.7;
}
.land_tour main .instagram .wrapper ul li img:hover {
  cursor: pointer;
  opacity: 1;
  transition: all 0.5s;
}
.land_tour main .instagram #ig_pop_up {
  display: none;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);
  height: 100vh;
  width: 100%;
}
.land_tour main .instagram #ig_pop_up #ig_pop_up_content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1200px;
  display: flex;
  justify-content: center;
}
.land_tour main .instagram #ig_pop_up #ig_pop_up_content #ig_pop_up_left {
  width: 800px;
  background-color: #000;
}
.land_tour main .instagram #ig_pop_up #ig_pop_up_content #ig_pop_up_left img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  margin-top: 100px;
}
.land_tour main .instagram #ig_pop_up #ig_pop_up_content #ig_pop_up_left p {
  text-align: center;
  line-height: 100px;
  color: #fff;
}
.land_tour main .instagram #ig_pop_up #ig_pop_up_content #ig_pop_up_right {
  width: 400px;
  background-color: #fff;
}
.land_tour main .instagram #ig_pop_up #ig_pop_up_content #ig_pop_up_right #ig_author {
  height: 85px;
  padding: 0 25px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 1px solid #BBB;
}
.land_tour main .instagram #ig_pop_up #ig_pop_up_content #ig_pop_up_right #ig_author #ig_author_img {
  width: 55px;
  border-radius: 50%;
  margin-right: 15px;
}
.land_tour main .instagram #ig_pop_up #ig_pop_up_content #ig_pop_up_right #ig_words {
  height: calc(100% - 85px);
  padding: 25px;
}

.land_tour_moon {
  background-color: #0C1244;
  color: #F5F0DD;
}
.land_tour_moon main .banner {
  width: 100%;
  height: 100vh;
  background-image: url(../img/land_tour/sun/top_banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.land_tour_moon main .banner .mask {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0px;
  left: 0px;
}
.land_tour_moon main .banner .progress-ring,
.land_tour_moon main .banner .progress-bg {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.land_tour_moon main .banner .progress-ring_circle {
  transition: 0.35s stroke-dashoffset;
  transform-origin: 50% 50%;
}
.land_tour_moon main .banner .progress-bg .progress-ring_circle {
  color: #0C1244;
}
.land_tour_moon main .banner .progress-ring .progress-ring_circle {
  color: #F5F0DD;
}
.land_tour_moon main .banner ul {
  width: 100%;
  height: 100%;
  position: relative;
}
.land_tour_moon main .banner ul li {
  display: flex;
  align-items: center;
  color: #0C1244;
  position: absolute;
}
.land_tour_moon main .banner ul li::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background-color: #0C1244;
  border-radius: 50%;
  margin-right: 20px;
}
.land_tour_moon main .breadcrumbs .wrapper {
  width: 1070px;
  margin: 0 auto;
}
.land_tour_moon main .breadcrumbs .wrapper ul {
  height: 140px;
  box-sizing: border-box;
  display: flex;
}
.land_tour_moon main .breadcrumbs .wrapper ul li {
  margin-right: 10px;
  margin-top: 15px;
}
.land_tour_moon main .breadcrumbs .wrapper ul li a {
  text-decoration: none;
}
.land_tour_moon main .breadcrumbs .wrapper ul li a:link {
  color: #F5F0DD;
}
.land_tour_moon main .breadcrumbs .wrapper ul li a:visited {
  color: #F5F0DD;
}
.land_tour_moon main .breadcrumbs .wrapper ul li a:hover {
  color: #F5F0DD;
}
.land_tour_moon main .breadcrumbs .wrapper ul li a:active {
  color: #F5F0DD;
}
.land_tour_moon main .slogan_banner {
  box-sizing: border-box;
  padding-top: 310px;
  height: 585px;
  position: relative;
}
.land_tour_moon main .slogan_banner img {
  display: block;
  position: absolute;
  z-index: -1;
}
.land_tour_moon main .slogan_banner .leaf_left {
  top: 0px;
  left: 0px;
}
.land_tour_moon main .slogan_banner .leaf_right {
  top: 0px;
  right: 0px;
}
.land_tour_moon main .slogan_banner .deer {
  bottom: 0px;
  left: -300px;
}
.land_tour_moon main .slogan_banner .slogan {
  box-sizing: border-box;
  text-align: center;
  width: 360px;
  margin-left: 60%;
}
.land_tour_moon main .slogan_banner .slogan h3:first-child {
  font-size: 128rem;
  text-align: right;
  line-height: 0.3;
  margin-right: 50px;
}
.land_tour_moon main .slogan_banner .slogan .slogan_h5 {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}
.land_tour_moon main .slogan_banner .slogan .slogan_h5 h5 {
  margin-left: 10px;
}
.land_tour_moon main .ecotourism {
  width: 1200px;
  height: 540px;
  margin: 0 auto;
  box-sizing: border-box;
  margin-top: 100px;
  position: relative;
}
.land_tour_moon main .ecotourism ul {
  display: flex;
  width: 100%;
}
.land_tour_moon main .ecotourism ul li {
  flex-basis: 0;
  flex-grow: 1;
  overflow: hidden;
  transition: all 0.5s;
  background-size: cover;
  background-repeat: no-repeat;
  height: 540px;
}
.land_tour_moon main .ecotourism ul li:hover {
  flex-grow: 2;
}
.land_tour_moon main .ecotourism ul li img {
  height: 100%;
}
.land_tour_moon main .ecotourism .intro_word {
  width: 300px;
  height: 250px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(245, 240, 221, 0.7);
  text-align: center;
  padding: 60px 45px 0px;
  box-sizing: border-box;
}
.land_tour_moon main .ecotourism .intro_word h3 {
  margin-bottom: 40px;
}
.land_tour_moon main .activity_intro ul {
  padding-top: 185px;
  overflow: hidden;
}
.land_tour_moon main .activity_intro ul li {
  text-align: center;
  margin-bottom: 130px;
  position: relative;
}
.land_tour_moon main .activity_intro ul li .wrapper {
  width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
}
.land_tour_moon main .activity_intro ul li .wrapper > div {
  width: 600px;
}
.land_tour_moon main .activity_intro ul li .wrapper > div h3 {
  margin-top: 20px;
}
.land_tour_moon main .activity_intro ul li .wrapper > div > p {
  width: 430px;
  margin: 0 auto;
  margin-top: 20px;
  box-sizing: border-box;
}
.land_tour_moon main .activity_intro ul li .wrapper > div .comment {
  width: 430px;
  margin: 0 auto;
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.land_tour_moon main .activity_intro ul li .wrapper > div .comment div.star_block {
  display: inline-block;
  margin-right: 13px;
}
.land_tour_moon main .activity_intro ul li .wrapper > div .comment div.star_block i {
  color: #FFBF44;
}
.land_tour_moon main .activity_intro ul li .wrapper > div .comment p:nth-child(2) {
  margin-right: 25px;
}
.land_tour_moon main .activity_intro ul li .wrapper > div .comment > i {
  margin-right: 7px;
}
.land_tour_moon main .activity_intro ul li:nth-child(1) .wrapper #bird_01 {
  position: absolute;
  top: 0px;
  right: -480px;
}
.land_tour_moon main .activity_intro ul li:nth-child(1) .wrapper #cloud_01 {
  position: absolute;
  top: -210px;
  left: 0px;
  z-index: -1;
}
.land_tour_moon main .activity_intro ul li:nth-child(1) .wrapper #cloud_02 {
  position: absolute;
  top: 230px;
  right: 0px;
  z-index: -1;
}
.land_tour_moon main .activity_intro ul li:nth-child(2) .wrapper > div {
  margin-left: 600px;
}
.land_tour_moon main .activity_intro ul li:nth-child(2) #butterfly_01 {
  position: absolute;
  top: 0px;
  left: -80px;
}
.land_tour_moon main .activity_intro ul li:nth-child(2) #branch_01 {
  position: absolute;
  top: 0px;
  left: -140px;
}
.land_tour_moon main .activity_intro ul li:nth-child(3) {
  margin-bottom: 260px;
}
.land_tour_moon main .activity_intro ul li:nth-child(3) .wrapper > div {
  margin-left: 100px;
}
.land_tour_moon main .activity_intro ul li:nth-child(3) #branch_02 {
  position: absolute;
  top: -90px;
  right: 0px;
}
.land_tour_moon main .activity_intro ul li:nth-child(4) {
  margin-bottom: 290px;
}
.land_tour_moon main .activity_intro ul li:nth-child(4) .wrapper > div {
  margin-left: 500px;
}
.land_tour_moon main .activity_intro ul li:nth-child(4) #branch_03 {
  position: absolute;
  top: 0px;
  left: 0px;
}
.land_tour_moon main .activity_intro ul li:nth-child(5) {
  margin-bottom: 250px;
}
.land_tour_moon main .activity_intro ul li:nth-child(5) #branch_04 {
  position: absolute;
  top: -60px;
  right: -100px;
}
.land_tour_moon main .activity_intro ul li:nth-child(5) #branch_05 {
  position: absolute;
  top: 160px;
  right: 0px;
}
.land_tour_moon main .activity_intro ul li:nth-child(5) .wrapper > div {
  position: relative;
}
.land_tour_moon main .activity_intro ul li:nth-child(5) .wrapper > div #flower_01 {
  position: absolute;
  top: -60px;
  right: -100px;
}
.land_tour_moon main .activity_intro ul li:nth-child(5) .wrapper > div #butter_02 {
  position: absolute;
  top: -93px;
  right: -81px;
}
.land_tour_moon main .activity_intro ul li:nth-child(6) {
  margin-bottom: 50px;
}
.land_tour_moon main .activity_intro ul li:nth-child(6) #branch_06 {
  position: absolute;
  top: 0px;
  left: 0px;
}
.land_tour_moon main .activity_intro ul li:nth-child(6) #branch_07,
.land_tour_moon main .activity_intro ul li:nth-child(6) #branch_08 {
  display: none;
}
.land_tour_moon main .instagram {
  margin-bottom: 80px;
}
.land_tour_moon main .instagram .wrapper {
  width: 900px;
  margin: 0 auto;
}
.land_tour_moon main .instagram .wrapper .title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}
.land_tour_moon main .instagram .wrapper .title img {
  margin-right: 35px;
}
.land_tour_moon main .instagram .wrapper ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;
  flex-wrap: wrap;
}
.land_tour_moon main .instagram .wrapper ul li {
  width: 438px;
  display: flex;
  flex-shrink: 0;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.land_tour_moon main .instagram .wrapper ul li img {
  margin-bottom: 20px;
  opacity: 0.7;
}
.land_tour_moon main .instagram .wrapper ul li img:hover {
  cursor: pointer;
  opacity: 1;
  transition: all 0.5s;
}
.land_tour_moon main .instagram #ig_pop_up {
  display: none;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);
  height: 100vh;
  width: 100%;
}
.land_tour_moon main .instagram #ig_pop_up #ig_pop_up_content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1200px;
  display: flex;
  justify-content: center;
}
.land_tour_moon main .instagram #ig_pop_up #ig_pop_up_content #ig_pop_up_left {
  width: 800px;
  background-color: #000;
}
.land_tour_moon main .instagram #ig_pop_up #ig_pop_up_content #ig_pop_up_left img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  margin-top: 100px;
}
.land_tour_moon main .instagram #ig_pop_up #ig_pop_up_content #ig_pop_up_left p {
  text-align: center;
  line-height: 100px;
  color: #fff;
}
.land_tour_moon main .instagram #ig_pop_up #ig_pop_up_content #ig_pop_up_right {
  width: 400px;
  background-color: #fff;
}
.land_tour_moon main .instagram #ig_pop_up #ig_pop_up_content #ig_pop_up_right #ig_author {
  height: 85px;
  padding: 0 25px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 1px solid #BBB;
}
.land_tour_moon main .instagram #ig_pop_up #ig_pop_up_content #ig_pop_up_right #ig_author #ig_author_img {
  width: 55px;
  border-radius: 50%;
  margin-right: 15px;
}
.land_tour_moon main .instagram #ig_pop_up #ig_pop_up_content #ig_pop_up_right #ig_words {
  height: calc(100% - 85px);
  padding: 25px;
}

@media screen and (max-width: 575.98px) {
  .land_tour main .breadcrumbs .wrapper {
    width: 100%;
  }
  .land_tour main .slogan_banner {
    padding-top: 170px;
    height: 335px;
  }
  .land_tour main .slogan_banner .leaf_left {
    width: 25%;
  }
  .land_tour main .slogan_banner .leaf_right {
    width: 63%;
  }
  .land_tour main .slogan_banner .deer {
    width: 63%;
    left: -10px;
  }
  .land_tour main .slogan_banner .slogan {
    width: 50%;
    margin-left: 35%;
  }
  .land_tour main .slogan_banner .slogan h3:first-child {
    display: none;
  }
  .land_tour main .slogan_banner .slogan .slogan_h5 {
    display: block;
    margin-top: 30px;
    text-align: center;
  }
  .land_tour main .slogan_banner .slogan .slogan_h5 h5 {
    margin-left: 0px;
  }
  .land_tour main .slogan_banner .slogan .slogan_h5 h5:first-child {
    margin-bottom: 30px;
  }
  .land_tour main .ecotourism {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
  }
  .land_tour main .ecotourism ul {
    order: 1;
  }
  .land_tour main .ecotourism ul li {
    height: 259px;
  }
  .land_tour main .ecotourism .intro_word {
    position: static;
    width: auto;
    height: auto;
    top: 0;
    left: 0;
    background-color: transparent;
    transform: translate(0, 0);
    border: 1px solid #0C1244;
    padding: 20px 30px;
    margin-bottom: 20px;
  }
  .land_tour main .ecotourism .intro_word h3 {
    margin-bottom: 30px;
  }
  .land_tour main .activity_intro {
    margin-top: 50px;
  }
  .land_tour main .activity_intro ul {
    padding-top: 0px;
  }
  .land_tour main .activity_intro ul li {
    margin-bottom: 50px;
  }
  .land_tour main .activity_intro ul li .wrapper {
    width: calc(100% - 100px);
  }
  .land_tour main .activity_intro ul li .wrapper > div {
    width: 65%;
    text-align: left;
  }
  .land_tour main .activity_intro ul li .wrapper > div img {
    width: 100%;
  }
  .land_tour main .activity_intro ul li .wrapper > div > p {
    width: 100%;
  }
  .land_tour main .activity_intro ul li .wrapper > div .comment {
    width: 170px;
    flex-shrink: 0;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0;
    margin-top: 20px;
    line-height: 1;
  }
  .land_tour main .activity_intro ul li .wrapper > div .comment .star_block,
.land_tour main .activity_intro ul li .wrapper > div .comment p:nth-child(2) {
    margin-bottom: 20px;
  }
  .land_tour main .activity_intro ul li .wrapper #cloud_01 {
    display: none;
  }
  .land_tour main .activity_intro ul li:nth-child(1) .wrapper #bird_01 {
    width: 150px;
    top: 150px;
    right: 30px;
  }
  .land_tour main .activity_intro ul li:nth-child(1) .wrapper #cloud_02 {
    top: 370px;
    left: -260px;
  }
  .land_tour main .activity_intro ul li:nth-child(2) .wrapper > div {
    margin-left: auto;
  }
  .land_tour main .activity_intro ul li:nth-child(2) #branch_01 {
    width: 230px;
    left: -86px;
    top: 145px;
  }
  .land_tour main .activity_intro ul li:nth-child(2) #butterfly_01 {
    width: 50px;
    top: 177px;
    left: 88px;
  }
  .land_tour main .activity_intro ul li:nth-child(3) {
    margin-bottom: 50px;
  }
  .land_tour main .activity_intro ul li:nth-child(3) #branch_02 {
    width: 150px;
    top: 40px;
  }
  .land_tour main .activity_intro ul li:nth-child(4) {
    margin-bottom: 50px;
  }
  .land_tour main .activity_intro ul li:nth-child(4) .wrapper > div {
    margin-left: auto;
  }
  .land_tour main .activity_intro ul li:nth-child(4) #branch_03 {
    width: 150px;
    top: 80px;
  }
  .land_tour main .activity_intro ul li:nth-child(5) {
    margin-bottom: 200px;
  }
  .land_tour main .activity_intro ul li:nth-child(5) .wrapper > div #butter_02 {
    width: 50px;
    top: 130px;
    right: -50px;
  }
  .land_tour main .activity_intro ul li:nth-child(5) .wrapper > div #flower_01 {
    width: 100px;
    top: 120px;
    right: -50px;
  }
  .land_tour main .activity_intro ul li:nth-child(5) #branch_04 {
    width: 150px;
    top: -40px;
    right: -13px;
  }
  .land_tour main .activity_intro ul li:nth-child(5) #branch_05 {
    width: 150px;
    top: -8px;
  }
  .land_tour main .activity_intro ul li:nth-child(6) #bear_01 {
    width: 270px;
  }
  .land_tour main .activity_intro ul li:nth-child(6) #branch_06 {
    width: 150px;
    top: -80px;
  }
  .land_tour main .activity_intro ul li:nth-child(6) #branch_07 {
    display: block;
    position: absolute;
    width: 150px;
    top: -190px;
    right: -7px;
  }
  .land_tour main .activity_intro ul li:nth-child(6) #branch_08 {
    display: block;
    position: absolute;
    width: 150px;
    top: -156px;
    right: -6px;
  }
  .land_tour main .instagram .wrapper {
    width: calc(100% - 100px);
  }
  .land_tour main .instagram .wrapper .title img {
    width: 36px;
    margin-right: 13px;
  }
  .land_tour main .instagram .wrapper .title h3 {
    font-size: 24px;
  }
  .land_tour main .instagram .wrapper ul li {
    width: 49%;
  }
  .land_tour main .instagram .wrapper ul li img {
    margin-bottom: 10px;
    width: 100%;
  }
  .land_tour main .instagram .wrapper ul li:nth-child(1) img:nth-child(2),
.land_tour main .instagram .wrapper ul li:nth-child(1) img:nth-child(3),
.land_tour main .instagram .wrapper ul li:nth-child(3) img:nth-child(2),
.land_tour main .instagram .wrapper ul li:nth-child(3) img:nth-child(3) {
    width: 48%;
  }
  .land_tour main .instagram .wrapper ul li:nth-child(2) img:nth-child(2),
.land_tour main .instagram .wrapper ul li:nth-child(2) img:nth-child(1),
.land_tour main .instagram .wrapper ul li:nth-child(4) img:nth-child(2),
.land_tour main .instagram .wrapper ul li:nth-child(4) img:nth-child(1) {
    width: 48%;
  }
  .land_tour main .instagram #ig_pop_up #ig_pop_up_content {
    flex-direction: column;
    width: calc(100% - 100px);
  }
  .land_tour main .instagram #ig_pop_up #ig_pop_up_content #ig_pop_up_left {
    width: 100%;
  }
  .land_tour main .instagram #ig_pop_up #ig_pop_up_content #ig_pop_up_left img {
    max-width: calc(100% - 40px);
    margin-top: 20px;
  }
  .land_tour main .instagram #ig_pop_up #ig_pop_up_content #ig_pop_up_left p {
    line-height: 40px;
  }
  .land_tour main .instagram #ig_pop_up #ig_pop_up_content #ig_pop_up_right {
    width: 100%;
  }
  .land_tour main .instagram #ig_pop_up #ig_pop_up_content #ig_pop_up_right #ig_author #ig_author_img {
    width: 40px;
  }

  .land_tour_moon main .breadcrumbs .wrapper {
    width: 100%;
  }
  .land_tour_moon main .slogan_banner {
    padding-top: 170px;
    height: 335px;
  }
  .land_tour_moon main .slogan_banner .leaf_left {
    width: 25%;
  }
  .land_tour_moon main .slogan_banner .leaf_right {
    width: 63%;
  }
  .land_tour_moon main .slogan_banner .deer {
    width: 63%;
    left: -10px;
  }
  .land_tour_moon main .slogan_banner .slogan {
    width: 50%;
    margin-left: 35%;
  }
  .land_tour_moon main .slogan_banner .slogan h3:first-child {
    display: none;
  }
  .land_tour_moon main .slogan_banner .slogan .slogan_h5 {
    display: block;
    margin-top: 30px;
    text-align: center;
  }
  .land_tour_moon main .slogan_banner .slogan .slogan_h5 h5 {
    margin-left: 0px;
  }
  .land_tour_moon main .slogan_banner .slogan .slogan_h5 h5:first-child {
    margin-bottom: 30px;
  }
  .land_tour_moon main .ecotourism {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
  }
  .land_tour_moon main .ecotourism ul {
    order: 1;
  }
  .land_tour_moon main .ecotourism ul li {
    height: 259px;
  }
  .land_tour_moon main .ecotourism .intro_word {
    position: static;
    width: auto;
    height: auto;
    top: 0;
    left: 0;
    background-color: transparent;
    transform: translate(0, 0);
    border: 1px solid #0C1244;
    padding: 20px 30px;
    margin-bottom: 20px;
  }
  .land_tour_moon main .ecotourism .intro_word h3 {
    margin-bottom: 30px;
  }
  .land_tour_moon main .activity_intro {
    margin-top: 50px;
  }
  .land_tour_moon main .activity_intro ul {
    padding-top: 0px;
  }
  .land_tour_moon main .activity_intro ul li {
    margin-bottom: 50px;
  }
  .land_tour_moon main .activity_intro ul li .wrapper {
    width: calc(100% - 100px);
  }
  .land_tour_moon main .activity_intro ul li .wrapper > div {
    width: 65%;
    text-align: left;
  }
  .land_tour_moon main .activity_intro ul li .wrapper > div img {
    width: 100%;
  }
  .land_tour_moon main .activity_intro ul li .wrapper > div > p {
    width: 100%;
  }
  .land_tour_moon main .activity_intro ul li .wrapper > div .comment {
    width: 170px;
    flex-shrink: 0;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0;
    margin-top: 20px;
    line-height: 1;
  }
  .land_tour_moon main .activity_intro ul li .wrapper > div .comment .star_block,
.land_tour_moon main .activity_intro ul li .wrapper > div .comment p:nth-child(2) {
    margin-bottom: 20px;
  }
  .land_tour_moon main .activity_intro ul li .wrapper #cloud_01 {
    display: none;
  }
  .land_tour_moon main .activity_intro ul li:nth-child(1) .wrapper #bird_01 {
    width: 150px;
    top: 150px;
    right: 30px;
  }
  .land_tour_moon main .activity_intro ul li:nth-child(1) .wrapper #cloud_02 {
    top: 370px;
    left: -260px;
  }
  .land_tour_moon main .activity_intro ul li:nth-child(2) .wrapper > div {
    margin-left: auto;
  }
  .land_tour_moon main .activity_intro ul li:nth-child(2) #branch_01 {
    width: 230px;
    left: -86px;
    top: 145px;
  }
  .land_tour_moon main .activity_intro ul li:nth-child(2) #butterfly_01 {
    width: 50px;
    top: 177px;
    left: 88px;
  }
  .land_tour_moon main .activity_intro ul li:nth-child(3) {
    margin-bottom: 50px;
  }
  .land_tour_moon main .activity_intro ul li:nth-child(3) #branch_02 {
    width: 150px;
    top: 40px;
  }
  .land_tour_moon main .activity_intro ul li:nth-child(4) {
    margin-bottom: 50px;
  }
  .land_tour_moon main .activity_intro ul li:nth-child(4) .wrapper > div {
    margin-left: auto;
  }
  .land_tour_moon main .activity_intro ul li:nth-child(4) #branch_03 {
    width: 150px;
    top: 80px;
  }
  .land_tour_moon main .activity_intro ul li:nth-child(5) {
    margin-bottom: 200px;
  }
  .land_tour_moon main .activity_intro ul li:nth-child(5) .wrapper > div #butter_02 {
    width: 50px;
    top: 130px;
    right: -50px;
  }
  .land_tour_moon main .activity_intro ul li:nth-child(5) .wrapper > div #flower_01 {
    width: 100px;
    top: 120px;
    right: -50px;
  }
  .land_tour_moon main .activity_intro ul li:nth-child(5) #branch_04 {
    width: 150px;
    top: -40px;
    right: -13px;
  }
  .land_tour_moon main .activity_intro ul li:nth-child(5) #branch_05 {
    width: 150px;
    top: -8px;
  }
  .land_tour_moon main .activity_intro ul li:nth-child(6) #bear_01 {
    width: 270px;
  }
  .land_tour_moon main .activity_intro ul li:nth-child(6) #branch_06 {
    width: 150px;
    top: -80px;
  }
  .land_tour_moon main .activity_intro ul li:nth-child(6) #branch_07 {
    display: block;
    position: absolute;
    width: 150px;
    top: -190px;
    right: -7px;
  }
  .land_tour_moon main .activity_intro ul li:nth-child(6) #branch_08 {
    display: block;
    position: absolute;
    width: 150px;
    top: -156px;
    right: -6px;
  }
  .land_tour_moon main .instagram .wrapper {
    width: calc(100% - 100px);
  }
  .land_tour_moon main .instagram .wrapper .title img {
    width: 36px;
    margin-right: 13px;
  }
  .land_tour_moon main .instagram .wrapper .title h3 {
    font-size: 24px;
  }
  .land_tour_moon main .instagram .wrapper ul li {
    width: 49%;
  }
  .land_tour_moon main .instagram .wrapper ul li img {
    margin-bottom: 10px;
    width: 100%;
  }
  .land_tour_moon main .instagram .wrapper ul li:nth-child(1) img:nth-child(2),
.land_tour_moon main .instagram .wrapper ul li:nth-child(1) img:nth-child(3),
.land_tour_moon main .instagram .wrapper ul li:nth-child(3) img:nth-child(2),
.land_tour_moon main .instagram .wrapper ul li:nth-child(3) img:nth-child(3) {
    width: 48%;
  }
  .land_tour_moon main .instagram .wrapper ul li:nth-child(2) img:nth-child(2),
.land_tour_moon main .instagram .wrapper ul li:nth-child(2) img:nth-child(1),
.land_tour_moon main .instagram .wrapper ul li:nth-child(4) img:nth-child(2),
.land_tour_moon main .instagram .wrapper ul li:nth-child(4) img:nth-child(1) {
    width: 48%;
  }
  .land_tour_moon main .instagram #ig_pop_up #ig_pop_up_content {
    flex-direction: column;
    width: calc(100% - 100px);
  }
  .land_tour_moon main .instagram #ig_pop_up #ig_pop_up_content #ig_pop_up_left {
    width: 100%;
  }
  .land_tour_moon main .instagram #ig_pop_up #ig_pop_up_content #ig_pop_up_left img {
    max-width: calc(100% - 40px);
    margin-top: 20px;
  }
  .land_tour_moon main .instagram #ig_pop_up #ig_pop_up_content #ig_pop_up_left p {
    line-height: 40px;
  }
  .land_tour_moon main .instagram #ig_pop_up #ig_pop_up_content #ig_pop_up_right {
    width: 100%;
  }
  .land_tour_moon main .instagram #ig_pop_up #ig_pop_up_content #ig_pop_up_right #ig_author #ig_author_img {
    width: 40px;
  }
}

/*# sourceMappingURL=land_tour.css.map */
