.newLogin {
  background-color: #F5F0DD;
}

.newLogin main {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.newLogin main .container {
  background-color: #fff;
  width: 650px;
  height: 485px;
  border-radius: 5px;
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  position: relative;
}

.newLogin main .container .form-box {
  position: absolute;
  top: -10%;
  left: 0%;
  background-color: #fbebb1;
  width: 320px;
  height: 580px;
  border-radius: 5px;
  -webkit-box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.newLogin main .container .register-box, .newLogin main .container .login-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.newLogin main .container .hidden {
  display: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.newLogin main .container input {
  /* border:1px solid red; */
  background-color: transparent;
  width: 70%;
  color: #a2a2a2;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  padding: 10px 0;
  text-indent: 10px;
  margin: 8px 0;
  font-size: 14px;
  letter-spacing: 2px;
}

.newLogin main .container .btn {
  border: none;
  margin-top: 3%;
  background-color: #ddd988;
  color: #f8f8f4;
  border-radius: 5px;
  width: 270px;
  height: 40px;
  outline: none;
  cursor: pointer;
}

.newLogin main .container input::-webkit-input-placeholder {
  color: #a0a0a0;
}

.newLogin main .container input:-ms-input-placeholder {
  color: #a0a0a0;
}

.newLogin main .container input::-ms-input-placeholder {
  color: #a0a0a0;
}

.newLogin main .container input::placeholder {
  color: #a0a0a0;
}

.newLogin main .container input:focus {
  color: #a262ad;
  outline: none;
  border-bottom: 1px solid #9ea21d80;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.newLogin main .container input:focus::-webkit-input-placeholder {
  opacity: 0;
}

.newLogin main .container input:focus:-ms-input-placeholder {
  opacity: 0;
}

.newLogin main .container input:focus::-ms-input-placeholder {
  opacity: 0;
}

.newLogin main .container input:focus::placeholder {
  opacity: 0;
}

.newLogin main .container .form-box button {
  width: 70%;
  margin-top: 35px;
  background-color: #f6f6f6;
  outline: none;
  border-radius: 8px;
  padding: 13px;
  color: #a262ad;
  letter-spacing: 2px;
  border: none;
  cursor: pointer;
}

.newLogin main .container .form-box .login-box img {
  /* border:1px solid red; */
  width: 150px;
  margin: 40px 0px;
}

.newLogin main .container .form-box button:hover {
  background-color: #a262ad;
  color: #f6f6f6;
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}

.newLogin main .container .con-box {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.newLogin main .container .con-box .form1 {
  margin-left: 35px;
}

.newLogin main .container .con-box .form2 {
  margin-right: 35px;
}

.newLogin main .container .con-box.left {
  /* border:1px solid red; */
  left: -2%;
}

.newLogin main .container .con-box.left .h1 {
  /* border:1px solid red; */
  text-align: center;
  margin-bottom: 25px;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 5px;
}

.newLogin main .container .con-box.right {
  /* border:1px solid red; */
  right: -2%;
}

.newLogin main .container .form-box h2 {
  color: #8e9aaf;
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 3px;
  text-align: center;
  margin-bottom: 4px;
}

.newLogin main .container .form-box p {
  font-size: 12px;
  letter-spacing: 2px;
  color: #8e9aaf;
  text-align: center;
}

.newLogin main .container .form-box span {
  color: #cbbc47;
}

.newLogin main .container .form-box img {
  width: 150px;
  height: 150px;
  opacity: 0.9;
  margin: 40px 0;
}

.newLogin main .container .form-box button {
  margin-top: 3%;
  background-color: #fff;
  color: #ddd988;
  padding: 6px 10px;
  border-radius: 5px;
  letter-spacing: 1px;
  outline: none;
  cursor: pointer;
}

.newLogin main .container .form-box button:hover {
  background-color: #d3c961;
  color: #fff;
}
/*# sourceMappingURL=new-login.css.map */