.notCheck {
  -webkit-animation: notCheck 0.2s infinite;
          animation: notCheck 0.2s infinite;
}

@-webkit-keyframes notCheck {
  0% {
    transform: translate(2px, 2px);
  }
  25% {
    transform: translate(-2px, -2px);
  }
  50% {
    transform: translate(0px, 0px);
  }
  75% {
    transform: translate(2px, -2px);
  }
  100% {
    transform: translate(-2px, 2px);
  }
}

@keyframes notCheck {
  0% {
    transform: translate(2px, 2px);
  }
  25% {
    transform: translate(-2px, -2px);
  }
  50% {
    transform: translate(0px, 0px);
  }
  75% {
    transform: translate(2px, -2px);
  }
  100% {
    transform: translate(-2px, 2px);
  }
}
.orderPage {
  background-color: #F5F0DD;
  color: #0C1244;
  /*  Larger Screen Styling */
}
.orderPage #bgCanvas {
  width: 0%;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100;
}
.orderPage select {
  border: 1px solid #0C1244;
  color: #0C1244;
}
.orderPage input {
  border: 1px solid #0C1244;
  color: #0C1244;
}
.orderPage button {
  color: #0C1244;
}
.orderPage section h2 {
  text-align: center;
}
@media (max-width: 576px) {
  .orderPage section h2 {
    margin-top: 50px;
    margin-bottom: 20px;
  }
}
.orderPage .shoppingProcess {
  width: 1180px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
@media (max-width: 576px) {
  .orderPage .shoppingProcess {
    width: 90%;
    height: 110px;
    justify-content: space-between;
  }
}
.orderPage .shoppingProcess img {
  width: 80px;
  height: 24px;
  margin: 0 40px;
}
@media (max-width: 576px) {
  .orderPage .shoppingProcess img {
    display: none;
  }
}
.orderPage .shoppingProcess .chooseAdate {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 1px solid #0C1244;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #0C1244;
  color: #F5F0DD;
}
.orderPage .shoppingProcess .chooseAdate h4:last-Child {
  margin-bottom: 10px;
}
@media (max-width: 576px) {
  .orderPage .shoppingProcess .chooseAdate {
    width: 75px;
    height: 75px;
  }
  .orderPage .shoppingProcess .chooseAdate h4 {
    font-size: 16px;
  }
}
.orderPage .shoppingProcess .chooseAtrip {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 1px solid #0C1244;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.orderPage .shoppingProcess .chooseAtrip h4:last-Child {
  margin-bottom: 10px;
}
@media (max-width: 576px) {
  .orderPage .shoppingProcess .chooseAtrip {
    width: 75px;
    height: 75px;
  }
  .orderPage .shoppingProcess .chooseAtrip h4 {
    font-size: 16px;
  }
}
.orderPage .shoppingProcess .tallyOrder {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 1px solid #0C1244;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.orderPage .shoppingProcess .tallyOrder h4:last-Child {
  margin-bottom: 10px;
}
@media (max-width: 576px) {
  .orderPage .shoppingProcess .tallyOrder {
    width: 75px;
    height: 75px;
  }
  .orderPage .shoppingProcess .tallyOrder h4 {
    font-size: 16px;
  }
}
.orderPage .shoppingProcess .orderComplete {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 1px solid #0C1244;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.orderPage .shoppingProcess .orderComplete h4:last-Child {
  margin-bottom: 10px;
}
@media (max-width: 576px) {
  .orderPage .shoppingProcess .orderComplete {
    width: 75px;
    height: 75px;
  }
  .orderPage .shoppingProcess .orderComplete h4 {
    font-size: 16px;
  }
}
.orderPage h3 {
  text-align: center;
  margin: 50px 0;
}
@media (max-width: 576px) {
  .orderPage h3 {
    margin-top: 50px;
    margin-bottom: 20px;
  }
}
.orderPage .selectDate {
  text-align: center;
  width: 700px;
  height: 100px;
  margin: 0px auto;
}
@media (max-width: 576px) {
  .orderPage .selectDate {
    width: 90%;
    height: 80px;
  }
}
.orderPage .selectDate ul {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}
.orderPage .selectDate li {
  width: 176px;
  height: 100px;
  border: 1px solid #0C1244;
  border-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@media (max-width: 576px) {
  .orderPage .selectDate li {
    height: 80px;
  }
  .orderPage .selectDate li #beginDate {
    font-size: 12rem;
  }
  .orderPage .selectDate li #endDate {
    font-size: 12rem;
  }
}
.orderPage .selectDate li #numberOfPeople {
  width: 50px;
  border: none;
}
.orderPage .selectDate li .pepoleNums {
  display: flex;
  justify-content: center;
  margin-top: 13px;
}
.orderPage .selectDate li .pepoleNums img {
  cursor: pointer;
  height: 11px;
}
.orderPage .selectDate li .pepoleNums input {
  width: 22px;
  height: 11px;
  margin: 0 5px;
  background-color: #F5F0DD;
  border: none;
  text-align: center;
  line-height: 11px;
}
.orderPage .selectDate li .pepoleNums input[type=number]::-webkit-outer-spin-button,
.orderPage .selectDate li .pepoleNums input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.orderPage .selectDate li:nth-child(2) {
  border-left: 0;
}
.orderPage .selectDate li:nth-child(3) {
  border-left: 0;
  border-right: 0;
}
.orderPage .selectDate li:nth-child(3) h4 {
  margin-bottom: 7px;
}
.orderPage .selectDate li:last-child select {
  background-color: #F5F0DD;
  border: none;
  text-align: center;
}
.orderPage .datePickerBox {
  width: 700px;
  height: 350px;
  margin: 0px auto;
}
@media (max-width: 576px) {
  .orderPage .datePickerBox {
    width: 90%;
  }
}
.orderPage .datePickerBox .dateTitle p {
  margin: 20px;
}
.orderPage .datePickerBox .pickerBox {
  text-align: center;
  width: 100%;
  border-top: 1px solid #0C1244;
}
.orderPage #dateBooking {
  width: 100%;
  height: 30px;
  font-size: 16px;
  text-align: center;
  background-color: #F5F0DD;
  color: #0C1244;
  box-sizing: border-box;
}
.orderPage .daterangepicker {
  position: absolute;
  color: inherit;
  background-color: #F5F0DD;
  border-radius: 4px;
  border: 1px solid #0C1244;
  width: 80%;
  max-width: none;
  padding: 0;
  margin-top: 7px;
  top: 100px;
  left: 20px;
  z-index: 4;
  display: none;
  font-family: arial;
  font-size: 20px;
  line-height: 1em;
  box-sizing: border-box;
}
.orderPage .daterangepicker:before, .orderPage .daterangepicker:after {
  position: absolute;
  display: inline-block;
  border-bottom-color: #0C1244 0, 0, 0, 0.5;
  content: "";
}
.orderPage .daterangepicker:before {
  top: -7px;
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
  border-bottom: 7px solid #0C1244;
}
.orderPage .daterangepicker:after {
  top: -6px;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #0C1244;
  border-left: 6px solid transparent;
}
.orderPage .daterangepicker.opensleft:before {
  right: 9px;
}
.orderPage .daterangepicker.opensleft:after {
  right: 10px;
}
.orderPage .daterangepicker.openscenter:before {
  left: 0;
  right: 0;
  width: 0;
  margin-left: auto;
  margin-right: auto;
}
.orderPage .daterangepicker.openscenter:after {
  left: 0;
  right: 0;
  width: 0;
  margin-left: auto;
  margin-right: auto;
}
.orderPage .daterangepicker.opensright:before {
  left: 9px;
}
.orderPage .daterangepicker.opensright:after {
  left: 10px;
}
.orderPage .daterangepicker.drop-up {
  margin-top: -7px;
}
.orderPage .daterangepicker.drop-up:before {
  top: initial;
  bottom: -7px;
  border-bottom: initial;
  border-top: 7px solid #0C1244;
}
.orderPage .daterangepicker.drop-up:after {
  top: initial;
  bottom: -6px;
  border-bottom: initial;
  border-top: 6px solid #fff;
}
.orderPage .daterangepicker.single .daterangepicker .ranges, .orderPage .daterangepicker.single .drp-calendar {
  float: none;
}
.orderPage .daterangepicker.single .drp-selected {
  display: none;
}
.orderPage .daterangepicker.show-calendar .drp-calendar {
  display: block;
}
.orderPage .daterangepicker.show-calendar .drp-buttons {
  display: block;
}
.orderPage .daterangepicker.auto-apply .drp-buttons {
  display: none;
}
.orderPage .daterangepicker .drp-calendar {
  display: block;
  max-width: 350px;
  box-sizing: border-box;
}
.orderPage .daterangepicker .drp-calendar.left {
  padding: 8px 0 8px 8px;
}
.orderPage .daterangepicker .drp-calendar.right {
  padding: 8px;
}
.orderPage .daterangepicker .drp-calendar.single .calendar-table {
  border: none;
}
.orderPage .daterangepicker .calendar-table .next span, .orderPage .daterangepicker .calendar-table .prev span {
  color: #fff;
  border: solid black;
  border-width: 0 2px 2px 0;
  border-radius: 0;
  display: inline-block;
  padding: 3px;
}
.orderPage .daterangepicker .calendar-table .next span {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.orderPage .daterangepicker .calendar-table .prev span {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
.orderPage .daterangepicker .calendar-table th, .orderPage .daterangepicker .calendar-table td {
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;
  min-width: 32px;
  width: 48px;
  height: 32px;
  line-height: 32px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid transparent;
  white-space: nowrap;
  cursor: pointer;
}
.orderPage .daterangepicker .calendar-table {
  border: 1px solid #fff;
  border-radius: 4px;
  background-color: #F5F0DD;
}
.orderPage .daterangepicker .calendar-table table {
  width: 100%;
  margin: 0;
  border-spacing: 0;
  border-collapse: collapse;
}
.orderPage .daterangepicker td.available:hover, .orderPage .daterangepicker th.available:hover {
  background-color: #eee;
  border-color: transparent;
  color: inherit;
}
.orderPage .daterangepicker td.week, .orderPage .daterangepicker th.week {
  font-size: 80%;
  color: #ccc;
}
.orderPage .daterangepicker td.off, .orderPage .daterangepicker td.off.in-range, .orderPage .daterangepicker td.off.start-date, .orderPage .daterangepicker td.off.end-date {
  background-color: #F5F0DD;
  border-color: transparent;
  color: #999;
}
.orderPage .daterangepicker td.in-range {
  background-color: #ebf4f8;
  border-color: transparent;
  color: #0C1244;
  border-radius: 0;
}
.orderPage .daterangepicker td.start-date {
  border-radius: 4px 0 0 4px;
}
.orderPage .daterangepicker td.end-date {
  border-radius: 0 4px 4px 0;
}
.orderPage .daterangepicker td.start-date.end-date {
  border-radius: 4px;
}
.orderPage .daterangepicker td.active, .orderPage .daterangepicker td.active:hover {
  background-color: #0C1244;
  border-color: transparent;
  color: #F5F0DD;
}
.orderPage .daterangepicker th.month {
  width: auto;
}
.orderPage .daterangepicker td.disabled, .orderPage .daterangepicker option.disabled {
  color: #0C1244;
  cursor: not-allowed;
  text-decoration: line-through;
}
.orderPage .daterangepicker select.monthselect, .orderPage .daterangepicker select.yearselect {
  font-size: 12px;
  padding: 1px;
  height: auto;
  margin: 0;
  cursor: default;
}
.orderPage .daterangepicker select.monthselect {
  margin-right: 2%;
  width: 56%;
}
.orderPage .daterangepicker select.yearselect {
  width: 40%;
}
.orderPage .daterangepicker select.hourselect, .orderPage .daterangepicker select.minuteselect, .orderPage .daterangepicker select.secondselect, .orderPage .daterangepicker select.ampmselect {
  width: 50px;
  margin: 0 auto;
  background: #F5F0DD;
  border: 1px solid #eee;
  padding: 2px;
  outline: 0;
  font-size: 12px;
}
.orderPage .daterangepicker .calendar-time {
  text-align: center;
  margin: 4px auto 0 auto;
  line-height: 30px;
  position: relative;
}
.orderPage .daterangepicker .calendar-time select.disabled {
  color: #ccc;
  cursor: not-allowed;
}
.orderPage .daterangepicker .drp-buttons {
  clear: both;
  text-align: right;
  padding: 8px;
  border-top: 1px solid #ddd;
  display: none;
  line-height: 12px;
  vertical-align: middle;
}
.orderPage .daterangepicker .drp-selected {
  display: inline-block;
  font-size: 12px;
  padding-right: 8px;
}
.orderPage .daterangepicker .drp-buttons .btn {
  margin-left: 8px;
  font-size: 12px;
  font-weight: bold;
  padding: 4px 8px;
}
.orderPage .daterangepicker.show-ranges.single.rtl .drp-calendar.left {
  border-right: 1px solid #ddd;
}
.orderPage .daterangepicker.show-ranges.single.ltr .drp-calendar.left {
  border-left: 1px solid #ddd;
}
.orderPage .daterangepicker.show-ranges.rtl .drp-calendar.right {
  border-right: 1px solid #ddd;
}
.orderPage .daterangepicker.show-ranges.ltr .drp-calendar.left {
  border-left: 1px solid #ddd;
}
.orderPage .daterangepicker .ranges {
  float: none;
  text-align: left;
  margin: 0;
}
.orderPage .daterangepicker.show-calendar .ranges {
  margin-top: 8px;
}
.orderPage .daterangepicker .ranges ul {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  width: 100%;
}
.orderPage .daterangepicker .ranges li {
  font-size: 12px;
  padding: 8px 12px;
  cursor: pointer;
}
.orderPage .daterangepicker .ranges li:hover {
  border: 1px solid #0C1244;
  box-sizing: border-box;
}
.orderPage .daterangepicker .ranges li.active {
  background-color: #0C1244;
  color: #F5F0DD;
}
@media (min-width: 564px) {
  .orderPage .daterangepicker {
    width: auto;
  }
  .orderPage .daterangepicker .ranges ul {
    width: 140px;
  }
  .orderPage .daterangepicker.single .ranges ul {
    width: 100%;
  }
  .orderPage .daterangepicker.single .drp-calendar.left {
    clear: none;
  }
  .orderPage .daterangepicker.single .ranges, .orderPage .daterangepicker.single .drp-calendar {
    float: left;
  }
  .orderPage .daterangepicker {
    direction: ltr;
    text-align: left;
  }
  .orderPage .daterangepicker .drp-calendar.left {
    clear: left;
    margin-right: 0;
  }
  .orderPage .daterangepicker .drp-calendar.left .calendar-table {
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .orderPage .daterangepicker .drp-calendar.right {
    margin-left: 0;
  }
  .orderPage .daterangepicker .drp-calendar.right .calendar-table {
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .orderPage .daterangepicker .drp-calendar.left .calendar-table {
    padding-right: 8px;
  }
  .orderPage .daterangepicker .ranges, .orderPage .daterangepicker .drp-calendar {
    float: left;
  }
}
@media (min-width: 730px) {
  .orderPage .daterangepicker .ranges {
    width: auto;
  }
  .orderPage .daterangepicker .ranges {
    float: left;
  }
  .orderPage .daterangepicker.rtl .ranges {
    float: right;
  }
  .orderPage .daterangepicker .drp-calendar.left {
    clear: none !important;
  }
}
.orderPage #NextPage {
  display: block;
  width: 140px;
  height: 50px;
  border: none;
  position: relative;
  background: #0C1244;
  color: #0C1244;
  text-decoration: none;
  font-size: 16px;
  letter-spacing: 3px;
  font-weight: 400;
  transition: 0.5s;
  box-sizing: border-box;
  text-align: center;
  margin: 50px auto;
}
@media (max-width: 576px) {
  .orderPage #NextPage {
    width: 300px;
    border-radius: 30px;
    margin-top: 20px;
    margin-bottom: 50px;
  }
}
.orderPage #NextPage:hover {
  letter-spacing: 3px;
  background: var(--clr);
  color: var(--clr);
  box-shadow: 0 0 35px var(--clr);
}
.orderPage #NextPage:hover i::before {
  width: 20px;
  left: 20%;
}
.orderPage #NextPage:hover i::after {
  width: 20px;
  left: 80%;
}
.orderPage #NextPage::before {
  content: "";
  position: absolute;
  inset: 2px;
  background: #F5F0DD;
}
.orderPage #NextPage span {
  position: relative;
  z-index: 1;
}
.orderPage #NextPage i {
  position: absolute;
  inset: 0;
  display: block;
}
.orderPage #NextPage i:before {
  content: "";
  position: absolute;
  top: 0;
  left: 80%;
  width: 10px;
  height: 4px;
  background: #F5F0DD;
  transform: translateX(-50%) skew(325deg);
  transition: 0.5s;
}
.orderPage #NextPage i:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 20%;
  width: 10px;
  height: 4px;
  background: #F5F0DD;
  transform: translateX(-50%) skew(325deg);
  transition: 0.5s;
}

.orderPage_moon {
  background-color: #0C1244;
  color: #F5F0DD;
  /*  Larger Screen Styling */
}
.orderPage_moon #bgCanvas {
  width: 100%;
  height: 200vh;
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100;
  transition: height 1s;
}
.orderPage_moon select {
  border: 1px solid #F5F0DD;
  color: #F5F0DD;
}
.orderPage_moon input {
  border: 1px solid #F5F0DD;
  color: #F5F0DD;
}
.orderPage_moon button {
  color: #F5F0DD;
}
.orderPage_moon section h2 {
  text-align: center;
}
@media (max-width: 576px) {
  .orderPage_moon section h2 {
    margin-top: 50px;
    margin-bottom: 20px;
  }
}
.orderPage_moon .shoppingProcess {
  width: 1180px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
@media (max-width: 576px) {
  .orderPage_moon .shoppingProcess {
    width: 90%;
    height: 110px;
    justify-content: space-between;
  }
}
.orderPage_moon .shoppingProcess img {
  width: 80px;
  height: 24px;
  margin: 0 40px;
}
@media (max-width: 576px) {
  .orderPage_moon .shoppingProcess img {
    display: none;
  }
}
.orderPage_moon .shoppingProcess .chooseAdate {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 1px solid #F5F0DD;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #F5F0DD;
  color: #0C1244;
}
.orderPage_moon .shoppingProcess .chooseAdate h4:last-Child {
  margin-bottom: 10px;
}
@media (max-width: 576px) {
  .orderPage_moon .shoppingProcess .chooseAdate {
    width: 75px;
    height: 75px;
  }
  .orderPage_moon .shoppingProcess .chooseAdate h4 {
    font-size: 16px;
  }
}
.orderPage_moon .shoppingProcess .chooseAtrip {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 1px solid #F5F0DD;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.orderPage_moon .shoppingProcess .chooseAtrip h4:last-Child {
  margin-bottom: 10px;
}
@media (max-width: 576px) {
  .orderPage_moon .shoppingProcess .chooseAtrip {
    width: 75px;
    height: 75px;
  }
  .orderPage_moon .shoppingProcess .chooseAtrip h4 {
    font-size: 16px;
  }
}
.orderPage_moon .shoppingProcess .tallyOrder {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 1px solid #F5F0DD;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.orderPage_moon .shoppingProcess .tallyOrder h4:last-Child {
  margin-bottom: 10px;
}
@media (max-width: 576px) {
  .orderPage_moon .shoppingProcess .tallyOrder {
    width: 75px;
    height: 75px;
  }
  .orderPage_moon .shoppingProcess .tallyOrder h4 {
    font-size: 16px;
  }
}
.orderPage_moon .shoppingProcess .orderComplete {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 1px solid #F5F0DD;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.orderPage_moon .shoppingProcess .orderComplete h4:last-Child {
  margin-bottom: 10px;
}
@media (max-width: 576px) {
  .orderPage_moon .shoppingProcess .orderComplete {
    width: 75px;
    height: 75px;
  }
  .orderPage_moon .shoppingProcess .orderComplete h4 {
    font-size: 16px;
  }
}
.orderPage_moon h3 {
  text-align: center;
  margin: 50px 0;
}
@media (max-width: 576px) {
  .orderPage_moon h3 {
    margin-top: 50px;
    margin-bottom: 20px;
  }
}
.orderPage_moon .selectDate {
  text-align: center;
  width: 700px;
  height: 100px;
  margin: 0px auto;
}
@media (max-width: 576px) {
  .orderPage_moon .selectDate {
    width: 90%;
    height: 80px;
  }
}
.orderPage_moon .selectDate ul {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}
.orderPage_moon .selectDate li {
  width: 176px;
  height: 100px;
  border: 1px solid #F5F0DD;
  border-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@media (max-width: 576px) {
  .orderPage_moon .selectDate li {
    height: 80px;
  }
  .orderPage_moon .selectDate li #beginDate {
    font-size: 12rem;
  }
  .orderPage_moon .selectDate li #endDate {
    font-size: 12rem;
  }
}
.orderPage_moon .selectDate li #numberOfPeople {
  width: 50px;
  border: none;
}
.orderPage_moon .selectDate li .pepoleNums {
  display: flex;
  justify-content: center;
  margin-top: 13px;
}
.orderPage_moon .selectDate li .pepoleNums img {
  cursor: pointer;
  height: 11px;
}
.orderPage_moon .selectDate li .pepoleNums input {
  width: 22px;
  height: 11px;
  margin: 0 5px;
  background-color: #0C1244;
  border: none;
  text-align: center;
  line-height: 11px;
}
.orderPage_moon .selectDate li .pepoleNums input[type=number]::-webkit-outer-spin-button,
.orderPage_moon .selectDate li .pepoleNums input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.orderPage_moon .selectDate li:nth-child(2) {
  border-left: 0;
}
.orderPage_moon .selectDate li:nth-child(3) {
  border-left: 0;
  border-right: 0;
}
.orderPage_moon .selectDate li:nth-child(3) h4 {
  margin-bottom: 7px;
}
.orderPage_moon .selectDate li:last-child select {
  background-color: #0C1244;
  border: none;
  text-align: center;
}
.orderPage_moon .datePickerBox {
  width: 700px;
  height: 350px;
  margin: 0px auto;
}
@media (max-width: 576px) {
  .orderPage_moon .datePickerBox {
    width: 90%;
  }
}
.orderPage_moon .datePickerBox .dateTitle p {
  margin: 20px;
}
.orderPage_moon .datePickerBox .pickerBox {
  text-align: center;
  width: 100%;
  border-top: 1px solid #F5F0DD;
}
.orderPage_moon #dateBooking {
  width: 100%;
  height: 30px;
  font-size: 16px;
  text-align: center;
  background-color: #0C1244;
  color: #F5F0DD;
  box-sizing: border-box;
}
.orderPage_moon .daterangepicker {
  position: absolute;
  color: inherit;
  background-color: #0C1244;
  border-radius: 4px;
  border: 1px solid #F5F0DD;
  width: 80%;
  max-width: none;
  padding: 0;
  margin-top: 7px;
  top: 100px;
  left: 20px;
  z-index: 4;
  display: none;
  font-family: arial;
  font-size: 20px;
  line-height: 1em;
  box-sizing: border-box;
}
.orderPage_moon .daterangepicker:before, .orderPage_moon .daterangepicker:after {
  position: absolute;
  display: inline-block;
  border-bottom-color: #F5F0DD 0, 0, 0, 0.5;
  content: "";
}
.orderPage_moon .daterangepicker:before {
  top: -7px;
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
  border-bottom: 7px solid #F5F0DD;
}
.orderPage_moon .daterangepicker:after {
  top: -6px;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #F5F0DD;
  border-left: 6px solid transparent;
}
.orderPage_moon .daterangepicker.opensleft:before {
  right: 9px;
}
.orderPage_moon .daterangepicker.opensleft:after {
  right: 10px;
}
.orderPage_moon .daterangepicker.openscenter:before {
  left: 0;
  right: 0;
  width: 0;
  margin-left: auto;
  margin-right: auto;
}
.orderPage_moon .daterangepicker.openscenter:after {
  left: 0;
  right: 0;
  width: 0;
  margin-left: auto;
  margin-right: auto;
}
.orderPage_moon .daterangepicker.opensright:before {
  left: 9px;
}
.orderPage_moon .daterangepicker.opensright:after {
  left: 10px;
}
.orderPage_moon .daterangepicker.drop-up {
  margin-top: -7px;
}
.orderPage_moon .daterangepicker.drop-up:before {
  top: initial;
  bottom: -7px;
  border-bottom: initial;
  border-top: 7px solid #F5F0DD;
}
.orderPage_moon .daterangepicker.drop-up:after {
  top: initial;
  bottom: -6px;
  border-bottom: initial;
  border-top: 6px solid #fff;
}
.orderPage_moon .daterangepicker.single .daterangepicker .ranges, .orderPage_moon .daterangepicker.single .drp-calendar {
  float: none;
}
.orderPage_moon .daterangepicker.single .drp-selected {
  display: none;
}
.orderPage_moon .daterangepicker.show-calendar .drp-calendar {
  display: block;
}
.orderPage_moon .daterangepicker.show-calendar .drp-buttons {
  display: block;
}
.orderPage_moon .daterangepicker.auto-apply .drp-buttons {
  display: none;
}
.orderPage_moon .daterangepicker .drp-calendar {
  display: block;
  max-width: 350px;
  box-sizing: border-box;
}
.orderPage_moon .daterangepicker .drp-calendar.left {
  padding: 8px 0 8px 8px;
}
.orderPage_moon .daterangepicker .drp-calendar.right {
  padding: 8px;
}
.orderPage_moon .daterangepicker .drp-calendar.single .calendar-table {
  border: none;
}
.orderPage_moon .daterangepicker .calendar-table .next span, .orderPage_moon .daterangepicker .calendar-table .prev span {
  color: #fff;
  border: solid black;
  border-width: 0 2px 2px 0;
  border-radius: 0;
  display: inline-block;
  padding: 3px;
}
.orderPage_moon .daterangepicker .calendar-table .next span {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.orderPage_moon .daterangepicker .calendar-table .prev span {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
.orderPage_moon .daterangepicker .calendar-table th, .orderPage_moon .daterangepicker .calendar-table td {
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;
  min-width: 32px;
  width: 48px;
  height: 32px;
  line-height: 32px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid transparent;
  white-space: nowrap;
  cursor: pointer;
}
.orderPage_moon .daterangepicker .calendar-table {
  border: 1px solid #fff;
  border-radius: 4px;
  background-color: #0C1244;
}
.orderPage_moon .daterangepicker .calendar-table table {
  width: 100%;
  margin: 0;
  border-spacing: 0;
  border-collapse: collapse;
}
.orderPage_moon .daterangepicker td.available:hover, .orderPage_moon .daterangepicker th.available:hover {
  background-color: #eee;
  border-color: transparent;
  color: inherit;
}
.orderPage_moon .daterangepicker td.week, .orderPage_moon .daterangepicker th.week {
  font-size: 80%;
  color: #ccc;
}
.orderPage_moon .daterangepicker td.off, .orderPage_moon .daterangepicker td.off.in-range, .orderPage_moon .daterangepicker td.off.start-date, .orderPage_moon .daterangepicker td.off.end-date {
  background-color: #0C1244;
  border-color: transparent;
  color: #999;
}
.orderPage_moon .daterangepicker td.in-range {
  background-color: #ebf4f8;
  border-color: transparent;
  color: #F5F0DD;
  border-radius: 0;
}
.orderPage_moon .daterangepicker td.start-date {
  border-radius: 4px 0 0 4px;
}
.orderPage_moon .daterangepicker td.end-date {
  border-radius: 0 4px 4px 0;
}
.orderPage_moon .daterangepicker td.start-date.end-date {
  border-radius: 4px;
}
.orderPage_moon .daterangepicker td.active, .orderPage_moon .daterangepicker td.active:hover {
  background-color: #F5F0DD;
  border-color: transparent;
  color: #0C1244;
}
.orderPage_moon .daterangepicker th.month {
  width: auto;
}
.orderPage_moon .daterangepicker td.disabled, .orderPage_moon .daterangepicker option.disabled {
  color: #F5F0DD;
  cursor: not-allowed;
  text-decoration: line-through;
}
.orderPage_moon .daterangepicker select.monthselect, .orderPage_moon .daterangepicker select.yearselect {
  font-size: 12px;
  padding: 1px;
  height: auto;
  margin: 0;
  cursor: default;
}
.orderPage_moon .daterangepicker select.monthselect {
  margin-right: 2%;
  width: 56%;
}
.orderPage_moon .daterangepicker select.yearselect {
  width: 40%;
}
.orderPage_moon .daterangepicker select.hourselect, .orderPage_moon .daterangepicker select.minuteselect, .orderPage_moon .daterangepicker select.secondselect, .orderPage_moon .daterangepicker select.ampmselect {
  width: 50px;
  margin: 0 auto;
  background: #0C1244;
  border: 1px solid #eee;
  padding: 2px;
  outline: 0;
  font-size: 12px;
}
.orderPage_moon .daterangepicker .calendar-time {
  text-align: center;
  margin: 4px auto 0 auto;
  line-height: 30px;
  position: relative;
}
.orderPage_moon .daterangepicker .calendar-time select.disabled {
  color: #ccc;
  cursor: not-allowed;
}
.orderPage_moon .daterangepicker .drp-buttons {
  clear: both;
  text-align: right;
  padding: 8px;
  border-top: 1px solid #ddd;
  display: none;
  line-height: 12px;
  vertical-align: middle;
}
.orderPage_moon .daterangepicker .drp-selected {
  display: inline-block;
  font-size: 12px;
  padding-right: 8px;
}
.orderPage_moon .daterangepicker .drp-buttons .btn {
  margin-left: 8px;
  font-size: 12px;
  font-weight: bold;
  padding: 4px 8px;
  background-color: transparent;
  border: 1px solid;
}
.orderPage_moon .daterangepicker.show-ranges.single.rtl .drp-calendar.left {
  border-right: 1px solid #ddd;
}
.orderPage_moon .daterangepicker.show-ranges.single.ltr .drp-calendar.left {
  border-left: 1px solid #ddd;
}
.orderPage_moon .daterangepicker.show-ranges.rtl .drp-calendar.right {
  border-right: 1px solid #ddd;
}
.orderPage_moon .daterangepicker.show-ranges.ltr .drp-calendar.left {
  border-left: 1px solid #ddd;
}
.orderPage_moon .daterangepicker .ranges {
  float: none;
  text-align: left;
  margin: 0;
}
.orderPage_moon .daterangepicker.show-calendar .ranges {
  margin-top: 8px;
}
.orderPage_moon .daterangepicker .ranges ul {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  width: 100%;
}
.orderPage_moon .daterangepicker .ranges li {
  font-size: 12px;
  padding: 8px 12px;
  cursor: pointer;
}
.orderPage_moon .daterangepicker .ranges li:hover {
  border: 1px solid #F5F0DD;
  box-sizing: border-box;
}
.orderPage_moon .daterangepicker .ranges li.active {
  background-color: #F5F0DD;
  color: #0C1244;
}
@media (min-width: 564px) {
  .orderPage_moon .daterangepicker {
    width: auto;
  }
  .orderPage_moon .daterangepicker .ranges ul {
    width: 140px;
  }
  .orderPage_moon .daterangepicker.single .ranges ul {
    width: 100%;
  }
  .orderPage_moon .daterangepicker.single .drp-calendar.left {
    clear: none;
  }
  .orderPage_moon .daterangepicker.single .ranges, .orderPage_moon .daterangepicker.single .drp-calendar {
    float: left;
  }
  .orderPage_moon .daterangepicker {
    direction: ltr;
    text-align: left;
  }
  .orderPage_moon .daterangepicker .drp-calendar.left {
    clear: left;
    margin-right: 0;
  }
  .orderPage_moon .daterangepicker .drp-calendar.left .calendar-table {
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .orderPage_moon .daterangepicker .drp-calendar.right {
    margin-left: 0;
  }
  .orderPage_moon .daterangepicker .drp-calendar.right .calendar-table {
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .orderPage_moon .daterangepicker .drp-calendar.left .calendar-table {
    padding-right: 8px;
  }
  .orderPage_moon .daterangepicker .ranges, .orderPage_moon .daterangepicker .drp-calendar {
    float: left;
  }
}
@media (min-width: 730px) {
  .orderPage_moon .daterangepicker .ranges {
    width: auto;
  }
  .orderPage_moon .daterangepicker .ranges {
    float: left;
  }
  .orderPage_moon .daterangepicker.rtl .ranges {
    float: right;
  }
  .orderPage_moon .daterangepicker .drp-calendar.left {
    clear: none !important;
  }
}
.orderPage_moon #NextPage {
  display: block;
  width: 140px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  background-color: #0C1244;
  border: 1px solid #F5F0DD;
  margin: 50px auto;
}
@media (max-width: 576px) {
  .orderPage_moon #NextPage {
    width: 300px;
    border-radius: 30px;
    margin-top: 20px;
    margin-bottom: 50px;
  }
}
.orderPage_moon #NextPage:hover {
  color: #0C1244;
  background-color: #F5F0DD;
  border: 1px solid #0C1244;
}/*# sourceMappingURL=orderPage.css.map */