.orderPage {
  background-color: #F5F0DD;
  color: #0C1244;
}
.orderPage select {
  border: 1px solid #0C1244;
  color: #0C1244;
}
.orderPage input {
  border: 1px solid #0C1244;
  color: #0C1244;
}
.orderPage button {
  color: #0C1244;
}
.orderPage section h2 {
  text-align: center;
}
@media (max-width: 576px) {
  .orderPage section h2 {
    margin-top: 50px;
    margin-bottom: 20px;
  }
}
.orderPage .shoppingProcess {
  width: 1180px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
@media (max-width: 576px) {
  .orderPage .shoppingProcess {
    width: 90%;
    height: 110px;
    justify-content: space-between;
  }
}
.orderPage .shoppingProcess img {
  width: 80px;
  height: 24px;
  margin: 0 40px;
}
@media (max-width: 576px) {
  .orderPage .shoppingProcess img {
    display: none;
  }
}
.orderPage .shoppingProcess .chooseAdate {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 1px solid #0C1244;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #0C1244;
  color: #F5F0DD;
}
.orderPage .shoppingProcess .chooseAdate h4:last-Child {
  margin-bottom: 10px;
}
@media (max-width: 576px) {
  .orderPage .shoppingProcess .chooseAdate {
    width: 75px;
    height: 75px;
  }
  .orderPage .shoppingProcess .chooseAdate h4 {
    font-size: 16px;
  }
}
.orderPage .shoppingProcess .chooseAtrip {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 1px solid #0C1244;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.orderPage .shoppingProcess .chooseAtrip h4:last-Child {
  margin-bottom: 10px;
}
@media (max-width: 576px) {
  .orderPage .shoppingProcess .chooseAtrip {
    width: 75px;
    height: 75px;
  }
  .orderPage .shoppingProcess .chooseAtrip h4 {
    font-size: 16px;
  }
}
.orderPage .shoppingProcess .tallyOrder {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 1px solid #0C1244;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.orderPage .shoppingProcess .tallyOrder h4:last-Child {
  margin-bottom: 10px;
}
@media (max-width: 576px) {
  .orderPage .shoppingProcess .tallyOrder {
    width: 75px;
    height: 75px;
  }
  .orderPage .shoppingProcess .tallyOrder h4 {
    font-size: 16px;
  }
}
.orderPage .shoppingProcess .orderComplete {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 1px solid #0C1244;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.orderPage .shoppingProcess .orderComplete h4:last-Child {
  margin-bottom: 10px;
}
@media (max-width: 576px) {
  .orderPage .shoppingProcess .orderComplete {
    width: 75px;
    height: 75px;
  }
  .orderPage .shoppingProcess .orderComplete h4 {
    font-size: 16px;
  }
}
.orderPage h3 {
  text-align: center;
  margin: 50px 0;
}
@media (max-width: 576px) {
  .orderPage h3 {
    margin-top: 50px;
    margin-bottom: 20px;
  }
}
.orderPage .selectDate {
  text-align: center;
  width: 700px;
  height: 100px;
  margin: 0px auto;
}
@media (max-width: 576px) {
  .orderPage .selectDate {
    width: 90%;
    height: 80px;
  }
}
.orderPage .selectDate ul {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}
.orderPage .selectDate li {
  width: 176px;
  height: 100px;
  border: 1px solid #0C1244;
  border-bottom: 0;
  line-height: 40px;
}
@media (max-width: 576px) {
  .orderPage .selectDate li {
    height: 80px;
  }
  .orderPage .selectDate li #beginDate {
    font-size: 12rem;
  }
  .orderPage .selectDate li #endDate {
    font-size: 12rem;
  }
}
.orderPage .selectDate li #numberOfPeople {
  width: 50px;
  border: none;
}
.orderPage .selectDate li .pepoleNums {
  display: flex;
  justify-content: center;
  margin-top: 13px;
}
.orderPage .selectDate li .pepoleNums img {
  cursor: pointer;
  height: 11px;
}
.orderPage .selectDate li .pepoleNums input {
  width: 22px;
  height: 11px;
  margin: 0 5px;
  background-color: #F5F0DD;
  border: none;
  text-align: center;
  line-height: 11px;
}
.orderPage .selectDate li .pepoleNums input[type=number]::-webkit-outer-spin-button,
.orderPage .selectDate li .pepoleNums input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.orderPage .selectDate li:nth-child(2) {
  border-left: 0;
}
.orderPage .selectDate li:nth-child(3) {
  line-height: 40px;
  border-left: 0;
  border-right: 0;
}
.orderPage .selectDate li:last-child {
  margin-right: 0px;
  line-height: 40px;
}
.orderPage .selectDate li:last-child select {
  background-color: #F5F0DD;
  border: none;
  text-align: center;
}
.orderPage .datePickerBox {
  width: 700px;
  height: 400px;
  margin: 0px auto;
  border: 1px solid #0C1244;
  box-sizing: border-box;
}
@media (max-width: 576px) {
  .orderPage .datePickerBox {
    width: 90%;
  }
}
.orderPage .datePickerBox .dateTitle p {
  margin: 20px;
}
.orderPage .datePickerBox .pickerBox {
  text-align: center;
  width: 100%;
  border-top: 1px solid #0C1244;
}
.orderPage .calendar {
  width: 50%;
  background-color: #0C1244;
  border-radius: 30px;
  padding: 30px;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  margin: 0 auto;
}
.orderPage .calendar-header {
  text-align: center;
  font-size: 20px;
  color: rgb(255, 255, 255);
  padding: 10px;
}
.orderPage .month-picker {
  border-radius: 10px;
  cursor: pointer;
}
.orderPage .year-picker {
  display: flex;
  align-items: center;
  justify-content: center;
}
.orderPage .year-change {
  width: 20px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  margin: 0 10px;
  cursor: pointer;
}
.orderPage .year-change pre {
  overflow: hidden;
}
.orderPage .calendar-week-day {
  height: 50px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  font-weight: 600;
}
.orderPage .calendar-week-day div {
  display: grid;
  place-items: center;
  color: #F5F0DD;
}
.orderPage .calendar-days {
  display: grid;
  box-sizing: border-box;
  grid-template-columns: repeat(7, 1fr);
  gap: 3px;
  font-size: 16px;
}
.orderPage .calendar-days > div {
  width: 100%;
  aspect-ratio: 1/1;
  position: relative;
  cursor: pointer;
  animation: to-top 1s forwards;
  background-color: white;
  box-sizing: border-box;
}
.orderPage .calendar-days div:hover span {
  transition: 0.5s ease-in-out;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid rgb(255, 234, 0);
}
.orderPage .calendar-days div span {
  position: absolute;
}
.orderPage .calendar-days {
  box-sizing: border-box;
}
.orderPage .calendar-days .date {
  background-color: #F5F0DD;
  color: #0C1244;
  text-align: center;
  box-sizing: border-box;
  line-height: 35px;
  border: 1px solid #F5F0DD;
}
.orderPage .calendar-days .date .div.startDay {
  box-sizing: border-box;
  color: #F5F0DD;
  background-color: #0C1244;
}
.orderPage .calendar-days .date .div.EndDay {
  box-sizing: border-box;
  color: #F5F0DD;
  background-color: #0C1244;
}
.orderPage .calendar-days .date.startDay {
  box-sizing: border-box;
  color: #F5F0DD;
  background-color: #0C1244;
}
.orderPage .calendar-days .date.EndDay {
  box-sizing: border-box;
  color: #F5F0DD;
  background-color: #0C1244;
}
.orderPage .calendar-days .date.afterToday:hover {
  box-sizing: border-box;
  color: #F5F0DD;
  background-color: #0C1244;
}
.orderPage .calendar-days .date.beforeToday {
  color: #F5F0DD;
  background-color: #0C1244;
  text-decoration: line-through;
  pointer-events: none;
  border: none;
}
.orderPage .calendar-days .thisMonth {
  color: #0C1244;
  background-color: #F5F0DD;
}
.orderPage .calendar-days .thisMonth.active {
  background-color: rgb(255, 0, 0);
}
.orderPage .calendar-days .isToday {
  border: 1px solid #F5F0DD !important;
  background-color: #0C1244;
  color: #F5F0DD;
  text-decoration: none !important;
}
.orderPage .month-list {
  position: absolute;
  width: 30%;
  height: 30%;
  top: 0px;
  left: 0px;
  font-size: 25px;
  text-align: center;
  background-color: #0C1244;
  padding: 20px;
  transform: scale(1.5);
  visibility: hidden;
  cursor: pointer;
}
.orderPage .month-list.show {
  transform: scale(1);
  visibility: visible;
  pointer-events: visible;
  transition: all 0.2s ease-in-out;
}
.orderPage #NextPage {
  display: block;
  width: 140px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  background-color: #F5F0DD;
  border: 1px solid #0C1244;
  margin: 50px auto;
}
@media (max-width: 576px) {
  .orderPage #NextPage {
    width: 300px;
    border-radius: 30px;
    margin-top: 20px;
    margin-bottom: 50px;
  }
}
.orderPage #NextPage:hover {
  color: #F5F0DD;
  background-color: #0C1244;
  border: 1px solid #F5F0DD;
}

.orderPage_moon {
  background-color: #0C1244;
  color: #F5F0DD;
}
.orderPage_moon select {
  border: 1px solid #F5F0DD;
  color: #F5F0DD;
}
.orderPage_moon input {
  border: 1px solid #F5F0DD;
  color: #F5F0DD;
}
.orderPage_moon button {
  color: #F5F0DD;
}
.orderPage_moon section h2 {
  text-align: center;
}
@media (max-width: 576px) {
  .orderPage_moon section h2 {
    margin-top: 50px;
    margin-bottom: 20px;
  }
}
.orderPage_moon .shoppingProcess {
  width: 1180px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
@media (max-width: 576px) {
  .orderPage_moon .shoppingProcess {
    width: 90%;
    height: 110px;
    justify-content: space-between;
  }
}
.orderPage_moon .shoppingProcess img {
  width: 80px;
  height: 24px;
  margin: 0 40px;
}
@media (max-width: 576px) {
  .orderPage_moon .shoppingProcess img {
    display: none;
  }
}
.orderPage_moon .shoppingProcess .chooseAdate {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 1px solid #F5F0DD;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #F5F0DD;
  color: #0C1244;
}
.orderPage_moon .shoppingProcess .chooseAdate h4:last-Child {
  margin-bottom: 10px;
}
@media (max-width: 576px) {
  .orderPage_moon .shoppingProcess .chooseAdate {
    width: 75px;
    height: 75px;
  }
  .orderPage_moon .shoppingProcess .chooseAdate h4 {
    font-size: 16px;
  }
}
.orderPage_moon .shoppingProcess .chooseAtrip {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 1px solid #F5F0DD;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.orderPage_moon .shoppingProcess .chooseAtrip h4:last-Child {
  margin-bottom: 10px;
}
@media (max-width: 576px) {
  .orderPage_moon .shoppingProcess .chooseAtrip {
    width: 75px;
    height: 75px;
  }
  .orderPage_moon .shoppingProcess .chooseAtrip h4 {
    font-size: 16px;
  }
}
.orderPage_moon .shoppingProcess .tallyOrder {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 1px solid #F5F0DD;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.orderPage_moon .shoppingProcess .tallyOrder h4:last-Child {
  margin-bottom: 10px;
}
@media (max-width: 576px) {
  .orderPage_moon .shoppingProcess .tallyOrder {
    width: 75px;
    height: 75px;
  }
  .orderPage_moon .shoppingProcess .tallyOrder h4 {
    font-size: 16px;
  }
}
.orderPage_moon .shoppingProcess .orderComplete {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 1px solid #F5F0DD;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.orderPage_moon .shoppingProcess .orderComplete h4:last-Child {
  margin-bottom: 10px;
}
@media (max-width: 576px) {
  .orderPage_moon .shoppingProcess .orderComplete {
    width: 75px;
    height: 75px;
  }
  .orderPage_moon .shoppingProcess .orderComplete h4 {
    font-size: 16px;
  }
}
.orderPage_moon h3 {
  text-align: center;
  margin: 50px 0;
}
@media (max-width: 576px) {
  .orderPage_moon h3 {
    margin-top: 50px;
    margin-bottom: 20px;
  }
}
.orderPage_moon .selectDate {
  text-align: center;
  width: 700px;
  height: 100px;
  margin: 0px auto;
}
@media (max-width: 576px) {
  .orderPage_moon .selectDate {
    width: 90%;
    height: 80px;
  }
}
.orderPage_moon .selectDate ul {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}
.orderPage_moon .selectDate li {
  width: 176px;
  height: 100px;
  border: 1px solid #F5F0DD;
  border-bottom: 0;
  line-height: 40px;
}
@media (max-width: 576px) {
  .orderPage_moon .selectDate li {
    height: 80px;
  }
}
.orderPage_moon .selectDate li #numberOfPeople {
  width: 50px;
  border: none;
}
.orderPage_moon .selectDate li .pepoleNums {
  display: flex;
  justify-content: center;
  margin-top: 13px;
}
.orderPage_moon .selectDate li .pepoleNums img {
  cursor: pointer;
  height: 11px;
}
.orderPage_moon .selectDate li .pepoleNums input {
  width: 22px;
  height: 11px;
  margin: 0 5px;
  background-color: #0C1244;
  border: none;
  text-align: center;
  line-height: 11px;
}
.orderPage_moon .selectDate li .pepoleNums input[type=number]::-webkit-outer-spin-button,
.orderPage_moon .selectDate li .pepoleNums input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.orderPage_moon .selectDate li:nth-child(2) {
  border-left: 0;
}
.orderPage_moon .selectDate li:nth-child(3) {
  line-height: 40px;
  border-left: 0;
  border-right: 0;
}
.orderPage_moon .selectDate li:last-child {
  margin-right: 0px;
  line-height: 40px;
}
.orderPage_moon .selectDate li:last-child select {
  background-color: #0C1244;
  border: none;
  text-align: center;
}
.orderPage_moon .datePickerBox {
  width: 700px;
  height: 360px;
  margin: 0px auto;
  border: 1px solid #F5F0DD;
  box-sizing: border-box;
}
@media (max-width: 576px) {
  .orderPage_moon .datePickerBox {
    width: 90%;
  }
}
.orderPage_moon .datePickerBox .dateTitle p {
  margin: 20px;
}
.orderPage_moon .datePickerBox .pickerBox {
  text-align: center;
  width: 100%;
  border-top: 1px solid #F5F0DD;
}
.orderPage_moon #NextPage {
  display: block;
  width: 140px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  background-color: #0C1244;
  border: 1px solid #F5F0DD;
  margin: 50px auto;
}
@media (max-width: 576px) {
  .orderPage_moon #NextPage {
    width: 300px;
    border-radius: 30px;
    margin-top: 20px;
    margin-bottom: 50px;
  }
}
.orderPage_moon #NextPage:hover {
  color: #0C1244;
  background-color: #F5F0DD;
  border: 1px solid #0C1244;
}

/*# sourceMappingURL=orderPage.css.map */
