.orderPage {
  background-color: #F5F0DD;
  color: #0C1244;
}
.orderPage section h2 {
  text-align: center;
}
@media (max-width: 576px) {
  .orderPage section h2 {
    margin-top: 50px;
    margin-bottom: 20px;
  }
}
.orderPage .shoppingProcess {
  width: 1180px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
@media (max-width: 576px) {
  .orderPage .shoppingProcess {
    width: 100%;
    height: 110px;
  }
}
.orderPage .shoppingProcess img {
  width: 80px;
  height: 24px;
  margin: 0 40px;
}
@media (max-width: 576px) {
  .orderPage .shoppingProcess img {
    width: 25px;
    height: 15px;
    margin: 0;
  }
}
.orderPage .shoppingProcess .chooseAdate {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 1px solid #0C1244;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #0C1244;
  color: #F5F0DD;
}
.orderPage .shoppingProcess .chooseAdate h4:last-Child {
  margin-bottom: 20px;
}
@media (max-width: 576px) {
  .orderPage .shoppingProcess .chooseAdate {
    width: 75px;
    height: 75px;
  }
  .orderPage .shoppingProcess .chooseAdate h4 {
    font-size: 16px;
  }
}
.orderPage .shoppingProcess .chooseAtrip {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 1px solid #0C1244;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.orderPage .shoppingProcess .chooseAtrip h4:last-Child {
  margin-bottom: 20px;
}
@media (max-width: 576px) {
  .orderPage .shoppingProcess .chooseAtrip {
    width: 75px;
    height: 75px;
  }
  .orderPage .shoppingProcess .chooseAtrip h4 {
    font-size: 16px;
  }
}
.orderPage .shoppingProcess .tallyOrder {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 1px solid #0C1244;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.orderPage .shoppingProcess .tallyOrder h4:last-Child {
  margin-bottom: 20px;
}
@media (max-width: 576px) {
  .orderPage .shoppingProcess .tallyOrder {
    width: 75px;
    height: 75px;
  }
  .orderPage .shoppingProcess .tallyOrder h4 {
    font-size: 16px;
  }
}
.orderPage .shoppingProcess .orderComplete {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 1px solid #0C1244;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.orderPage .shoppingProcess .orderComplete h4:last-Child {
  margin-bottom: 20px;
}
@media (max-width: 576px) {
  .orderPage .shoppingProcess .orderComplete {
    width: 75px;
    height: 75px;
  }
  .orderPage .shoppingProcess .orderComplete h4 {
    font-size: 16px;
  }
}
.orderPage h3 {
  text-align: center;
  margin: 50px 0;
}
@media (max-width: 576px) {
  .orderPage h3 {
    margin-top: 50px;
    margin-bottom: 20px;
  }
}
.orderPage .selectDate {
  text-align: center;
  width: 700px;
  height: 100px;
  margin: 0px auto;
}
@media (max-width: 576px) {
  .orderPage .selectDate {
    width: 90%;
    height: 80px;
  }
}
.orderPage .selectDate ul {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}
.orderPage .selectDate li {
  width: 176px;
  height: 100px;
  border: 1px solid #0C1244;
  border-bottom: 0;
  line-height: 40px;
}
@media (max-width: 576px) {
  .orderPage .selectDate li {
    height: 80px;
  }
}
.orderPage .selectDate li #numberOfPeople {
  width: 50px;
  border: none;
}
.orderPage .selectDate li .pepoleNums {
  display: flex;
  justify-content: center;
  margin-top: 13px;
}
.orderPage .selectDate li .pepoleNums img {
  cursor: pointer;
  height: 11px;
}
.orderPage .selectDate li .pepoleNums input {
  width: 22px;
  height: 11px;
  margin: 0 5px;
  background-color: #F5F0DD;
  border: none;
  text-align: center;
  line-height: 11px;
}
.orderPage .selectDate li .pepoleNums input[type=number]::-webkit-outer-spin-button,
.orderPage .selectDate li .pepoleNums input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.orderPage .selectDate li:nth-child(2) {
  border-left: 0;
}
.orderPage .selectDate li:nth-child(3) {
  line-height: 40px;
  border-left: 0;
  border-right: 0;
}
.orderPage .selectDate li:last-child {
  margin-right: 0px;
  line-height: 40px;
}
.orderPage .selectDate li:last-child select {
  background-color: #F5F0DD;
  border: none;
  text-align: center;
}
.orderPage .datePickerBox {
  width: 700px;
  height: 360px;
  margin: 0px auto;
  border: 1px solid #0C1244;
  box-sizing: border-box;
}
@media (max-width: 576px) {
  .orderPage .datePickerBox {
    width: 90%;
  }
}
.orderPage .datePickerBox .dateTitle p {
  margin: 20px;
}
.orderPage .datePickerBox .pickerBox {
  text-align: center;
  width: 100%;
  border-top: 1px solid #0C1244;
}
.orderPage #NextPage {
  display: block;
  width: 140px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  background-color: #F5F0DD;
  border: 1px solid #0C1244;
  margin: 50px auto;
}
@media (max-width: 576px) {
  .orderPage #NextPage {
    width: 300px;
    border-radius: 30px;
    margin-top: 20px;
    margin-bottom: 50px;
  }
}
.orderPage #NextPage:hover {
  color: #F5F0DD;
  background-color: #0C1244;
  border: 1px solid #F5F0DD;
}

/*# sourceMappingURL=order.css.map */
