.readyToPay {
  background-color: #F5F0DD;
  color: #0C1244;
}
.readyToPay select {
  border: 1px solid #0C1244;
  color: #0C1244;
  background-color: #F5F0DD;
}
.readyToPay input {
  border: 1px solid #0C1244;
  color: #0C1244;
  background-color: #F5F0DD;
}
.readyToPay button {
  color: #0C1244;
}
.readyToPay section h2 {
  text-align: center;
  margin-top: 50px;
}
@media (max-width: 576px) {
  .readyToPay section h2 {
    margin-top: 50px;
    margin-bottom: 20px;
  }
}
.readyToPay section h3 {
  text-align: center;
  margin: 50px 0;
}
.readyToPay .shoppingProcess {
  width: 1180px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
@media (max-width: 576px) {
  .readyToPay .shoppingProcess {
    width: 98%;
    height: 75px;
    justify-content: space-between;
  }
}
.readyToPay .shoppingProcess img {
  width: 80px;
  height: 24px;
  margin: 0 40px;
}
@media (max-width: 576px) {
  .readyToPay .shoppingProcess img {
    display: none;
  }
}
.readyToPay .shoppingProcess .chooseAdate {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 1px solid #0C1244;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.readyToPay .shoppingProcess .chooseAdate h4:last-Child {
  margin-bottom: 20px;
}
@media (max-width: 576px) {
  .readyToPay .shoppingProcess .chooseAdate h4:last-Child {
    margin-bottom: 10px;
  }
}
@media (max-width: 576px) {
  .readyToPay .shoppingProcess .chooseAdate {
    width: 75px;
    height: 75px;
  }
  .readyToPay .shoppingProcess .chooseAdate h4 {
    font-size: 16px;
  }
}
.readyToPay .shoppingProcess .chooseAtrip {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 1px solid #0C1244;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.readyToPay .shoppingProcess .chooseAtrip h4:last-Child {
  margin-bottom: 20px;
}
@media (max-width: 576px) {
  .readyToPay .shoppingProcess .chooseAtrip h4:last-Child {
    margin-bottom: 10px;
  }
}
@media (max-width: 576px) {
  .readyToPay .shoppingProcess .chooseAtrip {
    width: 75px;
    height: 75px;
  }
  .readyToPay .shoppingProcess .chooseAtrip h4 {
    font-size: 16px;
  }
}
.readyToPay .shoppingProcess .tallyOrder {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 1px solid #0C1244;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #0C1244;
  color: #F5F0DD;
}
.readyToPay .shoppingProcess .tallyOrder h4:last-Child {
  margin-bottom: 20px;
}
@media (max-width: 576px) {
  .readyToPay .shoppingProcess .tallyOrder h4:last-Child {
    margin-bottom: 10px;
  }
}
@media (max-width: 576px) {
  .readyToPay .shoppingProcess .tallyOrder {
    width: 75px;
    height: 75px;
  }
  .readyToPay .shoppingProcess .tallyOrder h4 {
    font-size: 16px;
  }
}
.readyToPay .shoppingProcess .orderComplete {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 1px solid #0C1244;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.readyToPay .shoppingProcess .orderComplete h4:last-Child {
  margin-bottom: 20px;
}
@media (max-width: 576px) {
  .readyToPay .shoppingProcess .orderComplete h4:last-Child {
    margin-bottom: 10px;
  }
}
@media (max-width: 576px) {
  .readyToPay .shoppingProcess .orderComplete {
    width: 75px;
    height: 75px;
  }
  .readyToPay .shoppingProcess .orderComplete h4 {
    font-size: 16px;
  }
}
.readyToPay .bigList {
  width: 1000px;
  height: auto;
  border: 2px solid #0C1244;
  margin: 50px auto;
}
@media (max-width: 576px) {
  .readyToPay .bigList {
    width: 98%;
    height: 100%;
  }
}
.readyToPay .bigList .ListTitle {
  margin: 0px auto;
  width: 980px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: #0C1244;
  color: #F5F0DD;
  font-size: 20px;
}
@media (max-width: 576px) {
  .readyToPay .bigList .ListTitle {
    width: 98%;
    height: 100%;
  }
}
.readyToPay .bigList .ListDate {
  display: flex;
  list-style: none;
  justify-content: center;
  margin: 20px;
}
@media (max-width: 576px) {
  .readyToPay .bigList .ListDate {
    margin: 10px;
  }
}
.readyToPay .bigList .ListDate li {
  margin-right: 20px;
  font-size: 16px;
  font-weight: bolder;
  display: flex;
  align-items: center;
}
@media (max-width: 576px) {
  .readyToPay .bigList .ListDate li {
    margin-right: 7px;
  }
}
.readyToPay .bigList .ListDate li:first-Child {
  font-weight: bolder;
  font-size: 16px;
}
.readyToPay .bigList table {
  width: 99%;
  height: auto;
  margin: 0 auto;
  align-content: center;
  border: 1px solid #0C1244;
}
.readyToPay .bigList table th {
  height: 50px;
  line-height: 50px;
  font-weight: bolder;
  border: 1px solid #0C1244;
}
.readyToPay .bigList table td {
  border: 1px solid #0C1244;
  height: 100px;
  vertical-align: middle;
}
.readyToPay .bigList table td:first-child {
  text-align: center;
  vertical-align: middle;
}
.readyToPay .bigList table ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
@media (max-width: 576px) {
  .readyToPay .bigList table ul {
    display: block;
  }
}
.readyToPay .bigList table ul li {
  margin: 7px;
  text-align: center;
}
.readyToPay .bigList table ul li i {
  margin-left: 5px;
}
.readyToPay .bigList table ul li:last-child {
  color: #FFBF44;
  border-left: none;
}
.readyToPay .bigList .totalBlock {
  margin: 40px 20px;
  display: flex;
  justify-content: flex-end;
  align-content: center;
  height: 150px;
}
.readyToPay .bigList .totalBlock .totalTitle {
  font-weight: bolder;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 19.5px;
}
.readyToPay .bigList .totalBlock .totalPrice {
  font-weight: bolder;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  line-height: 12px;
  text-align: center;
}
.readyToPay .bigList .totalBlock .totalPrice span {
  color: #FFBF44;
  font-size: 20px;
}
.readyToPay .bigList .totalBlock .totalPrice #couponPrice {
  color: #FF4444;
}
.readyToPay .payBlock {
  width: 750px;
  margin: 0 auto;
}
@media (max-width: 576px) {
  .readyToPay .payBlock {
    width: 98%;
    height: 100%;
  }
}
.readyToPay .payBlock h5 {
  margin-top: 15px;
}
.readyToPay .payBlock #payEmail {
  width: 450px;
  height: 50px;
  background-color: #F5F0DD;
  font-size: 24px;
}
@media (max-width: 576px) {
  .readyToPay .payBlock #payEmail {
    width: 90%;
  }
}
.readyToPay .payBlock .mailAndPhone {
  display: flex;
}
@media (max-width: 576px) {
  .readyToPay .payBlock .mailAndPhone {
    display: block;
  }
}
.readyToPay .payBlock .mailAndPhone .email {
  margin-right: 50px;
}
@media (max-width: 576px) {
  .readyToPay .payBlock .mailAndPhone .email {
    margin-right: 0;
  }
}
.readyToPay .payBlock #payPhoneNumber {
  width: 200px;
  height: 50px;
  background-color: #F5F0DD;
  font-size: 24px;
}
.readyToPay .payBlock .nameBlock {
  display: flex;
  align-items: center;
  padding-bottom: 40px;
}
@media (max-width: 576px) {
  .readyToPay .payBlock .nameBlock {
    padding-bottom: 0px;
  }
}
.readyToPay .payBlock .nameBlock .firstName {
  margin-right: 50px;
}
@media (max-width: 576px) {
  .readyToPay .payBlock .nameBlock .firstName {
    margin-right: 10px;
  }
}
.readyToPay .payBlock .nameBlock #firstName {
  width: 200px;
  height: 50px;
  background-color: #F5F0DD;
  font-size: 20px;
}
@media (max-width: 576px) {
  .readyToPay .payBlock .nameBlock #firstName {
    width: 150px;
  }
}
.readyToPay .payBlock .nameBlock .lastName {
  margin-right: 50px;
}
@media (max-width: 576px) {
  .readyToPay .payBlock .nameBlock .lastName {
    margin-right: 0px;
  }
}
.readyToPay .payBlock .nameBlock #lastName {
  width: 200px;
  height: 50px;
  background-color: #F5F0DD;
  font-size: 20px;
}
@media (max-width: 576px) {
  .readyToPay .payBlock .nameBlock #lastName {
    margin-right: 0px;
    width: 180px;
  }
}
@media (max-width: 576px) {
  .readyToPay .payBlock .nameBlock .payWay {
    display: none;
  }
}
.readyToPay .payBlock .nameBlock #payWay {
  width: 200px;
  height: 50px;
  background-color: #F5F0DD;
  font-size: 20px;
  text-align: center;
  text-align-last: center;
}
.readyToPay .payBlock .payWayMobile {
  display: none;
  margin-bottom: 20px;
}
@media (max-width: 576px) {
  .readyToPay .payBlock .payWayMobile {
    display: block;
  }
  .readyToPay .payBlock .payWayMobile #payWayMobileUse {
    width: 200px;
    height: 50px;
    background-color: #F5F0DD;
    font-size: 20px;
    text-align: center;
  }
}
.readyToPay .payBlock .creditCardBlock {
  margin-top: 50px;
  border-top: 1px solid #0C1244;
}
.readyToPay .payBlock .creditCardBlock input {
  width: 150px;
  height: 50px;
  background-color: #F5F0DD;
}
@media (max-width: 576px) {
  .readyToPay .payBlock .creditCardBlock input {
    width: 70px;
    height: 40px;
  }
}
.readyToPay .payBlock .creditCardBlock h4 {
  width: 150px;
  height: 50px;
  background-color: #0C1244;
  color: #F5F0DD;
  text-align: center;
  line-height: 50px;
  margin-top: 30px;
  margin-bottom: 10px;
}
.readyToPay .payBlock .creditCardBlock .creditCardNums input {
  margin-right: 5px;
  text-align: center;
}
.readyToPay .payBlock .creditCardBlock .expAndScode {
  display: flex;
  margin-bottom: 20px;
}
.readyToPay .payBlock .creditCardBlock .expAndScode .exp {
  margin-right: 16px;
}
.readyToPay .payBlock .directions .agreeListOne {
  display: flex;
  margin-top: 20px;
}
.readyToPay .payBlock .directions .agreeListTwo {
  display: flex;
  margin: 20px 0;
}
.readyToPay #FinishPage {
  display: inline-block;
  width: 140px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  background-color: #F5F0DD;
  border: 1px solid #0C1244;
  margin: 50px auto;
}
@media (max-width: 576px) {
  .readyToPay #FinishPage {
    margin-top: 20px;
    width: 300px;
    height: 60px;
    border-radius: 30px;
  }
}
.readyToPay #FinishPage:hover {
  color: #F5F0DD;
  background-color: #0C1244;
  border: 1px solid #F5F0DD;
}
.readyToPay .bottomBtn {
  text-align: center;
}
.readyToPay .previousPage {
  display: inline-block;
  width: 140px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  background-color: #F5F0DD;
  border: 1px solid #0C1244;
  margin: 50px auto;
}
@media (max-width: 576px) {
  .readyToPay .previousPage {
    margin-top: 20px;
    width: 300px;
    height: 60px;
    border-radius: 30px;
  }
}
.readyToPay .previousPage:hover {
  color: #F5F0DD;
  background-color: #0C1244;
  border: 1px solid #F5F0DD;
}

.readyToPay_moon {
  background-color: #0C1244;
  color: #F5F0DD;
}
.readyToPay_moon select {
  background-color: #0C1244;
  border: 1px solid #F5F0DD;
  color: #F5F0DD;
}
.readyToPay_moon input {
  border: 1px solid #F5F0DD;
  color: #F5F0DD;
}
.readyToPay_moon button {
  color: #F5F0DD;
}
.readyToPay_moon section h2 {
  text-align: center;
  margin-top: 50px;
}
@media (max-width: 576px) {
  .readyToPay_moon section h2 {
    margin-top: 50px;
    margin-bottom: 20px;
  }
}
.readyToPay_moon section h3 {
  text-align: center;
  margin: 50px 0;
}
.readyToPay_moon .shoppingProcess {
  width: 1180px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
@media (max-width: 576px) {
  .readyToPay_moon .shoppingProcess {
    width: 98%;
    height: 75px;
    justify-content: space-between;
  }
}
.readyToPay_moon .shoppingProcess img {
  width: 80px;
  height: 24px;
  margin: 0 40px;
}
@media (max-width: 576px) {
  .readyToPay_moon .shoppingProcess img {
    display: none;
  }
}
.readyToPay_moon .shoppingProcess .chooseAdate {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 1px solid #F5F0DD;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.readyToPay_moon .shoppingProcess .chooseAdate h4:last-Child {
  margin-bottom: 20px;
}
@media (max-width: 576px) {
  .readyToPay_moon .shoppingProcess .chooseAdate h4:last-Child {
    margin-bottom: 10px;
  }
}
@media (max-width: 576px) {
  .readyToPay_moon .shoppingProcess .chooseAdate {
    width: 75px;
    height: 75px;
  }
  .readyToPay_moon .shoppingProcess .chooseAdate h4 {
    font-size: 16px;
  }
}
.readyToPay_moon .shoppingProcess .chooseAtrip {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 1px solid #F5F0DD;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.readyToPay_moon .shoppingProcess .chooseAtrip h4:last-Child {
  margin-bottom: 20px;
}
@media (max-width: 576px) {
  .readyToPay_moon .shoppingProcess .chooseAtrip h4:last-Child {
    margin-bottom: 10px;
  }
}
@media (max-width: 576px) {
  .readyToPay_moon .shoppingProcess .chooseAtrip {
    width: 75px;
    height: 75px;
  }
  .readyToPay_moon .shoppingProcess .chooseAtrip h4 {
    font-size: 16px;
  }
}
.readyToPay_moon .shoppingProcess .tallyOrder {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 1px solid #F5F0DD;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #F5F0DD;
  color: #0C1244;
}
.readyToPay_moon .shoppingProcess .tallyOrder h4:last-Child {
  margin-bottom: 20px;
}
@media (max-width: 576px) {
  .readyToPay_moon .shoppingProcess .tallyOrder h4:last-Child {
    margin-bottom: 10px;
  }
}
@media (max-width: 576px) {
  .readyToPay_moon .shoppingProcess .tallyOrder {
    width: 75px;
    height: 75px;
  }
  .readyToPay_moon .shoppingProcess .tallyOrder h4 {
    font-size: 16px;
  }
}
.readyToPay_moon .shoppingProcess .orderComplete {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 1px solid #F5F0DD;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.readyToPay_moon .shoppingProcess .orderComplete h4:last-Child {
  margin-bottom: 20px;
}
@media (max-width: 576px) {
  .readyToPay_moon .shoppingProcess .orderComplete h4:last-Child {
    margin-bottom: 10px;
  }
}
@media (max-width: 576px) {
  .readyToPay_moon .shoppingProcess .orderComplete {
    width: 75px;
    height: 75px;
  }
  .readyToPay_moon .shoppingProcess .orderComplete h4 {
    font-size: 16px;
  }
}
.readyToPay_moon .bigList {
  width: 1000px;
  height: auto;
  border: 2px solid #F5F0DD;
  margin: 50px auto;
}
@media (max-width: 576px) {
  .readyToPay_moon .bigList {
    width: 98%;
    height: 100%;
  }
}
.readyToPay_moon .bigList .ListTitle {
  margin: 0px auto;
  width: 980px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: #F5F0DD;
  color: #0C1244;
  font-size: 20px;
}
@media (max-width: 576px) {
  .readyToPay_moon .bigList .ListTitle {
    width: 98%;
    height: 100%;
  }
}
.readyToPay_moon .bigList .ListDate {
  display: flex;
  list-style: none;
  justify-content: center;
  margin: 20px;
}
@media (max-width: 576px) {
  .readyToPay_moon .bigList .ListDate {
    margin: 10px;
  }
}
.readyToPay_moon .bigList .ListDate li {
  margin-right: 20px;
  font-size: 16px;
  font-weight: bolder;
  display: flex;
  align-items: center;
}
@media (max-width: 576px) {
  .readyToPay_moon .bigList .ListDate li {
    margin-right: 7px;
  }
}
.readyToPay_moon .bigList .ListDate li:first-Child {
  font-weight: bolder;
  font-size: 16px;
}
.readyToPay_moon .bigList table {
  width: 99%;
  height: auto;
  margin: 0 auto;
  align-content: center;
  border: 1px solid #F5F0DD;
}
.readyToPay_moon .bigList table th {
  height: 50px;
  line-height: 50px;
  font-weight: bolder;
  border: 1px solid #F5F0DD;
}
.readyToPay_moon .bigList table td {
  border: 1px solid #F5F0DD;
  height: 100px;
  vertical-align: middle;
}
.readyToPay_moon .bigList table td:first-child {
  text-align: center;
  vertical-align: middle;
}
.readyToPay_moon .bigList table ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
@media (max-width: 576px) {
  .readyToPay_moon .bigList table ul {
    display: block;
  }
}
.readyToPay_moon .bigList table ul li {
  margin: 7px;
  text-align: center;
}
.readyToPay_moon .bigList table ul li:last-child {
  color: #FFBF44;
  border-left: none;
}
.readyToPay_moon .bigList .totalBlock {
  margin: 40px 20px;
  display: flex;
  justify-content: flex-end;
  align-content: center;
  height: 150px;
}
.readyToPay_moon .bigList .totalBlock .totalTitle {
  font-weight: bolder;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 19.5px;
}
.readyToPay_moon .bigList .totalBlock .totalPrice {
  font-weight: bolder;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  line-height: 12px;
  text-align: center;
}
.readyToPay_moon .bigList .totalBlock .totalPrice span {
  color: #FFBF44;
  font-size: 20px;
}
.readyToPay_moon .bigList .totalBlock .totalPrice #couponPrice {
  color: #FF4444;
}
.readyToPay_moon .payBlock {
  width: 750px;
  margin: 0 auto;
}
@media (max-width: 576px) {
  .readyToPay_moon .payBlock {
    width: 98%;
    height: 100%;
  }
}
.readyToPay_moon .payBlock h5 {
  margin-top: 15px;
}
.readyToPay_moon .payBlock #payEmail {
  width: 450px;
  height: 50px;
  background-color: #0C1244;
  font-size: 24px;
}
@media (max-width: 576px) {
  .readyToPay_moon .payBlock #payEmail {
    width: 90%;
  }
}
.readyToPay_moon .payBlock .mailAndPhone {
  display: flex;
}
@media (max-width: 576px) {
  .readyToPay_moon .payBlock .mailAndPhone {
    display: block;
  }
}
.readyToPay_moon .payBlock .mailAndPhone .email {
  margin-right: 50px;
}
@media (max-width: 576px) {
  .readyToPay_moon .payBlock .mailAndPhone .email {
    margin-right: 0;
  }
}
.readyToPay_moon .payBlock #payPhoneNumber {
  width: 200px;
  height: 50px;
  background-color: #0C1244;
  font-size: 24px;
}
.readyToPay_moon .payBlock .nameBlock {
  display: flex;
  align-items: center;
  padding-bottom: 40px;
}
@media (max-width: 576px) {
  .readyToPay_moon .payBlock .nameBlock {
    padding-bottom: 0px;
  }
}
.readyToPay_moon .payBlock .nameBlock .firstName {
  margin-right: 50px;
}
@media (max-width: 576px) {
  .readyToPay_moon .payBlock .nameBlock .firstName {
    margin-right: 10px;
  }
}
.readyToPay_moon .payBlock .nameBlock #firstName {
  width: 200px;
  height: 50px;
  background-color: #0C1244;
  font-size: 20px;
}
@media (max-width: 576px) {
  .readyToPay_moon .payBlock .nameBlock #firstName {
    width: 150px;
  }
}
.readyToPay_moon .payBlock .nameBlock .lastName {
  margin-right: 50px;
}
@media (max-width: 576px) {
  .readyToPay_moon .payBlock .nameBlock .lastName {
    margin-right: 0px;
  }
}
.readyToPay_moon .payBlock .nameBlock #lastName {
  width: 200px;
  height: 50px;
  background-color: #0C1244;
  font-size: 20px;
}
@media (max-width: 576px) {
  .readyToPay_moon .payBlock .nameBlock #lastName {
    margin-right: 0px;
    width: 180px;
  }
}
@media (max-width: 576px) {
  .readyToPay_moon .payBlock .nameBlock .payWay {
    display: none;
  }
}
.readyToPay_moon .payBlock .nameBlock #payWay {
  width: 200px;
  height: 50px;
  background-color: #0C1244;
  font-size: 20px;
  text-align: center;
  text-align-last: center;
}
.readyToPay_moon .payBlock .payWayMobile {
  display: none;
  margin-bottom: 20px;
}
@media (max-width: 576px) {
  .readyToPay_moon .payBlock .payWayMobile {
    display: block;
  }
  .readyToPay_moon .payBlock .payWayMobile #payWayMobileUse {
    width: 200px;
    height: 50px;
    background-color: #0C1244;
    font-size: 20px;
    text-align: center;
  }
}
.readyToPay_moon .payBlock .creditCardBlock {
  margin-top: 50px;
  border-top: 1px solid #F5F0DD;
}
.readyToPay_moon .payBlock .creditCardBlock input {
  width: 150px;
  height: 50px;
  background-color: #0C1244;
}
@media (max-width: 576px) {
  .readyToPay_moon .payBlock .creditCardBlock input {
    width: 70px;
    height: 40px;
  }
}
.readyToPay_moon .payBlock .creditCardBlock h4 {
  width: 150px;
  height: 50px;
  background-color: #F5F0DD;
  color: #0C1244;
  text-align: center;
  line-height: 50px;
  margin-top: 30px;
  margin-bottom: 10px;
}
.readyToPay_moon .payBlock .creditCardBlock .creditCardNums input {
  margin-right: 5px;
  text-align: center;
}
.readyToPay_moon .payBlock .creditCardBlock .expAndScode {
  display: flex;
  margin-bottom: 20px;
}
.readyToPay_moon .payBlock .creditCardBlock .expAndScode .exp {
  margin-right: 16px;
}
.readyToPay_moon .payBlock .directions .agreeListOne {
  display: flex;
  margin-top: 20px;
}
.readyToPay_moon .payBlock .directions .agreeListTwo {
  display: flex;
  margin: 20px 0;
}
.readyToPay_moon #FinishPage {
  display: block;
  width: 140px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  background-color: #0C1244;
  border: 1px solid #F5F0DD;
  margin: 50px auto;
}
@media (max-width: 576px) {
  .readyToPay_moon #FinishPage {
    margin-top: 20px;
    width: 300px;
    height: 60px;
    border-radius: 30px;
  }
}
.readyToPay_moon #FinishPage:hover {
  color: #0C1244;
  background-color: #F5F0DD;
  border: 1px solid #0C1244;
}

/*# sourceMappingURL=readyTopay.css.map */
