body {
  background-color: #F5F0DD;
}
body section h2 {
  text-align: center;
}
body section h3 {
  text-align: center;
  margin: 50px 0;
}
body .shoppingProcess {
  width: 1180px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
body .shoppingProcess img {
  width: 80px;
  height: 24px;
  margin: 0 40px;
}
body .shoppingProcess .chooseAdate {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 1px solid #0C1244;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
body .shoppingProcess .chooseAdate h4:last-Child {
  margin-bottom: 20px;
}
body .shoppingProcess .chooseAtrip {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 1px solid #0C1244;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
body .shoppingProcess .chooseAtrip h4:last-Child {
  margin-bottom: 20px;
}
body .shoppingProcess .tallyOrder {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 1px solid #0C1244;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #0C1244;
  color: #F5F0DD;
}
body .shoppingProcess .tallyOrder h4:last-Child {
  margin-bottom: 20px;
}
body .shoppingProcess .orderComplete {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 1px solid #0C1244;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
body .shoppingProcess .orderComplete h4:last-Child {
  margin-bottom: 20px;
}
body .bigList {
  width: 1000px;
  height: 630px;
  border: 2px solid #0C1244;
  margin: 50px auto;
  transition: all 2s;
}
body .bigList .ListTitle {
  margin: 0px auto;
  width: 980px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: #0C1244;
  color: #F5F0DD;
  font-size: 20px;
}
body .bigList .ListDate {
  display: flex;
  list-style: none;
  justify-content: center;
  margin: 20px;
}
body .bigList .ListDate li {
  margin-right: 20px;
  font-size: 16px;
  font-weight: bolder;
  display: flex;
  align-items: center;
}
body .bigList .ListDate li:first-Child {
  font-weight: bolder;
  font-size: 16px;
}
body .bigList .tripList {
  display: flex;
  list-style: none;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
}
body .bigList .tripList li {
  width: 250px;
  height: 100px;
  border: 1px solid #0C1244;
  text-align: center;
}
body .bigList .tripList li ol {
  list-style: none;
}
body .bigList .tripList li:first-child {
  line-height: 100px;
  border-left: none;
}
body .bigList .tripList li:last-Child {
  border-right: none;
}
body .bigList .totalBlock {
  margin: 40px 20px;
  display: flex;
  justify-content: flex-end;
  align-content: center;
  height: 150px;
}
body .bigList .totalBlock .totalTitle {
  font-weight: bolder;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 19.5px;
}
body .bigList .totalBlock .totalPrice {
  font-weight: bolder;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  line-height: 12px;
  text-align: center;
}
body .bigList .totalBlock .totalPrice span {
  color: #FFBF44;
  font-size: 20px;
}
body .bigList .totalBlock .totalPrice #couponPrice {
  color: #FF4444;
}
body .payBlock {
  width: 750px;
  margin: 0 auto;
}
body .payBlock h5 {
  margin-top: 15px;
}
body .payBlock #payEmail {
  width: 450px;
  height: 50px;
  background-color: #F5F0DD;
  font-size: 24px;
}
body .payBlock .mailAndPhone {
  display: flex;
}
body .payBlock .mailAndPhone .email {
  margin-right: 50px;
}
body .payBlock #payPhoneNumber {
  width: 200px;
  height: 50px;
  background-color: #F5F0DD;
  font-size: 24px;
}
body .payBlock .nameBlock {
  display: flex;
  align-items: center;
  padding-bottom: 40px;
}
body .payBlock .nameBlock .firstName {
  margin-right: 50px;
}
body .payBlock .nameBlock #firstName {
  width: 200px;
  height: 50px;
  background-color: #F5F0DD;
  font-size: 20px;
}
body .payBlock .nameBlock .lastName {
  margin-right: 50px;
}
body .payBlock .nameBlock #lastName {
  width: 200px;
  height: 50px;
  background-color: #F5F0DD;
  font-size: 20px;
}
body .payBlock .nameBlock #payWay {
  width: 200px;
  height: 50px;
  background-color: #F5F0DD;
  font-size: 20px;
}
body .payBlock .creditCardBlock {
  margin-top: 50px;
  border-top: 1px solid #0C1244;
}
body .payBlock .creditCardBlock input {
  width: 150px;
  height: 50px;
  background-color: #F5F0DD;
}
body .payBlock .creditCardBlock h4 {
  width: 150px;
  height: 50px;
  background-color: #0C1244;
  color: #F5F0DD;
  text-align: center;
  line-height: 50px;
  margin-top: 30px;
  margin-bottom: 10px;
}
body .payBlock .creditCardBlock .creditCardNums input {
  margin-right: 10px;
}
body .payBlock .creditCardBlock .expAndScode {
  display: flex;
  margin-bottom: 20px;
}
body .payBlock .creditCardBlock .expAndScode .exp {
  margin-right: 16px;
}
body .payBlock .directions .agreeListOne {
  display: flex;
  margin-top: 20px;
}
body .payBlock .directions .agreeListTwo {
  display: flex;
  margin: 20px 0;
}
body #FinishPage {
  display: block;
  width: 140px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  background-color: #F5F0DD;
  border: 1px solid #0C1244;
  margin: 50px auto;
}
body #FinishPage:hover {
  color: #F5F0DD;
  background-color: #0C1244;
  border: 1px solid #F5F0DD;
}

/*# sourceMappingURL=readyToPay.css.map */
