@media (max-width: 579px) {
  .set {
    background-color: #F5F0DD;
    color: #0C1244;
  }
  .set main {
    margin: 0 auto;
    box-sizing: border-box;
    line-height: 1.6;
    letter-spacing: 3px;
  }
  .set main .wrapper {
    width: 539px;
    margin: 0 auto;
  }
  .set main .wrapper a {
    display: inline-block;
    text-decoration: none;
    color: #0C1244;
  }
  .set main p {
    margin-top: 17px;
  }
  .set main h3 {
    margin-top: 62px;
    margin-bottom: 55px;
  }
  .set main .setTopNav {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    width: 479px;
  }
  .set main .setTopNav li:first-child {
    margin-left: 0;
  }
  .set main .setTopNav li {
    text-align: center;
    margin-left: 50px;
  }
  .set main .setTopNav li a img {
    width: 100%;
  }
  .set main .wrapper .setLogin {
    display: block;
    text-align: center;
    font-size: 24rem;
  }
  .set main .wrapper .setLogin .setSpeaker {
    display: inline-block;
    position: relative;
    left: 0;
    top: 10px;
  }
  .set main .setMain {
    margin-top: 60px;
    border: 1px solid #0C1244;
    display: flex;
    width: 1080px;
    height: 543px;
    margin-bottom: 50px;
    justify-content: space-between;
  }
  .set main .setMain .setPic {
    padding: 65px;
  }
  .set main .setMain .setPic > img {
    margin-bottom: 10px;
    width: 100%;
  }
  .set main .setMain .setPic .setPicS > img:nth-child(2) {
    margin: 0 7px;
  }
  .set main .setMain .setText {
    display: block;
    width: 471px;
    height: 357px;
    padding: 65px;
    padding-left: 0;
    position: relative;
  }
  .set main .setMain .setText .setTextPic {
    position: absolute;
    right: 64px;
    top: 130px;
  }
  .set main .setMain .setText h4 {
    text-align: left;
    margin-bottom: 20px;
  }
  .set main .setMain .setText h5 {
    margin-bottom: 20px;
  }
  .set main .setMain .setText .setTextTitle {
    margin: 0;
    margin-bottom: 25px;
  }
  .set main .setMain .setText .setTextWord {
    margin: 0;
    margin-bottom: 30px;
  }
  .set main .setMain .setText .setTextWord2 {
    margin: 0;
    margin-bottom: 20px;
  }
  .set main .setMain .setText .setTextBotm {
    display: flex;
    justify-content: space-between;
  }
  .set main .setMain .setText .setTextBotm .stbS p {
    margin: 0;
  }
  .set main .setMain .setText .setTextBotm .stbS a .stbSP {
    margin-right: 10px;
    position: relative;
    right: 0;
    top: 7px;
  }
  .set main .setMain .setText .setTextBotm .setBook {
    border: 1px solid #000;
    width: 140px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: #0C1244;
    background-color: #F5F0DD;
  }
  .set main .setMain .setText .setTextBotm .setBook:hover {
    cursor: pointer;
    color: #F5F0DD;
    border: 1.5px solid #F5F0DD;
    background-color: #0C1244;
  }
  .set main .setMain:last-child {
    margin-bottom: 100px;
  }
}
.set {
  background-color: #F5F0DD;
  color: #0C1244;
}
.set main {
  margin: 0 auto;
  box-sizing: border-box;
  line-height: 1.6;
  letter-spacing: 3px;
}
.set main .wrapper {
  width: 1080px;
  margin: 0 auto;
}
.set main .wrapper a {
  display: inline-block;
  text-decoration: none;
  color: #0C1244;
}
.set main p {
  margin-top: 17px;
}
.set main h3 {
  margin-top: 62px;
  margin-bottom: 55px;
}
.set main .setTopNav {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}
.set main .setTopNav li:first-child {
  margin-left: 0;
}
.set main .setTopNav li {
  text-align: center;
  margin-left: 50px;
}
.set main .wrapper .setLogin {
  display: block;
  text-align: center;
  font-size: 24rem;
}
.set main .wrapper .setLogin .setSpeaker {
  display: inline-block;
  position: relative;
  left: 0;
  top: 10px;
}
.set main .setMain {
  margin-top: 60px;
  border: 1px solid #0C1244;
  display: flex;
  width: 1080px;
  height: 543px;
  margin-bottom: 50px;
  justify-content: space-between;
}
.set main .setMain .setPic {
  padding: 65px;
}
.set main .setMain .setPic > img {
  margin-bottom: 10px;
}
.set main .setMain .setPic .setPicS > img:nth-child(2) {
  margin: 0 7px;
}
.set main .setMain .setText {
  display: block;
  width: 471px;
  height: 357px;
  padding: 65px;
  padding-left: 0;
  position: relative;
}
.set main .setMain .setText .setTextPic {
  position: absolute;
  right: 64px;
  top: 130px;
}
.set main .setMain .setText h4 {
  text-align: left;
  margin-bottom: 20px;
}
.set main .setMain .setText h5 {
  margin-bottom: 20px;
}
.set main .setMain .setText .setTextTitle {
  margin: 0;
  margin-bottom: 25px;
}
.set main .setMain .setText .setTextWord {
  margin: 0;
  margin-bottom: 30px;
}
.set main .setMain .setText .setTextWord2 {
  margin: 0;
  margin-bottom: 20px;
}
.set main .setMain .setText .setTextBotm {
  display: flex;
  justify-content: space-between;
}
.set main .setMain .setText .setTextBotm .stbS p {
  margin: 0;
}
.set main .setMain .setText .setTextBotm .stbS a .stbSP {
  margin-right: 10px;
  position: relative;
  right: 0;
  top: 7px;
}
.set main .setMain .setText .setTextBotm .setBook {
  border: 1px solid #000;
  width: 140px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  color: #0C1244;
  background-color: #F5F0DD;
}
.set main .setMain .setText .setTextBotm .setBook:hover {
  cursor: pointer;
  color: #F5F0DD;
  border: 1.5px solid #F5F0DD;
  background-color: #0C1244;
}
.set main .setMain:last-child {
  margin-bottom: 100px;
}

.set_moon {
  background-color: #0C1244;
  color: #F5F0DD;
}
.set_moon main {
  margin: 0 auto;
  box-sizing: border-box;
  line-height: 1.6;
  letter-spacing: 3px;
}
.set_moon main .wrapper {
  width: 1080px;
  margin: 0 auto;
}
.set_moon main .wrapper a {
  display: inline-block;
  text-decoration: none;
  color: #F5F0DD;
}
.set_moon main p {
  margin-top: 17px;
}
.set_moon main h3 {
  margin-top: 62px;
  margin-bottom: 55px;
}
.set_moon main .setTopNav {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}
.set_moon main .setTopNav li:first-child {
  margin-left: 0;
}
.set_moon main .setTopNav li {
  text-align: center;
  margin-left: 50px;
}
.set_moon main .wrapper .setLogin {
  display: block;
  text-align: center;
  font-size: 24rem;
}
.set_moon main .wrapper .setLogin .setSpeaker {
  display: inline-block;
  position: relative;
  left: 0;
  top: 10px;
}
.set_moon main .setMain {
  margin-top: 60px;
  border: 1px solid #F5F0DD;
  display: flex;
  width: 1080px;
  height: 543px;
  margin-bottom: 50px;
  justify-content: space-between;
}
.set_moon main .setMain .setPic {
  padding: 65px;
}
.set_moon main .setMain .setPic > img {
  margin-bottom: 10px;
}
.set_moon main .setMain .setPic .setPicS > img:nth-child(2) {
  margin: 0 7px;
}
.set_moon main .setMain .setText {
  display: block;
  width: 471px;
  height: 357px;
  padding: 65px;
  padding-left: 0;
  position: relative;
}
.set_moon main .setMain .setText .setTextPic {
  position: absolute;
  right: 64px;
  top: 130px;
}
.set_moon main .setMain .setText h4 {
  text-align: left;
  margin-bottom: 20px;
}
.set_moon main .setMain .setText h5 {
  margin-bottom: 20px;
}
.set_moon main .setMain .setText .setTextTitle {
  margin: 0;
  margin-bottom: 25px;
}
.set_moon main .setMain .setText .setTextWord {
  margin: 0;
  margin-bottom: 30px;
}
.set_moon main .setMain .setText .setTextWord2 {
  margin: 0;
  margin-bottom: 20px;
}
.set_moon main .setMain .setText .setTextBotm {
  display: flex;
  justify-content: space-between;
}
.set_moon main .setMain .setText .setTextBotm .stbS p {
  margin: 0;
}
.set_moon main .setMain .setText .setTextBotm .stbS a .stbSP {
  margin-right: 10px;
  position: relative;
  right: 0;
  top: 7px;
}
.set_moon main .setMain .setText .setTextBotm .setBook {
  border: 1px solid #000;
  width: 140px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  color: #F5F0DD;
  background-color: #0C1244;
}
.set_moon main .setMain .setText .setTextBotm .setBook:hover {
  cursor: pointer;
  color: #0C1244;
  border: 1.5px solid #0C1244;
  background-color: #F5F0DD;
}
.set_moon main .setMain:last-child {
  margin-bottom: 100px;
}

main {
  margin: 0 auto;
  box-sizing: border-box;
  line-height: 1.6;
  letter-spacing: 3px;
}
main .wrapper {
  width: 1080px;
  margin: 0 auto;
}
main .wrapper a {
  display: inline-block;
  text-decoration: none;
  color: #0C1244;
}
main p {
  margin-top: 17px;
}
main h3 {
  margin-top: 62px;
  margin-bottom: 55px;
}
main .setTopNav {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}
main .setTopNav li:first-child {
  margin-left: 0;
}
main .setTopNav li {
  text-align: center;
  margin-left: 50px;
}
main .wrapper .setLogin {
  display: block;
  text-align: center;
  font-size: 24rem;
}
main .wrapper .setLogin .setSpeaker {
  display: inline-block;
  position: relative;
  left: 0;
  top: 10px;
}
main .setMain {
  margin-top: 60px;
  border: 1px solid #0C1244;
  display: flex;
  width: 1080px;
  height: 543px;
  margin-bottom: 50px;
  justify-content: space-between;
}
main .setMain .setPic {
  padding: 65px;
}
main .setMain .setPic > img {
  margin-bottom: 10px;
}
main .setMain .setPic .setPicS > img:nth-child(2) {
  margin: 0 7px;
}
main .setMain .setText {
  display: block;
  width: 471px;
  height: 357px;
  padding: 65px;
  padding-left: 0;
  position: relative;
}
main .setMain .setText .setTextPic {
  position: absolute;
  right: 64px;
  top: 130px;
}
main .setMain .setText h4 {
  text-align: left;
  margin-bottom: 20px;
}
main .setMain .setText h5 {
  margin-bottom: 20px;
}
main .setMain .setText .setTextTitle {
  margin: 0;
  margin-bottom: 25px;
}
main .setMain .setText .setTextWord {
  margin: 0;
  margin-bottom: 30px;
}
main .setMain .setText .setTextWord2 {
  margin: 0;
  margin-bottom: 20px;
}
main .setMain .setText .setTextBotm {
  display: flex;
  justify-content: space-between;
}
main .setMain .setText .setTextBotm .stbS p {
  margin: 0;
}
main .setMain .setText .setTextBotm .stbS a .stbSP {
  margin-right: 10px;
  position: relative;
  right: 0;
  top: 7px;
}
main .setMain .setText .setTextBotm .setBook {
  border: 1px solid #000;
  width: 140px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  color: #0C1244;
  background-color: #F5F0DD;
}
main .setMain .setText .setTextBotm .setBook:hover {
  cursor: pointer;
  color: #F5F0DD;
  border: 1.5px solid #F5F0DD;
  background-color: #0C1244;
}
main .setMain:last-child {
  margin-bottom: 100px;
}

/*# sourceMappingURL=set.css.map */
