<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>backEndSystem</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="./js/jquery-3.6.0.js"></script>
    <script src="./js/vue.js"></script>
    <script src="https://kit.fontawesome.com/3e74b0720b.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/common.css">
    <link rel="stylesheet" href="./css/backgroundSystem.css">
</head>
<body class="backgroundSystem">
    <header>
        <div class="container-fluid">
            <div class="row">
                <div class="logo col-2">
                <img src="./img/backsystem/sunoomLOGO_white 2.svg" alt="">
                </div>
                <div class="col-7"></div>
                
                <i class="document fa-regular fa-file-lines col-1"></i>
                <i class="mail fa-regular fa-envelope col-1"></i>
                <button class="out col-1" id="logOut">登出</button>
            </div>
        </div>
    </header>
    <main>

        <!-- 表單區域 -->
        <div class="container-fluid">
            <div class="row">
                <div class="backwrapper"  id="app">
                        <!-- 左Nav區塊 -->
                    <nav class="col-2" >
                        <div class="leftNav">
                            <div class="admin">
                                <img :src="image" alt="">
                                <div class="user">
                                    <h5>{{account}}<br>
                                        <h6>Admin</h6>
                                    </h5>
                                </div>
                            </div>
                            <a v-if="authority > 5" id="overview" data-type="overview" @click="navClick">總覽</a>
                            <a v-if="authority > 5" id="order" data-type="order_table" @click="navClick">訂單管理</a>
                            <a v-if="authority > 5" id="activity" data-type="activity" @click="navClick">活動管理</a>
                            <a v-if="authority > 5" id="shop" data-type="shop" @click="navClick">餐廳管理</a>
                            <a v-if="authority > 5" id="live" data-type="live" @click="navClick">住宿介紹</a>
                            <a v-if="authority > 5" id="discuss" data-type="discuss" @click="navClick">討論區管理</a>
                            <a v-if="authority > 5" id="discount_code" data-type="discount_code" @click="navClick">優惠券管理</a>
                            <a v-if="authority > 5" id="member" data-type="member" @click="navClick">會員管理</a>
                        </div>
                    </nav>
                    
                    <!-- vue 組件 -->
                    <component :is="content" :list="render_list" @my-emit="makeSync"></component>
    
                </div>
            </div>
        </div>

    </main>
    
    
    

    
    

    <!-- <footer></footer> -->

    <script src="./js/backgroundSystem_01_overview.js"></script>
    <script src="./js/backgroundSystem_02_order.js"></script>
    <script src="./js/backgroundSystem_03_activity.js"></script>
    <script src="./js/backgroundSystem_04_shop.js"></script>
    <script src="./js/backgroundSystem_05_live.js"></script>
    <script src="./js/backgroundSystem_06_discuss.js"></script>
    <script src="./js/backgroundSystem_07_discount.js"></script>
    <script src="./js/backgroundSystem_08_member.js"></script>
    <script src="./js/backgroundSysem.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script> -->
</body>
</html>