<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FinishPay</title>
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/common.css">
    <link rel="stylesheet" href="./css/FinishPay.css">
    <script src="https://kit.fontawesome.com/3e74b0720b.js" crossorigin="anonymous"></script>
    <script src="./js/vue.js"></script>
    <script src="./js/FinishPay.js"></script>
@@include('./layout/header_footer_css_link.html')
</head>
<body class="FinishPay">

    <!-- 星空 -->
    <canvas id="bgCanvas"></canvas>

    @@include('./layout/header.html')
    <header>
    </header>
    <article id="app">
        <section>
            <!-- 訂購流程區塊開始 -->
            <h2>訂購流程</h2>
            <div class="shoppingProcess">
                <div class="chooseAdate">
                    <h4>1</h4>
                    <h4>選擇日期</h4>
                </div>
                <img src="./img/orderPage/sun/orderPageArrow.png" alt="">
                <div class="chooseAtrip">
                    <h4>2</h4>
                    <h4>選擇行程</h4>
                </div>
                <img src="./img/orderPage/sun/orderPageArrow.png" alt="">
                <div class="tallyOrder">
                    <h4>3</h4>
                    <h4>結帳</h4>
                </div>
                <img src="./img/orderPage/sun/orderPageArrow.png" alt="">
                <div class="orderComplete">
                    <h4>4</h4>
                    <h4>訂單完成</h4>
                </div>
            </div>
            <!-- 訂購流程區塊結束 -->
            <div class="FinishTextBlock">
                <h3>4.訂單完成</h3>
                <h5>感謝您的訂購，已經將下列訂單明細截圖傳到您的信箱</h5>
                <h5>有任何問題，歡迎隨時與我們聯絡!!!</h5>
                <h5>~ 明島全體人員期待您的來訪 ~</h5>
            </div>
            <!-- 訂單明細區塊開始 -->
            <div class="imgblock" v-if="orderimg[0]" style="width:80%;margin: 0 auto;">
                <img :src="orderimg[0][0]" alt="" style="width:100%;margin-bottom: 50px;">
            </div>
            <!-- <div class="bigList">
                <div class="ListTitle">訂單明細</div>
                <ul class="ListDate">
                    <li>自由行</li>
                    <li>Check In：<h6>{{startday}}</h6></li>
                    <li>Check Out：<h6>{{endday}}</h6></li>
                </ul>
                <table>
                    <thead>
                        <th>日期</th>
                        <th>遊</th>
                        <th>食</th>
                        <th>宿</th>
                    </thead>
                    <tbody>
                        <tr v-for="(value,index) in orderlist">
                            <td>{{value[0]}}</td>
                            <td class="tripList">
                                <ul>
                                    <li >{{triplist[0]}}</li>
                                </ul>
                                <ul>
                                    <li>{{triplist[1]}}</li>
                                </ul>
                                <ul>
                                    <li>{{triplist[2]}}</li>
                                </ul>
                            </td>
                            <td class="FoodList" >
                                <ul>
                                    <li>{{foodlist[0]}}</li>
                                </ul>
                                <ul>
                                    <li>{{foodlist[1]}}</li>
                                </ul>
                                <ul>
                                    <li>{{foodlist[2]}}</li>
                                </ul>
                            </td>
                            <td class="StayList">
                                <ul>
                                    <li>{{value[3]}}</li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="totalBlock">
                    <div class="totalTitle">
                        <span>總金額：</span>
                        <span>{{totalPrice}}</span><br>
                    </div>
                </div>
            </div> -->
                <!-- 訂單明細區塊結束 -->
            <div class="backToIndexAndCheck">
                <button class="backToIndex" style="--clr:#ffbf44"><span>回到首頁</span><i></i></button>
                <button class="backToMember" style="--clr:#ffbf44"><span>會員專區</span><i></i></button>
            </div>
        </section>
    </article>
    <footer></footer>
    @@include('./layout/footer.html')
@@include('./layout/header_footer_script_link.html')
<script src="./js/moonsky.js"></script>
</body>
</html>