<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="./js/vue.js"></script>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/food.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="./css/common.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js"></script>
@@include('./layout/header_footer_css_link.html')
    <title>食</title>
</head>
<body class="food">
    
    <!-- 星空 -->
    <canvas id="bgCanvas"></canvas>

    @@include('./layout/header.html')
    <!-- banner區塊 -->
    <section class="banner">
        <h1>Scrumptious With Great View</h1>
    </section>
    <main>

        <div class="wrapper_top">
            <!-- 麵包屑 -->
            <p class="bread">
                <a href="index.html">首頁</a>
                <a href="food.html"> / 食</a> 
            </p>
            
            <!-- 陸FOOD -->
            <img class="circle1" src="img/food/circle1.png" alt="">
            <img class="circle" src="img/food/circle2.png" alt="">
            <img class="circle" src="img/food/circle3.png" alt="">
            <img class="circle" src="img/food/circle4.png" alt="">
            <img class="circle" src="img/food/circle5.png" alt="">
            <h4>Food that relates to your memories</h4>

            <section class="food1">
                <div class="food_right_top_rwd">
                    <h3>陸 FOOD</h3>
                    <p class="slogan1">Oh it’s so tasty</p>
                    <div class="underline"></div>
                </div>
                <div class="food1_rwd">
                    <article class="food1_left">
                        <img class="food1_img" src="img/food/square1.png" alt="">
                    </article>
                    <article class="food1_right">
                        <div class="food_right_top">
                            <h3>陸 FOOD</h3>
                            <p class="slogan1">Oh it’s so tasty</p>
                            <div class="underline"></div>
                        </div>
                        <p class="meals">Meals</p>
                        <div class="forklist">
                            <div class="forkset">
                                <i class="fa-solid fa-utensils"></i>
                                <p class="ingredients">Chicken</p>
                            </div>
                            <div class="forkset">
                                <i class="fa-solid fa-utensils"></i>
                                <p class="ingredients">Pork</p>
                            </div>
                            <div class="forkset">
                                <i class="fa-solid fa-utensils"></i>
                                <p class="ingredients">Beef</p>
                            </div>
                            <div class="forkset">
                                <i class="fa-solid fa-utensils"></i>
                                <p class="ingredients">Lamp</p>
                            </div>
                            <div class="forkset">
                                <i class="fa-solid fa-utensils"></i>
                                <p class="ingredients">Vegetable</p>
                            </div>
                        </div>
                    </article>
                </div>
             </section>

             <div class = "midline"></div>

             <!-- 海FOOD -->
            <section class="food2">
                <h4>The restaurant that celebrates the best of local produce.</h4>
                <div class="food2_left_top_rwd">
                    <h3>海 FOOD</h3>
                    <p class="slogan1">Oh it’s so tasty</p>
                    <div class="underline"></div>
                </div>
                <div class="food2_rwd">
                    <article class="food2_left">
                        <div class="food2_left_top">
                            <h3>海 FOOD</h3>
                            <p class="slogan1">Oh it’s so tasty</p>
                            <div class="underline"></div>
                        </div>
                        <p class="meals">Meals</p>
                        <div class="forklist">
                            <div class="forkset">
                                <i class="fa-solid fa-utensils"></i>
                                <p class="ingredients">Oyster</p>
                            </div>
                            <div class="forkset"> 
                                <i class="fa-solid fa-utensils"></i>
                                <p class="ingredients">Shrimp</p>
                            </div>
                            <div class="forkset">
                                <i class="fa-solid fa-utensils"></i>
                                <p class="ingredients">Lobster</p>
                            </div>
                            <div class="forkset">
                                <i class="fa-solid fa-utensils"></i>
                                <p class="ingredients">Fish</p>
                            </div>
                            <div class="forkset">
                                <i class="fa-solid fa-utensils"></i>
                                <p class="ingredients">Sashimi</p>
                            </div>
                        </div>
                    </article>
                    <article class="food2_right">
                        <img class="food2_img" src="img/food/square2.png" alt="">
                    </article>
                </div>
            </section>
            <img class="circle1" src="img/food/circle6.png" alt="">
            <img class="circle" src="img/food/circle7.png" alt="">
            <img class="circle" src="img/food/circle8.png" alt="">
            <img class="circle" src="img/food/circle9.png" alt="">
            <img class="circle" src="img/food/circle10.png" alt="">
        </div>

        <!-- 餐廳介紹 -->
        <div class="wrapper_mid">
            <h2>Restaraunt in Island</h2>
            <div class="underline2"></div>

            <!-- 第一家餐廳 -->
            <section class="restaurant1 box1">
                <!-- 第一家餐廳左區 -->
                <article class="restaurant1_left">
                    <img class="restaurant1_pic1" src="img/food/sun/restaurant1.png" alt="">
                </article>
                <!-- 第一家餐廳右區 -->
                <article class="restaurant1_right">
                    <h3>BBQ日月燒匠</h3>
                    <!-- 第一家餐廳右區 : 上半部-->
                    <article class="restaurant1_right_top">
                        <p class="time">営業時間: 07:00-21:00</p>
                        <p class="introduce">提供各式當季特色食材、嚴選横須賀の老舗肉品、明島珍味烤春雞、各式海鮮，多樣美味的食材，與親朋好友享受野炊的美食體驗。</p>
                    </article>
                    <!-- 第一家餐廳右區 : 下半部-->
                    <article class="restaurant1_right_bottom">
                        <div class="commentsArea">
                            <p>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star-half-stroke"></i>
                            </p>
                            <p>
                                (158則評論)
                            </p>
                            <div>
                                <i class="fa-solid fa-circle-plus"></i>
                                <a href="discuss.html">More Comments</a>
                            </div>
                        </div>
                        <a class="booknow " href="">Book Now</a>
                    </article>
                </article>
                
                <!-- 燈箱開啟時的深色背景 -->
                <div class="bookingBoxDrop">

                    <!-- Step 1. 訂位燈箱 -->
                    <div id="bookingBox1">
    
                        <!-- 燈箱內容 -->
                        <div class="boxInner">
    
    
                            <!-- 燈箱關閉按鈕 -->
                            <i class="fa-solid fa-circle-xmark bookingBoxClose"></i>
                
                            <!-- 店家圖片 -->
                            <div class="restaurant_picture">
                                <img src="img/food/sun/restaurant1.png" alt="">
                            </div>
                
                            <!-- 店名 -->
                            <div class="restaurant_name">
                                <h4 id="shopname">BBQ日月燒匠</h4>
                            </div>
                
                            <!-- TABLE FOR -->
                            <div class="table_for">
                                <p>Table For</p>
                            </div>
                
                            <!-- 訂位人數選擇 -->
                            <div class="table_choice">
                                <!-- 減號 -->
                                <div class="minus">
                                    <button>-</button>
                                </div>
                
                                <!-- 人數 -->
                                <div id="people" class="table_number">
                                    1
                                </div>
                
                                <!-- 加號 -->
                                <div class="plus">
                                    <button>+</button>
                                </div>
                
                            </div>
                
                
                            <!-- 選擇日期的Title -->
                            <div>
                                <p>Pick a Date<p>
                            </div>
                
                            <!-- 日期選擇 -->
                            <div class="date_picker">
                                <input id="date" type="date" required>
                            </div>
                
                            <!-- 選擇日期的Title -->
                            <div>
                                <p>Pick a Time<p>
                            </div>
                
                            <!-- 時間選擇 -->
                            <div class="time_picker">
                                <input id="time" type="time" placeholder="" />
                            </div>
                
                            <!-- 姓名的Title -->
                            <div>
                                <p>Your Name<p>
                            </div>
                
                            <!-- 姓名 -->
                            <div class="name">
                                <input id="name" placeholder="Name"/>
                            </div>
                
                            <!-- 電話的Title -->
                            <div>
                                <p>Phone Number<p>
                            </div>
                
                            <!-- 電話 -->
                            <div class="phone">
                                <input id="phone" placeholder="Phone"/>
                            </div>
                
                            <!-- 確認按鈕 -->
                            <div class="submit_btn">
                                <button id="confirm" type="submit">Confirm</button>
                            </div>
                        </div>
                    </div>
    
                    <!-- Step 2. 訂位完成燈箱 -->
                    <div id="completeBox1">
    
                        <!-- 燈箱內容 -->
                        <div class="boxInner">
    
    
                            <!-- 燈箱關閉按鈕 -->
                            <i class="fa-solid fa-circle-xmark bookingBoxClose"></i>
    
                            <div id="completed">
                                <h4>預定已確認</h4>
                                <p>已將您的預定明細，寄送簡訊至您的手機，期待您的光臨!</p>
                                <p>明島管理團隊 敬上</p>
                              </div>
                            
                        </div>
                    </div>
                    
                </div>



            </section>

        
            <!-- 第二家餐廳 -->
            <section class="restaurant1 box2">
                 <!-- 第二家餐廳左區 -->
                 <article class="restaurant1_left">
                    <img class="restaurant1_pic1" src="img/food/sun/restaurant2.png" alt="">
                </article>
                <!-- 第二家餐廳右區 -->
                <article class="restaurant1_right">
                    <h3>Bruch buffet</h3>
                    <!-- 第二家餐廳右區 : 上半部-->
                    <article class="restaurant1_right_top">
                        <p class="time">営業時間: 07:00-14:00</p>
                        <p class="introduce">提供各式當季特色食材、高級別的肉品與最新鮮的海鮮、各式酒水飲品，多樣美味的菜餚享受更完美的旅程體驗。</p>
                    </article>
                    <!-- 第二家餐廳右區 : 下半部-->
                    <article class="restaurant1_right_bottom">
                        <div class="commentsArea">
                            <p>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star-half-stroke"></i>
                            </p>
                            <p>
                                (158則評論)
                            </p>
                            <div>
                                <i class="fa-solid fa-circle-plus"></i>
                                <a href="discuss.html">More Comments</a>
                            </div>
                        </div>
                        <a class="booknow" href="">Book Now</a>
                    </article>
                </article>
            </section>

            <!-- 第三家餐廳 -->
            <section class="restaurant1 box3">
                <!-- 第三家餐廳左區 -->
                <article class="restaurant1_left">
                    <img class="restaurant1_pic1" src="img/food/sun/restaurant3.png" alt="">
                </article>
                <!-- 第三家餐廳右區 -->
                <article class="restaurant1_right">
                    <h3>Buger Shop</h3>
                    <!-- 第三家餐廳右區 : 上半部-->
                    <article class="restaurant1_right_top">
                        <p class="time">営業時間: 12:00-20:00</p>
                        <p class="introduce">最道地的美式漢堡店，每天現烤的堡包，再用奶油煎過外酥內軟，搭配新鮮番茄蔬菜，現點現煎，保持肉品鮮嫩多汁。
                        </p>
                    </article>
                    <!-- 第三家餐廳右區 : 下半部-->
                    <article class="restaurant1_right_bottom">
                        <div class="commentsArea">
                            <p>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star-half-stroke"></i>
                            </p>
                            <p>
                                (158則評論)
                            </p>
                            <div>
                                <i class="fa-solid fa-circle-plus"></i>
                                <a href="discuss.html">More Comments</a>
                            </div>
                        </div>
                        <a class="booknow" href="">Book Now</a>
                    </article>
                </article>
            </section>

            <!-- 第四家餐廳 -->
            <section class="restaurant1 box4">
                <!-- 第四家餐廳左區 -->
                <article class="restaurant1_left">
                    <img class="restaurant1_pic1" src="img/food/sun/restaurant4.png" alt="">
                </article>
                <!-- 第四家餐廳右區 -->
                <article class="restaurant1_right">
                    <h3>ChillLand Bar</h3>
                    <!-- 第四家餐廳右區 : 上半部-->
                    <article class="restaurant1_right_top">
                        <p class="time">営業時間:21:00-04:00</p>
                        <p class="introduce">明島日月吧獲得網友票選2022年世界前50名最佳酒吧，在這你一定可以找到喜愛的調酒飲品，也提供各式餐點滿足味雷，快來chill一下吧！
                        </p>
                    </article>
                    <!-- 第四家餐廳右區 : 下半部-->
                    <article class="restaurant1_right_bottom">
                        <div class="commentsArea">
                            <p>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star-half-stroke"></i>
                            </p>
                            <p>
                                (158則評論)
                            </p>
                            <div>
                                <i class="fa-solid fa-circle-plus"></i>
                                <a href="discuss.html">More Comments</a>
                            </div>
                        </div>
                        <a class="booknow" href="">Book Now</a>
                    </article>
                </article>
            </section>
        </div>

        <!-- 美食地圖 -->
        <div class="wrapper_bottom">
            <h3>日島美食地圖 | Sunoom Map</h3>
            
            <div class="map" id="map">
                 <!-- 美食地圖ICON*4 -->
                <img class="foodicon bbq"       v-if="map_list[0]" :src="map_list[0][3]" alt="">
                <img class="foodicon lobster"   v-if="map_list[2]" :src="map_list[2][3]" alt="">
                <img class="foodicon juice"     v-if="map_list[6]" :src="map_list[6][3]" alt="">
                <img class="foodicon hamberger" v-if="map_list[4]" :src="map_list[4][3]" alt="">

                <!-- 燈箱開啟時的深色背景 -->
                <div class="backdrop"></div>
                <!-- 地圖燈箱 -->
                <div class="iconBox" v-if="boxContent">
                    <!-- 燈箱關閉按鈕 -->
                    <i class="fa-solid fa-circle-xmark close"></i>
                    <!-- 燈箱店家icon -->
                    <img  :src="boxContent[3]" alt="">
                    <!-- 燈箱店名 -->
                    <p>
                        {{boxContent[4]}}
                    </p>
                    <!-- 燈箱營業時間 -->
                    <p class="iconBoxtime">
                        {{boxContent[5]}}
                    </p>
                    <!-- 燈箱店家簡介 -->
                    <p>
                        {{boxContent[6]}}
                    </p>
                </div>
            </div>

            <!-- 測試按鈕樣式 -->
            <a class="bubbly-button" style="display:none;">Book Now</a>
            
        </div>

        
    </main>
    

    @@include('./layout/footer.html')
@@include('./layout/header_footer_script_link.html')
    <script src="./js/food.js"></script>
    <script src="./js/moonsky.js"></script>
</body>
</html> 