<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>園區資訊</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="./js/vue.js"></script>
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/common.css">
@@include('./layout/header_footer_css_link.html')
    <link rel="stylesheet" href="./css/information.css">
</head>
<body class="information">

    <!-- 星空 -->
    <canvas id="bgCanvas"></canvas>

    <!-- <header>header</header> -->
    @@include('./layout/header.html')


    <main>

        <div class="breadcrumbs">
            <div class="wrapper">
                <ul>
                    <li>
                        <a href="./index.html"><p>首頁</p></a>
                    </li>
                    <li>/</li>
                    <li><p>園區資訊</p></li>
                </ul>

            </div>
        </div>

        <button id="changeButton">臨時測試</button>

        <section class="map">
            <div id="map" class="wrapper">
                <h3>園區地圖</h3>
                <ul>
                    <li>
                        <button class="big_btn on" data-type="all" @click="changeContent">總攬</button>
                    </li>

                    <li>
                        <button class="big_btn" data-type="food" @click="changeContent">食</button>
                    </li>

                    <li>
                        <button class="big_btn" data-type="live" @click="changeContent">宿</button>
                    </li>

                    <li>
                        <button class="big_btn" data-type="tour" @click="changeContent">遊</button>
                    </li>

                    <!-- <li>
                        <button class="big_btn" id="test">test</button>
                    </li> -->
                    
                </ul>

                <!-- 日島地圖 -->
                <ol class="sunMap">
                    <li v-if="type == 'all' || type =='food'" >
                        <img class="allmap bbq"       v-if="map_list[0]" :src="map_list[0][3]" alt="bbq" @click="lightBox(0)">
                        <img class="allmap lobster"   v-if="map_list[2]" :src="map_list[2][3]" alt="巴菲" @click="lightBox(2)">
                        <img class="allmap juice"     v-if="map_list[6]" :src="map_list[6][3]" alt="果汁" @click="lightBox(6)">
                        <img class="allmap hamberger" v-if="map_list[4]" :src="map_list[4][3]" alt="漢堡" @click="lightBox(4)">
                    </li>

                    <li v-if="type == 'all' || type =='live'">

                        <!-- <img class="allmap office"       v-if="map_list[0]" :src="map_list[0][3]" alt="辦公室"> -->
                        <img class="allmap residential"   v-if="map_list[8]" :src="map_list[8][3]" alt="別墅" @click="lightBox(8)">
                        <img class="allmap tent"     v-if="map_list[9]" :src="map_list[9][3]" alt="帳篷" @click="lightBox(9)">
                        <img class="allmap stilthouse" v-if="map_list[10]" :src="map_list[10][3]" alt="小木屋" @click="lightBox(10)">
                    </li>

                    <li v-if="type == 'all' || type =='tour'">
                        <img class="allmap chariot"   v-if="map_list[11]" :src="map_list[11][3]" alt="沙灘戰車" @click="lightBox(11)">
                        <img class="allmap horse_back_riding"     v-if="map_list[12]" :src="map_list[12][3]" alt="騎馬" @click="lightBox(12)">
                        <img class="allmap stonehenge" v-if="map_list[13]" :src="map_list[13][3]" alt="巨石陣" @click="lightBox(13)">
                        <img class="allmap mountaineering" v-if="map_list[14]" :src="map_list[14][3]" alt="登山" @click="lightBox(14)">
                        <img class="allmap rafting" v-if="map_list[15]" :src="map_list[15][3]" alt="泛舟" @click="lightBox(15)">

                        <img class="allmap diving" v-if="map_list[16]" :src="map_list[16][3]" alt="潛水" @click="lightBox(16)">
                        <img class="allmap yacht" v-if="map_list[17]" :src="map_list[17][3]" alt="遊艇" @click="lightBox(17)">
                        <img class="allmap fishing" v-if="map_list[18]" :src="map_list[18][3]" alt="釣魚" @click="lightBox(18)">
                        <img class="allmap snorkeling" v-if="map_list[19]" :src="map_list[19][3]" alt="浮潛" @click="lightBox(19)">
                        <img class="allmap stand_up_paddle" v-if="map_list[20]" :src="map_list[20][3]" alt="海岸SUP" @click="lightBox(20)">

                        <img class="allmap agency" v-if="map_list[21]" :src="map_list[21][3]" alt="珊瑚復育所" @click="lightBox(21)">
                        <img class="allmap turtle" v-if="map_list[22]" :src="map_list[22][3]" alt="海龜" @click="lightBox(22)">
                        <!-- <img class="allmap " v-if="map_list[20]" :src="map_list[20][3]" alt="賞鳥"> -->
                    </li>
                    
                    <!-- 地圖燈箱 -->
                    <div class="iconBox" v-if="boxContent">
                        <!-- 燈箱關閉按鈕 -->
                        <i class="fa-solid fa-circle-xmark close"></i>
                        <!-- 燈箱店家icon -->
                        <img  :src="boxContent[3]" alt="">
                        <!-- 燈箱店名 -->
                        <p>
                            {{boxContent[4]}}
                        </p>
                        <!-- 燈箱營業時間 -->
                        <p class="iconBoxtime">
                            {{boxContent[5]}}
                        </p>
                        <!-- 燈箱店家簡介 -->
                        <p>
                            {{boxContent[6]}}
                        </p>
                    </div>

                </ol>

                <!-- 月島地圖 -->
                <ol class="moonMap">
                    <li v-if="type == 'all' || type =='food'" >
                        <img class="allmap m_bbq"       v-if="map_list[0]" :src="map_list[0][3]" alt="bbq" @click="lightBox(0)">
                        <img class="allmap m_lobster"   v-if="map_list[2]" :src="map_list[2][3]" alt="巴菲" @click="lightBox(2)">
                        <img class="allmap m_juice"     v-if="map_list[6]" :src="map_list[6][3]" alt="果汁" @click="lightBox(6)">
                        <img class="allmap m_hamberger" v-if="map_list[4]" :src="map_list[4][3]" alt="漢堡" @click="lightBox(4)">
                    </li>

                    <li v-if="type == 'all' || type =='live'" >
                        <!-- <img class="allmap office"       v-if="map_list[0]" :src="map_list[0][3]" alt="辦公室"> -->
                        <img class="allmap m_residential"   v-if="map_list[25]" :src="map_list[25][3]" alt="別墅" @click="lightBox(25)">
                        <img class="allmap m_tent"     v-if="map_list[26]" :src="map_list[26][3]" alt="帳篷" @click="lightBox(26)">
                        <img class="allmap m_stilthouse" v-if="map_list[27]" :src="map_list[27][3]" alt="小木屋" @click="lightBox(27)">
                    </li>

                    <li v-if="type == 'all' || type =='tour'">
                        <img class="allmap m_campfire"   v-if="map_list[28]" :src="map_list[28][3]" alt="沙灘營火" @click="lightBox(28)">
                        <img class="allmap m_bar"     v-if="map_list[29]" :src="map_list[29][3]" alt="酒吧" @click="lightBox(29)">
                        <img class="allmap m_star" v-if="map_list[30]" :src="map_list[30][3]" alt="觀星" @click="lightBox(30)">
                        <img class="allmap m_owl" v-if="map_list[31]" :src="map_list[31][3]" alt="尋貓頭鷹" @click="lightBox(31)">
                        <img class="allmap m_cave" v-if="map_list[32]" :src="map_list[32][3]" alt="隕石洞穴" @click="lightBox(32)">

                        <img class="allmap m_diving" v-if="map_list[33]" :src="map_list[33][3]" alt="潛水" @click="lightBox(33)">
                        <img class="allmap m_yacht" v-if="map_list[34]" :src="map_list[34][3]" alt="遊艇" @click="lightBox(34)">
                        <img class="allmap m_fishing" v-if="map_list[35]" :src="map_list[35][3]" alt="釣魚" @click="lightBox(35)">
                        <img class="allmap m_flying_fish" v-if="map_list[36]" :src="map_list[36][3]" alt="飛魚" @click="lightBox(36)">
                        <img class="allmap m_stand_up_paddle" v-if="map_list[37]" :src="map_list[37][3]" alt="海岸SUP" @click="lightBox(37)">

                        <img class="allmap tear" v-if="map_list[38]" :src="map_list[38][3]" alt="藍眼淚" @click="lightBox(38)">
                        <img class="allmap intertidal" v-if="map_list[39]" :src="map_list[39][3]" alt="潮間帶" @click="lightBox(39)">
                        <!-- <img class="allmap " v-if="map_list[20]" :src="map_list[20][3]" alt="賞鳥"> -->
                    </li>

                    <!-- 地圖燈箱 -->
                    <div class="iconBox" v-if="boxContent">
                        <!-- 燈箱關閉按鈕 -->
                        <i class="fa-solid fa-circle-xmark close"></i>
                        <!-- 燈箱店家icon -->
                        <img  :src="boxContent[3]" alt="">
                        <!-- 燈箱店名 -->
                        <p>
                            {{boxContent[4]}}
                        </p>
                        <!-- 燈箱營業時間 -->
                        <p class="iconBoxtime">
                            {{boxContent[5]}}
                        </p>
                        <!-- 燈箱店家簡介 -->
                        <p>
                            {{boxContent[6]}}
                        </p>
                    </div>
                </ol>

                <!-- 燈箱開啟時的深色背景 -->
                <div class="backdrop"></div>

            </div>

            
            <div id="v_polaroid" class="polaroid">
                
                <svg width="1129" height="48" viewBox="0 0 1129 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 1C459.864 60.8265 707.067 62.3227 1128 1" stroke="currentColor" stroke-width="2"/>
                </svg>
                <ul>
                    <li>
                        <img src="./img/information/sun/polaroid_img_01.jpg" alt="">
                        <h5>{{text[content]['change1']}}</h5>                        
                    </li>
                    
                    <li>
                        <img src="./img/information/sun/polaroid_img_02.jpg" alt="">
                        <h5>{{text[content]['change2']}}</h5>                        
                    </li>

                    <li>
                        <img src="./img/information/sun/polaroid_img_03.jpg" alt="">
                        <h5>{{text[content]['change3']}}</h5>                        
                    </li>
                </ul>
            </div>

        </section>

        <section class="island_intro">

            <div class="wrapper">
                <div class="origin">
                    <div class="triangle_img">
                        <div class="island_intro_left">
                            <div class="island_intro_top">
                                <div class="triangle_left">
                                    <img src="./img/information/sun/island_intro_left_img_01.jpg" alt="">
                                </div>
                                <div class="triangle_down triangle_margin">
                                    <img src="./img/information/sun/island_intro_left_img_02.jpg" alt="">
                                </div>
                                <div class="triangle_up triangle_center">
                                    <img src="./img/information/sun/island_intro_left_img_03.jpg" alt="">
                                </div>
                                <div class="triangle_down triangle_margin">
                                    <img src="./img/information/sun/island_intro_left_img_04.jpg" alt="">
                                </div>
                                
                            </div>
                            <div class="island_intro_down">
                                <div class="triangle_up triangle_margin">
                                    <img src="./img/information/sun/island_intro_left_img_05.jpg" alt="">
                                </div>
                                <div class="triangle_down triangle_center">
                                    <img src="./img/information/sun/island_intro_left_img_06.jpg" alt="">
                                </div>
                                <div class="triangle_up triangle_margin">
                                    <img src="./img/information/sun/island_intro_left_img_07.jpg" alt="">
                                </div>
                            </div>
                        </div>
                        <h3>島嶼簡介</h3>
                        <div class="island_intro_right">
                            <div class="island_intro_top">
                                <div class="triangle_down triangle_margin">
                                    <img src="./img/information/sun/island_intro_right_img_01.jpg" alt="">
                                </div>
                                <div class="triangle_up triangle_center">
                                    <img src="./img/information/sun/island_intro_right_img_02.jpg" alt="">
                                </div>
                                <div class="triangle_down triangle_margin">
                                    <img src="./img/information/sun/island_intro_right_img_03.jpg" alt="">
                                </div>
                                <div class="triangle_right">
                                    <img src="./img/information/sun/island_intro_right_img_07.jpg" alt="">
                                </div>
                            </div>
                            <div class="island_intro_down">
                                <div class="triangle_up triangle_margin">
                                    <img src="./img/information/sun/island_intro_right_img_04.jpg" alt="">
                                </div>
                                <div class="triangle_down triangle_center">
                                    <img src="./img/information/sun/island_intro_right_img_05.jpg" alt="">
                                </div>
                                <div class="triangle_up triangle_margin">
                                    <img src="./img/information/sun/island_intro_right_img_06.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <h5>明島是位於國際換日線上的兩座小島嶼，因島嶼間的時差關係，形成了“日月同輝” 的獨特景象。是日與月結合的島嶼，故取名為「明島」。</h5>
                </div>

                <div class="feature">
                    <h4>明島特色</h4>
                    <p class="underline">晝夜奇觀 X 自然寶藏</p>
                    <p>A Whole World On A Single Island.</p>
                    <ul>
                        <li>
                            <img src="./img/information/sun/feaeure_01.jpg" alt="">
                        </li>
                        
                        <li>
                            <img src="./img/information/sun/feaeure_02.jpg" alt="">
                        </li>

                        <li>
                            <img src="./img/information/sun/feaeure_03.jpg" alt="">
                        </li>

                        <li>
                            <img src="./img/information/sun/feaeure_04.jpg" alt="">
                        </li>
                    </ul>

                </div>

                <div class="develope">
                    <h4>明島發展</h4>
                    <p class="underline">日月同輝 X 永續經營</p>
                    <p>“I read; I travel; I become.; I alive” — Sunoom</p>
                    <p> 明島因其特性，我們打造成適合海陸雙棲遊玩探險的觀光小島，同時我們也注重保護自然生態，不過度開發是我們的宗旨，平衡環境與發展，實現永續營。</p>
                    <img src="./img/information/sun/develope_01.jpg" alt="">
                </div>




            </div>

        </section>

        <section id="office" class="contact">
            <div class="wrapper">
                <h3>聯絡資訊</h3>
                <ul>
                    <li v-for="office in office_list">
                        <h4>{{office[1]}}</h4>
                        <p>聯絡人：{{office[2]}}</p>
                        <p>電話：{{office[3]}}</p>
                        <p>傳真：{{office[4]}}</p>
                        <p>位置：{{office[5]}}</p>
                        <p>Email：{{office[6]}}</p>
                        <img :src="office[7]" alt="">
                    </li>

                    <!-- <li>
                        <h4>{{office_list[1][1]}}</h4>
                        <p>聯絡人：{{office_list[1][2]}}</p>
                        <p>電話：{{office_list[1][3]}}</p>
                        <p>傳真：{{office_list[1][4]}}</p>
                        <p>位置：{{office_list[1][5]}}</p>
                        <p>Email：{{office_list[1][6]}}</p>
                        <img :src="office_list[1][7]" alt="">
                    </li>

                    <li>
                        <h4>{{office_list[2][1]}}</h4>
                        <p>聯絡人：{{office_list[2][2]}}</p>
                        <p>電話：{{office_list[2][3]}}</p>
                        <p>傳真：{{office_list[2][4]}}</p>
                        <p>位置：{{office_list[2][5]}}</p>
                        <p>Email：{{office_list[2][6]}}</p>
                        <img :src="office_list[2][7]" alt="">
                    </li> -->
                </ul>
            </div>
        </section>

        <section class="traffic">
            <div class="wrapper">
                <h3>交通資訊</h3>
                <ul>
                    <li>
                        <div class="title">
                            <i class="fa-solid fa-anchor"></i>
                            <h3>船班時刻</h3>
                        </div>
                        <h4>航行時間約40分鐘</h4>
                        <ol>
                            <li>
                                <h4>登島</h4>
                                <h5>8:20</h5>
                                <h5>9:20</h5>
                                <h5>10:20</h5>
                            </li>

                            <li>
                                <h4>離島</h4>
                                <h5>14:20</h5>
                                <h5>15:20</h5>
                                <h5>16:20</h5>
                            </li>
                        </ol>
                    </li>

                    <li>
                        <div class="title">
                            <i class="fa-solid fa-plane-departure"></i>
                            <h3>航班時刻</h3>
                        </div>
                        <h4>航行時間約20分鐘</h4>
                        <ol>
                            <li>
                                <h4>起飛</h4>
                                <h5>8:20</h5>
                                <h5>9:20</h5>
                                <h5>10:20</h5>
                            </li>

                            <li>
                                <h4>降落</h4>
                                <h5>14:20</h5>
                                <h5>15:20</h5>
                                <h5>16:20</h5>
                            </li>
                        </ol>
                    </li>
                </ul>
            </div>
        </section>
        
        <section id="faq">
            <div class="wrapper">
                <h3>FAQ</h3>
                <ul>
                    <li v-for="faq in faq_list" class="faq_li">
                        <h5 class="faq_h5">{{faq[1]}}</h5>
                        <p class="faq_p">{{faq[2]}}</p>
                    </li>

                    <!-- <li class="faq_li">
                        <h5 class="faq_h5">一、去明島旅行需要攜带哪些物品？</h5>
                        <p class="faq_p">日島氣候溫暖宜人，備好夏裝即可；月島氣候寒冷，需準備防寒外套，如果您計畫遊玩兩座島，請備齊夏冬衣物及防曬乳，徒步旅行或探索海岸則需輕便衣物，如果您計畫造訪計畫登山則需攜帶更為保暖的衣物，以便適應劇烈溫差。日島氣候溫暖宜人，備好夏裝即可；月島氣候寒冷，需準備防寒外套，如果您計畫遊玩兩座島，請備齊夏冬衣物及防曬乳，徒步旅行或探索海岸則需輕便衣物，如果您計畫造訪計畫登山則需攜帶更為保暖的衣物，以便適應劇烈溫差。</p>
                    </li> -->
                </ul>
            </div>
        </section>
    </main>

    <!-- <footer></footer> -->
    @@include('./layout/footer.html')
@@include('./layout/header_footer_script_link.html')
    <script src="./js/information.js"></script>
    <script src="./js/moonsky.js"></script>

</body>
</html>