<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>路遊</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="./js/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/ScrollTrigger.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js"></script>
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/common.css">
    <link rel="stylesheet" href="./css/land_tour.css">
@@include('./layout/header_footer_css_link.html')
</head>
<body class="land_tour" >
    <!-- <header>header</header> -->
    @@include('./layout/header.html')

    <main>

        <section id="banner" class="banner">
            <!-- 時鐘 -->
            <div class="progress-ring-wrapper">
                <!-- svg -->
                <svg 
                    class="progress-ring" 
                    viewBox="0 0 937 937" 
                    preserveAspectRatio="xMidYMid meet" >

                    <!-- 大圈圈 -->
                    <circle 
                        class="progress-ring__background-circle" 
                        r="293.5" 
                        cx="468.5" 
                        cy="468.5">
                    </circle>

                    <!-- 流動線圈 -->
                    <circle 
                        class="progress-ring__circle" 
                        r="293.5" 
                        cx="468.5" 
                        cy="468.5"
                        style=" stroke-dasharray: 368.823, 1475.29;  
                                stroke-dashoffset: 0;
                                transform-origin: 0px 0px 0px;
                                transition :2.5s;"
                        data-svg-origin="468.5 468.5" 
                        transform="matrix(0,-1,1,0,0,937)">
                    </circle>

                    <!-- 活動1 -->
                    <circle 
                        class="progress-ring__point point-item-1" 
                        fill="white" 
                        r="3" 
                        x="468.5"
                        cx="470" 
                        cy="175">
                    </circle>
                    <text 
                        class=" time-label time-label-1" 
                        data-event-item="1" 
                        x="450" 
                        y="150">
                        {{clock1[1]}}
                    </text>

                    <!-- 活動2 -->
                    <circle 
                        class="progress-ring__point point-item-4" 
                        fill="white" 
                        r="3" 
                        cx="748"
                        cy="378">
                    </circle>
                    <text 
                        class="time-label time-label-4" 
                        data-event-item="2" 
                        x="770" 
                        y="385">
                        {{clock2[1]}}
                    </text>

                    <!-- 活動3 -->
                    <circle 
                        class="progress-ring__point point-item-7" 
                        fill="white" 
                        r="3" 
                        cx="641"
                        cy="706">
                    </circle>
                    <text 
                        class="time-label time-label-7" 
                        data-event-item="3" 
                        x="650" 
                        y="740">
                        {{clock3[1]}}
                    </text>

                    <!-- 活動4 -->
                    <circle 
                        class="progress-ring__point point-item-10" 
                        fill="white" 
                        r="3" 
                        cx="296"
                        cy="706">
                    </circle>
                    <text 
                        class="time-label time-label-10" 
                        data-event-item="4" 
                        x="255" 
                        y="740">
                        {{clock4[1]}}
                    </text>

                    <!-- 活動5 -->
                    <circle 
                        class="progress-ring__point point-item-13" 
                        fill="white" 
                        r="3" 
                        cx="189"
                        cy="378">
                    </circle>
                    <text 
                        class="time-label time-label-13" 
                        data-event-item="5" 
                        x="110" 
                        y="385">
                        {{clock5[1]}}
                    </text>
                </svg>
            </div>

            <!-- 時鐘中心文字 -->
            <div class=" schedule-wrapper">

                <!-- 活動1 中心文字 -->
                <div class="event-item event-item1">
                    <div class="ocean ocean1">Land</div>
                    <div class="chName chName1">{{clock1[1]}}</div>
                    <div  class="enName enName1">{{clock1[11]}}</div>
                    <a  class="discover discover1" href="#" target="_blank">Discover</a>
                </div>
               <!-- 活動2 中心文字-->
               <div class="event-item event-item2">
                    <div class="ocean ocean2">Land</div>
                    <div class="chName chName2">{{clock2[1]}}</div>
                    <div class="enName enName2">{{clock2[11]}}</div>
                    <a class="discover discover2" href="#" target="_blank">Discover</a>
                </div>
                <!-- 活動3 中心文字-->
               <div class="event-item event-item3">
                    <div class="ocean ocean3">Land</div>
                    <div class="chName chName3">{{clock3[1]}}</div>
                    <div class="enName enName3">{{clock3[11]}}</div>
                    <a class="discover discover3" href="#" target="_blank">Discover</a>
                </div>
                <!-- 活動4 中心文字-->
               <div class="event-item event-item4">
                    <div class="ocean ocean4">Land</div>
                    <div class="chName chName4">{{clock4[1]}}</div>
                    <div class="enName enName4">{{clock4[11]}}</div>
                    <a class="discover discover4"href="#"target="_blank">Discover</a>
                </div>
                <!-- 活動5 中心文字-->
               <div class="event-item event-item5">
                    <div class="ocean ocean5">Land</div>
                    <div class="chName chName5">{{clock5[1]}}</div>
                    <div class="enName enName5">{{clock5[11]}}</div>
                    <a class="discover discover5" href="#" target="_blank">Discover</a>
                </div>
            </div>

            <!-- 轉場黑幕 -->
            <div class="blackCover"></div>

            <!-- 點點起始 -->
            <div class="begin"></div>
        </section>


        <div class="breadcrumbs">
            <div class="wrapper">
                <ul>
                    <li>
                        <a href="./index.html"><p>首頁</p></a>
                    </li>
                    <li>/</li>
                    <li><p>路遊</p></li>
                </ul>

            </div>
        </div>
        <button id="changeButton">臨時測試</button>
        <section class="slogan_banner">
            <img class="leaf_left" src="./img/land_tour/leaf_left.png" alt="">
            <img class="leaf_right" src="./img/land_tour/leaf_right.png" alt="">
            <img id="deer" class="deer" src="./img/land_tour/deer.png" alt="">
            <div class="slogan">
                <h3>“</h3>
                <h3>FOREST</h3>
                <div class="slogan_h5">
                    <h5>GET LOST</h5>
                    <h5>IN THE WOODS</h5>
                </div>
            </div>
        </section>

        <section class="ecotourism">
            <ul>
                <li>
                    <img src="./img/land_tour/sun/ecotourism01.jpg" alt="">
                </li>
                
                <li>
                    <img src="./img/land_tour/sun/ecotourism02.jpg" alt="">
                </li>

                <li>
                    <img src="./img/land_tour/sun/ecotourism03.jpg" alt="">
                </li>

                <li>
                    <img src="./img/land_tour/sun/ecotourism04.jpg" alt="">
                </li>
            </ul>

            <div class="intro_word">
                <h3>生態導覽</h3>
                <p>A heart without dreams is like a bird without feathers.</p>
            </div>
        </section>

        <section class="activity_intro" id="land_tour">
            <ul>
                <li>
                    
                    <div class="wrapper" v-if="activity1">
                        <div>
                            <img :src="activity1[6]" alt="">
                            <h3>{{activity1[1]}}</h3>
                            <p>{{activity1[2]}}</p>
                            <div class="comment">
                                <div class="star_block">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star-half-stroke"></i>
                                    <!-- <span class="star -on" data-star="1"><i class="fas fa-star"></i></span>
                                    <span class="star -on" data-star="2"><i class="fas fa-star"></i></span>
                                    <span class="star -on" data-star="3"><i class="fas fa-star"></i></span>
                                    <span class="star -on" data-star="4"><i class="fas fa-star"></i></span>
                                    <span class="star" data-star="5"><i class="fas fa-star"></i></span> -->
                                </div>
                                <p>(158則評論)</p>
                                
                                <p><i class="fa-solid fa-circle-plus"></i>More Comments</p>
                                
                            </div>
                        </div>

                        <img id="bird_01" src="./img/land_tour/activity_intro_1_bird_01.png" alt="">
                        <img id="cloud_01" src="./img/land_tour/activity_intro_1_cloud_01.png" alt="">
                        <img id="cloud_02" src="./img/land_tour/activity_intro_1_cloud_02.png" alt="">
                    </div>
                </li>

                <li>
                    <div class="wrapper" v-if="activity2">
                        <div>
                            <img :src="activity2[6]" alt="">
                            <h3>{{activity2[1]}}</h3>
                            <p>{{activity2[2]}}</p>
                            <div class="comment">
                                <div class="star_block">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star-half-stroke"></i>
                                </div>
                                <p>(158則評論)</p>
                                
                                <p><i class="fa-solid fa-circle-plus"></i>More Comments</p>
                                
                            </div>
                        </div>

                        
                        
                        
                    </div>
                    <img id="butterfly_01" src="./img/land_tour/activity_intro_2_butterfly_01.png" alt="">
                    <img id="branch_01" src="./img/land_tour/activity_intro_2_branch_01.png" alt="">
                </li>

                <li>
                    <div class="wrapper" v-if="activity3">
                        <div>
                            <img :src="activity3[6]" alt="">
                            <h3>{{activity3[1]}}</h3>
                            <p>{{activity3[2]}}</p>
                            <div class="comment">
                                <div class="star_block">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star-half-stroke"></i>
                                </div>
                                <p>(158則評論)</p>
                                <p><i class="fa-solid fa-circle-plus"></i>More Comments</p>
                                
                            </div>
                        </div>
                    </div>
                    <img id="branch_02" src="./img/land_tour/activity_intro_3_branch_02.png" alt="">
                </li>

                <li>
                    <div class="wrapper" v-if="activity4">
                        <div>
                            <img :src="activity4[6]" alt="">
                            <h3>{{activity4[1]}}</h3>
                            <p>{{activity4[2]}}</p>
                            <div class="comment">
                                <div class="star_block">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star-half-stroke"></i>
                                </div>
                                <p>(158則評論)</p>
                                <p><i class="fa-solid fa-circle-plus"></i>More Comments</p>
                                
                            </div>
                        </div>
                    </div>
                    <img id="branch_03" src="./img/land_tour/activity_intro_4_branch_03.png" alt="">
                </li>

                <li>
                    <div class="wrapper" v-if="activity5">
                        <div>
                            <img :src="activity5[6]" alt="">
                            <h3>{{activity5[1]}}</h3>
                            <p>{{activity5[2]}}</p>
                            <div class="comment">
                                <div class="star_block">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star-half-stroke"></i>
                                </div>
                                <p>(158則評論)</p>
                                <p><i class="fa-solid fa-circle-plus"></i>More Comments</p>
                                
                            </div>


                            <img id="flower_01" src="./img/land_tour/activity_intro_5_flower_01.png" alt="">
                            <img id="butter_02" src="./img/land_tour/activity_intro_5_butterfly_02.png" alt="">
                        </div>
                    </div>

                    <img id="branch_04" src="./img/land_tour/activity_intro_5_branch_04.png" alt="">
                    <img id="branch_05" src="./img/land_tour/activity_intro_5_branch_05.png" alt="">
                    
                </li>
                <li>
                    <img id="branch_06" src="./img/land_tour/activity_intro_6_branch_06.png" alt="">
                    <img id="bear_01" src="./img/land_tour/activity_intro_6_bear_01.png" alt="">
                    <img id="branch_07" src="./img/land_tour/activity_intro_5_branch_04.png" alt="">
                    <img id="branch_08" src="./img/land_tour/activity_intro_5_branch_05.png" alt="">
                    
                </li>
            </ul>
        </section>

        <section class="instagram" id="ig">
            <div class="wrapper">
                <div class="title">
                    <img src="./img/land_tour/instagram_icon.png" alt="">
                    <h3>@sunmoonisland</h3>
                </div>

                <ul>
                    <li>
                        <img class="ig_img" :src="ig_list[1][1]" alt="" data-ig="1" @click="ig_img">
                        <img class="ig_img" :src="ig_list[2][1]" alt="" data-ig="2" @click="ig_img">
                        <img class="ig_img" :src="ig_list[3][1]" alt="" data-ig="3" @click="ig_img">
                    </li>

                    <li>
                        <img class="ig_img" :src="ig_list[4][1]" alt="" data-ig="4" @click="ig_img">
                        <img class="ig_img" :src="ig_list[5][1]" alt="" data-ig="5" @click="ig_img">
                        <img class="ig_img" :src="ig_list[6][1]" alt="" data-ig="6" @click="ig_img">
                    </li>

                    <li>
                        <img class="ig_img" :src="ig_list[7][1]" alt="" data-ig="7" @click="ig_img">
                        <img class="ig_img" :src="ig_list[8][1]" alt="" data-ig="8" @click="ig_img">
                        <img class="ig_img" :src="ig_list[9][1]" alt="" data-ig="9" @click="ig_img">
                    </li>

                    <li>
                        <img class="ig_img" :src="ig_list[10][1]" alt="" data-ig="10" @click="ig_img">
                        <img class="ig_img" :src="ig_list[11][1]" alt="" data-ig="11" @click="ig_img">
                        <img class="ig_img" :src="ig_list[12][1]" alt="" data-ig="12" @click="ig_img">
                    </li>
                </ul>

            </div>

            <div id="ig_pop_up">
                <div id="ig_pop_up_content">
                    <div id="ig_pop_up_left">
                        <img id="ig_pop_up_img" src="./img/land_tour/instagram_1_1.jpg" alt="">
                        <p>圖片文字介接自Instagram，版權屬原作者所有</p>
                    </div>

                    <div id="ig_pop_up_right">
                        <div id="ig_author">
                            <img id="ig_author_img" src="./img/land_tour/instagram_author_img.jpg" alt="">
                            <h5 id="ig_author_name">JJCHEN</h5>
                        </div>
                        <div id="ig_words">
                            <p>{{ig_imgtext[2]}}</p>
                            
                        </div>

                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer></footer>
    @@include('./layout/footer.html')
@@include('./layout/header_footer_script_link.html')
    <!-- <script src="./js/instagram_pop_up.js"></script> -->
    <script src="./js/land_clock.js"></script>
    <script src="./js/land_tour.js"></script>
</body>
</html>