<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="./js/vue.js"></script>
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/common.css">
    @@include('./layout/header_footer_css_link.html')
    <link rel="stylesheet" href="./css/live.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap" rel="stylesheet">
    <title>明島 Sunoom</title>
</head>

<body class="live">
    @@include('./layout/header.html')
    <header class="live_header">
        <div class="wrapper">
            <nav>

            </nav>
            <h1>Enjoy the natural luxury with us</h1>
        </div>
    </header>
    <main id="live">
        <div class="wrapper">
            <!-- breadcrumb -->
            <p class="breadcrumb"><a href="#">首頁</a> / 住</p>
            <!-- lagCabin小木屋 -->
            <section v-if="live_list[0]">
                <!-- lagCabin小木屋 leftsection -->
                <div class="logCabin">
                    <div class="logCabinLeft">
                        <div class="logCabinText">
                            <h4 class="t1">{{live_list[0][1]}}
                                <br>{{live_list[0][2]}}</h4>
                            <div class="forestBorder t2">
                                <span class="forest">{{live_list[0][3]}}</span>
                            </div>
                            <h4 class="t3">{{live_list[0][4]}}</h4>
                        </div>
                        <div class="">
                            <img class="forestImg" :src="live_list[0][6]" alt="">
                        </div>
                    </div>
                    <!-- lagCabin小木屋 rightsection -->
                    <div class="logCabinRight">
                        <img class="logCabinImg" :src="live_list[0][5]" alt="">
                        <div class="rightTextArea">
                            <div class="logCabinText02">
                                <h4>{{live_list[0][7]}}</h4>
                                <p class="text">{{live_list[0][8]}}</p>
                                <div class="logCbinList">
                                    <div class="iconArea">
                                        <p><img class="iconbed" src="./img/live/iconbed.png">{{live_list[0][9]}}</p>
                                    </div>
                                    <div class="comments_area">
                                        <div>
                                            <p><i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star-half-stroke"></i>
                                                (158則評論)
                                            </p>
                                            <a><i class="fa-solid fa-circle-plus"></i>More Comments</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a class="bookButton" href="#">Book Now</a>
                        </div>
                    </div>
                </div>
                <!-- lagCabin小木屋內裝介紹 siteLayout -->
                <div class="siteLayout">
                    <h3>{{live_list[0][11]}}</h3>
                    <div class="siteLayoutwp">
                        <img class="layOutImg":src="live_list[0][12]">
                        <h3 @mouseenter="h3Mouseenter" @mouseleave="h3Mouseleave" data-boxclass="siteLayoutInf01" class="wood wood1">1</h3>
                        <h3 @mouseenter="h3Mouseenter" @mouseleave="h3Mouseleave" data-boxclass="siteLayoutInf01" class="wood wood11">1</h3>
                        <h3 @mouseenter="h3Mouseenter" @mouseleave="h3Mouseleave" data-boxclass="siteLayoutInf02" class="wood wood2">2</h3>
                        <h3 @mouseenter="h3Mouseenter" @mouseleave="h3Mouseleave" data-boxclass="siteLayoutInf03" class="wood wood3">3</h3>
                    </div>
                    <!-- 彈窗 siteLayout  -->
                    <div class="siteLayoutInf01">
                        <img class="room_img" :src="live_list[0][17]" alt="">
                        <div class="roomInfText">
                            <h3 class="number1">1</h3>
                            <div class="text">
                                <h4>{{live_list[0][15]}}</h4>
                                <p>{{live_list[0][16]}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="siteLayoutInf02">
                        <img class="room_img" :src="live_list[0][20]" alt="">
                        <div class="roomInfText">
                            <h3 class="number1">2</h3>
                            <div class="text">
                                <h4 class="">{{live_list[0][18]}}</h4>
                                <p>{{live_list[0][19]}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="siteLayoutInf03">
                        <img class="room_img" :src="live_list[0][23]" alt="">
                        <div class="roomInfText">
                            <h3 class="number1">3</h3>
                            <div class="text">
                                <h4 class="">{{live_list[0][21]}}</h4>
                                <p>{{live_list[0][22]}}</p>
                            </div>
                        </div>
                    </div>
                    <a class="bookButton_RWD" href="#">Book Now</a>
                </div>
            </section>

            <!-- Camping Tents 露營帳篷 -->
            <section v-if="live_list[1]">
                <!-- Camping Tents 露營帳篷 leftsection -->
                <div class="campingTents">
                    <div class="campingTentsLeft">
                        <div class="campingTentsText">
                            <h4 class="t1">{{live_list[1][1]}} 
                                <br>{{live_list[1][2]}}</h4>
                            <div class="mountainBorder t2">
                                <span class="mountain">{{live_list[1][3]}}</span>
                            </div>
                            <h4 class="t3">{{live_list[1][4]}}</h4>
                            <h4 class="t3_RWD">Camping Tents</h4>
                        </div>
                            <img class="mountainImg" :src="live_list[1][6]" alt="">
                    </div>

                    <!-- Camping Tents 露營帳篷 rightsection -->
                    <div class="campingTentsRight">
                        <img class="campingImg" :src="live_list[1][5]" alt="">
                        <div class="rightTextArea">
                            <div class="campingTentsText02">
                                <h4>{{live_list[1][7]}}</h4>
                                <p class="text">{{live_list[1][8]}}</p>
                                <div class="campingTentsList">
                                    <div class="iconArea">
                                        <p class="iconTextbed"><img class="iconbed" src="./img/live/iconbed.png">{{live_list[1][9]}}</p>
                                        <p class="iconText"><img class="iconbed" src="./img/live/iconlamp.png">{{live_list[1][10]}}</p>
                                    </div>
                                    <div class="comments_area">
                                        <div>
                                            <p><i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star-half-stroke"></i>
                                                (158則評論)
                                            </p>
                                            <a><i class="fa-solid fa-circle-plus"></i>More Comments</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a class="bookButton" href="#">Book Now</a>
                        </div>
                        
                    </div>
                </div>
                <!-- Camping Tents SiteLayout 內裝帳篷  -->
                <div class="campingSiteLayout">
                    <h3>{{live_list[1][11]}}</h3>
                    <div class="campingsiteLayoutwp">
                        <img class="campingLayout_img" :src="live_list[1][12]">
                        <img class="campingLayout_img" :src="live_list[1][17]" alt="">
                    </div>
                </div>
                <a class="bookButton_RWD" href="#">Book Now</a>
            </section>

            <!-- Villa waterCottage 渡假村 -->
            <section v-if="live_list[2]">
                <!-- Villa waterCottage 渡假村 leftsection -->
                <div class="villa">
                    <div class="villaLeft">
                        <div class="villaText">
                            <h4 class="t1">{{live_list[2][1]}} 
                                <br>{{live_list[2][2]}}</h4>
                            <div class="oceanBorder t2">
                                <span class="ocean">{{live_list[2][3]}}</span>
                            </div>
                            <h4 class="t3">{{live_list[2][4]}}</h4>
                            <h4 class="t3_RWD">Water Cottages</h4>
                        </div>
                            <img class="oceanImg" :src="live_list[2][6]" alt="">
                    </div>
                    <!-- Villa waterCottage 渡假村 rightsection -->
                    <div class="villaRight">
                        <img class="villaImg" :src="live_list[2][5]" alt="">
                        <div class="rightTextArea">
                            <div class="villaText02">
                                <h4>{{live_list[2][7]}}</h4>
                                <p class="text">{{live_list[2][8]}}</p>
                                <div class="villaList">
                                    <div class="iconArea">
                                        <p><img class="iconbed" src="./img/live/iconbed.png">{{live_list[2][9]}}</p>
                                        <p><img class="iconpool" src="./img/live/iconpool.png">{{live_list[2][10]}}</p>
                                    </div>
                                    <div class="comments_area">
                                        <div>
                                            <p><i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star-half-stroke"></i>
                                                (158則評論)
                                            </p>
                                            <a><i class="fa-solid fa-circle-plus"></i>More Comments</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a class="bookButton" href="#">Book Now</a>
                        </div>
                    </div>
                </div>
                <!-- Villa 渡假村內裝介紹 siteLayout -->
                <div class="villaSiteLayout">
                    <h3>{{live_list[2][11]}}</h3>
                    <div class="villaSiteLayoutwp">
                        <img class="layOutImg" :src="live_list[2][12]">
                        <h3 @mouseenter="villaMouseenter" @mouseleave="villaMouseleave" data-boxclass="villaInf01" class="sea sea1">1</h3>
                        <h3 @mouseenter="villaMouseenter" @mouseleave="villaMouseleave" data-boxclass="villaInf02" class="sea sea2">2</h3>
                        <h3 @mouseenter="villaMouseenter" @mouseleave="villaMouseleave" data-boxclass="villaInf03" class="sea sea3">3</h3>
                        <h3 @mouseenter="villaMouseenter" @mouseleave="villaMouseleave" data-boxclass="villaInf04" class="sea sea4">4</h3>
                    </div>
                    <!-- villa彈窗 siteLayout  -->
                    <div class="villaInf01">
                        <img class="viila_img" :src="live_list[2][17]" alt="">
                        <div class="villaInfText">
                            <h3 class="number1">1</h3>
                            <div>
                                <h4 class="">{{live_list[2][15]}}</h4>
                                <p>{{live_list[2][16]}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="villaInf02">
                        <img class="viila_img" :src="live_list[2][20]" alt="">
                        <div class="villaInfText">
                            <h3 class="number1">2</h3>
                            <div>
                                <h4 class="">{{live_list[2][18]}}</h4>
                                <p>{{live_list[2][19]}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="villaInf03">
                        <img class="viila_img" :src="live_list[2][23]" alt="">
                        <div class="villaInfText">
                            <h3 class="number1">3</h3>
                            <div>
                                <h4 class="">{{live_list[2][21]}}</h4>
                                <p>{{live_list[2][22]}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="villaInf04">
                        <img class="viila_img" :src="live_list[2][26]" alt="">
                        <div class="villaInfText">
                            <h3 class="number1">4</h3>
                            <div>
                                <h4 class="">{{live_list[2][24]}}</h4>
                                <p>{{live_list[2][25]}}</p>
                            </div>
                        </div>
                    </div>
                    <a class="bookButton_RWD" href="#">Book Now</a>
                </div>
            </section>
        </div>
    </main>
    @@include('./layout/footer.html')
    @@include('./layout/header_footer_script_link.html')
    <script src="./js/live.js"></script>

</body>

</html>