<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>orderPage</title>
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/common.css">
    <link rel="stylesheet" href="./css/orderPage.css">
    <script src="./js/jquery-3.6.0.js"></script>
    <script src="./js/vue.js"></script>
    @@include('./layout/header_footer_css_link.html')
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

</head>
<body class="orderPage">
    @@include('./layout/header.html')
    <header>
    </header>
    <article>
        <section>
            <h2>訂購流程</h2>
            <div class="shoppingProcess">
                <div class="chooseAdate">
                    <h4>1</h4>
                    <h4>選擇日期</h4>
                </div>
                <img src="./img/orderPage/sun/orderPageArrow.png" alt="">
                <div class="chooseAtrip">
                    <h4>2</h4>
                    <h4>選擇行程</h4>
                </div>
                <img src="./img/orderPage/sun/orderPageArrow.png" alt="">
                <div class="tallyOrder">
                    <h4>3</h4>
                    <h4>結帳</h4>
                </div>
                <img src="./img/orderPage/sun/orderPageArrow.png" alt="">
                <div class="orderComplete">
                    <h4>4</h4>
                    <h4>訂單完成</h4>
                </div>
            </div>
            <h3>1.選擇日期</h3>
            <div class="selectDate">
                <ul class="chooseBlock">
                    <li>
                        <h4>開始</h4>
                        <p id="beginDate"></p>
                    </li>
                    <li>
                        <h4>結束</h4>
                        <p id="endDate"></p>
                    </li>
                    <li>
                        <h4>天數</h4>
                        <p id="manyDays"></p>
                    </li>
                    <li>
                        <h4>人數</h4>
                        <div id="app" class="pepoleNums" >
                            <img id="min" @click="min" src="./img/orderPage/sun/left_button.png">
                            <input id="pepoleNums" type="text" v-model.lazy="count" min="1">
                            <img id="add" @click="count+=1" src="./img/orderPage/sun/right_button.png">
                        </div>
                    </li>
                </ul>
            </div>
            <div class="datePickerBox">
                <div class="pickerBox" >
                    <input type="text" name="dates" id="dateBooking">
                </div>
            </div>
            <button id="NextPage">Next</button>
        </section> 
    </article>
    <footer></footer>
    <script src="./js/orderPage.js"></script>
    @@include('./layout/footer.html')
@@include('./layout/header_footer_script_link.html')
</body>
</html>


                    <button @click="countent='ChooseBlock0';day(date)" class="daysbutton" v-for="(date,index) in dateArray">{{date}}<img src="./img/orderPage/sun/island.png" alt=""></button>

                    <div class="tripChooseBlock">
                    
                        <div class="itineraryTitle">
                            <h4>遊</h4>
                            <h4 class="chooseDate">2022/07/16</h4>
                        </div>
                        <!-- 上午行程 -->
                        <div class="morningItineraryA" >
                            <img class="morningTime" src="./img/orderPage/sun/morning.png" alt="">
                            <div class="morningBlockA">
                                <img id="morningImg" :src="morningtripImg" alt="">
                                <div class="morningBlockB">
                                    <div class="optionBlockA">
                                        <select name="" @change="morningChange($event.target.value)">
                                            <option value="">開始選購您的行程</option>
                                            <option v-for="(list,index) in activity_list" :value="index">{{list[1]}}</option>
                                        </select>
                                        <span id="tripPriceA">${{morningtripPrice}}/人</span>
                                    </div>
                                    <p id="itineraryText">{{morningtriptext}}</p>
                                </div>
                            </div>
                            <img id="addItineraryM" src="./img/orderPage/sun/shopping-cart-add.png" alt="">
                        </div>
                        <!-- 下午行程 -->
                        <div class="noonItinerary">
                            <img src="./img/orderPage/sun/afternoon.png" alt="">
                            <div class="noonBlockA">
                                <img id="noonImg" :src="noontripImg" alt="">
                                <div class="noonBlockB">
                                    <div class="optionBlockB">
                                        <select name="" @change="noonChange($event.target.value)">
                                            <option value="">開始選購您的行程</option>
                                            <option  v-for="(list,index) in activity_list" :value="index">{{list[1]}}</option>
                                        </select>
                                        <span id="tripPriceB">${{noontripPrice}}/人</span>
                                    </div>
                                    <p id="itineraryTextB">{{noontriptext}}</p>
                                </div>
                            </div>
                            <img id="addItineraryN" src="./img/orderPage/sun/shopping-cart-add.png" alt="">
                        </div>
                        <!-- 晚上行程 -->
                        <div class="eveningItinerary">
                            <img src="./img/orderPage/sun/night.png" alt="">
                            <div class="eveningBlockA">
                                <img id="eveningImg" :src="eveningtripImg" alt="">
                                <div class="eveningBlockB">
                                    <div class="optionBlockC">
                                        <select name="" @change="eveningChange($event.target.value)">
                                            <option value="">開始選購您的行程</option>
                                            <option v-for="(list,index) in activity_list" :value="index">{{list[1]}}</option>
                                        </select>
                                        <span id="tripPriceC">${{eveningtripPrice}}/人</span>
                                    </div>
                                    <p id="itineraryTextC">{{eveningtriptext}}</p>
                                </div>
                            </div>
                            <img id="addItineraryE" src="./img/orderPage/sun/shopping-cart-add.png" alt="">
                        </div>
                        
                    </div>
                    <!-- 餐廳選擇區 -->
                    <div class="foodChooseBlock">
                        <div class="foodTitle">
                            <h4>食</h4>
                            <h4 class="chooseDate">2022/07/16</h4>
                        </div>
                        <!-- 早餐 -->
                        <div class="morningFood">
                            <img src="./img/orderPage/sun/morningFood.png" alt="">
                            <div class="morningFoodA">
                                <img id="morningFoodImg" :src="morningFoodImg" alt="">
                                <div class="morningFoodB">
                                    <div class="foodOptionBlockA">
                                        <select name="" @change="morningFoodChange($event.target.value)">
                                            <option value="">請選擇您的早餐</option>
                                            <option v-for="(list,index) in food_list" :value="index">{{list[0]}}</option>
                                        </select>
                                        <span id="foodPriceA">${{morningFoodPrice}}/人</span>
                                    </div>
                                    <p id="foodTextA">{{morningFoodtext}}</p>
                                </div>
                            </div>
                            <img id="addFoodM" src="./img/orderPage/sun/shopping-cart-add.png" alt="">
                        </div>
                        <!-- 午餐 -->
                        <div class="noonFood">
                            <img src="./img/orderPage/sun/noonFood.png" alt="">
                            <div class="noonFoodA">
                                <img id="noonFoodImg" :src="noonFoodImg" alt="">
                                <div class="noonFoodB">
                                    <div class="foodoptionBlockB">
                                        <select name="" @change="noonFoodChange($event.target.value)">
                                            <option value="">請選擇您的午餐</option>
                                            <option v-for="(list,index) in food_list" :value="index">{{list[0]}}</option>
                                        </select>
                                        <span id="foodPriceB">${{noonFoodPrice}}/人</span>
                                    </div>
                                    <p id="foodTextB">{{noonFoodtext}}</p>
                                </div>
                            </div>
                            <img id="addFoodN" src="./img/orderPage/sun/shopping-cart-add.png" alt="">
                        </div>
                        <!-- 晚餐 -->
                        <div class="eveningFood">
                            <img src="./img/orderPage/sun/eveningFood.png" alt="">
                            <div class="eveningFoodA">
                                <img id="eveningFoodImg" :src="eveningFoodImg" alt="">
                                <div class="eveningFoodB">
                                    <div class="foodoptionBlockC">
                                        <select name="" @change="eveningFoodChange($event.target.value)">
                                            <option value="">請選擇您的晚餐</option>
                                            <option v-for="(list,index) in food_list" :value="index">{{list[0]}}</option>
                                        </select>
                                        <span id="foodPriceC">${{eveningFoodPrice}}/人</span>
                                    </div>
                                    <p id="foodTextC">{{eveningFoodtext}}</p>
                                </div>
                            </div>
                            <img id="addFoodE" src="./img/orderPage/sun/shopping-cart-add.png" alt="">
                        </div>  
                    </div>
                    <!-- 住宿選擇區 -->
                    <div class="stayChooseBlock">
                        <div class="stayTitle">
                            <h4>宿</h4>
                            <h4 class="chooseDate">2022/07/16</h4>
                        </div>
                        <!-- 小木屋 -->
                        <div class="cabin">
                            <div class="cabinTitle">
                                <h4>森林木屋</h4>
                                <p>自由之丘</p>
                            </div>
                            <input type="radio" name="stayChoose" id="cabinButton">
                            <div class="cabinBlockA">
                                <img id="cabinImg" src="./img/orderPage/cabin.jpg" alt="">
                                <div class="cabinBlockB">
                                    <div class="cabinOption">
                                        <select name="" id="cabinOption">
                                            <option value="1">日島</option>
                                            <option value="2">月島</option>
                                        </select>
                                        <span id="cabinPrice">$2999/人</span>
                                    </div>
                                    <p id="cabinText">循著山路走進這裡，就彷彿進入了童話故事之中，挑高的屋頂設計讓整體空間感相當舒適，一點也不壓迫，這麼大間的小木屋，入住一晚的價格卻相當實惠，CP值真的太高啦！。</p>
                                </div>
                            </div>
                            <img id="addcabin" src="./img/orderPage/sun/shopping-cart-add.png" alt="">
                        </div>
                        <!-- 露營 -->
                        <div class="camping">
                            <div class="campingTitle">
                                <h4>帳篷露營</h4>
                                <p>山巔之息</p>
                            </div>
                            <input type="radio" name="stayChoose" id="campingButton">
                            <div class="campingBlockA">
                                <img id="campingImg" :src="campingimg" alt="">
                                <div class="campingBlockB">
                                    <div class="campingOption">
                                        <select name="" id="" @change="stayimgChange($event.target.value)">
                                            <option value="1">日島</option>
                                            <option value="2">月島</option>
                                        </select>
                                        <span id="campingPrice">$1999/人</span>
                                    </div>
                                    <p id="campingText">全包式懶人露營營區，不但有幫旅客搭好的超美帳篷，甚至提供餐點、陸上活動與生態導覽等等，讓您只要準備好衣物攜帶相機，及準備好拍美照的心情就可以出發。</p>
                                </div>
                            </div>
                            <img id="addCamping" src="./img/orderPage/sun/shopping-cart-add.png" alt="">
                        </div>
                        <!-- 海上度假村 -->
                        <div class="villa">
                            <div class="villaTitle">
                                <h4>海上Villa</h4>
                                <p>日月星</p>
                            </div>
                            <input type="radio" name="stayChoose" id="villaButton">
                            <div class="villaBlockA">
                                <img id="villaImg" src="./img/orderPage/villa.jpg" alt="">
                                <div class="villaBlockB">
                                    <div class="villaOption">
                                        <select name="" id="villaChoose">
                                            <option value="1">日島</option>
                                            <option value="2">月島</option>
                                        </select>
                                        <span id="villaPrice">$3999/人</span>
                                    </div>
                                    <p id="villaText">每一間房間都有私人泳池，設施及活動應有盡有，有餐廳、酒吧、水上活動、沙灘活動應有盡有，吃喝玩樂一站全包，面對著壯闊的海洋美景，真的會覺得人生如此，夫復何求？</p>
                                </div>
                            </div>
                            <img id="addVilla" src="./img/orderPage/sun/shopping-cart-add.png" alt="">
                        </div>  
                    </div>