<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tripChoose</title>
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/common.css">
    <link rel="stylesheet" href="./css/tripChoose.css">
    <!-- <link rel="stylesheet" href="./css/readyToPay.css"> -->
    <script src="./js/vue.js"></script>
    <script src="./js/jquery-3.6.0.js"></script>
    <script src="./js/tripChoose.js"></script>
    @@include('./layout/header_footer_css_link.html')
    <script src="https://kit.fontawesome.com/3e74b0720b.js" crossorigin="anonymous"></script>
</head>
<body class="tripChoose">

    <!-- 星空 -->
    <canvas id="bgCanvas"></canvas>

    @@include('./layout/header.html')
    <div class="bodyCover"></div>
    <div class="addfadein">
        已加入您的訂單中<i class="fa-regular fa-circle-check"></i>
    </div>
    <article id="app">
        <section id="sectionBlock">
            <h2>訂購流程</h2>
            <div class="shoppingProcess">
                <div class="chooseAdate">
                    <h4>1</h4>
                    <h4>選擇日期</h4>
                </div>
                <img src="./img/orderPage/sun/orderPageArrow.png" alt="">
                <div class="chooseAtrip">
                    <h4>2</h4>
                    <h4>選擇行程</h4>
                </div>
                <img src="./img/orderPage/sun/orderPageArrow.png" alt="">
                <div class="tallyOrder">
                    <h4>3</h4>
                    <h4>結帳</h4>
                </div>
                <img src="./img/orderPage/sun/orderPageArrow.png" alt="">
                <div class="orderComplete">
                    <h4>4</h4>
                    <h4>訂單完成</h4>
                </div>
            </div>
            
            <h3>2.選擇行程</h3>
            <div class="datePickerBox">
                <i class="datePickerBoxLeftM fa-solid fa-angle-left "></i>
                <div @click="day(date,index);ChooseReturn(index,$event)" class="daysbutton" v-for="(date,index) in dateArray"> 
                    <select class="setChooseList" @change="setChoose($event.target.value,$event,index)" @click ="setChoose($event.target.value,$event,index)">
                        <option value="">選擇行程</option>
                        <option value="-1">自由選擇</option>
                        <option v-for="(set,index,event) in set_list" :value="index">{{set[4]}}</option>
                    </select>
                    <div class="DateAndWeek" @click="day(date,index)">
                        <div class="weekCircular">{{Chooseweek[index]}}</div>
                        <h3>DAY{{index + 1}}</h3>
                    </div>
                    <p @click="day(date,index)">{{date}}</p>
                    <input class="SendChoose" type="submit" value="確認送出" @click="sendChoose(index,$event)">
                </div>
                <i class="fa-solid fa-angle-right datePickerBoxRightM"></i>
            </div>
            <!-- 小訂單明細 -->
            <div class="ListSmall" @click="total">
                <h5>訂單明細 </h5><div class="circle">+</div>
            </div>
            <!-- 明細彈窗 -->
            <div class="BigList" >
                <div class="ListTitle" >
                    <h5>訂單明細</h5>
                </div>
                <div class="tripAndDate">
                    <p>Check In:</p>
                    <h6>{{startDay}}</h6>
                    <p>Check out:</p>
                    <h6>{{endDay}}</h6>
                </div>
                
                <div class="tripList" v-for="(date,index) in dateArray" >
                    <p>遊</p>
                    <h6 class="tripTitle">{{date}}</h6>
                    <!-- <triplist1 :date="newDay" :activity_list="activity_list"></tripList1> -->
                    <ul>
                        <li class="tripMorningName"></li>
                        <li ><img class="leftButton" @click="dpnums($event.target);total();" src="./img/orderPage/sun/left_button.png" ><h6>{{pepoleNums}}</h6><img class="rightButton" @click="apnums($event.target);total()" src="./img/orderPage/sun/right_button.png"></li>
                        <li class="tripMorningPrice">{{newPrice}}</li>
                        <li><img :data-deleteindex="index" v-if="CheckForFree(index)" class="morningTripDeleteButton" @click="morningTripDeleteButton" src="./img/orderPage/sun/delete_button.png"></li>
                    </ul>

                    <ul>
                        <li class="tripNoonName"></li>
                        <li ><img class="leftButton" @click="dpnums($event.target);total()" src="./img/orderPage/sun/left_button.png" ><h6>{{pepoleNums}}</h6><img class="rightButton" @click="apnums($event.target);total()" src="./img/orderPage/sun/right_button.png"></li>
                        <li class="tripNoonPrice">{{newPrice}}</li>
                        <li><img :data-deleteindex="index" v-if="CheckForFree(index)" class="noonTripDeleteButton" @click="noonTripDeleteButton" src="./img/orderPage/sun/delete_button.png"></li>
                    </ul>

                    <ul>
                        <li class="tripEveningName"></li>
                        <li ><img class="leftButton" @click="dpnums($event.target);total()" src="./img/orderPage/sun/left_button.png" ><h6>{{pepoleNums}}</h6><img class="rightButton" @click="apnums($event.target);total()" src="./img/orderPage/sun/right_button.png"></li>
                        <li class="tripEveningPrice">{{newPrice}}</li>
                        <li><img :data-deleteindex="index" v-if="CheckForFree(index)" class="eveningTripDeleteButton" @click="eveningTripDeleteButton" src="./img/orderPage/sun/delete_button.png"></li>
                    </ul>

                </div>
                <div class="FoodList"  v-for="(date,index) in dateArray">
                    <p>食</p>
                    <h6>{{date}}</h6>
                    <ul>
                        <li class="FoodMorningName"></li>
                        <li ><img class="leftButton" @click="dpnums($event.target);total()" src="./img/orderPage/sun/left_button.png" ><h6>{{pepoleNums}}</h6><img class="rightButton" @click="apnums($event.target);total()" src="./img/orderPage/sun/right_button.png"></li>
                        <li class="FoodMorningPrice">{{newPrice}}</li>
                        <li><img :data-deleteindex="index" v-if="CheckForFree(index)" class="morningFoodDeleteButton" @click="morningFoodDeleteButton" src="./img/orderPage/sun/delete_button.png"></li>
                    </ul>
                    <ul>
                        <li class="FoodNoonName"></li>
                        <li ><img class="leftButton" @click="dpnums($event.target);total()" src="./img/orderPage/sun/left_button.png" ><h6>{{pepoleNums}}</h6><img class="rightButton" @click="apnums($event.target);total()" src="./img/orderPage/sun/right_button.png"></li>
                        <li class="FoodNoonPrice">{{newPrice}}</li>
                        <li><img :data-deleteindex="index" v-if="CheckForFree(index)" class="noonFoodDeleteButton" @click="noonFoodDeleteButton" src="./img/orderPage/sun/delete_button.png"></li>
                    </ul>
                    <ul>
                        <li class="FoodEveningName"></li>
                        <li ><img class="leftButton" @click="dpnums($event.target);total()" src="./img/orderPage/sun/left_button.png" ><h6>{{pepoleNums}}</h6><img class="rightButton" @click="apnums($event.target);total()" src="./img/orderPage/sun/right_button.png"></li>
                        <li class="FoodEveningPrice">{{newPrice}}</li>
                        <li><img :data-deleteindex="index" v-if="CheckForFree(index)" class="eveningFoodDeleteButton" @click="eveningFoodDeleteButton" src="./img/orderPage/sun/delete_button.png"></li>
                    </ul>
                </div>
                
                <div class="StayList" v-for="(date,index) in dateArray">
                    <p>宿</p>
                    <h6>{{date}}</h6>
                    <ul>
                        <li class="StayChooseName"></li>
                        <li ><h6>{{pepoleNums}}</h6></li>
                        <li class="StayChoosePrice">{{newPrice}}</li>
                        <li><img :data-deleteindex="index" v-if="CheckForFree(index)" class="StayDeleteButton" @click="StayDeleteButton" src="./img/orderPage/sun/delete_button.png"></li>
                    </ul>
                </div>
                <div class="totalBlock">
                    <div class="totalTitle">
                        <span>小計：</span><br>
                        <span>折扣碼：</span><br>
                        <span>折扣：</span><br>
                        <span>總金額：</span><br>
                    </div>
                    <div class="totalPrice">
                        <span id="totalPrice" >{{minorTotalPrice}}</span><br>
                        <select name="" id="discountNums" @change="total()">
                            <option  v-for="(discountCode,index) in this.discount_list" :value="index">{{discountCode[0]}}</option>
                        </select><br>
                        <span id="couponPrice">{{Discount}}</span><br>
                        <span>{{totalPrice}}</span><br> 
                    </div>
                </div>
            </div>

            <!-- 選購區塊 -->
            <!-- <keep-alive>
                <component  :is="countent" :activity_list="activity_list" :food_list="food_list" :day="newDay" :dayindex="dayindex"></component>
            </keep-alive> -->

            <div class="tripChooseBlock">
                    <div class="itineraryTitle">
                        <h4>遊</h4>
                        <h4 class="chooseDate">{{newDay}}</h4>
                    </div>
                    <!-- 上午行程 -->
                    <div class="morningItineraryA" >
                        <img class="morningTime" src="./img/orderPage/sun/morning.png" alt="">
                        <div class="morningBlockA">
                            <div class="useForMobile">
                                <p class="mobileTimeM">09:00-12:00</p>
                                <img id="morningImg" :src="morningtripImg" alt="">
                            </div>
                            <div class="morningBlockB">
                                <div class="optionBlockA">
                                    <select id="tripMchoose"  @change="morningChange($event.target.value)">
                                        <option value="-1">選購您的行程</option>
                                        <option  v-for="(list,index) in activity_list" :value="index">{{list[1]}}</option>
                                    </select>
                                    <span id="tripPriceA">${{morningtripPrice}}/人</span>
                                </div>
                                <p id="itineraryText">{{morningtriptext}}</p>
                            </div>
                        </div>
                        <img id="addItineraryM"  src="./img/orderPage/sun/shopping-cart-add.png" alt="">
                    </div>
                    <!-- 下午行程 -->
                    <div class="noonItinerary">
                        <img src="./img/orderPage/sun/afternoon.png" alt="">
                        <div class="noonBlockA">
                            <div class="useForMobile">
                                <p class="mobileTimeM">15:00-17:00</p>
                                <img id="noonImg" :src="noontripImg" alt="">
                            </div>

                            <div class="noonBlockB">
                                <div class="optionBlockB">
                                    <select id="tripNchoose"  @change="noonChange($event.target.value)">
                                        <option value="-1">選購您的行程</option>
                                        <option  v-for="(list,index) in activity_list" :value="index">{{list[1]}}</option>
                                    </select>
                                    <span id="tripPriceB">${{noontripPrice}}/人</span>
                                </div>
                                <p id="itineraryTextB">{{noontriptext}}</p>
                            </div>
                        </div>
                        <img id="addItineraryN" src="./img/orderPage/sun/shopping-cart-add.png" alt="">
                    </div>
                    <!-- 晚上行程 -->
                    <div class="eveningItinerary">
                        <img src="./img/orderPage/sun/night.png" alt="">
                        <div class="eveningBlockA">
                            <div class="useForMobile">
                                <p class="mobileTimeM">19:00~21:00</p>
                                <img id="eveningImg" :src="eveningtripImg" alt="">
                            </div>
                            <div class="eveningBlockB">
                                <div class="optionBlockC">
                                    <select id="tripEchoose" @change="eveningChange($event.target.value)">
                                        <option value="-1">選購您的行程</option>
                                        <option v-for="(list,index) in activity_list" :value="index">{{list[1]}}</option>
                                    </select>
                                    <span id="tripPriceC">${{eveningtripPrice}}/人</span>
                                </div>
                                <p id="itineraryTextC">{{eveningtriptext}}</p>
                            </div>
                        </div>
                        <img id="addItineraryE" src="./img/orderPage/sun/shopping-cart-add.png" alt="">
                    </div>
                    
                </div>
                <!-- 餐廳選擇區 -->
                <div class="foodChooseBlock">
                    <div class="foodTitle">
                        <h4>食</h4>
                        <h4 class="chooseDate">{{newDay}}</h4>
                    </div>
                    <!-- 早餐 -->
                    <div class="morningFood">
                        <img src="./img/orderPage/sun/morningFood.png" alt="">
                        <div class="morningFoodA">
                            <div class="useForMobile">
                                <p class="mobileTimeM">07:00-09:00</p>
                                <img id="morningFoodImg" :src="morningFoodImg" alt="">
                            </div>
                            
                            <div class="morningFoodB">
                                <div class="foodOptionBlockA">
                                    <select id="FoodMchoose" @change="morningFoodChange($event.target.value)">
                                        <option value="-1">請選擇早餐</option>
                                        <option v-for="(list,index) in food_list" :value="index">{{list[0]}}</option>
                                    </select>
                                    <span id="foodPriceA">${{morningFoodPrice}}/人</span>
                                </div>
                                <p id="foodTextA">{{morningFoodtext}}</p>
                            </div>
                        </div>
                        <img id="addFoodM" src="./img/orderPage/sun/shopping-cart-add.png" alt="">
                    </div>
                    <!-- 午餐 -->
                    <div class="noonFood">
                        <img src="./img/orderPage/sun/noonFood.png" alt="">
                        <div class="noonFoodA">
                            <div class="useForMobile">
                                <p class="mobileTimeM">12:00-14:00</p>
                                <img id="noonFoodImg" :src="noonFoodImg" alt="">
                            </div>

                            <div class="noonFoodB">
                                <div class="foodoptionBlockB">
                                    <select id="FoodNchoose" @change="noonFoodChange($event.target.value)">
                                        <option value="-1">請選擇午餐</option>
                                        <option v-for="(list,index) in food_list" :value="index">{{list[0]}}</option>
                                    </select>
                                    <span id="foodPriceB">${{noonFoodPrice}}/人</span>
                                </div>
                                <p id="foodTextB">{{noonFoodtext}}</p>
                            </div>
                        </div>
                        <img id="addFoodN" src="./img/orderPage/sun/shopping-cart-add.png" alt="">
                    </div>
                    <!-- 晚餐 -->
                    <div class="eveningFood">
                        <img src="./img/orderPage/sun/eveningFood.png" alt="">
                        <div class="eveningFoodA">
                            <div class="useForMobile">
                                <p class="mobileTimeM">17:00-19:00</p>
                                <img id="eveningFoodImg" :src="eveningFoodImg" alt="">
                            </div>

                            <div class="eveningFoodB">
                                <div class="foodoptionBlockC">
                                    <select id="FoodEchoose" @change="eveningFoodChange($event.target.value)">
                                        <option value="-1">請選擇晚餐</option>
                                        <option v-for="(list,index) in food_list" :value="index">{{list[0]}}</option>
                                    </select>
                                    <span id="foodPriceC">${{eveningFoodPrice}}/人</span>
                                </div>
                                <p id="foodTextC">{{eveningFoodtext}}</p>
                            </div>
                        </div>
                        <img id="addFoodE" src="./img/orderPage/sun/shopping-cart-add.png" alt="">
                    </div>  
                </div>
                <!-- 住宿選擇區 -->
                <div class="stayChooseBlock">
                    <div class="stayTitle">
                        <h4>宿</h4>
                        <h4 class="chooseDate">{{newDay}}</h4>
                    </div>
                    <!-- 小木屋 -->
                    <div class="cabin">
                        <div class="cabinTitle">
                            <h4>森林木屋</h4>
                            <p>自由之丘</p>
                        </div>
                        <input type="radio"  class="stayChoose" name="stayChoose" id="cabinButton" value="森林木屋"> 
                        <div class="cabinBlockA">
                            <img id="cabinImg" src="./img/orderPage/cabin.jpg" alt="">
                            <div class="cabinBlockB">
                                <div class="cabinOption">
                                    <select name="" id="cabinOption">
                                        <option value="1">日島</option>
                                        <option value="2">月島</option>
                                    </select>
                                    <span id="cabinPrice">$1999/人</span>
                                </div>
                                <p id="cabinText">循著山路走進這裡，就彷彿進入了童話故事之中，挑高的屋頂設計讓整體空間感相當舒適，一點也不壓迫，這麼大間的小木屋，入住一晚的價格卻相當實惠，CP值真的太高啦！。</p>
                            </div>
                        </div>
                        <img id="addcabin" src="./img/orderPage/sun/shopping-cart-add.png" alt="">
                    </div>
                    <!-- 露營 -->
                    <div class="camping">
                        <div class="campingTitle">
                            <h4>帳篷露營</h4>
                            <p>山巔之息</p>
                        </div>
                        <input type="radio"  class="stayChoose" name="stayChoose" id="campingButton" value="帳篷露營">
                        <div class="campingBlockA">
                            <img id="campingImg" :src="campingimg" alt="">
                            <div class="campingBlockB">
                                <div class="campingOption">
                                    <select name="" id="campingChoose" @change="stayimgChange($event.target.value)">
                                        <option value="1">日島</option>
                                        <option value="2">月島</option>
                                    </select>
                                    <span id="campingPrice">$999/人</span>
                                </div>
                                <p id="campingText">全包式懶人露營營區，不但有幫旅客搭好的超美帳篷，甚至提供餐點、陸上活動與生態導覽等等，讓您只要準備好衣物攜帶相機，及準備好拍美照的心情就可以出發。</p>
                            </div>
                        </div>
                        <img id="addCamping" src="./img/orderPage/sun/shopping-cart-add.png" alt="">
                    </div>
                    <!-- 海上度假村 -->
                    <div class="villa">
                        <div class="villaTitle">
                            <h4>海上Villa</h4>
                            <p>日月星</p>
                        </div>
                        <input type="radio" class="stayChoose" name="stayChoose" id="villaButton" value="海上Villa">
                        <div class="villaBlockA">
                            <img id="villaImg" src="./img/orderPage/villa.jpg" alt="">
                            <div class="villaBlockB">
                                <div class="villaOption">
                                    <select name="" id="villaChoose">
                                        <option value="1">日島</option>
                                        <option value="2">月島</option>
                                    </select>
                                    <span id="villaPrice">$2999/人</span>
                                </div>
                                <p id="villaText">每一間房間都有私人泳池，設施及活動應有盡有，有餐廳、酒吧、水上活動、沙灘活動應有盡有，吃喝玩樂一站全包，面對著壯闊的海洋美景，真的會覺得人生如此，夫復何求？</p>
                            </div>
                        </div>
                        <img id="addVilla" src="./img/orderPage/sun/shopping-cart-add.png" alt="">
                    </div>  
                </div>
                <!-- 下一頁按鈕 -->
            <div class="buttonBlock1">
                <button id="backToDatePage" @click="back()">回上一頁</button>
                <button id="NextPage" @click="close();total()">前往結帳</button>
            </div>
        </section>
        <article id="readyToPay">
            <section>
                <h2>訂購流程</h2>
                <div class="shoppingProcess">
                    <div class="chooseAdateR">
                        <h4>1</h4>
                        <h4>選擇日期</h4>
                    </div>
                    <img src="./img/orderPage/sun/orderPageArrow.png" alt="">
                    <div class="chooseAtripR">
                        <h4>2</h4>
                        <h4>選擇行程</h4>
                    </div>
                    <img src="./img/orderPage/sun/orderPageArrow.png" alt="">
                    <div class="tallyOrderR">
                        <h4>3</h4>
                        <h4>結帳</h4>
                    </div>
                    <img src="./img/orderPage/sun/orderPageArrow.png" alt="">
                    <div class="orderCompleteR">
                        <h4>4</h4>
                        <h4>訂單完成</h4>
                    </div>
                </div>
                <!-- 訂購流程結束 -->
                <h3>3.結帳</h3>
                <!-- 訂單明細開始 -->
                <div class="readyToPayBigList">
                    <div class="readyToPayListTitle">訂單明細</div>
                    <ul class="readyToPayListDate">
                        <li>Check In：<h6>{{startDay}}</h6></li>
                        <li>Check Out：<h6>{{endDay}}</h6></li>
                    </ul>
                    <table>
                        <thead>
                            <th>日期</th>
                            <th>遊</th>
                            <th>食</th>
                            <th>宿</th>
                        </thead>
                        <tbody v-for="(date,index) in dateArray">
                            <tr>
                                <td class="tripTitle">{{date}}</td>
                                <td class="readyToPaytripList" >
                                    <ul>
                                        <li class="tripMorningNameR"></li>
                                        <li>{{pepoleNums}}<i class="fa-solid fa-user"></i></li>
                                        <li class="tripMorningPriceR">{{newPrice}}</li>
                                    </ul>
                                    <ul>
                                        <li class="tripNoonNameR"></li>
                                        <li>{{pepoleNums}}<i class="fa-solid fa-user"></i></li>
                                        <li class="tripNoonPriceR">{{newPrice}}</li>
                                    </ul>
                                    <ul>
                                        <li class="tripEveningNameR"></li>
                                        <li>{{pepoleNums}}<i class="fa-solid fa-user"></i></li>
                                        <li class="tripEveningPriceR">{{newPrice}}</li>
                                    </ul>
                                </td>
                                <td class="readyToPayFoodList" >
                                    <ul>
                                        <li class="FoodMorningNameR"></li>
                                        <li>{{pepoleNums}}<i class="fa-solid fa-user"></i></li>
                                        <li class="FoodMorningPriceR">{{newPrice}}</li>
                                    </ul>
                                    <ul>
                                        <li class="FoodNoonNameR"></li>
                                        <li>{{pepoleNums}}<i class="fa-solid fa-user"></i></li>
                                        <li class="FoodNoonPriceR">{{newPrice}}</li>
                                    </ul>
                                    <ul>
                                        <li class="FoodEveningNameR"></li>
                                        <li>{{pepoleNums}}<i class="fa-solid fa-user"></i></li>
                                        <li class="FoodEveningPriceR">{{newPrice}}</li>
                                    </ul>
                                </td>
                                <td class="readyToPayStayList" >
                                    <ul>
                                        <li class="StayChooseNameR"></li>
                                        <li>{{pepoleNums}}<i class="fa-solid fa-user"></i></li>
                                        <li class="StayChoosePriceR">{{newPrice}}</li>
                                    </ul>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="readyToPayTotalBlock">
                        <div class="readyToPayTotalTitle">
                            <span>小計：</span><br>
                            <span>折扣碼：</span><br>
                            <span>折扣金額：</span><br>
                            <span>總金額：</span><br>
                        </div>
                        <div class="readyToPayTotalPrice">
                            <span id="totalPriceR" >{{minorTotalPriceR}}</span><br>
                            <select name="" id="discountNumsR" @change="totalR()">
                                <option  v-for="(discountCode,index) in this.discount_list" :value="index">{{discountCode[0]}}</option>
                            </select><br>
                            <span id="couponPriceR">{{DiscountR}}</span><br>
                            <span>{{totalPriceR}}</span><br> 
                        </div>
                    </div>
                </div>
                <!-- <div class="payBlock">
                    <h4>PayMent</h4>
                    <div class="mailAndPhone">
                        <div class="email">
                            <h5>E-Mail</h5>
                        <input type="email" name="" id="payEmail" required="required" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
                        </div>
                        <div class="phone">
                            <h5>連絡電話</h5>
                            <input type="tel" name="" id="payPhoneNumber" required="required" maxlength="11" pattern="09\d{2}\-?\d{3}\-?\d{3}">
                        </div>
                    </div>
                    <div class="nameBlock">
                        <div class="firstName">
                            <h5>姓氏</h5>
                            <input type="text" name="" id="firstName">
                        </div>
                        <div class="lastName">
                            <h5>名字</h5>
                            <input type="text" name="" id="lastName">
                        </div>
                        <div class="payWay">
                            <h5>付款方式</h5>
                            <select name="" id="payWay">
                                <option value="">信用卡</option>
                                <option value="">匯款</option>
                            </select>
                        </div>
                    </div>
                    <div class="payWayMobile">
                        <h5>付款方式</h5>
                        <select name="" id="payWayMobileUse">
                            <option value="">信用卡</option>
                            <option value="">匯款</option>
                        </select>
                    </div>
                    <p>我們將會發送確認的驗證碼郵件。<br>
                        <br>
                        *我們會同步加入會員，您的會員資料僅供您個人查詢訂單及發送優惠劵使用，我們會保障您的資料安全，請放心。</p>
                    <div class="creditCardBlock">
                        <h4>輸入信用卡</h4>
                        <h5>輸入卡號</h5>
                        <div class="creditCardNums">
                            <input type="text" maxlength="4" oninput = "value=value.replace(/[^\d]/g,'')">
                            <input type="text" maxlength="4" oninput = "value=value.replace(/[^\d]/g,'')">
                            <input type="text" maxlength="4" oninput = "value=value.replace(/[^\d]/g,'')">
                            <input type="text" maxlength="4" oninput = "value=value.replace(/[^\d]/g,'')">
                        </div>
                        <div class="expAndScode">
                            <div class="exp">
                                <h5>有效日期</h5>
                                <input type="month" name="" id="">
                            </div>
                            <div class="Scode">
                                <h5>安全碼</h5>
                                <input type="text" maxlength="3" oninput = "value=value.replace(/[^\d]/g,'')">
                            </div> 
                        </div>
                    </div>
                    <div class="directions">
                        <p>訂房注意事項<br>
                            <br>
                            ◎ 90 公分以下孩童加人不加床，酌收300元/人＜每房僅限一位＞，加棉被一件500元。
                            ◎ 90公分以上 --- 佔床（或加床）含早餐，加第一人每人加收1,000元，加二人合收1,500元。<br>
                            <br>
                            1. 房價已含服務費及早餐。<br>
                            2. 訂房時請確認人數，為維護住房品質，入宿當天無法提供臨時任何加床或加寢具之服務須在訂房時告知，請您務必配合依訂房人數入住。<br>
                            3. 如有超住人數，明島有權拒絕房客當天入住，並收取50%房費作為山居留房至當日之損失，特此說明。<br>
                            4. 當日住宿者若無法於當日下午三點~五點前抵達Chick in，請務必提早告知！明島有權不再保留訂房！並且當日訂金無法退還！<br>
                            5. 為維持房客住房品質，客房內嚴禁炊煮；嚴禁酗酒喧鬧。若有類似情事發生，經人員勸導無效，可要求房客立即退房，房費並不予退還。<br>
                            6. 因安全顧慮，室內禁止吸禁，嚴禁炊煮、烤肉及攜帶寵物。(若在房間抽菸將收1,000元清潔費)<br>
                            7. 禁止使用非客房配置之任何電器用品及瓦斯器具，以免發生危險。<br>
                        </p>
                        <div class="agreeListOne">
                            <input type="checkbox" name="" id="">
                            <p>我同意收到電子最新消息和優惠</p>
                        </div>
                        <div class="agreeListTwo">
                            <input type="checkbox" name="" id="">
                            <p>我同意隱私條款與預訂政策和條件</p>
                        </div>
                        <p>*訂購完成可通過email登入會員查看訂單及一次性密碼。</p>
                    </div>
                </div>
                <button id="FinishPage">完成結帳</button> -->
                
                <!-- 改成form表單 -->
                <!-- <form action="./php/pay.php" class="payBlock" method="post"> -->
                    <h4>PayMent</h4>
                    <div class="mailAndPhone">
                        <div class="email">
                            <h5>E-Mail</h5>
                            <input type="email" name="" id="payEmail" required="required" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
                        </div>
                        <div class="phone">
                            <h5>連絡電話</h5>
                            <input type="tel" name="" id="payPhoneNumber" required="required" maxlength="11" pattern="09\d{2}\-?\d{3}\-?\d{3}">
                        </div>
                    </div>
                    <div class="nameBlock">
                        <div class="firstName">
                            <h5>姓氏</h5>
                            <input type="text" name="" id="firstName">
                        </div>
                        <div class="lastName">
                            <h5>名字</h5>
                            <input type="text" name="" id="lastName">
                        </div>
                        <div class="payWay">
                            <h5>付款方式</h5>
                            <select name="" id="payWay">
                                <option value="">信用卡</option>
                                <option value="">匯款</option>
                            </select>
                        </div>
                    </div>
                    <div class="payWayMobile">
                        <h5>付款方式</h5>
                        <select name="" id="payWayMobileUse">
                            <option value="信用卡">信用卡</option>
                            <option value="匯款">匯款</option>
                        </select>
                    </div>
                    <p>我們將會發送確認的驗證碼郵件。<br>
                        <br>
                        *我們會同步加入會員，您的會員資料僅供您個人查詢訂單及發送優惠劵使用，我們會保障您的資料安全，請放心。</p>
            
                        <div class="directions">
                        <p>訂房注意事項<br>
                            <br>
                            ◎ 90 公分以下孩童加人不加床，酌收300元/人＜每房僅限一位＞，加棉被一件500元。
                            ◎ 90公分以上 --- 佔床（或加床）含早餐，加第一人每人加收1,000元，加二人合收1,500元。<br>
                            <br>
                            1. 房價已含服務費及早餐。<br>
                            2. 訂房時請確認人數，為維護住房品質，入宿當天無法提供臨時任何加床或加寢具之服務須在訂房時告知，請您務必配合依訂房人數入住。<br>
                            3. 如有超住人數，明島有權拒絕房客當天入住，並收取50%房費作為山居留房至當日之損失，特此說明。<br>
                            4. 當日住宿者若無法於當日下午三點~五點前抵達Chick in，請務必提早告知！明島有權不再保留訂房！並且當日訂金無法退還！<br>
                            5. 為維持房客住房品質，客房內嚴禁炊煮；嚴禁酗酒喧鬧。若有類似情事發生，經人員勸導無效，可要求房客立即退房，房費並不予退還。<br>
                            6. 因安全顧慮，室內禁止吸禁，嚴禁炊煮、烤肉及攜帶寵物。(若在房間抽菸將收1,000元清潔費)<br>
                            7. 禁止使用非客房配置之任何電器用品及瓦斯器具，以免發生危險。<br>
                        </p>
                        <div class="agreeListOne">
                            <input type="checkbox" name="" id="">
                            <p>我同意收到電子最新消息和優惠</p>
                        </div>
                        <div class="agreeListTwo">
                            <input type="checkbox" name="" id="">
                            <p>我同意隱私條款與預訂政策和條件</p>
                        </div>
                        <p>*訂購完成可通過email登入會員查看訂單及一次性密碼。</p>
                    </div>
                    <div class="buttonBlock">
                        <button class="backToChoosePage" type="button" @click="backToChoosePage">回上一頁</button>
                        <button @click="SendOrder" id="FinishPage" type="submit">前往付款</button>
                    </div>
                    <!-- <input id="FinishPage" type="button" value="完成結帳"> -->
                <!-- </form> -->
            </section>
        </article>
    </article>
    @@include('./layout/footer.html')
@@include('./layout/header_footer_script_link.html')
<script src="./js/pay.js"></script>
<script src="./js/moonsky.js"></script>
</body>
</html>